<div class="input-append">
    <select multiple>
        <% _.each(options, function (option) { %>
        <option value="<%= option.id %>" title="<%- option.text %>"
        <% if (_.isArray(selected)) { %><% if (_.indexOf(selected, option.id) !== -1) { %> selected="selected"<% } %>
        <% } else if (selected == option.id) { %> selected="selected"<% } %>>
        <%- option.text %>
        </option><% }); %>
    </select>
    <button class="add-on btn" type="submit"><i class="icon-check"></i></button>
    <button class="add-on btn" data-action="cancel"><i class="icon-times"></i></button>
</div>
