{% block vertical_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' vertical-container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
