// @theme: blank;

$filters-box-collapse-trigger-background: get-color('additional', 'base') !default;
$filters-box-collapse-container-background: get-color('additional', 'base') !default;
$filters-box-collapse-text-transform: uppercase !default;
$filters-box-collapse-inner-offset: 10px 30px 10px 10px !default;
$filters-box-collapse-icon-top: 12px !default;
$filters-box-collapse-icon-right: 10px !default;
