// @theme: blank;

$filter-dropdown-mode-ui-multiselect-menu-z-ndex: z('popup') !default;
$filter-dropdown-mode-ui-multiselect-menu-max-width: 320px !default;
$filter-dropdown-mode-ui-multiselect-menu-bg: get-color('additional', 'ultra') !default;
$filter-dropdown-mode-ui-multiselect-menu-helper-reset-offset-inner: 0 20px !default;
$filter-dropdown-mode-ui-multiselect-menu-header-div-offset-inner: 13px 20px $offset-y-m !default;

$filter-dropdown-mode-criteria-min-width: 340px !default;
$filter-dropdown-mode-criteria-offset-inner: 7px 20px 20px !default;
$filter-dropdown-mode-criteria-offset-top: 0 !default;
$filter-dropdown-mode-criteria-value-field-frame-width: 100% !default;
$filter-dropdown-mode-criteria-selector-offset-inner: 9px 24px 9px 12px !default;
$filter-dropdown-mode-criteria-selector-border: 1px solid get-color('additional', 'light') !default;
$filter-dropdown-mode-criteria-selector-border-radius: null !default;
$filter-dropdown-mode-criteria-selector-bg: get-color('additional', 'ultra') !default;
$filter-dropdown-mode-criteria-selector-color: null !default;
$filter-dropdown-mode-criteria-selector-icon-top: 10px !default;
$filter-dropdown-mode-criteria-selector-icon-right: 8px !default;
$filter-dropdown-mode-criteria-hint-item-offset: 0 $offset-x-s $offset-y-s 0 !default;
$filter-dropdown-mode-criteria-hint-item-offset-inner: 1px 0 1px 7px !default;
$filter-dropdown-mode-criteria-hint-item-border-radius: 2px !default;

$filter-dropdown-mode-reset-filter-button-top-pos: 0 !default;
$filter-dropdown-mode-reset-filter-button-right-pos: 5px !default;

$filter-dropdown-mode-fields-row-min-width: 225px !default;

$filter-dropdown-mode-items-offset-inner: 0 $offset-y-m $offset-x-s $offset-y-m !default;
$filter-dropdown-mode-item-offset: 0 $offset-x-s 0 0 !default;
$filter-dropdown-mode-item-offset-inner: 0 0 $offset-x-s !default;
$filter-dropdown-mode-item-flex-basis: 225px !default;
$filter-dropdown-mode-items-hint-offset-inner: 7px 130px 2px 10px !default;
$filter-dropdown-mode-items-hint-line-height: 20px !default;
$filter-dropdown-mode-items-hint-font-size: 13px !default;

$filter-dropdown-mode-ui-multiselect-offset: 0 $offset-x-m $offset-y-m 0 !default;

$filter-dropdown-mode-timepicker-input-max-width: 90px !default;
