// @theme: blank;

$filter-collapse-mode-criteria-hint-item-offset: 0 $offset-x-s $offset-y-s 0 !default;
$filter-collapse-mode-criteria-hint-item-offset-inner: 1px 0 1px 7px !default;
$filter-collapse-mode-criteria-hint-item-border-radius: 2px !default;

$filter-collapse-mode-reset-filter-button-top-pos: 0 !default;
$filter-collapse-mode-reset-filter-button-right-pos: 50% !default;
$filter-collapse-mode-reset-filter-transform: translate(-50%, 0) !default;

$filter-collapse-mode-items-hint-offset-inner: 7px 10px 32px 10px !default;
$filter-collapse-mode-items-hint-line-height: 20px !default;
$filter-collapse-mode-items-hint-font-size: 13px !default;
$filter-collapse-mode-items-hint-text-align: center !default;
