// @theme: blank;

$filter-manager-toggle-mode-trigger-side-offset: $offset-x-m !default;
$filter-manager-toggle-mode-trigger-offset: 0 $filter-manager-toggle-mode-trigger-side-offset !default;
$filter-manager-toggle-mode-trigger-font: $base-font-size $base-font !default;

$filter-manager-toggle-mode-header-font-size: $base-font-size - 1px !default;
$filter-manager-toggle-mode-header-font-weight: bold !default;
$filter-manager-toggle-mode-header-text-transform: uppercase !default;

$filter-manager-toggle-mode-dropdown-menu-offset-inner: $offset-y-m $offset-x !default;
$filter-manager-toggle-mode-dropdown-menu-close-right: $offset-x-s !default;
$filter-manager-toggle-mode-dropdown-menu-close-top: 0 !default;
$filter-manager-toggle-mode-dropdown-menu-close-offset-inner: 0 $offset-x-m !default;
$filter-manager-toggle-mode-dropdown-menu-close-line-height: 37px !default;
$filter-manager-toggle-mode-dropdown-menu-close-color: lighten(get-color('additional', 'dark'), 41%) !default;
$filter-manager-toggle-mode-dropdown-menu-close-icon-size: 20px !default;

$filter-manager-toggle-mode-search-border-top: 1px solid get-color('additional', 'light') !default;
$filter-manager-toggle-mode-search-offset: $offset-y-m -#{$offset-x} 0 !default;
$filter-manager-toggle-mode-search-offset-inner: $offset-y $offset-x $offset-y-m !default;
$filter-manager-toggle-mode-search-icon-top: 20px !default;
$filter-manager-toggle-mode-search-icon-right: 23px !default;
