/* @theme: blank; */

$ui-timepicker-list-border: 1px solid get-color('additional', 'middle');
$ui-timepicker-list-box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
$ui-timepicker-list-background: get-color('additional', 'ultra');

$ui-timepicker-list-item-color: get-color('additional', 'darker');
$ui-timepicker-list-item-hover-background: get-color('ui', 'focus');
$ui-timepicker-list-item-hover-color: get-color('additional', 'ultra');
