$use-base-style: true !default;

// Hover
$button-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus
$button-border-color-focus-state: $button-border-color-hover-state !default;

// Error
$button-border-color-error-state: get-color('ui', 'error-dark') !default;
