// Colors
$button-color: get-color('additional', 'darker') !default;
$button-bg-color: get-color('additional', 'base') !default;
$button-bg-color-hover: get-color('additional', 'light') !default;
$button-border: 1px solid get-color('additional', 'light') !default;
$button-border-radius: 2px !default;
$button-font-size: $base-font-size !default;
$button-inner-offset: 12px 10px !default;
$button-line-height: 1 !default;
