@import '_config.scss';

.button {
    display: inline-block;
    padding: $button-inner-offset;

    font-size: $button-font-size;
    line-height: $button-line-height;

    background-color: $button-bg-color;

    border: $button-border;
    border-radius: $button-border-radius;
    color: $button-color;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
        background-color: $button-bg-color-hover;
    }
}
