.button {
    @include base-ui-element($use-base-style);

    text-decoration: none;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;

    @include element-state('hover') {
        text-decoration: none;

        border-color: $button-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $button-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $button-border-color-error-state;
    }
}
