/* @theme: blank; */

.fade-out {
    animation-name: fade-out;
    animation-duration: $fade-out-duration;
    animation-fill-mode: both;
}

// Remove -webkit- version after fix scss builder
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
