/* @theme: blank; */

.fade-in {
    animation-name: fade-in;
    animation-duration: $fade-in-duration;
    animation-fill-mode: both;
}

// Remove -webkit- version after fix scss builder
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
