/* @theme: blank; */

.slide-in-up {
    animation-name: slide-in-up;
    animation-duration: $slide-in-up-duration;
    animation-fill-mode: both;
    visibility: visible;
}

// Remove -webkit- version after fix scss builder
@-webkit-keyframes slide-in-up {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: none;
    }
}

@keyframes slide-in-up {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: none;
    }
}
