/* @theme: default; */
$charset: 'UTF-8';

// List with theme fonts
$theme-fonts: (
    'main': (
        'family': 'Lato',
        'variants': (
            (
                'path': '#{$global-url}/orofrontend/default/fonts/lato/lato-regular-webfont',
                'weight': 400,
                'style': normal
            ),
            (
                'path': '#{$global-url}/orofrontend/default/fonts/lato/lato-bold-webfont',
                'weight': 700,
                'style': normal
            )
        ),
    ),
    'secondary': (
        'family': 'Roboto',
        'variants': (
            (
                'path': '#{$global-url}/orofrontend/default/fonts/roboto/roboto-regular-webfont',
                'weight': 700,
                'style': normal
            )
        )
    ),
    'icon': (
        'family': 'custom-icon-font',
        'variants': (
            (
                'path': '#{$global-url}/orofrontend/default/fonts/custom-font-icon/custom-font-icon',
                'weight': normal,
                'style': normal
            )
        )
    )
);

// Fonts families
$base-font: get-font-name('main'),'Helvetica', Arial, sans-serif;
$base-font-minor: get-font-name('secondary'),'Helvetica', Arial, sans-serif;
$base-font-icon: get-font-name('icon');

// Fonts sizes
$base-font-size: 14px;
$base-font-size--large: 16px;
$base-font-size--xs: 11px;
$base-font-size--s: 13px;
$base-font-size--m: 20px;
$base-font-size--l: 23px;
$base-font-size--xl: 26px;
$base-line-height: 1.35;
