/* @theme: default; */

$base-ui-element-offset: 11px 16px;
$base-ui-element-font-size: $base-font-size;
$base-ui-element-font-family: $base-font;
$base-ui-element-line-height: 1.5;
$base-ui-element-border: 1px solid get-color('additional', 'light');
$base-ui-element-border-radius: 5px;
$base-ui-element-bg-color: get-color('additional', 'ultra');
$base-ui-element-color: get-color('additional', 'darker');
$base-ui-element-placeholder-color: get-color('additional', 'middle');

$base-ui-element-height-size-m: 38px !default;

$base-ui-element-focus-style: 0 0 0 2px get-color('ui', 'focus'),
                              0 0 6px lighten(get-color('ui', 'normal'), 1%);
$base-ui-bth-focus-style: 0 0 0 1px get-color('additional', 'ultra'),
                          0 0 0 3px get-color('ui', 'focus'),
                          0 0 6px lighten(get-color('ui', 'normal'), 1%);
$base-ui-popup-border-radius: $base-ui-element-border-radius;
