.report-designer {
    position: relative;
}
.form-horizontal .report-descr textarea {
    height: 54px;
}

.desktop-version .chart-wrapper {
    padding: 25px;
    width: 70%;
    margin: 0 auto;
}

.mobile-version .chart-wrapper {
    margin-top: 20px;
}

.oro_report-columns:not(:last-child) {
    margin-bottom: 35px;
}

.query-designer-form > .pull-right {
    margin-bottom: 10px;
    margin-left: 20px;
}
