/* @theme: default; */

// Native breakpoints;
// @Notice! These values contains in $oro-breakpoints array will be synchronized with `viewportManager`

$oro-breakpoints: (
    'desktop':
        '(min-width: #{$breakpoint-desktop})',
    'tablet':
        '(max-width: #{$breakpoint-tablet})',
    'strict-tablet':
        '(max-width: #{$breakpoint-tablet}) and (min-width: #{$breakpoint-tablet-small + 1})',
    'tablet-small': '(max-width: ' + $breakpoint-tablet-small + ')',
    'strict-tablet-small':
        '(max-width: #{$breakpoint-tablet-small}) and (min-width: #{$breakpoint-mobile-landscape + 1})',
    'mobile-big':
        '(max-width: #{$breakpoint-mobile-big})',
    'strict-mobile-big':
        '(max-width: #{$breakpoint-mobile-big}) and (min-width: #{$breakpoint-mobile-landscape + 1})',
    'mobile-landscape':
        'screen and (max-width: #{$breakpoint-mobile-landscape})',
    'strict-mobile-landscape':
        '(max-width: #{$breakpoint-mobile-landscape}) and (min-width: #{$breakpoint-mobile + 1})',
    'mobile':
        '(max-width: #{$breakpoint-mobile})',
    'print': 'print',
    // Custom breakpoints
    'product-datagrid-toolbar-narrow':
        '(max-width: 1280px)',
    'popup-gallery-tablet':
        '(max-height: 730px), (max-width: #{$breakpoint-tablet-small})',
    'mega-menu-wide':
        '(min-width: #{$breakpoint-mobile-big + 1})'
);

// Variable for extend native breakpoints is empty by default;
$custom-breakpoints: () !default;

$breakpoints: merge-breakpoints($oro-breakpoints, $custom-breakpoints) !default;
