/* @theme: default; */

@use 'sass:math';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:string';
@use 'sass:map';

// @return the value with a nested map;
// $map: (
//     'main': (
//         'foo': 'bar',
//     )
// );
// Use: get-nested-map-value($map, 'main', 'foo') => bar;

@function get-nested-map-value($map: null, $key: 'main', $value: 'main') {
    @if (type-of($map) == 'map') {
        @return map.get(map.get($map,  $key), $value);
    }
}

// @return the value from a $color-palette map associated with a given key;
// Use: color: get-color('primary', 'base') => color: #000;
// Use: color: get-color('primary', 'base', 10%) => color: rgba(0 0 0 / 10%);

@function get-color($palette: 'primary', $key: 'main', $opacity: null) {
    $color-key: get-nested-map-value($color-palette, $palette, $key);

    @if ($color-key) {
        @if ($opacity) {
            @return rgba($color-key, $opacity);
        }

        @return $color-key;
    } @else {
        @warn 'Color not found:' $palette $key;
    }
}

// @return the value in a $theme-fonts map associated with a given key;
// Use: font-family: get-font-name('main') => font-family: 'Lato';

@function get-font-name($key) {
    $font: get-nested-map-value($theme-fonts, $key, 'family');

    @if ($font) {
        @return $font;
    } @else {
        @warn 'Font not found:' $key;
    }
}

// @return the value in a $font-weights map associated with a given key;
// Use: font-weight: font-weight('bold') => font-weight: 700;

@function font-weight($key) {
    $font-weight-key: map.get($font-weights, $key);

    @if ($font-weight-key) {
        @return $font-weight-key;
    } @else {
        @warn 'Font weight value not found:' $key;
    }
}

// @return: the value in a map associated with a given key
// Use: z-index: z('base');

@function z($layer: 'base') {
    $layers: (
        'base': 1,
        'dropdown': 50,
        'fixed': 100,
        'popup': 150,
        'hidden': -1
    ) !default;

    $z-index: map.get($layers, $layer);

    @return $z-index;
}

// Remove the unit of a length
// @return number
// Use: $value: strip-units(10px); -> 10

@function strip-units($value) {
    @return math.div($value, $value * 0 + 1);
}

// In SASS we can only once set a value to variable with flag !default, all others values will be ignored.
// The variable must be declared.
// @return new value with flag !default;
// Use: $component-var: reset-var($component-var, 10);

@function update-default($var, $value: null) {
    $var: null;
    $var: $value !default;

    @return $var;
}

// Extended default map-merge
// Merge two maps together into new map, w/o null keys

@function map-merge-wo-null($map1, $map2) {
    $result: map.merge($map1, $map2);

    @each $key in map-keys($result) {
        @if not map.get($result, $key) {
            $result: map.remove($result, $key);
        }
    }

    @return $result;
}

// Merge breakpoints
// $old-breakpoints: (
//     'desktop': '(min-width: 1100px)',
//     'tablet': '(max-width: 1099px )'
// );
// $new-breakpoints: (
//     'desktop': '(min-width: 1200px)',
//     'tablet': null,
//     'mobile': '(max-width: 640px)'
// );
// @return the value with a merged breakpoints;
// $breakpoints: (
//     'desktop''(min-width: 1200px)',
//     'mobile': '(max-width: 640px)'
// );
// Use: merge-breakpoints($old-breakpoints, $new-breakpoints);

@function merge-breakpoints($breakpoints1, $news-breakpoint2) {
    @return map-merge-wo-null($breakpoints1, $news-breakpoint2);
}

// Get base breakpoint list
// @return the list of base breakpoints;
@function get-breakpoints-list() {
    $breakpoints-list: ();

    @each $name, $value in $breakpoints {
        @if string.index($name, 'tablet') == 1 or string.index($name, 'mobile') == 1 {
            $breakpoints-list: list.append($breakpoints-list, $name);
        }
    }

    @return $breakpoints-list;
}

// @return modified selector
// Use: modify-selector($selector: 'a', $part-before: '~ ') => '~ a';
@function modify-selector($selector, $part-before: null, $part-after: null) {
    @if ($part-before) {
        $selector: $part-before + $selector;
    }

    @if ($part-after) {
        $selector: $part-after + $selector;
    }

    @return $selector;
}

// @return modified list of selectors
// Use: modify-selector(selectors: 'a , button', $part-before: '~ ') => '~ a, ~ button';
@function modify-selectors($selectors, $part-before: null, $part-after: null) {
    @if (meta.type-of($selectors) != 'list') {
        @warn '$selectors: #{$selectors} must be a list type';
    }

    $modified-selectors: ();
    $list-separator: list.separator($selectors);

    @each $selector in $selectors {
        $modified-selectors: list.append(
            $modified-selectors,
            modify-selector($selector, $part-before, $part-after),
            $separator: $list-separator
        );
    }

    @return $modified-selectors;
}

// @return the list of CSS selectors for HTML elements that can receive focus
// Use: font-get-focusable-selector() => 'a[href]:not([tabindex="-1"]), input:not([disabled]):not([tabindex="-1"])';
@function get-focusable-selectors($whole-list: false, $part-before: null, $part-after: null) {
    $base: (
        'a[href]',
        'input:not([disabled])',
        'select:not([disabled])',
        'textarea:not([disabled])',
        'button:not([disabled])',
        '.dropdown-menu',
        '[tabindex]'
    );
    $more: (
        'area[href]',
        'iframe',
        '[contentEditable=true]'
    );

    @if ($whole-list) {
        @return modify-selectors($base, $part-before, $part-after) + modify-selectors($more, $part-before, $part-after);
    } @else {
        @return modify-selectors($base, $part-before, $part-after);
    }
}
