/* @theme: default; */

$site-width: 1920px !default;

// @Notice! Named Breakpoints have been chosen due to its names are used in configuration for menu, GrapesJS, Viewport manager, etc.
$breakpoint-desktop: 1366px !default;
$breakpoint-desktop-big: 1600px !default;
$breakpoint-desktop-small: 1280px !default;
$breakpoint-tablet: $breakpoint-desktop-small - 1px !default;
$breakpoint-tablet-small: 992px !default;
$breakpoint-mobile-big: 767px !default;
$breakpoint-mobile-landscape: 640px !default;
// iPhone 15 Pro Max (430 * 932)
$breakpoint-mobile: 430px !default;

// Spacing System
$base-spacing: 16px !default;

$spacing-multipliers: (
    xs: .25,
    sm: .5,
    xmd: .625,
    md: .75,
    base: 1,
    lg: 1.5,
    xl: 2,
    xxl: 2.5,
    xxxl: 3,
    huge: 3.5,
    massive: 4,
    gigantic: 5,
    enormous: 5.5,
    colossal: 6,
    immense: 7.5
) !default;
