/* @theme: default; */

$site-width: 1400px !default;

// Breakpoints

// Desktop Media Breakpoint
$breakpoint-desktop: 1100px !default;
$breakpoint-tablet: $breakpoint-desktop - 1px !default;
$breakpoint-tablet-small: 992px !default;
// iPad mini 4 (768*1024), iPad Air 2 (768*1024), iPad Pro (1024*1366)
$breakpoint-mobile-big: 767px !default;
$breakpoint-mobile-landscape: 640px !default;
// iPhone 4s (320*480), iPhone 5s (320*568), iPhone 6s (375*667), iPhone 6s Plus (414*763)
$breakpoint-mobile: 414px !default;

// Spacing System
$base-spacing: 16px !default;

$spacing-multipliers: (
    xs: .25,
    sm: .5,
    md: .75,
    base: 1,
    lg: 1.5,
    xl: 2,
    xxl: 2.5,
    xxxl: 3,
    huge: 3.5,
    massive: 4,
    gigantic: 5,
    enormous: 5.5,
    colossal: 6,
    immense: 7.5
) !default;
