.sidebar-widget-recent-emails {
  .sidebar-widget .sidebar-widget-header {
    background: #eeeeee;
    .icon-envelope.highlight {
      margin-right: 18px;
    }
    .sidebar-widget-header-title .widget-title {
      width: 85px;
    }
  }
  .sidebar-widget-content {
    background: #fff;
    .header {
      display: none;
    }
  }
  .icon-envelope.highlight, i.icon-envelope.highlight:before{
    color: #fabb18;
    span {
      background: #eeeeee;
      top: 4px;
      font-size: 8px;
    }
  }
}
