.sidebar-widget-recent-emails {
  .sidebar-widget .sidebar-widget-header {
    background: #eeeeee;
    .icon-envelope.highlight {
      margin-right: 18px;
    }
    .sidebar-widget-header-title .widget-title {
      width: 85px;
    }
  }
  .sidebar-widget-content {
    background: #fff;
    .header {
      display: none;
    }
  }
  .icon-envelope.highlight, i.icon-envelope.highlight:before{
    color: #fabb18;
    span {
      background: #eeeeee;
      top: 4px;
      font-size: 8px;
    }
  }
  &.sidebar-widget-popup {
    .sidebar-widget {
      width: 360px;
    }
    .short-emails-list .items li .footer .reply-all-action,
    .short-emails-list .items li .footer .reply-action,
    .short-emails-list .items li .footer .forward-action {
      display: inline;
    }
  }
  &.sidebar-widget-embedded {
    .sidebar-widget-content {
      .short-emails-list {
        .items {
          li {
            padding: 9px 10px 5px;
            .icon-envelope {
              right: 7px;
              top: 8px;
            }
          }
        }
      }
    }
  }
}
