$demo-popup-font: arial, sans-serif !default;
$demo-popup-color-primary: #ffca18 !default;
$demo-popup-color-secondary: #bdbcbc !default;
$demo-popup-color-gray-100: #717178 !default;
$demo-popup-color-gray-300: #2d2f31 !default;
$demo-popup-color-dark: #202123 !default;
