{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set userId = user.id %}
{% set formId = 'user-apikey-gen-form-' ~ userId %}
{% set apiKeyElementId = 'user-apikey-gen-elem-' ~ userId %}
{% set options  = {
    'view': 'orouser/js/views/user-apikey-gen-view',
    'apiKeyElementSelector': '#' ~ apiKeyElementId,
    'formSelector': '#' ~ formId,
    'responseMessage': 'oro.user.apikey_gen.new_key.success'
} %}
{% set apiKeyHTML = form_row(
    form,
    {
        method: 'POST',
        action: path('oro_user_apigen', {'id': userId}),
        attr: {'id': formId},
        apiKeyElementId: apiKeyElementId
    }
) %}
{% set attributeOptions = {
    rootClass: 'api-block',
    tooltipHTML: ui.tooltip('oro.user.api.tooltip_text', {}, 'bottom'),
} %}
<div data-nohash="true"
     data-page-component-module="oroui/js/app/components/view-component"
     data-page-component-options="{{ options|json_encode }}"
     data-layout="separate">
    {{ ui.renderAttribute('oro.user.api.label'|trans, apiKeyHTML, attributeOptions) }}
</div>
