{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {{ dataGrid.renderGrid('users-email-grid', {userId: entity.id}) }}
</div>
