.pin-bar{
  background-repeat: repeat-x;
  border-bottom: 1px solid #183d9e;
  #gradient > .vertical(@baseGradientColorEnd, @baseGradientColorStart);
}
.pin-bar{
  .list-bar {
    li{
      text-shadow: 0 -1px 2px #366bca;
      border-right: 1px solid #2a5ab1;
      border-left: 1px solid #79a4f3;
      &:first-child{
        border-left: 0;
      }
      .pin-holder a {
        color: #fff;
      }
    }
    .icon-remove:before{
      color: #fff;
    }
    .pin-menus .oro-dropdown-toggle:hover{
      background-color: @baseGradientColorStart;
      #gradient > .vertical(@baseGradientColorStart ,@baseGradientColorEnd);

    }
  }
  .pin-menus .oro-dropdown-toggle:hover{
    background-color: @baseGradientColorStart;
    #gradient > .vertical(@baseGradientColorStart ,@baseGradientColorEnd);

  }
}
.map-box .map-item .inline li .label-info{
  background-color: #366bca;
}

.navbar .small-divider{
  background-image: url('../images/blue-vertical-divider.png');
  background-repeat: repeat-y;
}

#oroplatform-header {
  .navbar-inner .logo a,
  header .logo a{
    background-color: @baseGradientColorStart;
  }
  .navbar-inner .logo:before,
  header .logo:before{
    border-color: transparent transparent transparent @baseGradientColorStart;
  }
  .navbar-inner .logo:after,
  header .logo:after{
    border-color: transparent transparent transparent @baseGradientColorStart;
  }

  .navbar-inner{
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
  }
  .nav.pull-right li.dropdown .dropdown-menu li a{
    color: @LinkColor;
  }
  .oroplatform-menu {
    & > li.dropdown.active:hover > a{
      color: #fff;
      &:hover{
        color: #444;
      }
    }
    & > li.dropdown.active {
      & > a{
        #gradient > .vertical(@baseGradientColorStart ,darken(@baseGradientColorStart,5%));
        border-color: #2a5ab1;
      }
      &:hover > a{
        border-color: transparent !important;
        background-color: #fff !important;
        color: #444 !important;
        #gradient > .vertical(#ffffff ,#ffffff);
      }
    }
  }
  .nav.top-search { // Includes Shortcuts and Search
    .dropdown {
      > .dropdown-toggle {
        &:hover [class^='icon-'] {
          border:1px solid darken(#2a5ab1,10%);
          #gradient > .vertical(@baseGradientColorStart, darken(@baseGradientColorStart,20%));
        }
        &:active [class^='icon-'],
        &:focus [class^='icon-'] {
          border:1px solid darken(#2a5ab1,10%);
          #gradient > .vertical(darken(@baseGradientColorStart,10%), darken(@baseGradientColorStart,20%));
        }
      }
      &.open > .dropdown-toggle [class^='icon-'] {
        border:1px solid darken(#2a5ab1,10%);
        #gradient > .vertical(@baseGradientColorStart, darken(@baseGradientColorStart,20%));
      }
    }
  }
}