<script type="text/html" class="reminder_templates" data-identifier="default">
<% let safeSubject = !url ? _.escape(subject) : `<a class="hash-navigation-link" href="${_.escape(url)}">${_.escape(subject)}</a>`; %>
<%= _.__('oro.reminder.reminder_template.due_message', {
    subject: safeSubject,
    expireAt: _.escape(expireAt)
}) %>
</script>
