{% if app.user %}
    {% import '@OroUI/macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'ororeminder/js/app/components/reminder-messages-publisher',
        options: {
            reminders: oro_reminder_get_requested_reminders_data()
        }
    }) }}></div>
{% endif %}
