{% if app.user %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        view: {
            view: 'ororeminder/js/app/views/reminder-show-view',
            reminderData: oro_reminder_get_requested_reminders_data()
        }
    }) }}></div>
{% endif %}
