{% if app.user %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'ororeminder/js/app/components/reminder-show-component',
        options: {
            reminderData: oro_reminder_get_requested_reminders_data()
        }
    }) }}></div>
{% endif %}
