.activity-list-widget {
  .activity-context-activity-list {
    padding: 0 @horizontalPadding;
  }
}

.activity-context-activity {
  display: none;
}

.activity-context-activity-list {
  margin-bottom: 5px;
}

.activity-context-activity-items .context-item {
  display: inline-block;
  margin-right: 8px;
  font-size: 11px;
}

.context-item {
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
}

.context-item.active {
  background-color: #ebebeb;
}

.customer-content .context-item .icon-remove {
  cursor: pointer;
}

.activity-context-activity-label {
  float: left;
  margin-right: 10px;
  font-size: 11px;
  line-height: 14px;
}

.activity-context-activity-items {
  margin-left: 55px;
  font-size: 11px;
  line-height: 14px;
}

.activity-context-activity-block {
  .activity-context-activity {
    margin-top: 5px;
    width: 720px;
  }
}

.context-items-dropdown {
  top: 38px;
  left: 14px;
  border-color: #d3d3d3;
  .context-item {
    padding: 2px 8px;
    font-size: 13px;
  }
}

.activity-context-current-block {
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  margin: 10px 10px 15px 10px;
  box-shadow: none;
  .btn-group.open & {
    box-shadow: none;
  }
}

.activity-context-current-item {
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}

.control-group .controls .activity-context-activity-items {
  padding-top: 5px;
  margin-left: 0;
  .context-item {
    color: #777;
    font-size: 13px;
    line-height: 20px;
    padding: 0 2px;
  }
}
