/* @theme: admin.oro; */

$datagrid-settings-title-font-size: $base-font-size--l !default;
$datagrid-settings-title-line-height: $base-font-size--l !default;
$datagrid-settings-title-offset: 0 0 21px 0 !default;
$datagrid-settings-table-offset-top: 9px !default;
