/* @theme: admin.oro; */

$oro-datagrid-grid-views-title-font-size: $base-font-size--m !default;
$oro-datagrid-grid-views-title-font-weight: bold !default;
$oro-datagrid-grid-views-title-line-height: 1.5 !default;
$oro-datagrid-grid-views-title-offset: 0 !default;
$oro-datagrid-grid-views-color: $primary-500 !default;
$oro-datagrid-grid-views-font-size: $base-font-size - 1px !default;
$oro-datagrid-grid-views-icon-close: $fa-var-caret-down !default;
$oro-datagrid-grid-views-icon-offset: side-values(0 12px 0 8px) !default;
$oro-datagrid-grid-views-title-width: 500px !default;

$oro-datagrid-grid-view-btn-font-size: $font-size-base !default;
$oro-datagrid-grid-view-btn-font-weight: normal !default;
$oro-datagrid-grid-view-btn-inner-offset: 0 !default;
$oro-datagrid-grid-view-btn-text-transform: none !default;

$oro-datagrid-grid-views-dropdown-width: 300px !default;

$oro-datagrid-grid-views-item-offset: 4px $dropdown-item-padding-x 3px !default;

$oro-datagrid-inner-grid-views-offset: side-values(0 0 14px 16px) !default;

// Mobile

$oro-datagrid-grid-views-mobile-title-width: 260px !default;

$oro-datagrid-grid-views-mobile-small-title-width: 160px !default;

$oro-datagrid-inner-grid-views-medium-offset: 0 0 14px !default;
