/* @theme: admin.oro; */

$oro-datagrid-grid-views-color: $primary-500 !default;
$oro-datagrid-grid-views-font-size: $base-font-size - 1px !default;
$oro-datagrid-grid-views-icon-close: $fa-var-caret-down !default;
$oro-datagrid-grid-views-icon-show: $fa-var-caret-up !default;
$oro-datagrid-grid-views-icon-offset: side-values(0 10px 0 6px) !default;
$oro-datagrid-grid-views-dropdown-width: 300px !default;
