/* @theme: admin.oro; */

$more-bar-holder-toggle-offset: 4px 8px !default;
$more-bar-holder-height: 44px !default;
$more-bar-holder-icon-font-size: 15px !default;

$launchers-dropdown-menu-offset: 0 10px !default;

$launchers-list-offset: 4px 0 !default;
$launchers-list-at-dropdown-offset: 6px 0 !default;
$launchers-list-action-color: $primary-700 !default;
$launchers-list-action-color-hover: $primary-700 !default;
$launchers-list-action-size: 26px !default;
