/* @theme: admin.oro; */

$sorting-select-container-height: 20px !default;
$sorting-select-choice-height: 18px !default;
$sorting-select-choice-offset: side-values(0 22px 0 4px) !default;
$sorting-select-color: $primary-400 !default;

$sorting-select-divider-offset: side-values(0 10px 0 8px) !default;
$sorting-select-divider-color: $primary-800 !default;
$sorting-select-divider-font-size: 12px !default;

$sorting-select-arrow-top: 2px !default;
$sorting-select-arrow-end: 6px !default;
