# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\AddressBundle\Entity\Repository\AddressTypeRepository:
            getBatchIterator:
                fieldName: true
        Oro\Bundle\AddressBundle\Command\UpdateCountriesRegionsCommand:
            addTranslationKeys:
                valuesWithId: true
            updateExistedCountryTranslation:
                translationKeySubQuerySql: true
                languageSubQuerySql: true
            updateExistedRegionTranslation:
                translationKeySubQuerySql: true
                languageSubQuerySql: true
