.entity-merge-table {
  input[type="radio"] {
    margin-top: 0;
  }
  .merge-first-column {
    padding-left: 20px;
    label {
      em {
        display: none;
      }
    }
  }
  thead {
    td {
      padding: 9px 8px 9px 12px;
      vertical-align: middle;
      background-color: #F0F0F0;
    }
    .entity-merge-inline {
      line-height: normal;
      input[type="radio"] {
        margin: -2px 5px 0 0;
      }
    }
    .merge-first-column {
      label {
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
        .popover-content {
          font-weight: normal;
          text-transform: none;
        }
      }
    }
  }
  tbody {
    td {
      vertical-align: top;
      padding: 6px 8px 6px 12px;
      cursor: pointer;
    }
    .merge-first-column {
      background-color: #FCFCFC;
      width: 245px;
    }
    .entity-merge-fields-blocks-wrapper {
      .entity-merge-inline-label {
        width: calc(100% - 20px);
        font-weight: bold;
      }
      .entity-merge-inline-label.entity-merge-not-selected {
        font-weight: normal;
      }
    }
    tr:hover {
      background-color: #F5F8FF;
    }
  }
  .entity-merge-fields-blocks-wrapper {
    overflow: hidden;
    label {
      margin-bottom: 0;
    }
  }
  .entity-merge-uppercase {
    text-transform: uppercase;
  }
  .entity-merge-inline-label {
    float: left;
    padding-left: 10px;
  }
  .entity-merge-inline {
    float: left;
  }
  ul {
    list-style: none outside none;
    margin: 0;
  }
  .entity-merge-strategy-label {
    padding: 3px 15px 0 0;
    em {
      display: none;
    }
  }
  .entity-merge-strategy-wrapper {
    padding-top:10px;
  }
  .entity-merge-header-wrapper {
    position: relative;
    padding-bottom: 12px;
  }
  .entity-merge-small-select {
    width: 100px;
  }
  .icon-info-sign {
    margin: 0 5px 0 0;
  }
  .entity-merge-select-all {
    font-size: 11px;
    padding-left: 21px;
    line-height: normal;
  }
}
