{% set defaultTreeData = {
    treeOptions: {
        view: 'oroui/js/app/views/jstree/base-tree-view'
    }
} %}
{% set class="content-with-sidebar--" %}

<div class="jstree-wrapper collapse-view expanded" data-role="jstree-wrapper">
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ defaultTreeData.treeOptions|merge(data.treeOptions)|json_encode }}">
        {% if data.label|default('') %}
            <div class="jstree-wrapper__title">
                {% block header %}
                    {% block label %}
                        <span class="jstree-wrapper__label">
                            <label class="custom-checkbox jstree-wrapper__checkbox"
                                   data-role="jstree-checkall">
                                <input class="custom-checkbox__input"
                                       type="checkbox"
                                       name="jstree-items"
                                       data-action-type="checkAll"/>
                                <span class="custom-checkbox__text"></span>
                            </label>
                            <span class="jstree-wrapper__text"
                                data-collapse-trigger>
                                {{ data.label }}
                            </span>
                        </span>
                    {% endblock label %}
                    {% block actions %}
                        <div class="jstree-actions dropdown btn-group"
                            data-page-component-module="oroui/js/app/components/view-component"
                            data-page-component-options="{{ {
                                'view': 'oroui/js/app/views/jstree/action-manager-view',
                                'actions': actions|default({})
                            }|json_encode}}">
                            <button type="button" class="jstree-actions__handle btn btn-default btn-small dropdown-toggle"
                                    data-toggle="dropdown" title="Mass Actions">
                                <i class="fa-ellipsis-h"></i>
                                <i class="caret"></i>
                            </button>
                            <ul class="jstree-actions__menu dropdown-menu dropdown-menu__action-column" data-role="jstree-actions">
                            </ul>
                        </div>
                    {% endblock actions %}
                {% endblock header %}
            </div>
        {% endif %}
        <div data-collapse-container>
            {% block content %}
                {% block search %}
                    {% if not data.disableSearch|default(false) and data.treeOptions.data|default([]) %}
                    <div class="jstree-search-component">
                        <input type="search" placeholder="Quick Search" class="jstree-search-component__input" data-name="search"/>
                        <span data-name="clear-search" class="jstree-search-component__clear hide">
                            <i class="fa fa-close"></i>
                        </span>
                    </div>
                    {% endif %}
                {% endblock search %}
                {% block tree %}
                    <div data-role="jstree-container"></div>
                {% endblock tree %}
            {% endblock content %}
        </div>
    </div>
</div>