<div class="view-loading loading">
    <div class="loader-mask shown">
        <div class="loader-overlay"></div>
        <div class="loader-frame well">
            <div class="loader-content">
                {{ 'Loading...'|trans }}
            </div>
        </div>
    </div>
</div>
