{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set widgetComponentOptions = {
    'type' : widgetType,
    'options' : options
} %}

{% set content = render(options.url) %}
{% if content|length %}
    <div id="{{ elementId }}" {{ UI.renderWidgetAttributes(widgetComponentOptions) }} data-layout="separate">
        {% if options.elementFirst %}
            {{ content|raw }}
        {% endif %}
    </div>
{% endif %}
