<div id="{{ elementId }}" style="visibility: hidden;">
    {% if options.elementFirst %}
        {% render options.url %}
    {% endif %}
</div>

<script type="text/javascript">
    require(['jquery', 'oro/{{ widgetType ~ '-widget' }}', 'ready!app'],
    function($, Widget){
        $(function(){
            var widget = new Widget({{ options|json_encode|raw }});
            $("#{{ elementId }}").css('visibility', 'visible');
            {% if options.elementFirst %}
            widget.render();
            {% endif %}
        })
    });
</script>
