{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set widgetComponentOptions = {
    'type' : widgetType,
    'options' : options
} %}

{% set content = render(options.url) %}
{% if content|length %}
    {% set separateLayout = options.separateLayout is not defined or options.separateLayout %}
    {% set separateLayoutContent %}
        {% if separateLayout %} data-layout="separate"{% endif %}
    {% endset %}
    <div id="{{ elementId }}" {{ UI.renderWidgetAttributes(widgetComponentOptions) }}{{ separateLayoutContent }}>
        {% if options.elementFirst %}
            {{ content|raw }}
        {% endif %}
    </div>
{% endif %}
