{% if workflow.transitionsData|length or workflow.resetAllowed|default(false) %}
    {% set blockId = 'entity-transitions-container-' ~ random() %}
    <div class="btn-group" id="{{ blockId }}">
        {% for data in workflow.transitionsData %}
            {# Show button for start or transit workflow #}
            {% set transitionMessage = data.transition.message|trans({},'workflows') %}
            {% if transitionMessage == data.transition.message %}
                {# if no translation for message then do not show message #}
                {% set transitionMessage = '' %}
            {% endif %}

            {% set transitionData = {
                'enabled': data.isAllowed,
                'transition-label': data.transition.label|trans({},'workflows'),
                'message': transitionMessage|nl2br,
                'transition-condition-messages': data.errors
            } %}

            {% if data.transition.displayType == 'dialog' %}
                {% if data.workflowItem is not defined %}
                    {% set data = data|merge({'workflowItem': null}) %}
                    {% if data.transition.hasForm() %}
                        {% set transitionData = transitionData|merge({'dialog-url': path(
                            'oro_workflow_widget_start_transition_form',
                            {
                                workflowName: data.workflow.name,
                                transitionName: data.transition.name,
                                entityId: entity_id
                            })
                        }) %}
                    {% endif %}

                    {# New workflow #}
                    {% set transitionData = transitionData|merge({'transition-url': path(
                        'oro_api_workflow_start',
                        {
                            workflowName: data.workflow.name,
                            transitionName: data.transition.name,
                            entityId: entity_id
                        })
                    }) %}
                {% endif %}
            {% else %}
                {% if data.workflowItem is not defined %}
                    {% set data = data|merge({'workflowItem': null}) %}
                    {% set transitionData = transitionData|merge({'transition-url': path(
                        'oro_workflow_start_transition_form',
                        {
                            workflowName: data.workflow.name,
                            transitionName: data.transition.name,
                            entityId: entity_id
                        })
                    }) %}
                {% else %}
                    {% set transitionData = transitionData|merge({'transition-url': path(
                        'oro_workflow_transition_form',
                        {
                            transitionName: data.transition.name,
                            workflowItemId: data.workflowItem.id
                        })
                    }) %}
                {% endif %}
            {% endif %}

            {{ workflowMacros.renderTransitionButton(
                data.workflow,
                data.transition,
                data.workflowItem,
                transitionData
            ) }}
        {% endfor %}

        {% if workflow.resetAllowed|default(false) and workflow.workflowItem|default(false) %}
            {% set data = {
                'url': path('oro_api_workflow_delete', {workflowItemId: workflow.workflowItem.id}),
                'title': 'oro.workflow.action.workflow.reset_data'|trans({'{workflow}' : workflow.label|trans({},'workflows')}),
                'workflow_item_id': workflow.workflowItem.id,
            } %}

            {{ workflowMacros.renderResetButton(data, blockId) }}
        {% endif %}
    </div>

    {{ workflowMacros.renderTransitionsJs(workflow.transitionsData, blockId) }}
{% endif %}
