{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

<div class="widget-content">
    {% for workflow in workflows %}
        {% if workflow.stepsData.steps|length %}
        <table class="workflow-entity">
            <tr>
                <td class="workflow-label"><div class="workflow-label-text">{{ workflow.label|trans }}</div></td>
                <td class="workflow-content-container">
                    <table class="workflow-content">
                        <tr>
                            <td class="workflow-steps">
                                {% set isOrdered = workflow.stepsData.is_ordered %}
                                {% set steps = workflow.stepsData.steps %}
                                {% for step in steps %}
                                    {% set active = step.active %}
                                    {% set possibleStepsCount = step.possibleStepsCount %}
                                    {{ step.label|trans }}
                                {% endfor %}
                            </td>
                            <td class="workflow-controls">
                                {% include 'OroWorkflowBundle::Widget/widget/button.html.twig' with {'workflow': workflow, 'entity_id': entityId} %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% endif %}
    {% endfor %}
</div>
