<div class="widget-content">
    {% if steps|length > 0 %}
        <ul class="workflow-step-list nav">
            {% set isProcessed = true %}
            {% for step in steps %}
                {% set isCurrent = currentStep and step.name == currentStep.name %}
                <li class="{% if isCurrent %}current{% elseif isProcessed %}processed{% endif %}">
                    {{ step.label|trans }}
                </li>
                {% if isCurrent %}
                    {% set isProcessed = false %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
