<div class="widget-content">
    <script type="text/javascript">
        require(['oroui/js/mediator', 'ready!app'], function(mediator) {
            mediator.execute('workflowSteps:update', {
                stepsData: {{ stepsData|json_encode|raw }}
            });
        });
    </script>
</div>
