/* @theme: admin.oro; */

@mixin responsive-inline-position() {
    float: #{$start};
    width: 50%;
}

@mixin responsive-block-position() {
    float: none;
    width: 100%;
}

// by default, huge screen, cells: inline, blocks: inline
.responsive-section {
    .responsive-cell {
        margin-bottom: 35px;

        @include responsive-inline-position();
    }

    .responsive-block {
        &:empty {
            display: none;
        }

        ol,
        ul,
        dl {
            &:not(.extra-list) {
                margin: side-values(0 0 $content-padding-medium $content-padding);

                word-break: break-word;
            }
        }

        @include responsive-inline-position();
    }

    .responsive-cell,
    .responsive-block {
        &:only-child {
            @include responsive-block-position();
        }
    }

    &.responsive-big {
        .responsive-cell {
            &:not(:only-child) {
                .responsive-block {
                    @include responsive-block-position();
                }
            }
        }
    }

    &.responsive-medium {
        &:not(.responsive-section-no-blocks) {
            .responsive-cell {
                @include responsive-block-position();
            }

            // remove horizontal separator if cells are wrapped
            .row-fluid.row-fluid-divider {
                background: none;
            }
        }

        .responsive-block {
            @include responsive-inline-position();
        }
    }

    &.responsive-small {
        .responsive-cell,
        .responsive-block {
            @include responsive-block-position();
        }

        // remove horizontal separator if cells are wrapped
        .row-fluid.row-fluid-divider {
            background: none;
        }
    }
}

.responsive-section {
    figure {
        display: table;
        margin: 5px auto 1rem;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
        margin: 10px 0 0;

        font-size: .88rem;
        text-align: center;
    }

    .cms-page__figure_right,
    .cms-page__figure_left {
        clear: both;
    }

    .cms-page__figure_right {
        float: #{$end};
        margin-#{$start}: 20px;
    }

    .cms-page__figure_left {
        float: #{$start};
        margin-#{$end}: 20px;
    }
}

.container-fluid {
    > .responsive-section {
        &:not(.responsive-small) {
            .responsive-cell {
                &:first-child {
                    padding-#{$end}: $horizontal-padding;
                }

                &:last-child {
                    padding-#{$start}: $horizontal-padding;
                }

                &:only-child {
                    padding-#{$end}: 0;
                    padding-#{$start}: 0;
                    padding-bottom: 0;
                }
            }
        }

        &.responsive-big,
        &.responsive-medium,
        &:not(.responsive-small) {
            form[name="oro_product"] & {
                .responsive-cell {
                    padding-bottom: $content-padding-medium;
                }
            }
        }

        &.responsive-medium {
            &:not(.responsive-section-no-blocks) {
                .responsive-cell {
                    padding-#{$start}: 0;
                    padding-#{$end}: 0;
                }
            }
        }

        &.responsive-small {
            .responsive-cell {
                padding-#{$end}: 0;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        .responsive-cell {
            &:only-child {
                padding-#{$end}: 0;
            }
        }
    }
}

body.backdrop {
    .select2-drop,
    #ui-datepicker-div {
        z-index: 10001 !important;
    }

    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        #{$start}: 0;
        background: rgba(0, 0, 0, .1);
        z-index: 9999;
    }
}

.ui-dialog {
    max-width: 100%;

    .row-fluid.row-fluid-divider {
        background: none;
    }
}

@mixin oro-page-menu-items {
    list-style: none;
    margin: 0;
    line-height: 21px;

    > li {
        min-height: 30px;
        border-bottom: 1px solid #e6e6e6;

        a {
            display: block;
            padding-top: 5px;
            padding-bottom: 4px;
        }

        i[class^="fa-"] {
            color: #444;

            &.pull-right {
                margin: 0 -14px 0 0;
                line-height: 22px;
            }
        }

        &.selected {
            a {
                font-weight: bold;
                background-color: #e8e8e8 !important;
                color: #444;
            }
        }
    }
}

.oro-page-menu-items {
    @include oro-page-menu-items;
}

.oro-page {
    border-top: 1px solid $page-border-color;
    background: $page-sidebar-background-color;
    border-bottom: 1px solid $page-border-color;

    .oro-page-sidebar {
        width: 236px;
        margin-#{$end}: -1px;
        float: #{$start};
        border-#{$end}: 1px solid $page-border-color;
        border-bottom: 1px solid $page-border-color;
        background: $page-sidebar-background-color;
    }

    .oro-page-body {
        float: #{$end};
        width: calc(100% - 235px);
        border-#{$start}: 1px solid $page-border-color;
        padding: 10px;
        background-color: #fff;
        overflow: hidden;
    }

    &.collapsible-sidebar {
        .oro-page-sidebar {

            > .dropdown-toggle {
                display: none;
            }

            > .dropdown-menu {
                @include oro-page-menu-items;

                top: auto;
                #{$start}: none;
                position: relative;
                border: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                background: transparent;
                width: 235px;
            }
        }
    }
}
