/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity */

@mixin responsive-inline-position() {
    float: left;
    width: 50%;
}

@mixin responsive-block-position() {
    float: none;
    width: 100%;
}

// by default, huge screen, cells: inline, blocks: inline
.responsive-section {
    .responsive-cell {
        margin-bottom: 35px;

        @include responsive-inline-position();
    }

    .responsive-block {
        &:empty {
            display: none;
        }

        ol,
        ul,
        dl {
            &:not(.extra-list):not(.list-inline) {
                margin: 0 0 $content-padding-medium $content-padding;

                word-break: break-word;
            }
        }

        @include responsive-inline-position();
    }

    .responsive-cell,
    .responsive-block {
        &:only-child {
            @include responsive-block-position();
        }
    }

    &.responsive-big {
        .responsive-cell {
            &:not(:only-child) {
                .responsive-block {
                    @include responsive-block-position();
                }
            }
        }
    }

    &.responsive-medium {
        &:not(.responsive-section-no-blocks) {
            .responsive-cell {
                @include responsive-block-position();
            }

            // remove horizontal separator if cells are wrapped
            .row-fluid.row-fluid-divider {
                background: none;
            }
        }

        .responsive-block {
            @include responsive-inline-position();
        }
    }

    &.responsive-small {
        .responsive-cell,
        .responsive-block {
            @include responsive-block-position();
        }

        // remove horizontal separator if cells are wrapped
        .row-fluid.row-fluid-divider {
            background: none;
        }
    }

    figure {
        display: table;
        margin: 5px auto 1rem;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
        margin: 10px 0 0;

        font-size: .88rem;
        text-align: center;
    }

    .cms-page__figure_right,
    .cms-page__figure_left {
        clear: both;
    }

    .cms-page__figure_right {
        float: right;
        margin-left: 20px;
    }

    .cms-page__figure_left {
        float: left;
        margin-right: 20px;
    }
}

.container-fluid {
    > .responsive-section {
        &:not(.responsive-small) {
            .responsive-cell {
                &:first-child {
                    padding-right: $horizontal-padding;
                }

                &:last-child {
                    padding-left: $horizontal-padding;
                }

                &:only-child {
                    padding-right: 0;
                    padding-left: 0;
                    padding-bottom: 0;
                }
            }
        }

        &.responsive-big,
        &.responsive-medium,
        &:not(.responsive-small) {
            form[name='oro_product'] & {
                .responsive-cell {
                    padding-bottom: $content-padding-medium;
                }
            }
        }

        &.responsive-medium {
            &:not(.responsive-section-no-blocks) {
                .responsive-cell {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        &.responsive-small {
            .responsive-cell {
                padding-right: 0;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        .responsive-cell {
            &:only-child {
                padding-right: 0;
            }
        }
    }
}

body.backdrop {
    .select2-drop,
    #ui-datepicker-div {
        // stylelint-disable-next-line declaration-no-important
        z-index: 10001 !important;
    }

    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $backdrop-shadow;
        z-index: 9999;
    }
}

.ui-dialog {
    max-width: 100%;

    .row-fluid.row-fluid-divider {
        background: none;
    }
}

@mixin oro-page-menu-items($add-border-to-last-el: false) {
    list-style: none;
    margin: 0;
    line-height: 21px;

    > li {
        @if ($add-border-to-last-el) {
            border-bottom: 1px solid $additional-extra-lighten;

            &:last-child {
                border-color: $page-border-color;
            }
        } @else {
            &:not(:last-child) {
                border-bottom: 1px solid $additional-extra-lighten;
            }
        }

        a {
            display: flex;
            align-items: center;
            padding-top: 4px;
            padding-bottom: 4px;

            @include safe-area-property-left(padding-left, $content-padding-medium);
        }

        [class^='fa-'] {
            color: $primary-100;
            height: $dropdown-item-icon-fa-font-size;
        }

        &.selected {
            position: relative;

            @include fa-icon($fa-var-chevron-right, after, true) {
                position: absolute;
                top: 50%;
                right: 8px;

                margin-top: -$base-font-size--m * .5;
                font-size: $base-font-size--m;
                line-height: 1;
            }

            a {
                padding-right: 24px;
                font-weight: font-weight('bold');
                background-color: $primary-800;
                color: $primary-100;
            }
        }

        .search-label {
            @include text-line-truncate(null);
        }
    }
}

.oro-page-menu-items {
    @include oro-page-menu-items;
}

.oro-page {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $page-border-color;
    background: $page-sidebar-background-color;

    .oro-page-sidebar {
        width: 236px;
        border-right: 1px solid $page-border-color;
        background: $page-sidebar-background-color;
    }

    .oro-page-body {
        flex-grow: 1;
        max-width: calc(100% - 236px);
        padding: 10px;

        @include safe-area-property-right(padding-right, 10px);
        
        background-color: $primary-inverse;
    }

    &.collapsible-sidebar {
        .oro-page-sidebar {
            > .dropdown-toggle {
                display: none;
            }

            > .dropdown-menu {
                @include oro-page-menu-items(true);

                top: auto;
                left: initial;
                position: relative;
                border: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                background: transparent;
                width: 235px;
            }
        }
    }
}
