// Main menu
$menu-animation: all 200ms linear !default;
$menu-background-color: $primary-300 !default;
$menu-font-size: $baseFontSize + 1 !default;
$menu-background-color-active: $extra-200 !default;
$menu-header-height: 48px !default;


// Main menu full screen view
$menu-full-screen-button-color: $primary-750 !default;
$menu-full-screen-title-color: $primary-200 !default;


// Main menu dropdown
$menu-header-background-color: $primary !default;
$menu-dropdown-background-color: $primary-860 !default;
$menu-dropdown-box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, .08) !default;
$menu-dropdown-background-color-active: $primary-500 !default;


// Main menu items
$menu-accordion-icon-color: $primary-550 !default;

$menu-item-first-level-text-color: $primary-800 !default;
$menu-item-first-level-text-color-active: $primary-inverse !default;
$menu-item-text-color: $primary-300 !default;
$menu-item-offset: 9px 16px !default;
$menu-item-divider-color: $primary-800 !default;

$menu-minimized-item-first-level-text-color-active: $primary-400 !default;


// Main menu toggler
$menu-toggler-color: $additional-lighten !default;
