/* @theme: admin.oro; */

// Base
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $body-color;
    margin: 0;
    padding: 0;
    min-width: $width-body-page;
    background: #fff;
}

a {
    color: $link-color;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &.no-action {
        color: $textColor;
    }

    &.disabled {
        color: #bfbfbf;
        pointer-events: none;

        [class^='fa-'].hide-text:before {
            color: #bfbfbf;
        }
    }
}

form {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // supress bootstrap's optimizeLegibility text-rendering
    // it gives bad results on small size fonts
    // that could be applied only for fonts larger than 20px
    text-rendering: auto;
}

label.disabled {
    cursor: default;
}

.nowrap {
    white-space: nowrap;
}
