/* @theme: admin.oro; */

div.uploader,
div.selector {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;

    overflow: hidden;
    cursor: default;

    input,
    select {
        position: absolute;
        top: -$input-border-width;
        #{$end}: -$input-border-width;
        bottom: -$input-border-width;
        #{$start}: -$input-border-width;

        width: calc(100% + #{$input-border-width * 2});
        max-width: calc(100% + #{$input-border-width * 2});
        min-width: calc(100% + #{$input-border-width * 2});
        height: calc(100% + #{$input-border-width * 2});

        border: none;
        cursor: default;
        opacity: 0;
    }
}

