.reminders-collection {
  .row-oro .removeRow {
    text-indent: -999;
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 10px;
    &:after {
      display: inline-block;
      font: 14px/1em 'FontAwesome';
      color: #ddd;
      content: "\f00d";
      text-indent: 0;
    }
    &:hover:after {
      color: #888;
    }
  }

  .inline-field {
    float: left;
    margin-right: 5px;
  }

  .validation-failed {
    display: none !important;
  }

  .inline-field .selector {
    margin-left: 0;
  }

  input.number {
    width: 25px;
    height: 18px;
    line-height: 18px;
  }

  select.unit {
    width: 75px;
  }

  select.method {
    width: 100px;
  }
}

.ui-dialog {
  .form-horizontal {
    .control-group {
      .controls {
        .reminders-collection{
          select.method {
            width: 100px;
          }
          select.unit {
            width: 75px;
          }
        }
      }
    }
  }
}

#flash-messages .alert.alert-reminder {
  background-image: none;
  padding-left: 0;
  i.icon-bell {
    float: left;
    font-size: 1.4em;
    padding: 0 9px 0 8px;
  }
}
