# behat.yml
default: &default
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost.com/'
            default_session: 'first_session'
            sessions:
                second_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
                first_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
                system_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
                320_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
                640_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
        Behat\Symfony2Extension:
            kernel:
                env: 'prod'
                debug: false
            context:
                path_suffix: 'Tests/Behat/Features'
                class_suffix: 'Tests\Behat\Context\FeatureContext'
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            artifacts:
                handlers:
                    local:
                        directory: '%paths.base%/public/uploads/behat'
                        base_url: '%mink.base_url%/uploads/behat'
                        auto_clear: false
            shared_contexts:
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\OroMainContext
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\FixturesContext
                - OroActivityListBundle::ActivityContext
                - OroDataGridBundle::GridContext
                - OroFormBundle::FormContext
                - OroSecurityBundle::ACLContext
                - OroSearchBundle::SearchContext
                - OroImportExportBundle::ImportExportContext:
                    - '@oro_entity.entity_alias_resolver'
                    - '@oro_importexport.processor.registry'
                - OroAddressBundle::AddressContext
    suites: []

chromedriver:
    <<: *default
    extensions:
        Behat\MinkExtension:
            browser_name: chrome
            sessions:
                second_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:9515'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--no-proxy-server"
                                        - "--no-sandbox"
                                        - "--dns-prefetch-disable"
                                        - "--no-first-run"
                                        - "--disable-gpu"
                                        - "--headless"
                                        - "--window-size=1920,1080"
                                        - "--no-pings"
                                        - "--disable-renderer-backgrounding"
                first_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:9515'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--no-proxy-server"
                                        - "--no-sandbox"
                                        - "--dns-prefetch-disable"
                                        - "--no-first-run"
                                        - "--disable-gpu"
                                        - "--headless"
                                        - "--window-size=1920,1080"
                                        - "--no-pings"
                                        - "--disable-renderer-backgrounding"
                system_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:9515'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--no-proxy-server"
                                        - "--no-sandbox"
                                        - "--dns-prefetch-disable"
                                        - "--no-first-run"
                                        - "--disable-gpu"
                                        - "--headless"
                                        - "--window-size=1920,1080"
                                        - "--no-pings"
                                        - "--disable-renderer-backgrounding"
                320_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:9515'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--no-proxy-server"
                                        - "--no-sandbox"
                                        - "--dns-prefetch-disable"
                                        - "--no-first-run"
                                        - "--disable-gpu"
                                        - "--headless"
                                        - "--window-size=320,640"
                                        - "--no-pings"
                                        - "--disable-renderer-backgrounding"

                640_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:9515'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--no-proxy-server"
                                        - "--no-sandbox"
                                        - "--dns-prefetch-disable"
                                        - "--no-first-run"
                                        - "--disable-gpu"
                                        - "--headless"
                                        - "--window-size=640,1100"
                                        - "--no-pings"
                                        - "--disable-renderer-backgrounding"
