# behat.yml
default: &default
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost.com/'
            default_session: 'first_session'
            sessions:
                second_session:
                    oroSelenium2:
                        wd_host: "http://localhost:8643/wd/hub"
                first_session:
                    oroSelenium2:
                        wd_host: "http://localhost:8643/wd/hub"
        Behat\Symfony2Extension:
            kernel:
                env: 'prod'
            context:
                path_suffix: 'Tests/Behat/Features'
                class_suffix: 'Tests\Behat\Context\FeatureContext'
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            shared_contexts:
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\OroMainContext
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\FixturesContext
                - Oro\Bundle\DataGridBundle\Tests\Behat\Context\GridContext
                - Oro\Bundle\SecurityBundle\Tests\Behat\Context\ACLContext
    autoload:
            - '%paths.base%/../../../../../../../../app/bootstrap.php.cache'
    suites: []

selenium2:
    <<: *default
    extensions:
        Behat\MinkExtension:
            sessions:
                second_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
                first_session:
                    oroSelenium2:
                        wd_host: 'http://localhost:4444/wd/hub'
