@name = user_reset_password_as_admin
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = Please reset your password
@isSystem = 1
@isEditable = 1

<!DOCTYPE html><html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <style>
        @media (max-width: 480pt) {
            .wrapper{
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <table class="wrapper" style="border-collapse: collapse; width: 640px; width: 480pt; max-width: 100%; box-sizing: border-box">
        <tr>
            <td style="background-color: #ffffff; padding: 4pt">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; color: #444444">Hello, {{ entity|oro_format_name }}!</span>
                <div style="height: 10pt; line-height: 10pt">&nbsp;</div>
                <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 5pt 0;">
                    This email was sent to you by administrator.
                </p>
                <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                    Administrator have requested to reset the password for your user account. If you want to reset your password,
                    please click "Reset Password" button and it takes you to a secure page where you can do it.
                </p>
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="padding: 5pt 0; background: #2ea63a; width: 130pt; text-align: center">
                            <a style="color: #ffffff; font-size: 11pt; text-transform: uppercase; text-decoration: none; line-height: 1em; font-family: Arial, Helvetica, sans-serif;" href="{{ oro_config_value('oro_ui.application_url') }}{{ path('oro_user_reset_reset', { token: entity.confirmationToken }) }}" target="_blank">
                                RESET&nbsp;PASSWORD
                            </a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                <p style="color: #888; font-size: 8pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 10pt 0 5pt 0;">
                    Please note that the button link above is only valid for 24 hours. If you don't want to reset your password,
                    please ignore this message. Your password will not be reset.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
