@name = user_reset_password_as_admin
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = Please reset your password
@isSystem = 1
@isEditable = 1

<table style="width: 100%; background: #F1F1F1;" border="0">
        <tbody>
        <tr>
                <td>&nbsp;</td>
                <td style="padding: 30px 0 15px 0; text-align: center;"><img src="oro_config_value('oro_ui.application_url') }}/bundles/oroui/images/platform_logo.png" alt="OroCRM" /></td>
                <td>&nbsp;</td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td style="width: 640px; background-color: #ffffff; padding: 25px;">
                        <table width="100%">
                                <tbody>
                                <tr>
                                        <td>
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; line-height: 21.6px;">
                                                        Hello, {{ entity|oro_format_name }}!
                                                </span>
                                        </td>
                                        <td  style="text-align: right; white-space: nowrap; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #aaaaaa">{{ system.currentDate }}</td>
                                </tr>
                                </tbody>
                        </table>
                        <p style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 10px 0px;">
                                This email was sent to you by administrator.
                        </p>
                        <p style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 10px 0px;">
                                Administrator have requested to reset the password for this Email address. If you want to reset your password, please click "Reset Password" button and it takes you to a secure page where you can do it.
                        </p>
                        <table style="width: 100%;">
                                <tbody>
                                <tr>
                                        <td>&nbsp;</td>
                                        <td style="padding: 7px 0; background: #2ea63a; width: 172px; text-align: center">
                                                <a style="color: #ffffff; font-size: 15px; text-transform: uppercase; text-decoration: none; line-height: 1em; font-family: Arial, Helvetica, sans-serif;" href="{{ oro_config_value('oro_ui.application_url') }}{{ path('oro_user_reset_reset', { token: entity.confirmationToken }) }}" target="_blank">
                                                        RESET&nbsp;PASSWORD
                                                </a>
                                        </td>
                                        <td>&nbsp;</td>
                                </tr>
                                </tbody>
                        </table>
                        <p style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 10px 0px;">
                                Please note that the button link above is only valid for 24 hours. If you don't want to reset your password, please ignore this message. Your password will not be reset.
                        </p>
                </td>
                <td>&nbsp;</td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td style="line-height: 1em; padding: 10px 0 35px 0; text-align: center;">
                        <span style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">
                                @2015 Oro Ink, All Rights Reserved
                        </span>
                </td>
                <td>&nbsp;</td>
        </tr>
        </tbody>
</table>
