<% obj.attributesTemplate = function(attributes) {
_.each(attributes, function(attribute, name) { %>
<%= name %><% if (!_.isNull(attribute)) { %>="<%= attribute %>"<% } %>
<% });
} %>
<% var togglerId = _.uniqueId('dropdown-') %>
<div class="<%= wrapperClassName %> dropdown">
    <a href="#" class="action btn
            <%= launcherMode == 'icon-only' ? 'btn-icon' : "" %>
            <%= className ? " " + className : "" %>
            <%= !enabled ? " disabled" : "" %>
            <%= launcherMode != '' ? 'mode-' +  launcherMode : "" %>
            dropdown-toggle"
        <%= attributesTemplate(attributes) %>
        title="<%= title %>"
        role="button" id="<%- togglerId %>" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="<%- label %>">
        <% if (launcherMode == 'icon-text') { %>
            <span class="fa-<%= icon %> hide-text" aria-hidden="true"></span>
            <%= label %>
        <% } else if (launcherMode == 'icon-only') { %>
            <span class="fa-<%= icon %> hide-text" aria-hidden="true"></span>
        <% } else if (launcherMode == 'text-only') { %>
            <% if (iconClassName) { %><span class="<%= iconClassName %>" aria-hidden="true"></span><% } %>
            <%= label %>
        <% } %>
    </a>
    <div class="dropdown-menu" aria-labelledby="<%- togglerId %>"></div>
</div>
