<% var togglerId = _.uniqueId('dropdown-') %>
<div class="dropdown btn-group">
    <button class="dropdown-toggle dropdown-toggle--no-caret" id="<%- togglerId %>"
            data-toggle="dropdown"
            data-placement="bottom-end"
            data-modifiers="<%- JSON.stringify({preventOverflow: {enabled: false}, hide: {enabled: false}}) %>"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="<%- _.__('oro.datagrid.mass_action.title') %>"
            title="<%- _.__('oro.datagrid.mass_action.title') %>"
            >
        <span class="fa-ellipsis-h icon" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu__action-column" aria-labelledby="<%- togglerId %>" data-action-panel></ul>
</div>
