<% obj.attributesTemplate = function(attributes) {
    _.each(attributes, function(attribute, name) { %>
        <%= name %><% if (!_.isNull(attribute)) { %>="<%= attribute %>"<% } %>
    <% });
} %>

<% if (links) { %><div class="btn-group"><% } %>

<<%= tagName %>
    <% if (tagName == "a") { %> href="<%= link %>"<% } %>
    class="action
        <%= className ? " " + className : "" %>
        <%= !enabled ? " disabled" : "" %>
        <% if (links) { %> dropdown-toggle<% } %>
    "
    <% attributesTemplate(attributes) %>
    title="<%= title %>"
    <% if (links) { %> data-toggle="dropdown"<% } %>>
    <% if (icon) { %>
        <i class="icon-<%= icon %> hide-text"><%= label %></i>
    <% } else { %>
        <% if (iconClassName) { %><i class="<%= iconClassName %>"></i><% } %>
        <%= label %>
    <% } %>
    <% if (links) { %><i class="caret"></i><% } %>
</<%= tagName %>>

<% if (links) { %>
    <ul class="dropdown-menu">
    <% _.each(links, function(item) { %>
        <li><a href="<%= link %>" title="<%= item.label %>"
            <% if (item.attributes) { attributesTemplate(item.attributes); } %>
            data-key="<%= item.key %>">
        <% if (item.icon) { %>
            <i class="icon-<%= item.icon %> hide-text"><%= item.label %></i>
        <% } else { %>
            <% if (item.iconClassName) { %><i class="<%= item.iconClassName %>"></i><% } %>
            <%= item.label %>
        <% } %>
        </a></li>
    <% }) %>
    </ul>
</div>
<% } %>
