<% obj.attributesTemplate = function(attributes) {
    _.each(attributes, function(attribute, name) { %>
        <%- name %><% if (!_.isNull(attribute)) { %>="<%- attribute %>"<% } %>
    <% });
} %>

<%
    actionClassNames = [];
    actionClassNames.push('action btn');
    if (className) {
        actionClassNames.push(className);
    }
    if (launcherMode == 'icon-only') {
        actionClassNames.push('btn-icon');
    }
    if (!enabled) {
        actionClassNames.push('disabled');
    }
    if (launcherMode != '') {
        actionClassNames.push('mode-' +  launcherMode);
    }
    actionClassNames.push('dropdown-toggle dropdown-toggle--no-caret');
%>

<% var togglerId = _.uniqueId('dropdown-') %>
<div class="<%- wrapperClassName %> dropdown">
    <a href="#" class="<%= actionClassNames.join(' ') %>"
       title="<%= title %>"
       role="button" id="<%- togglerId %>" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false" aria-label="<%- label %>"
       <% attributesTemplate(attributes) %>>
        <% if (launcherMode == 'icon-text') { %>
            <span class="<%- iconClassName ? iconClassName : 'fa-' + icon %>" aria-hidden="true"></span>
            <%= label %>
        <% } else if (launcherMode == 'icon-only') { %>
            <span class="<%- iconClassName ? iconClassName : 'fa-' + icon %>" aria-hidden="true"></span>
        <% } else if (launcherMode == 'text-only') { %>
            <% if (iconClassName) { %><span class="<%= iconClassName %>" aria-hidden="true"></span><% } %>
            <%- label %>
        <% } %>
    </a>
    <div class="dropdown-menu" aria-labelledby="<%- togglerId %>"></div>
</div>
