<% if (choices.length) { %>
    <% var gridViewTogglerId = _.uniqueId('dropdown-') %>
    <div class="views-group">
        <div id="<%- gridViewTogglerId %>"
             data-toggle="dropdown"
             data-placement="bottom-start"
             class="grid-views-toogler <% if (disabled) { %>disabled<% } %>"
             role="button"
             aria-haspopup="true"
             aria-expanded="false"
        >
            <% // this is already escaped in the title template %>
            <%= title %>
        </div>

        <% iconClass = _.filter(choices, function(choice) {return choice.icon !== false}).length ? ' has-icons' : '' %>
        <div class="grid-views-dropdown dropdown-menu<%-iconClass %>" aria-labelledby="<%- gridViewTogglerId %>">
            <% _.each(choices, function (choice) { %>
                <a class="grid-views-item dropdown-item" href="#" role="button" data-value="<%- choice.value %>">
                    <% if (choice.icon) { %>
                        <span class="grid-views-choice-icon <%- choice.icon %>" aria-hidden="true"></span>
                    <% } %>
                    <span class="grid-views-choice">
                        <%- choice.label %>
                    </span>
                </a>
            <% }); %>
        </div>
    </div>
<% } %>
<% if (showActions) { %>
    <% var gridViewActionsTogglerId = _.uniqueId('dropdown-') %>
    <div class="actions-group">
        <button id="<%- gridViewActionsTogglerId %>"
                class="grid-view-btn btn btn-link"
                data-toggle="dropdown"
                data-placement="bottom-start"
                data-modifiers="<%- JSON.stringify({preventOverflow: {enabled: false}, hide: {enabled: false}}) %>"
                aria-haspopup="true"
                aria-expanded="false"
        >
            <%- actionsLabel %>
        </button>
        <div class="dropdown-menu" aria-labelledby="<%- gridViewActionsTogglerId %>">
            <% _.each(actions, function(action) { %>
                <% if (action.enabled) { %>
                    <a href="#" role="button" class="grid-views-item dropdown-item <%- action.name %>"><%- action.label %></a>
                <% } %>
            <% }); %>
        </div>
        <% if (dirty) { %>
            <span class="edited-label">-&nbsp;<%- editedLabel %></span>
        <% } %>
    </div>
<% } %>
