<div class="btn-toolbar">
    <% if (choices.length) { %>
    <% var gridViewTogglerId = _.uniqueId('dropdown-') %>
    <div class="btn-group views-group">
        <button class="btn btn-link dropdown-toggle <% if (disabled) { %>disabled<% } %>" type="button"
                id="<%- gridViewTogglerId %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% // this is already escaped in the title template %>
            <%= title %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="<%- gridViewTogglerId %>">
            <% _.each(choices, function (choice) { %>
            <li><a href="#" data-value="<%- choice.value %>">
                <% if (choice.icon) { %><i class="<%- choice.icon %>"></i><% } %><%- choice.label %></a>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>
    <% if (showActions) { %>
    <% var gridViewActionsTogglerId = _.uniqueId('dropdown-') %>
    <div class="btn-group actions-group">
        <button class="btn btn-link dropdown-toggle" type="button"
             id="<%- gridViewActionsTogglerId %>"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%- actionsLabel %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="<%- gridViewActionsTogglerId %>">
            <% _.each(actions, function(action) { %>
                <% if (action.enabled) { %>
                    <li><a href="#" class="<%- action.name %>"><%- action.label %></a></li>
                <% } %>
            <% }); %>
        </ul>
        <% if (dirty) { %>
            <div class="edited-label">&nbsp;-&nbsp;<%- editedLabel %></div>
        <% } %>
    </div>
    <% } %>
</div>
