<% if (showLabels) { %>
    <span class="control-label"><%- _.__("View per page") %>: &nbsp;</span>
<% } %>
<% var togglerId = _.uniqueId('dropdown-') %>
<div class="btn-group">
    <button class="btn dropdown-toggle <% if (disabled) { %>disabled<% } %>" type="button"
            id="<%- togglerId %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="<%- _.__('View per page') %>" data-placement="bottom-end" data-position-fixed="false">
        <%- currentSizeLabel %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="<%- togglerId %>">
        <% _.each(items, function (item) { %>
        <li><a class="dropdown-item" href="#" data-size="<% if (_.isUndefined(item.size)) { %><%- item %><% } else { %><%- item.size %><% } %>"
               data-grid-pagesize-trigger>
            <% if (_.isUndefined(item.label)) { %><%- item %><% } else { %><%- item.label %><% } %></a></li>
        <% }); %>
    </ul>
</div>
<% if (showLabels) { %>
    <span><%- _.__("Per page") %></span>
<% } %>
