<% if (!_.isMobile()) { %>
    <span><%= _.__('oro.datagrid.pagination.label') %>:</span>
<% } %>

<% _.each(handles, function (handle) { %>
    <%
        var buttonClassNames = _.isDesktop() ? 'btn btn-icon btn-light pagination-trigger ' : 'btn btn-icon pagination-trigger ';
        buttonClassNames += handle.className ? handle.className : '';
    %>
    <button class="<%- buttonClassNames %>"
        <% if (handle.title) { %> title="<%- handle.title %>"<% } %>
    >
    <% if (handle.wrapClass) { %>
        <span <% if (handle.wrapClass) { %>class="<%- handle.wrapClass %>"<% } %>
            aria-hidden="true"
        >
            <%- handle.label %>
        </span>
    <% } else { %>
        <%- handle.label %>
    <% } %>
    </button>
<% }); %>

<% if (!_.isMobile()) { %>
    <span><%- _.__('oro.datagrid.pagination.totalPages', {totalPages: state.totalPages || 1}) %></span>
    <span><%- _.__('oro.datagrid.pagination.totalRecords', {totalRecords: state.totalRecords}) %></span>
<% } %>
