<% var togglerId = _.uniqueId('dropdown-') %>
<div class="btn-group dropdown">
    <button class="btn btn-light btn-small dropdown-toggle" type="button" id="<%- togglerId %>" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" aria-label="<%- _.__('oro.datagrid.headerCell.selectAll.label') %>"><input type="checkbox" data-select/>
        <span class="caret" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu__select-all-header-cell" aria-labelledby="<%- togglerId %>">
        <li><a href="#" data-select-all><%- _.__('oro.datagrid.headerCell.selectAll.all') %></a></li>
        <li class="all-visible"><a href="#" data-select-all-visible><%- _.__('oro.datagrid.headerCell.selectAll.allVisible') %></a></li>
        <li><a href="#" data-select-none><%- _.__('oro.datagrid.headerCell.selectAll.none') %></a></li>
    </ul>
</div>
