<% if (hasSortingOrderButton) { %>
<div class="sorting-label"><%=_.__('oro.datagrid.toolbar_sorting.label') %>:</div>
<% } %>
<select class="oro-select2 input-widget">
    <option value="not-selected" <% if (currentDirection === null) { %>selected="selected"<% } %>>
        <%= _.__('oro.datagrid.sorters.not_selected') %>
    </option>
    <% for(var i = 0; i < columns.length; i++) { %>
    <option value="<%= columns[i].value %>"<% if (selectedValue === columns[i].value) { %> selected="selected"<% } %>>
        <%- columns[i].label %>
        <% if (!hasSortingOrderButton) { %>
            &nbsp(<%=_.__('oro.datagrid.sorters.' + columns[i].sortingType + '.' + columns[i].directionValue) %>)
        <% } %>
    </option>
    <% } %>
</select>
<% if (hasSortingOrderButton) { %>
<a data-name="order-toggle" class="icon-sort-by-attributes<% if (currentDirection === 'ascending') { %>-alt<% } %>"></a>
<% } %>
