<% if (hasSortingOrderButton) { %>
<span class="sorting-label"><%=_.__('oro.datagrid.toolbar_sorting.label') %>:</span>
<% } else if (inlineSortingLabel) { %>
<span class="datagrid-tool__label"><%=_.__('oro.datagrid.toolbar_sorting.label') %>:</span>
<% } %>

<select class="oro-select2 oro-select2--size-s input-widget">
    <% if (disableNotSelectedOption === false || currentDirection === null) { %>
        <option value="not-selected" <% if (currentDirection === null) { %>selected="selected"<% } %>>
            <%= _.__('oro.datagrid.sorters.not_selected') %>
        </option>
    <% } %>
    <% for(var i = 0; i < columns.length; i++) { %>
    <option value="<%= columns[i].value %>"<% if (selectedValue === columns[i].value) { %> selected="selected"<% } %>><%- columns[i].label %><% if (!hasSortingOrderButton) { %>&nbsp(<%=_.__('oro.datagrid.sorters.' + columns[i].sortingType + '.' + columns[i].directionValue) %>)<% } %></option>
    <% } %>
</select>
<% if (hasSortingOrderButton) { %>
    <span class="sorting-divider" aria-hidden="true">|</span>
    <button data-name="order-toggle" class="order-toggle btn btn-icon btn-light">
        <span aria-hidden="true"
              data-name="order-toggle-icon"
              class="<% if (currentDirection === 'ascending') { %>fa-sort-amount-asc-alt<% } else { %>fa-sort-amount-asc<% } %>"
        ></span>
    </button>
<% } %>
