<div class="sorting-label"><%=_.__('oro.datagrid.toolbar_sorting.label') %>:</div>
<select>
    <% if (currentDirection === null) { %>
        <option value="not-selected" selected="selected">
            <%= _.__('oro.datagrid.sorters.not_selected') %>
        </option>
    <% } %>
    <% _.each(columns, function (column) { %>
        <option value="<%= column.name %>">
        <% if (_.isUndefined(column.label)) { %><%= column %><% } else { %><%= column.label %><% } %>
        </option>
    <% }); %>
</select>
<a data-name="order-toggle" class="icon-sort-by-attributes<% if (currentDirection === 'ascending') { %>-alt<% } %>"></a>
