@import "oroui/css/less/mixins";

.oro_attachment_file{
  border: none;
  padding: 5px 5px 0 5px;
  width: 295px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  .removeFile{
    margin: 0;
  }
  .filename{
    display:inline-block;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  .delete{
    float: right;
    line-height: 20px;
    margin-top: -4px;
    &:after {
      display:inline-block;
      font:14px/1em 'FontAwesome';
      color:#ddd;
      content: "\f014";
      text-indent:0;
    }
    &:hover:after {
      color:#888;
    }
  }
}
.attachment-file {
  div.uploader {
    border: none;
    float: none;
    input {
      cursor: pointer;
      width: 345px;
    }
    input:hover ~ span.action {
      color: @linkColorHover;
    }
    span.action {
      border: none;
      background: none;
      color: @linkColor;
      cursor: pointer;
    }
    .active  span.action {
      background: none;
    }
    span.filename {
      width: 85px;
    }
    .focus {
      border: none;
      box-shadow: none;
    }
  }
  div.uploader.focus {
    border: none;
    box-shadow: none;
    span.action {
      color: @linkColor;
    }
  }
}
