<% if (id !== null) { %>
    <span class="select2-result-label-icon"><img src="<% if (avatar) { %><%= avatar %><% } else { %>{{ asset('bundles/oroui/img/avatar-xsmall.png')|e('html_attr')|raw }}<% } %>" width="16" height="16" /></span><span class="select2-result-label-title"><%= highlight(_.escape(fullName)) %> - <%= highlight(_.escape(email)) %> (<%= highlight(_.escape(username)) %>)</span>
<% } else { %>
    <span class="select2-result-label-title"><%= highlight(_.escape(email)) %></span>
<% } %>
