<span class="select2-result-label-icon"><img src="<% if (avatar) { %><%= avatar %><% } else { %>{{ asset('bundles/oroui/img/avatar-xsmall.png')|e('html_attr')|raw }}<% } %>" width="16" height="16" /></span><span class="select2-result-label-title"><%= _.escape(fullName) %></span>
