{% extends 'OroActivityListBundle:ActivityList/js:view.html.twig' %}

{% block activityIcon %}
    <i class="{{ oro_entity_config_value(entityClass|default(), 'icon')|raw }}"></i>
{% endblock %}

{% block activityActions %}
    <div class="dropdown vertical-actions activity-actions">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle activity-item">...</a>
        <ul class="dropdown-menu activity-item pull-right">
            {% for action in actions|default([]) %}
                <li class="activity-action">{{ action|raw }}</li>
            {% endfor %}
            {% include 'OroActivityListBundle:ActivityList/js:workflowTemplate.html.twig' %}
        </ul>
    </div>
{% endblock %}
