{% extends 'OroActivityListBundle:ActivityList/js:view.html.twig' %}

{% block activityIcon %}
    <span class="{{ oro_entity_config_value(entityClass|default(), 'icon')|raw }}" aria-hidden="true"></span>
{% endblock %}

{% block activityActions %}
    <% var togglerId = _.uniqueId('dropdown-') %>
    <div class="vertical-actions activity-actions">
        <button id="<%- togglerId %>" data-placement="left-start" data-toggle="dropdown" class="btn btn-icon btn-light-custom dropdown-toggle dropdown-toggle--no-caret activity-item"
           aria-haspopup="true" aria-expanded="false" aria-label="{{ 'oro.activitylist.actions.label'|trans }}">
           <span class="fa-ellipsis-h"></span>
        </button>
        <ul class="dropdown-menu dropdown-toggle--no-caret activity-item" role="menu" aria-labelledby="<%- togglerId %>">
            {% for action in actions|default([]) %}
                <li class="activity-action">{{ action|raw }}</li>
            {% endfor %}
            {% include 'OroActivityListBundle:ActivityList/js:workflowTemplate.html.twig' %}
        </ul>
    </div>
{% endblock %}
