<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="items list-box list-shaped"></div>
    <div class="no-data">
        {{ "oro.activitylist.no_activities_exist"|trans|raw }}
    </div>
</script>
