<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="items list-box list-shaped"></div>
    <div class="no-data">
        <span>{{ "oro.activitylist.no_activities_exist"|trans|raw }}</span>
    </div>
</script>
