<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <% var labelId = _.uniqueId('label-') %>
    <% var regionId = _.uniqueId('region-') %>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#<%- regionId %>" data-toggle="collapse" aria-expanded="<%- collapsed ? 'false' : 'true' %>"
               aria-controls="<%- regionId %>"
               class="btn btn-icon btn-light-custom accordion-icon<% if (collapsed) { %> collapsed<% } %>"
               title="<%- _.__(collapsed ? 'Expand' : 'Collapse')%>"
               data-collapsed-title="{{ 'Expand'|trans }}"
               data-expanded-title="{{ 'Collapse'|trans }}"
               role="button"
            >
                <span class="fa-icon"></span>
            </a>
            <div class="icon">
                {% block activityIcon %}
                {% endblock %}
            </div>
            <div id="<%- labelId %>" class="details">
                {% block activityDetails %}
                {% endblock %}
            </div>
            <div class="extra-info">
                <div class="message-item message">
                    <div class="message-description">
                        <b class="message-subject"><%- _.unescape(subject) %></b>
                        <% if (!_.isUndefined(description) && !_.isEmpty(description)) { %>
                        - <%= description %>
                        <% } %>
                    </div>
                    {% block activityShortMessage %}
                    {% endblock %}
                </div>
                <div class="comment-count"<% if (!commentCount) { %> style="display:none"<% } %>
                    title="<%= _.__('oro.activitylist.comment.quantity_label') %>">
                    <span class="fa-comment" aria-hidden="true"></span><span class="count"><%= commentCount %></span>
                </div>
            {% block activityDate %}
                <div class="created-at">
                    <span class="date"><%= updatedAt %></span>
                </div>
            {% endblock %}
            </div>
            <div class="actions">
                {% block activityActions %}
                {% endblock %}
            </div>
        </div>
        <div id="<%- regionId %>" role="region" aria-labelledby="<%- labelId %>" class="accordion-body collapse<% if (!collapsed) { %> show<% } %>">
            <div class="message">
                {% block activityContent %}
                    <div class="activity-item-content">
                        {# Do NOT remove. Placeholder for activity view #}
                        <div class="info responsive-cell"></div>
                        <% if (has_comments && commentable) { %>
                        <div class="responsive-cell">
                            {# placeholder for comments block#}
                            <div class="comment"></div>
                        </div>
                    </div>
                    <% } %>
                {% endblock %}
            </div>
        </div>
    </div>
</script>
