<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> in<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="visual">
                    <span><%= relatedActivityClass %></span>
                </span>
                <span class="details">
                    <i class="date"><%= createdAt %></i>
                    <i class="date"><%= updatedAt %></i>
                </span>
            </div>
            <div class="message-item">
                <div class="message"><%= subject %></div>
            </div>
            <div class="actions"></div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="message">
                <!-- Do NOT remove. Placeholder for activity view -->
            </div>
        </div>
    </div>
</script>
