.mobile-version {
  .workflow-steps-container {
    margin-top: 6px;
    width: auto;
    .box-type1 {
      margin: 0;
      > .row-fluid {
        position: relative;
      }
    }
    .widget-content {
      overflow-x: auto;
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        width: 0;
        z-index: 1;
        .box-shadow(0px 0 14px 12px white);
      }
      &:after {
        left: auto;
        right: 0;
      }
    }
    .workflow-step-list {
      white-space: nowrap;
      display: inline-block;
    }
  }
}
