$notifications-offset: 6px 9px;
$notifications-color: get-color('addditiolan', 'slight-lightest');
$notifications-text-color: get-color('addditiolan', 'middle');
$notifications-error-color: get-color('ui', 'error');
$notifications-error-text-color: get-color('ui', 'error-dark');
$notifications-success-color: get-color('ui', 'success');
$notifications-success-text-color: get-color('ui', 'success-dark');
$notifications-warring-color: get-color('ui', 'warring');
$notifications-warring-text-color: get-color('ui', 'warring-dark');
