/* @theme: admin.oro; */

$email-detailed-info-table-icon: $fa-var-caret-square-o-down !default;
$email-detailed-info-table-icon-size: 16px !default;

$email-detailed-info-table-recipients-font-size: 13px !default;

$email-detailed-info-table-toggle-height: 20px !default;
$email-detailed-info-table-toggle-offset: 0 6px !default;
