/* @theme: admin.oro; */

$email-dropdown-bg: $primary-inverse !default;
$email-default-text-color: $primary-200 !default;
$email-highlight-bg: $extra-300 !default;
$email-highlight-icon-color: $extra !default;
$email-item-counter-bg: $extra !default;
$email-item-counter-text-color: $primary-inverse !default;
$email-active-mail-icon: $fa-var-envelope !default;
$email-inactive-mail-icon: $fa-var-envelope-o !default;
$email-recent-emails-popup-width: 252px !default;
