/* @theme: admin.oro; */

$email-detail-info-width: 540px !default;

$email-detail-info-offset: 4px 16px 8px !default;

$email-detail-info-td-offset: 8px !default;

$email-detail-info-label-offset: 12px !default;
$email-detail-info-label-color: $primary-550 !default;

$email-detail-info-value-color: $primary-200 !default;


// Medium view
$email-detail-info-width-md: 440px !default;


// Small view
$email-detail-info-width-sm: 320px !default;
