/* @theme: admin.oro; */

$oro-quarter-width: auto !default;
$oro-quarter-min-width: 68px !default;
$oro-quarter-float: left !default;
$oro-quarter-offset-right: 8px !default;
$oro-quarter-span-width: auto !default;
$oro-quarter-select-width: auto !default;
$oro-quarter-select-min-width: 50px !default;

$fallback-container-status-width: 36px !default;
$fallback-container-status-text-align: center !default;
$fallback-container-status-line-height: 32px !default;
$fallback-container-status-height: 32px !default;
$fallback-container-input-offset-top: 0 !default;
$fallback-container-select-width: 100% !default;
$fallback-container-select-max-width: 234px !default;
$fallback-container-select-float: left !default;
$fallback-container-select-span-inner-offset-right: 18px !default;
$fallback-container-select-span-min-width: 230px !default;

$mce-tinymce-opacity: .4 !default;
$mce-tinymce-disabled-overlay-position: absolute !default;
$mce-tinymce-disabled-overlay-top: 0 !default;
$mce-tinymce-disabled-overlay-left: 0 !default;
$mce-tinymce-disabled-overlay-width: 100% !default;
$mce-tinymce-disabled-overlay-height: 100% !default;
$mce-tinymce-disabled-overlay-background: #eee !default;
$mce-tinymce-disabled-overlay-opacity: .4 !default;

$fallback-item-border: 1px solid $primary-860 !default;

$fallback-item-top-offset: 10px 0 !default;
$fallback-item-value-top-inner-offset-top: 5px !default;
$fallback-item-label-max-width: 294px !default;
$fallback-item-label-offset: 10px 0 !default;

$fallback-item-fallback-line-offset: 10px 0 !default;

$fallback-item-fallback-min-width: 50% !default;
$fallback-item-fallback-max-width: 80% !default;

$fallback-item-use-fallback-width: 20% !default;
$fallback-item-use-fallback-max-width: 50% !default;

$fallback-item-mce-tinymce-width: 100% !important !default;

$fallback-status-font-size: 16px !default;
$fallback-status-cursor: pointer !default;

$fallback-item-value--first-display: inline-flex !default;
$fallback-item-value--first-width: auto !default;
$fallback-item-value--first-validation-width: 100% !default;
$fallback-item-value--first-validation-order: 1 !default;

$fallback-item-value--first-input-group-offset-end: 4px !default;
