{% extends 'OroNavigationBundle:Menu:_htabs.html.twig' %}

{% block item %}
    {{ block('item_renderer') }}
{% endblock %}

{% block item_renderer %}
    {% set showNonAuthorized = item.extras.show_non_authorized is defined and item.extras.show_non_authorized %}
    {% set displayable = item.extras.isAllowed or showNonAuthorized %}
    {% if item.displayed and displayable %}
        {# displaying the item #}
        <li>
            {{ block('linkElement') }}
        </li>
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
    {% set class = [''] %}
    {% set linkAttributes = item.linkAttributes %}
    {% if item.extras.active_if_first_is_empty is defined and item.extras.active_if_first_is_empty %}
        {% set linkAttributes = linkAttributes|merge({
            'aria-selected': 'true'
        }) %}
        {% set class = class|merge(['active']) %}
    {% else %}
        {% set linkAttributes = linkAttributes|merge({
            'aria-selected': 'false'
        }) %}
    {% endif %}
    {% set linkAttributes = linkAttributes|merge({
        'id': item.name|replace({' ': '_', '#': '_'})|lower|trim ~ '-tab',
        'href': '#' ~ item.name|replace({' ': '_', '#': '_'})|lower|trim ~ '-content',
        'class': class|join(' '),
        'role': 'tab',
        'data-toggle': 'tab',
        'aria-controls': item.name|replace({' ': '_', '#': '_'})|lower|trim ~ '-content'
    }) %}
    <a {{ oro_menu.attributes(linkAttributes) }}>{{ block('label') }}</a>
{% endblock %}
