{% if isDesktopVersion() %}
<div class="list-bar-wrapper">
    <div class="list-bar">
      <ul></ul>
      <div class="pin-bar-empty" ><a href="{{ path('oro_pinbar_help') }}">{{ 'Learn how to use this space'|trans }}</a></div>
    </div>
</div>
{% endif %}
