{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% macro get_options(attributes, data) %}
    {%- set options = {} %}
    {%- for attribute in attributes %}
        {%- if data[attribute] is defined %}
            {%- set options = options|merge({(attribute): data[attribute]}) %}
        {%- endif %}
    {%- endfor %}
    {{- options|json_encode -}}
{% endmacro %}

{% block list %}
    {% set pinbarItems = [] %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% for pinbarItem in item.children %}
            {% if pinbarItem.extras.isAllowed %}
                {% set pinbarItems = pinbarItems|merge([{'id': pinbarItem.extras.id, 'title': pinbarItem.label, 'title_rendered': oro_title_render(pinbarItem.label), 'title_rendered_short': oro_title_render_short(pinbarItem.label), 'url': pinbarItem.uri, 'type': pinbarItem.extras.type}]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% import _self as pinbar %}
    {% set frontendOptions = ['maxPinbarItems', 'el', 'listBar', 'tabTitle', 'tabIcon', 'minimizeButton', 'closeButton', 'defaultUrl'] %}
    <div class="hide" data-data="{{ pinbarItems|json_encode }}" data-options="{{- pinbar.get_options(frontendOptions, options) -}}"></div>
{% endblock %}
