{% extends '@OroNavigation/Menu/dropdown.html.twig' %}

{% block children %}
    <li class="nav-header nav-header-title ">{{ app.user|oro_format_name|default('') }}
        <button class="btn-link btn-close fa-close hide-text" data-role="close">{{ 'Close'|trans }}</button>
    </li>
    {{ parent() }}
{% endblock %}
