{% set togglerId = 'dropdown-'|uniqid %}
<button id="{{ togglerId }}"
        type="button"
        class="dropdown-toggle{% if isMobileVersion() %} dropdown-toggle--no-caret{% endif %}"
        data-toggle="dropdown"
        aria-label="{{ 'oro.user.menu.user_menu.label'|trans }}" aria-haspopup="true" aria-expanded="false"
>
    {% if isMobileVersion() %}
        <span class="fa-user-circle" aria-hidden="true"></span>
    {% else %}
        {% set user_name = app.user|oro_format_name %}
        {{ user_name }}
        {% if app.user.avatar is defined %}
            {% include '@OroAttachment/Twig/picture.html.twig' with {
                file: app.user.avatar,
                filter: 'avatar_med',
                img_attrs: { alt: user_name, class: 'avatar' },
            } %}
        {%  endif %}
    {% endif %}
</button>
{% set options = options|merge({togglerId: togglerId}) %}
{% if isMobileVersion() %}
    {% include '@OroNavigation/Menu/user_menu_mobile.html.twig' %}
{% else %}
    {% include '@OroNavigation/Menu/dropdown.html.twig' %}
{% endif %}
