<div class="choice-tree-filter" data-choice-tree-template>
    <input type="hidden" name="value">
    <input type="hidden" name="type">

    <div class="filter-action-row">
        <button type="button"
            data-role="clear-filter"
            class="btn btn--flat filter-clear hidden"
            aria-label="<%- clearFilterButtonAriaLabel %>"
        ><%- _.__("oro.filter.clearFilterButton.text") %></button>
        <button type="button"
            class="btn btn--outlined filter-update"
            aria-label="<%- updateButtonAriaLabel %>"
        ><%- _.__("oro.filter.updateButton.text") %></button>
    </div>
</div>
