<% if (!tabs.length) { %>
    <div id="calendar<%- suffix %>"></div>
<% } else { %>
    <ul class="nav nav-tabs nav-tabs-oro">
        <% _.each(tabs, function (tab, i) { %>
        <li class="nav-item">
            <a class="nav-link <%- tab.name %><% if (i === 0) { %> active<% } %>" href="#<%- tab.name %><%- suffix %>" role="button"><%- tab.label %></a>
        </li>
        <% }); %>
    </ul>
    <div class="tab-content">
        <% _.each(tabs, function (tab, i) { %>
            <div class="tab-pane<% if (i === 0) { %> active<% } %>" id="<%- tab.name %><%- suffix %>"></div>
        <% }); %>
    </div>
<% } %>
