<div class="choice-filter number-range-filter" data-number-range-filter-template>
    <% let orofilter = _.macros('orofilter') %>
    <%= orofilter.selectCondition({
        choices: choices,
        choiceAriaLabel: choiceAriaLabel,
        selectedChoice: selectedChoice
    }) %>
    <div class="value-field-frame">
        <div class="filter-value">
            <div class="filter-value-range">
                <div class="filter-start">
                    <input class="input input--full"
                       type="number"
                       value="<%- value.value %>"
                       name="value"
                       aria-label="<%- rangeStartFieldAriaLabel %>"
                    >
                </div>
                <span class="filter-separator" aria-hidden="true">-</span>
                <div class="filter-end">
                    <input class="input input--full"
                       type="number"
                       value="<%- value.value_end %>"
                       name="value_end"
                       aria-label="<%- rangeEndFieldAriaLabel %>"
                    >
                </div>
            </div>
        </div>
        <input class="name_input" type="hidden" name="<%- name %>" id="<%- name %>" value="<%- selectedChoice %>">

        <div class="filter-action-row">
            <% if (allowClearButtonInFilter) { %>
                <button type="button"
                    data-role="clear-filter"
                    class="btn btn--flat filter-clear hidden"
                    aria-label="<%- clearFilterButtonAriaLabel %>"
                ><%- _.__("oro.filter.clearFilterButton.text") %></button>
            <% } %>
            <button type="button"
                class="btn filter-update"
                aria-label="<%- updateButtonAriaLabel %>"
            ><%- _.__("oro.filter.updateButton.text") %></button>
        </div>
    </div>
</div>
