<% if (choices.length) { %>
<div class="filter-select-oro-wrapper" data-select-field-template>
    <div class="selectable-group">
        <% let uniqueGroupName = _.uniqueId('name-'); %>
        <% _.each(choices, function (option) { %>
            <% let uniqueId = _.uniqueId('radio-') %>
            <div class="selectable-group__item">
                <label class="checkbox-label " data-radio="data-radio" for="<%- uniqueId %>" aria-label="<%- choiceAriaLabel %>">
                    <input
                        type="radio"
                        id="<%- uniqueId %>"
                        name="<%- uniqueGroupName %>"
                        value="<%- option.value %>"
                        <% if (typeof(dataName) !== "undefined") { %>
                            data-name="<%- dataName %>"
                        <% } %>
                        <% if (option.value == selectedChoice) { %>
                            checked="checked"
                        <% } %>
                        data-choice-value-select
                    >
                    <%- option.label %>
                </label>
            </div>
        <% }); %>
    </div>
</div>
<% } %>
