# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    check_methods_safety:
        Oro\Bundle\CurrencyBundle\Query\CurrencyQueryBuilderTransformerInterface:
            getTransformSelectQuery: [0, 2, 3]
