/* @theme: admin.oro; */

$fallback-width: 100% !default;

$fallback-mce-tinymce-width: 100% !default;

$fallback-item-use-fallback-status-line-height: 40px !default;
$fallback-item-use-fallback-status-height: 40px !default;

$fallback-item-mobile-max-width: none !default;

$fallback-item-value-mobile-width: 100% !default;

$fallback-item-mobile-label-max-width: 100% !default;

$fallback-item-value-mobile--first-width: 100% !default;
$fallback-item-value-mobile--first-input-width: 100% !default;

$fallback-container-select-mobile-width: 100% !default;
$fallback-container-select-span-mobile-min-width: 100% !default;
