/* @theme: admin.oro; */

$fallback-width: 100% !default;
$fallback-content-sidebar-width: 100% !default;

$fallback-mce-tinymce-width: calc(100% - 40px) !default;
$fallback-mce-container-status-left: 0 !default;

$fallback-item-table-width: calc(100% - 29px) !default;

$fallback-item-value-width: 100% !default;
$fallback-item-value-input-width: calc(100% - 40px) !default;

$fallback-status-inner-offset-right: 0 !default;

$fallback-item-use-fallback-status-width: 40px !default;
$fallback-item-use-fallback-status-line-height: 36px !default;
$fallback-item-use-fallback-status-height: 40px !default;
