/* @theme: admin.oro; */

@import "oroui/css/scss/mixins";

.enum-value-collection {
    position: relative;
    width: 297px;

    &__clear-default {
        position: absolute;
        bottom: 8px;
        #{$end}: 32px;

        &.disabled {
            display: none;
        }
    }
}
