/* @theme: admin.oro; */

#entity_extend_unique_key_collection select {
    margin: 0;
}

div.disabled-choice {
    div.selector {
        background: none;
        border: none;

        span {
            color: inherit;

            &:after {
                content: '';
            }
        }
    }
}

.unique-keys {
    width: 500px;
}
