/* @theme: blank; */

@mixin base-ui-element(
    $use-base-style:   false,
    $padding:          $base-ui-element-offset,
    $font-size:        $base-ui-element-font-size,
    $font-family:      $base-ui-element-font-family,
    $line-height:      $base-ui-element-line-height,
    $border:           $base-ui-element-border,
    $border-radius:    $base-ui-element-border-radius,
    $background-color: $base-ui-element-bg-color,
    $color:            $base-ui-element-color,
    $appearance:       true
    ) {
    @if ($use-base-style) {
        display: inline-block;
        padding: $padding;
        max-width: 100%;

        font-size: $font-size;
        font-family: $font-family;
        line-height: $line-height;

        border: $border;
        border-radius: $border-radius;
        background-color: $background-color;
        color: $color;

        vertical-align: middle;

        text-decoration: none;

        touch-action: manipulation;

        box-sizing: border-box;

        @if ($appearance) {
            @include appearance();
        }

        &--full,
        &.full {
            width: 100%;
        }
    }
}
