/* @theme: admin.oro; */

.multi-currency-editor {
    &.multi-currency-editor__single-currency {
        min-width: $multi-currency-editor-single-width;

        .add-on {
            display: flex;
            align-items: center;
            height: auto;
            min-width: initial;
            padding-#{$start}: $multi-currency-editor-single-offset;
            padding-#{$end}: $multi-currency-editor-single-offset;
            margin-#{$start}: -$input-border-width;

            border: $multi-currency-editor-single-border;
            background-color: $multi-currency-editor-single-color;
        }

        .inline-editor__actions {
            #{$start}: 100%;
            #{$end}: auto;
            margin-#{$start}: -$input-border-width;
        }
    }

    &.multi-currency-editor__multi-currency {
        min-width: $multi-currency-editor-multi-width;

        .add-on {
            display: none;
        }

        .select2-choice {
            padding-#{$end}: $multi-currency-editor-multi-choice-offset;

            &:after {
                display: none;
            }
        }

        .select2-container {
            width: auto;
        }

        .select2-container-active {
            &:after {
                #{$start}: $multi-currency-editor-multi-choice-offset;
            }
        }
    }

    .inline-editor__actions {
        bottom: 0;
        z-index: auto;

        display: flex;
        padding: 0;

        background: $multi-currency-editor-multi-actions-color;
        border: $multi-currency-editor-multi-actions-border;
    }

    .inline-editor__fields {
        display: flex;
        margin: 0;

        input[type="text"] {
            text-align: #{$end} !important; // Rewrite hard selectors
            padding-#{$end}: $multi-currency-editor-multi-fields-offset !important; // Rewrite hard selectors
        }
    }

    .form-control {
        &.error,
        &:focus {
            position: relative;
            z-index: 1;
        }
    }

    .select2-container {
        margin-#{$start}: -$input-border-width;
    }

    .select2-container-active {
        z-index: $multi-currency-editor-multi-choice-active-z-index;

        &:before,
        &:after {
            position: absolute;
            top: -$input-border-width;
            bottom: -$input-border-width;
            z-index: 1;

            width: $input-border-width;
            background-color: $multi-currency-editor-multi-choice-active;

            content: '';
        }

        &:before {
            #{$start}: -$input-border-width;
        }
    }
}
