{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% set folders = record.getValue('folders') %}
{% set thread = record.getValue('email.thread') %}
{% set isNew = record.getValue('is_new') %}

{% if thread is not null  %}
    {% set recipients = oro_get_email_thread_recipients(thread) %}
{% else %}
    {% set recipients = record.getValue('email.recipients') %}
{% endif %}

<span class="nowrap">
{% if folders is not null %}
    {% if folders[0].type == 'sent' or folders[0].type == 'drafts' %}
        <span class="icon grid">
            <i class="icon-signout"></i>
        </span>
    {% else %}
        <span class="icon grid">
            <i class="icon-signin"></i>
        </span>
    {% endif %}
{% endif %}

{% if (recipients|length > 0 and recipients|length < 3) %}
    {% if isNew == 1 %}
        <strong>
    {% endif %}
        {{ EA.email_participants_name(recipients, true, false) }}
    {% if isNew == 1 %}
        </strong>
    {% endif %}
{% else %}
        {% if isNew == 1 %}
            <strong>
        {% endif %}

        {% set firstEmail = recipients[0] %}
        {% set lastEmail = recipients[recipients|length - 1] %}
        {{
            EA.email_participant_name_or_me(firstEmail.emailAddress, firstEmail.name, true, false)
        }}..{{
            EA.email_participant_name_or_me(lastEmail.emailAddress, lastEmail.name, true, false)
        }}
        {% if isNew == 1 %}
            </strong>
        {% endif %}

{% endif %}
{% if thread is not null and thread.emails|length > 1 %}
    {% if isNew == 1 %}
        <strong>
    {% endif %}
        ({{ thread.emails|length }})
    {% if isNew == 1 %}
        </strong>
    {% endif %}

{% endif %}
</span>
