{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% set date = record.getValue('receivedAt') %}
{% set isNew = record.getValue('is_new') %}

<span class="nowrap">
    {% if isNew == 1 %}
    <strong>
        {% endif %}
        {{ date|oro_format_datetime }}
        {% if isNew == 1 %}
    </strong>
    {% endif %}
</span>

