{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% set date = record.getValue('email.sentAt') %}
{% set isNew = record.getValue('is_new') %}

<span class="nowrap">
    {% if isNew == 1 %}
        <strong>
    {% endif %}
        {{ EA.date_smart_format(date) }}
    {% if isNew == 1 %}
        </strong>
    {% endif %}
</span>
