{% import 'OroEmailBundle::macros.html.twig' as EA %}
{% set emailBody = {bodyContent: record.getValue('body_content')} %}
{% set isNew = record.getValue('is_new') %}
{% set valueToShow = value ? value : 'oro.email.subject.no_subject.label'|trans %}

<div class="nowrap-ellipsis">
    <div>
        {% if isNew == 1 %}
            <strong class="email-subject">{{ valueToShow }}</strong>
        {% else %}
            <span class="email-subject">{{ valueToShow }}</span>
        {% endif %}
        {% if emailBody.bodyContent is defined %}
            <div class="email-body">{{ EA.email_short_body(emailBody) }}</div>
        {% endif %}
    </div>
</div>
<div class="td-expander"></div>
