{% set thread = record.getValue('thread') %}

<span class="thread-icon">
    <span class="icon head">
        <i class="icon-envelope"></i>
    </span>
    {%- if thread is not null and oro_config_value('oro_email.use_threads_in_emails') -%}
        <span class="icon head-alt">
            <i class="icon-envelope-alt"></i>
        </span>
    {% endif %}
</span>
