/* @theme: admin.oro; */

$sort-datagrid-icon-cell-width: 60px !default;
$sort-datagrid-icon-cell-text-align: center !default;
$sort-datagrid-sorted-row-bg-color: $primary-900 !default;
$sort-datagrid-sorted-row-hovered-bg-color: $extra-300 !default;
$sort-datagrid-selected-row-bg-color: $extra-300 !default;
$sort-datagrid-separator-shadow-color: $primary-800 !default;

$sort-datagrid-sort-icon: $fa-var-arrows-v !default;
$sort-datagrid-sorted-sort-icon: $fa-var-anchor !default;
