/* @theme: admin.oro; */

$sorting-placeholder-border-color: $primary-800 !default;
$sorting-placeholder-thin-box-shadow-color: $secondary-dark !default;
$sorting-placeholder-thin-box-shadow-size: 1px !default;
