/* @theme: admin.oro; */

.#{$app-prefix} {
    &cv-canvas {
        &:not(.desktop) {
            background-color: transparent;
            background-image: $canvas-pattern;
            background-size: $canvas-pattern-size;
            background-position: $canvas-pattern-position;
        }

        &.tablet,
        &.tablet-small,
        &.mobile,
        &.mobile-small,
        &.mobile-big,
        &.mobile-landscape {
            .gjs-frame {
                border: solid $primary-800;
                border-radius: 55px;
                border-width: 55px 20px 75px;
            }

            .gjs-highlighter,
            .gjs-badge,
            .gjs-toolbar {
                margin-left: 20px;
                margin-top: 55px;
            }
        }

        &.mobile-landscape {
            .gjs-frame {
                border: solid #e9e9e9;
                border-radius: 55px;
                border-width: 20px 75px 20px 55px;
            }

            .gjs-highlighter,
            .gjs-badge,
            .gjs-toolbar {
                margin-left: 55px;
                margin-top: 20px;
            }
        }
    }

    &pn-commands {
        box-shadow: none;
        padding: 0;
    }

    &pn-devices-c {
        .gjs-pn-btn {
            font-family: FontAwesome;

            &.desktop {
                &:before {
                    content: $fa-var-desktop;
                }
            }

            &.tablet {
                font-size: $base-font-size--l + 2px;
            }

            &.tablet,
            &.tablet-small {
                &:before {
                    content: $fa-var-tablet;
                }
            }

            &.mobile-big {
                font-size: $base-font-size--l + 2px;
            }

            &.mobile {
                font-size: $base-font-size--l;
            }

            &.mobile,
            &.mobile-big,
            &.mobile-small {
                &:before {
                    content: $fa-var-mobile;
                }
            }

            &.mobile-landscape {
                transform: rotate(90deg);
                &:before {
                    content: $fa-var-mobile;
                }
            }
        }
    }
}
