/* @theme: admin.oro; */

@media only screen and (max-width: $dashboard-big-numbers-two-column-gate) {
    .big-numbers-items > li {
        width: 50% !important;

        &:nth-child(even):after {
            width: calc(200% - 30px);

            content: '';
        }

        &:nth-child(3n):after, &:last-child:after {
            content: normal;
        }
    }
}

@media only screen and (max-width: $dashboard-big-numbers-one-column-gate) {
    .big-numbers-items > li {
        &, &.has-2-items, &.has-4-items {
            width: 100% !important;

            &:after, &:nth-child(3n):after, &:nth-child(even):after {
                width: calc(100% - 30px);

                content: '';
            }

            &:last-child:after {
                content: normal;
            }
        }
    }
}
