/* @theme: admin.oro; */

.dashboard-container-wrapper {
    min-height: calc(100vh - #{$app-header-height} - 1px);

    .responsive-section {
        .responsive-cell > div {
            padding: 0;
        }
    }

    .scrollable-container {
        padding-top: $dashboard-wrapper-mobile-offset;
    }

    .dashboard-widget {
        .action-wrapper.sortable {
            display: none;
        }
    }
}

.chart-container {
    & > .clearfix {
        max-width: 100%;

        .chart-legend {
            padding-bottom: 8px;
        }
    }
}

.widget-configuration {
    .widget-title-widget {
        float: none;
        margin-#{$end}: 0;
    }

    .date-range-filter {
        max-width: 300px;

        .control-group .filter-select-oro {
            height: 32px;
            max-width: initial;

            line-height: 32px;
        }

        .filter-start-date,
        .filter-end-date {
            max-width: calc(50% - 10px);

            input {
                line-height: 32px;
            }
        }
    }

    .control-label.wrap {
        width: auto;
    }
}

.dashboard-widgets-add {
    margin-left: 0;
}
