/* @theme: admin.oro; */

$dashboard-wrapper-mobile-offset: 0 !default;
$dashboard-mobile-action-column-width: 124px !default;
$dashboard-mobile-items-btn-size: 28px !default;
$dashboard-mobile-items-btn-space: 8px !default;
