<script type="text/html" id="template-datagrid-action-header-cell">
    <div class="dropdown btn-group">
        <button type="button" class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown" title="{{ 'oro.grid.mass_action.label'|trans }}">
            <i class="icon-cog"></i>
            <i class="caret"></i>
        </button>
        <ul class="dropdown-menu" data-action-panel></ul>
    </div>
</script>
