<script type="text/template" id="template-datagrid-grid-view-label">
    <% if (navbar) { %>
        <h1 class="oro-subtitle"><%= title %><span class="caret"></span></h1>
    <% } else { %>
        <%= title %><span class="caret"></span>
    <% } %>
</script>
