<script type="text/template" id="template-datagrid-grid-view">
    <div class="btn-toolbar">
        <% if (choices.length) { %>
            <div class="btn-group views-group">
                <div data-toggle="dropdown" class="btn btn-link dropdown-toggle <% if (disabled) { %>disabled<% } %>">
                    {# this is already escaped in the title template #}
                    <%= title %>
                </div>
                <ul class="dropdown-menu">
                    <% _.each(choices, function (choice) { %>
                        <li><a href="#" data-value="<%- choice.value %>">
                                <% if (choice.icon) { %><i class="<%- choice.icon %>"></i><% } %><%- choice.label %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        <% if (showActions) { %>
            <div class="btn-group actions-group">
                <div class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                    <%- actionsLabel %>
                </div>
                <ul class="dropdown-menu">
                    <% _.each(actions, function(action) { %>
                        <% if (action.enabled) { %>
                            <li><a href="#" class="<%- action.name %>"><%- action.label %></a></li>
                        <% } %>
                    <% }); %>
                </ul>
                <% if (dirty) { %>
                <div class="edited-label">&nbsp;-&nbsp;<%- editedLabel %></div>
                <% } %>
            </div>
        <% } %>
    </div>
</script>
