<script type="text/template" id="template-datagrid-grid-view">
    <div class="btn-toolbar">
        <% if (choices.length) { %>
            <div class="btn-group views-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle <% if (disabled) { %>disabled<% } %>">
                    <%= title %>
                </button>
                <ul class="dropdown-menu">
                    <% _.each(choices, function (choice) { %>
                        <li><a href="#" data-value="<%= choice.value %>"><%= choice.label %></a></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        <% if (showActions) { %>
            <div class="btn-group actions-group">
                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= actionsLabel %>
                </button>
                <ul class="dropdown-menu">
                    <% _.each(actions, function(action) { %>
                        <% if (action.enabled) { %>
                            <li><a href="#" class="<%= action.name %>"><%= action.label %></a></li>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
            <% if (dirty) { %>
                <div class="edited-label">&nbsp;-&nbsp;<%= editedLabel %></div>
            <% } %>
        <% } %>
    </div>
</script>
