<script type="text/html" id="template-datagrid-grid">
    <div class="toolbar toolbar-top"></div>
    <div class="other-scroll-container">
        <div class="other-scroll">
            <div></div>
        </div>
        <div class="container-fluid grid-scrollable-container">
            <div class="grid-container">
                <table class="grid table-hover table table-bordered table-condensed"></table>
            </div>
        </div>
        <div class="no-data"></div>
    </div>
    <div class="toolbar toolbar-bottom"></div>
</script>
