<script type="text/html" id="template-datagrid-toolbar-pagination">
    <label class="dib"><%= _.__('oro.datagrid.pagination.label') %>:</label>
    <ul class="icons-holder">
        <% _.each(handles, function (handle) { %>
        <li <% if (handle.className) { %>class="<%- handle.className %>"<% } %>>
            <a href="#" <% if (handle.title) { %> title="<%- handle.title %>"<% } %>>
            <% if (handle.wrapClass) { %>
                <i <% if (handle.wrapClass) { %>class="<%- handle.wrapClass %>"<% } %>>
                    <%- handle.label %>
                </i>
            <% } else { %>
                <%- handle.label %>
            <% } %>
            </a>
        </li>
        <% }); %>
    </ul>
{% if isDesktopVersion() %}
    <label class="dib"><%= _.__('oro.datagrid.pagination.totalPages', {totalPages: state.totalPages || 1}) %>&nbsp;|</label>
    <label class="dib"><%= _.__('oro.datagrid.pagination.totalRecords', {totalRecords: state.totalRecords}) %></label>
{% endif %}
</script>
