<script type="text/template" id="template-select-all-header-cell">
    <div class="btn-group dropdown">
        <button class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown"><input type="checkbox" data-select/>
            <i class="caret"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-select-all><%- _.__('oro.datagrid.headerCell.selectAll.all') %></a></li>
            <li class="all-visible"><a href="#" data-select-all-visible><%- _.__('oro.datagrid.headerCell.selectAll.allVisible') %></a></li>
            <li><a href="#" data-select-none><%- _.__('oro.datagrid.headerCell.selectAll.none') %></a></li>
        </ul>
    </div>
</script>
