<script type="text/template" id="template-select-all-header-cell">
    <div class="btn-group dropdown">
        <button class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown"><input type="checkbox" data-select/>
            <i class="caret"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-select-all><%- _.__("All") %></a></li>
            <li><a href="#" data-select-all-visible><%- _.__("All visible") %></a></li>
            <li><a href="#" data-select-none><%- _.__("None") %></a></li>
        </ul>
    </div>
</script>
