<script type="text/html" id="template-datagrid-toolbar">
    <div class="grid-toolbar">
     {% if isDesktopVersion() %}
        <div class="grid-toolbar__part grid-toolbar__part--start">
            <div class="sorting" data-grid-sorting></div>
            <div class="grid-toolbar-mass-actions">
                <div class="extra-actions-panel" data-grid-extra-actions-panel></div>
            </div>
        </div>
        <div class="grid-toolbar__part grid-toolbar__part--center">
            <div class="pagination" data-grid-pagination></div>
            <div data-grid-items-counter></div>
        </div>
        <div class="grid-toolbar__part grid-toolbar__part--end">
            <div class="grid-toolbar-tools">
                <div class="page-size" data-grid-pagesize></div>
                <div class="actions-panel" data-grid-actions-panel></div>
            </div>
        </div>
    {% else %}
        <div class="grid-toolbar__part grid-toolbar__part--start">
            <div class="page-size" data-grid-pagesize></div>
            <div class="actions-panel" data-grid-actions-panel></div>
        </div>
        <div class="grid-toolbar__part grid-toolbar__part--end">
            <div class="pagination-container">
                <div class="pagination" data-grid-pagination></div>
            </div>
        </div>
    {% endif %}
    </div>
</script>
