<script type="text/html" id="template-datagrid-toolbar">
{% if isDesktopVersion() %}
    <div class="grid-toolbar">
        <div class="pull-left oro-mass-actions">
            <div class="mass-actions-panel btn-group icons-holder"></div>
            <div class="extra-actions-panel"></div>
        </div>
        <div class="pull-right grid-toolbar__tools">
            <div class="actions-panel pull-right form-horizontal"></div>
            <div class="page-size pull-right form-horizontal"></div>
        </div>
        <div class="pagination pagination-centered"></div>
    </div>
{% else %}
    <div class="grid-toolbar">
        <div class="actions-panel pull-right"></div>
        <div class="pull-left oro-mass-actions">
            <div class="mass-actions-panel btn-group icons-holder"></div>
        </div>
        <div class="pagination-container">
            <div class="pagination pull-left"></div>
            <div class="page-size pull-left"></div>
        </div>
    </div>
{% endif %}
</script>
