<script type="text/html" id="template-datagrid-toolbar">
{% if isDesktopVersion() %}
    <div class="grid-toolbar">
        <div class="sorting pull-left form-horizontal"></div>
        <div class="pull-left grid-toolbar-mass-actions">
            <div class="mass-actions-panel btn-group icons-holder"></div>
            <div class="extra-actions-panel" data-grid-extra-actions-panel></div>
        </div>
        <div class="pull-right grid-toolbar-tools">
            <div class="actions-panel pull-right form-horizontal" data-grid-actions-panel></div>
            <div class="page-size pull-right form-horizontal" data-grid-pagesize></div>
        </div>
        <div class="pagination pagination-centered" data-grid-pagination></div>
    </div>
{% else %}
    <div class="grid-toolbar">
        <div class="actions-panel pull-right" data-grid-actions-panel></div>
        <div class="pull-left grid-toolbar-mass-actions">
            <div class="mass-actions-panel btn-group icons-holder"></div>
        </div>
        <div class="pagination-container">
            <div class="pagination pull-left" data-grid-pagination></div>
            <div class="page-size pull-left" data-grid-pagesize></div>
        </div>
    </div>
{% endif %}
</script>
