<script type="text/template" id="template-datagrid-view-name-modal">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="gridViewName"><%= label %>:</label>
            <div class="controls">
                <input id="gridViewName" name="name" type="text" value="<%= value %>">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-datagrid-view-name-error-modal">
    <span for="gridViewName" class="validation-failed"><%= error %></span>
</script>
