/* @theme: admin.oro; */

.number-cell,
.integer-cell,
.align-right,
.editable {
    padding-#{$end}: $oro-datagrid-editable-cell-offset;
}

.number-cell,
.integer-cell,
.align-right {
    .inline-editor__inner {
        margin-#{$end}: $oro-datagrid-editable-inner-offset;
    }
}

.view-mode {
    &:hover {
        position: relative;

        background: $cell-selected-background;

        .inline-editor-edit-action {
            position: absolute;
            top: $oro-datagrid-editable-action-offset-top;
            #{$end}: $oro-datagrid-editable-action-offset-end;

            display: block;

            .inline-actions-btn {
                line-height: $oro-datagrid-editable-cell-line-height;
                padding: $oro-datagrid-editable-action-inner-offset;
            }
        }
    }

    &.has-error {
        position: relative;

        background: $cell-error-background;

        &:before {
            position: absolute;
            top: 0;
            #{$start}: 0;

            display: inline-block;

            border-#{$end}: 10px solid transparent;
            border-top: 10px solid $oro-datagrid-editable-error;

            content: '';
        }

        &:hover {
            background: $cell-error-background;
        }
    }
}

.save-success {
    position: relative;

    background: $cell-success-background;

    &:hover:before {
        display: none;
    }
}

.save-fail {
    background: $cell-error-background;
}

.edit-mode {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        #{$end}: 0;
        bottom: 0;
        #{$start}: 0;

        background-color: $inline-action-background;

        content: '';
    }

    .inline-editor-edit-action {
        display: none;
    }
}

.grid-body-cell.loading {
    background: $cell-loading-background;

    .inline-editor-edit-action {
        display: none;
    }

    &:before {
        position: absolute;
        top: $oro-datagrid-editable-loader-top;
        #{$end}: $oro-datagrid-editable-loader-end;

        display: block;

        content: '';

        @include loader($oro-datagrid-editable-loader-size, $oro-datagrid-editable-loader-width);
    }

    &:hover {
        .inline-editor-edit-action {
            display: none;
        }
    }
}

.inline-editor {
    &__inner {
        margin-#{$end}: $oro-datagrid-editable-inner-offset;
    }

    &__actions {
        display: flex;
        padding: $oro-datagrid-editable-action-offset;

        bottom: auto;

        line-height: $oro-datagrid-editable-cell-line-height;
    }

    &__fields {
        input[type="text"] {
            height: $oro-datagrid-editable-action-item-size;
            line-height: $oro-datagrid-editable-action-item-line-height;
            padding: $oro-datagrid-editable-action-input-offset;

            &:last-child {
                padding-#{$end}: $oro-datagrid-editable-action-input-last-offset;
            }
        }
    }

    &__prefix {
        display: block;
        position: absolute;
        top: 0;
        #{$end}: 100%;
        margin-#{$end}: -$input-border-width;
        height: 100%;
    }

    &-edit-action {
        display: none;
    }

    &-wrapper {
        padding-#{$end}: 0;

        &:not(.tags-select-editor) {
            .inline-editor__actions .btn {
                padding: $oro-datagrid-editable-action-item-inner-offset;
                font-size: $oro-datagrid-action-font-size;
                line-height: $oro-datagrid-editable-cell-line-height;
                height: $oro-datagrid-editable-action-height;
                width: $oro-datagrid-editable-action-width;
            }

            .select2-container {
                min-height: auto;
                padding: $oro-datagrid-select-container-offset;
                height: $oro-datagrid-select-container-height;
                border-radius: $oro-datagrid-select-container-border-radius;
            }

            .select2-arrow {
                #{$end}: $oro-datagrid-select-icon-arrow-offset;
            }

            .select2-search-choice-close {
                #{$end}: $oro-datagrid-select-icon-close-offset;
            }
        }

        &.tags-select-editor {
            .select2-container {
                min-height: $oro-datagrid-editable-cell-min-height;
            }

            .inline-editor__inner {
                margin-#{$end}: 0;
            }
        }

        .select2-chosen {
            min-height: $oro-datagrid-select-chosen-min-height;
            line-height: $oro-datagrid-editable-action-item-line-height;
            padding: $oro-datagrid-select-inner-offset;
            height: $oro-datagrid-select-chosen-height;
            min-width: $oro-datagrid-select-chosen-min-width;
        }

        .select2-allowclear .select2-chosen {
            padding-#{$end}: $oro-datagrid-select-inner-offset-allow-clear-end;
        }

        .select2-choice {
            height: auto;
        }

        .inline-editor__fields .select2-choice {
            width: calc(100% - #{$oro-datagrid-editable-action-input-last-offset});
        }

        .select2-search-choice-close,
        .select2-arrow {
            top: $oro-datagrid-select-icon-top;
        }
    }
}
