/* @theme: admin.oro; */

.no-data {
    display: none;
}

&.no-data-visible {
    .toolbar,
    .filter-box,
    .board-body,
    .board-header,
    .datagrid,
    .datagrid-header,
    .datagrid-sticky,
    .grid-scrollable-container {
        display: none;
    }

    .no-data {
        display: block;
    }

    .loading-mask {
        display: block;
    }
}

@at-root .filter-box + .no-data-visible {
    .no-data {
        margin-top: $content-padding-medium;

        .no-data__title {
            padding-top: $content-padding-small;
        }
    }
}
