/* @theme: admin.oro; */

.with-floating-header {
    .grid-header-cell__label {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
}

.floatThead {
    .thead-sizing {
        display: none;
    }

    .grid-header:first-child {
        position: absolute;
        z-index: 3;

        width: auto;
    }

    .other-scroll-container {
        overflow: hidden;

        clear: both;
    }

    .other-scroll {
        position: absolute;
        z-index: 3;

        overflow-x: hidden;
        overflow-y: scroll;

        > div {
            width: 1px;
        }
    }

    &.floatThead-relative {
        .grid-scrollable-container {
            position: relative;
        }

        .grid-header:last-child {
            display: table-header-group;
        }
    }

    &.floatThead-fixed {
        .grid-header:first-child {
            position: fixed;

            display: block;

            // workaround of `overflow: hidden;` to overcome issue in Safari
            // https://bugs.webkit.org/show_bug.cgi?id=160953
            clip: rect(-100vh, auto, 100vh, 0);

            .grid-header-row {
                display: block;
            }
        }

        .thead-sizing {
            display: table-header-group;
            // Should check why we have double headers for datagrid
            visibility: hidden;
        }
    }
}
