/* @theme: admin.oro; */

.oro-datagrid {
    margin: $oro-datagrid-offset;

    @import 'grid';
    @import 'grid-no-data';
    @import 'grid-action-columns';
    @import 'board-view/board';
    @import 'board-view/card';

    .dropdown-menu {
        z-index: $zindex-dropdown - 112;
    }

    .loader-mask {
        // to show under grid's filter
        z-index: $zindex-dropdown - 101;
    }
}

.grid-scrollable-container {
    margin: 0;
    padding: 0;

    overflow: auto;

    // Avoid z-index fall down of overlay scrollbar container
    .os-padding {
        z-index: initial;
    }
}

.grid-editable {
    @import 'grid-editable-mode';
}

@import 'grid-with-floating-header';
@import 'grid-without-header';
