.mobile-version {
  fieldset .span6{
    margin-left: 0;
    margin-right: 10px;
  }
  .mce-tinymce.mce-fullscreen {
    z-index: @oroMobileHeaderZindex + 20;
    border-radius: 0;
    .mce-toolbar-grp {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
