{% extends 'OroDataGridBundle:Grid/widget:widget.html.twig' %}

{% block widget_content %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        view: 'orodatagrid/js/app/views/datagrid-row-select-widget-view',
        options: {
            wid: app.request.get('_wid'),
            gridName: gridName,
            multiSelect: false
        },
        layout: 'separate'
    }) }}>
        {% set renderParams = renderParams|merge({'routerEnabled': false}) %}
        {{ parent() }}
    </div>
{% endblock %}
