{% extends 'OroDataGridBundle:Grid/widget:widget.html.twig' %}

{% block widget_content %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'orodatagrid/js/app/components/datagrid-row-select-widget-component',
        options: {
            wid: app.request.get('_wid'),
            gridName: gridName,
            multiSelect: false
        }
    }) }}></div>

    {% set renderParams = renderParams|merge({'routerEnabled': false}) %}
    {{ parent() }}
{% endblock %}
