{% extends bap.layout %}

{% block title %}{{ 'oro.navigation.help.title'|trans }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="clearfix">
        <h3>{{ 'oro.navigation.help.title'|trans }}</h3>
        <p>
            {{ 'oro.navigation.help.message'|trans }}
        </p>
        <p>
            <img src="/bundles/oronavigation/images/pinbar-location.jpg"
                 style="box-shadow: 1px 0px 12px rgba(0,0,0,0.5)">
        </p>
    </div>
</div>
{% endblock %}
