{% extends bap.layout %}

{% block title %}{{ 'oro.navigation.help.title'|trans }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="clearfix">
        <h3>{{ 'oro.navigation.help.title'|trans }}</h3>
        <p>
            {{ 'oro.navigation.help.save'|trans }}
            <br />
            {{ 'oro.navigation.help.restore'|trans }}
        </p>
    </div>
</div>
{% endblock %}
