@import "../../../oroui/css/less/mixins";
.activity-list-widget {
  border: 1px solid #ddd;
  position: relative;
  .actions-bottom{
    border-top: 1px solid #ddd;
    padding:10px;
  }
  .title {
    border-bottom: 1px solid #ddd;
  }
  .activity-list {
    position: relative;
    .no-data{
      margin: 18px 20px 0;
    }
    .list-box {
      margin-top: 10px;
      .list-item {
        padding: 3px 10px 5px 10px;
        .visual {
          position: relative;
          top: -2px;
        }
        .user {
          font-style: normal;
        }
        .date {
          font-style: normal;
          font-size: smaller;
        }
        .title-item {
          //float: left;
          white-space: nowrap;
          .icon {
            display: inline-block;
            width: 28px;
            font-size: 21px;
            margin: 0 0 0 7px;
          }
          .message-item {
            display: block;
            line-height: 12px;
            padding: 0 0 1px 60px;
          }
        }
        .actions {
          white-space: nowrap;
          float: right;
          margin: 0;
        }
      }
      .list-item:last-child {
        border-bottom: 0;
      }
    }
    .accordion {
      padding: 0;
      margin: 0;
      .accordion-group {
        //overflow: hidden;
        border: 0;
        margin: 0;
        .accordion-heading {
          display: table;
          width: 100%;
          & > div {
            display: table-cell;
          }
          .message {
            .accordion-toggle {
              &:before {
                content: '';
              }
            }
            .accordion-toggle.collapsed:before {
              content: '';
            }
            .control-group{
              max-width: none;
            }
          }
          .accordion-toggle {
            display: inline-block;
            padding: 0;
            min-width: 17px;
            &:before {
              content: '\f117';
              font-family: FontAwesome;
              font-size: 24px;
              color: #727272;
            }
          }
          .accordion-toggle.collapsed:before {
            content: '\f116';
          }
        }
        .accordion-heading.in .message {
          display: none;
        }
        .accordion-body.collapse {
          padding-left: 23px;
          height: auto;
        }
        .accordion-body {
          .message, .subject {
            display: none;
            overflow-x: auto;
          }
        }
        .accordion-body.in {
          padding: 0;
        }
        .accordion-body.in .message {
          display: block;
          padding-left: 23px;
        }
        .accordion-body.in .subject {
          display: block;
          padding: 0 0 0 60px;
          border-bottom: 1px solid #ddd;
          margin-top: -2px;
        }
      }
    }
    .filter-box {
      position: absolute;
      margin: 0px;
      padding: 0px;
      background: none;
      border: none;
      box-shadow: none;
      right: 182px;
      top: -36px;
    }
    .filter-item {
      margin-bottom: 0px;
      margin-right: 2px;
    }
  }
}
