@import "../../../oroui/css/less/mixins";
.activity-list-widget {
  position: relative;
  .actions-bottom {
    border-top: 1px solid #ddd;
  }
  .title {
    display: none;
  }
  .activity-list {
    position: relative;
    .no-data {
      margin: 20px;
    }
    .list-box {
      border: solid 1px #ddd;
      border-radius: 4px;
      &:empty {
        display: none;
      }
      .list-item {
        padding: 3px 10px 5px 10px;
        border-bottom-color: #ddd;
        .visual {
          position: relative;
          top: -2px;
        }
        .user {
          font-style: normal;
        }
        .date {
          font-style: normal;
          font-size: smaller;
        }
        .title-item {
          white-space: nowrap;
          .icon {
            display: inline-block;
            width: 27px;
            font-size: 18px;
            margin: 0;
            color: #999;
          }
          .message-item {
            display: block;
            line-height: 12px;
            padding: 0 0 1px 52px;
          }
        }
        .actions {
          white-space: nowrap;
          float: right;
          margin: 0;
        }
      }
      .list-item:last-child {
        border-bottom: 0;
      }
    }
    .accordion {
      padding: 0;
      margin: 0;
      .accordion-group {
        border: 0;
        margin: 0;
        .accordion-heading {
          display: table;
          width: 100%;
          & > div {
            display: table-cell;
          }
          .actions{
            .horizontal-icon-menu;
          }
          .message {
            .accordion-toggle {
              &:before {
                content: '';
              }
            }
            .accordion-toggle.collapsed:before {
              content: '';
            }
          }
          .accordion-toggle {
            display: inline-block;
            padding: 0;
            min-width: 17px;
            &:before {
              content: '\f117';
              font-family: FontAwesome;
              font-size: 20px;
              color: #999;
            }
            &:hover:before {
              color: #444;
            }
          }
          .accordion-toggle.collapsed:before {
            content: '\f116';
          }
        }
        .accordion-heading.collapse {
          overflow: visible;
        }
        .accordion-heading.in .message {
          display: none;
        }
        .accordion-body.collapse {
          padding-left: 23px;
          height: auto;
        }
        .accordion-body {
          .message, .subject {
            display: none;
          }
          .message {
            &.responsive-block {
              width: auto;
              float: none;
            }
            .email-body{
              width: calc(~"100% - 23px");
            }
          }
          .control-group{
            max-width: none;
          }
        }
        .accordion-body.in {
          padding: 0;
          margin: 0 -10px;
        }
        .accordion-body.in .message {
          display: block;
          padding-left: 23px;
        }
        .accordion-body.in .subject {
          display: block;
          padding: 0 0 4px 62px;
          border-bottom: 1px solid #f0f0f0;
          margin-top: -3px;
        }
      }
    }
    .filter-box {
      float: left;
      margin: 0px;
      padding: 0px;
      background: none;
      border: none;
      box-shadow: none;
    }
    .filter-item {
      margin-bottom: 0px;
      margin-right: 2px;
    }
  }
  .grid-toolbar {
    padding: 0 0 5px;
    margin: 0;
    .pagination{
      white-space: nowrap;
      padding-top: 1px;
      > ul > li a{
        width:24px;
        i {
          margin: 0 3px;
        }
      }
    }
    .filter-container {
      padding-bottom: 5px;
    }
  }
}
