.widget-configuration {
  .date-range-filter {
    max-width: 300px;
    .control-group .filter-select-oro {
      height: 32px;
      line-height: 32px;
      max-width: initial;
    }
    .filter-start-date, .filter-end-date {
      max-width: calc(~'50% - 10px');
      input {
        line-height: 32px;
      }
    }
  }
  .control-label.wrap {
    width: auto;
  }
}
