{% macro renderView(entity) %}
    {% set tagCloudElId = 'tags-' ~ random() %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="tags-view-form-container" {{ UI.renderPageComponentAttributes({
        'module': 'oroui/js/app/components/view-component',
        'options': {
            'view': 'orotag/js/app/views/viewer/tags-view',
            'items': oro_tag_get_list(entity),
            autoRender: true
        }
    }) }}></div>
{% endmacro %}

{#
    Render sort actions list
#}
{% macro tagSortActions() %}
    <ul class="tag-sort-actions inline">
        <li>
            <a href="javascript:void(0);" class="no-hash active">{{ 'oro.tag.menu.all_tags'|trans }}</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-type="owner" class="no-hash">{{ 'oro.tag.menu.my_tags'|trans }}</a>
        </li>
    </ul>
{% endmacro %}
