# This is is adidtional configuration for phpstan rules, see https://github.com/oroinc/phpstan-rules/blob/master/README.md
trusted_data:
    variables:
        Oro\Bundle\DataAuditBundle\Filter\AuditFilter:
            apply:
                objectAlias: true
    properties:
        Oro\Bundle\DataAuditBundle\Filter\AuditFilter:
            apply:
                auditAlias: true
                auditFieldAlias: true
                objectClassParam: true
                fieldParam: true
