/* @theme: default; */

@mixin badge(
    $badge-size:        18px,
    $badge-f-size:      12px,
    $badge-bg:          var(--badge-bg-color, get-var-color('primary', 'main')),
    $badge-radius:      100px,
    $badge-color:       var(--badge-color, get-var-color('neutral', 'white-100')),
    $badge-icon-align:  baseline,
    $badge-icon-offset: 0,
    $badge-icon-line-height: inherit
) {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: $badge-size;
    min-height: $badge-size;

    padding-inline: 5px;

    text-align: center;
    font-size: $badge-f-size;

    background-color: $badge-bg;
    border-radius: $badge-radius;
    color: $badge-color;

    .theme-icon {
        margin: $badge-icon-offset;

        line-height: $badge-icon-line-height;
    }
}
