/* @theme: admin.oro; */

.filter-box {
    margin-bottom: $filter-box-offset-buttom;

    & > .filter-container {
        & > .select-filter-widget {
            margin: $filter-box-filter-container-select-filter-widget-offset;
            position: $filter-box-filter-container-select-filter-widget-position;
        }
    }

    .choice-filter {
        .btn-group.btn-block {
            &.product-price-unit-filter {
                width: 100%;
            }
        }
    }

    .filter-criteria {
        .product-price-unit-filter-separator,
        .filter-separator {
            height: 0;
            overflow: hidden;
            position: static;
            width: 0;
            margin: 0;
        }
    }
}

.filter-date-range {
    .datepicker-input {
        max-width: 200px;
    }
}
