.oro-multiselect-holder {
  .input-append, .input-prepend {
    input[type="email"], input[type="text"] {
      width: 235px;
    }
  }
  .input-append-sortable, .input-prepend-sortable {
    input[type="email"], input[type="text"] {
      width: 204px;
    }
  }
}
.oro-multiselect-holder.not-removable {
  .input-append, .input-prepend {
    input[type="email"], input[type="text"] {
      width: 257px;
    }
  }
  .input-append-sortable, .input-prepend-sortable {
    input[type="email"], input[type="text"] {
      width: 226px;
    }
  }
}
