#oroplatform-header {
  .logo {
    position: relative;
    height: 24px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 15px 0 0;
    margin: 0;
    line-height: 24px;
    float: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
    &:before {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0 12px 10px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.30);
      content: "";
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 0;
      bottom:0;
    }
    &:after {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0 12px 10px;
      border-color: transparent transparent transparent #2d333b;
      content: "";
      display: inline-block;
      position: absolute;
      right:6px;
      top:0;
      bottom:0;
    }
    a {
      color: #fff;
      background: #2d333b;
      display: block;
      position: relative;
      text-transform: uppercase;
      padding: 0 10px 0 14px;
      [class^='icon-'] {
        font-size:1.2em;
      }
    }
  }
  .navbar-inner {
    a.help {
      position: relative;
    }
    .nav {
      margin:0;
      > li {
        > a {
          color: #fff;
          font-weight: normal;
          text-shadow: none;
        }
      }
    }
  }
  .nav.user-menu {
    > li {
      &:not(:first-child){
        padding-left: 1px;
        &:before{
          content: '';
          position: absolute;
          margin-left: -1px;
          top: 4px;
          width: 1px;
          height: 16px;
          display: block;
          background-color: @baseGradientColorBorder;
        }
      }
      > a {
        padding: 2px 12px;
        font-weight: bold;
      }
    }
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
    border-left: 1px solid @baseGradientColorBorder;
    a.help:hover,
    .dropdown > .dropdown-toggle:hover,
    .dropdown > .oro-dropdown-toggle:hover{
      #gradient > .vertical(lighten(@baseGradientColorStart, 3%), lighten(@baseGradientColorEnd, 3%));
    }
    .dropdown {
      > .dropdown-menu {
        margin-top: 1px;
        right: 3px;
        left: auto;
        z-index: @zindexDropdown;
      }
    }
  }
  .nav.top-search {
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
    padding: 0 10px 0 5px;
    border-right: 1px solid @baseGradientColorBorder;
    .dropdown {
      > .dropdown-toggle {
        > [class^='icon-'] {
          margin: 0;
          padding-top: 3px;
          width: 24px;
          height: 24px;
          font-size: 14px;
          border: none !important;
          border-radius: 0;
          &:before {
            vertical-align: top;
            line-height: 18px;
          }
        }
        &:hover > [class^=icon-] {
          #gradient > .vertical(lighten(@baseGradientColorStart, 3%), lighten(@baseGradientColorEnd, 3%));
        }
      }
      > .dropdown-menu {
        margin-top: 0;
        left: -5px;
      }
    }
  }
}
