@import "../mixins";
html, body, #page, #top-page {
  height: 100%;
  overflow-y: visible; // prevents scroll bar appearance
}
html{
  overflow-y: hidden;
}
.responsive-block{
  min-width: 350px;
}
#left-panel,
#right-panel {
  overflow: visible;
}
#left-panel, #right-panel, #main {
  float: left;
}
.desktop-version .oro-page {
  &.collapsible-sidebar {
    .oro-page-sidebar {
      .dropdown-menu {
        display: block !important;
        z-index: inherit;
        width: 100%;
      }
    }
  }
}
