.scrollspy-title {
  padding: 6px 20px;
  overflow: hidden;
  h4 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
  }
}
[data-scroll-focus] {
  outline: 0 none;
}
