/* @theme: default; */

$select2-container-multi-search-choice-border: 1px solid get-color('additional', 'middle') !default;
$select2-container-multi-search-choice-background-image: linear-gradient(
    to bottom, get-color('additional', 'base') 30%,
    get-color('additional', 'light') 50%,
    get-color('additional', 'middle') 100%
) !default;
$select2-container-multi-search-choice-color: get-color('additional', 'dark') !default;

$select2-container-multi-input-color: get-color('additional', 'middle') !default;
$select2-container-multi-input-radius: $base-ui-popup-border-radius !default;

$select2-container-multi-disabled-choices-background: get-color('additional', 'middle') !default;

$select2-container-multi-choice-close-color: get-color('additional', 'dark') !default;

$select2-container-multi-disabled-choice-border: 1px solid get-color('additional', 'middle') !default;
$select2-container-multi-disabled-choice-background: get-color('additional', 'light') !default;
