/* @theme: default; */

$select2-container-size-l: $select-padding !default;
$select2-container-input-inner-offset: $input-padding-y $input-padding-x !default;
$select2-container-color: $base-ui-element-color;
$select2-container-background: $select-background-color !default;
$select2-container-background-open: $select-bg-open !default;
$select2-container-border: $base-ui-element-border;

$select2-result-label-padding: spacing('md') !default;

$select2-container-disabled-choice-background-color: $base-ui-element-bg-color-disabled-state;

$select2-container-border-radius: $base-ui-popup-border-radius !default;

$select2-container-input-border: $base-ui-element-border !default;

$select2-container-border-color: $base-ui-element-border-color-error-state !default;

$select2-arrow-top: 50% !default;
$select2-arrow-right: spacing('md') !default;
$select2-arrow-size: 20px !default;

$select2-drop-background-color: get-var-color('neutral', 'white-100');
$select2-drop-box-shadow: 0 4px 12px rgba(91 126 131 / .14), 0 1px 4px rgba(5 59 66 / .08) !default;
$select2-container-drop-above-box-shadow: 0 -4px -12px rgba(91 126 131 / .14), 0 -1px -4px rgba(5 59 66 / .08) !default;

$select2-drop-border-radius: $base-ui-element-border-radius !default;
$select2-drop-above-border-radius: 4px 4px 0 0 !default;

$select2-drop-result-active-background-color: get-var-color('primary', 'light') !default;
$select2-drop-result-active-border-radius: 0 $base-ui-element-border-radius $base-ui-element-border-radius 0 !default;
$select2-drop-result-active-bg-color-before: get-var-color('primary', 'main') !default;
$select2-drop-result-active-size-before: 3px !default;

$select2-results-disabled-background: $base-ui-element-bg-color-disabled-state !default;

$select2-more-results-background: get-var-color('primary', 'light') !default;

$select2-results-selected-disabled-display: none !default;

// Select2 plain

$select2-plain-select2-chosen-border: 1px dotted !default;
$select2-plain-select2-chosen-gap: spacing('xs') !default;
$select2-plain-select2-chosen-line-height: 1.62 !default;
