/* @theme: admin.oro; */

.inline-editable-wrapper:not(:hover) {
    &.save-success .inline-actions-element {
        background: $cell-success-background;

        .inline-actions-element_actions {
            display: none;
        }
    }

    &.save-fail .inline-actions-element {
        background: $cell-error-background;

        .inline-actions-element_actions {
            display: none;
        }
    }
}

.inline-editable-wrapper {
    &.loading {
        .inline-actions-element {
            background: $cell-loading-background;

            &:before {
                position: absolute;
                top: $inline-editable-wrapper-loading-top;
                #{$end}: $inline-editable-wrapper-loading-end;

                display: block;

                content: '';

                @include loader($inline-editable-wrapper-loading-size, $inline-editable-wrapper-loading-width);
            }

            &:hover .inline-actions-element_actions {
                visibility: hidden;
            }
        }
    }
}

.inline-actions-btn {
    padding: $inline-actions-btn-offset;

    font-size: $base-font-size--m;
    line-height: inherit;

    border-width: 0;
    background-color: transparent;
    color: $inline-actions-btn-color;

    cursor: pointer;

    &:hover {
        color: $inline-actions-btn-color-hover;
    }

    &--size-s {
        line-height: $inline-actions-btn-s-line-height;
        padding: $inline-actions-btn-s-offset;
    }

    @at-root .has-error .inline-actions-btn {
        color: $inline-actions-btn-color-error;

        &:hover {
            color: $inline-actions-btn-color-error;
        }
    }
}
