/* @theme: admin.oro; */

.inline-editor__inner {
    position: relative;
    margin-right: $inline-editor-inner-offset;

    .tags-column-editor.tags-select-editor & {
        margin-right: 0;
    }
}

.inline-editor__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    padding: $inline-editor-actions-inner-offset;

    &--over-multiselect {
        // to show over .ui-multiselect-menu
        z-index: 10004;
    }

    .btn {
        background: none;
        border: none;
        color: $inline-editor-action-item-color;

        &:hover {
            color: $inline-editor-action-item-color-hover;
        }

        &[disabled] {
            cursor: auto;
            color: $inline-editor-action-item-color-disabled;
        }

        [class^='fa-'] {
            margin: 0;
        }
    }
}

.inline-editor__fields {
    input[type='text'] {
        width: 100%;
        margin: 0;

        line-height: 1;

        &:last-child {
            padding-right: $inline-editor-action-item-fields-last-offset;
        }
    }
}

.inline-editor-wrapper {
    position: absolute;
    padding-right: $inline-editor-action-item-fields-last-offset;

    &[class*='-column-editor'] {
        padding-right: 0;
    }

    min-width: $inline-editor-wrapper-width;

    .validation-failed:last-child {
        margin-bottom: $input-border-width;
    }

    &.number-editor {
        min-width: $inline-editor-number-editor-width;

        input[name='value'] {
            text-align: right;
        }
    }

    .hasDatepicker,
    .timepicker-input {
        &:focus {
            position: relative;
            z-index: 1;
        }
    }

    &.datetime-editor {
        min-width: $inline-editor-datetime-editor-width;
        // stylelint-disable-next-line declaration-no-important
        width: auto !important;

        .hasDatepicker {
            padding-left: $inline-editor-has-datepicker-offset;
            width: $inline-editor-has-datepicker-width;
        }

        .timepicker-input {
            width: $inline-editor-has-timepicker-input-width;
            margin-left: -$input-border-width;
        }

        .fields-row {
            display: flex;
        }
    }

    &.select-editor {
        min-width: $inline-editor-select-editor-width;
    }

    .select2-choice {
        &::after {
            position: absolute;
            right: 0;
            top: 50%;

            height: 12px;
            width: 1px;
            margin-top: -6px;

            background-color: $inline-editor-select2-divider-color;

            content: '';
        }
    }

    .inline-editor__fields .select2-choice {
        width: $inline-editor-select2-choice-width;
    }

    &.multi-select-editor,
    &.multi-relation-editor {
        // ignore cell width
        // stylelint-disable-next-line declaration-no-important
        width: auto !important;
        // ignore min-width
        min-width: 0;

        .select2-container {
            height: auto;
            // stylelint-disable-next-line declaration-no-important
            width: auto !important;
        }

        .select2-choices {
            max-height: 40vh;
            max-width: 50vw;
            min-width: $inline-editor-multi-select2-choices-width;
            overflow: auto;
        }
    }

    &.text-editor {
        top: $inline-editor-text-editor-top;
        bottom: $inline-editor-text-editor-bottom;

        .inline-editor__inner,
        .inline-editor__fields {
            height: $inline-editor-inner-fields-height;
        }

        .inline-editor__inner {
            margin-right: -$inline-editor-inner-outer-offset;
        }

        .inline-editor__fields {
            textarea {
                height: $inline-editor-inner-fields-height;
                max-height: $inline-editor-inner-textarea-max-height;
                padding: $inline-editor-inner-textarea-offset;
            }
        }
    }
}

.inline-editor__select2-drop {
    .select2-input {
        margin: 0;
        height: $inline-editor-select2-drop-height;
    }
}

.datepicker-focusser {
    position: absolute;

    width: 0;
    height: 0;

    background: transparent;
    border: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
