/* @theme: admin.oro; */

.inline-editor-wrapper.multi-checkbox-editor {
    min-width: 190px;
}

.multiselect-view.multi-checkbox-editor {
    position: relative;
    min-width: 222px;
    background-color: $primary-inverse;
    padding: 6px $content-padding-small;
}
