/* @theme: admin.oro; */

.attribute-item {
    display: $attribute-item-display;
    padding: $attribute-item-offset;
    border-bottom: $attribute-item-border-bottom;

    &__term {
        width: $attribute-item-term-width;
        max-width: $attribute-item-term-max-width;
        color: $attribute-item-term-color;
        text-align: $attribute-item-term-text-align;
        flex-shrink: 0;
    }

    &__description {
        margin-left: $attribute-item-description-offset-start;
        text-align: $attribute-item-description-text-align;
        flex-grow: 1;
        width: 100%;

        .list-inline {
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}
