// Bootstrap - Buttons
.btn-group {
  & > .btn,
    .btn.disabled,
    .btn[disabled],
    .btn.disabled:active,
    .btn[disabled]:active {
    font-size:$baseFontSize;
  }
  & > .btn-small {
    font-size: $fontSizeSmall;
  }
  & > .btn-mini {
    font-size: $fontSizeMini;
  }
}
.btn {
  background: #eee;
  height: 32px;
  font-size: 12px;
  line-height: 30px;
  color: #68686a;
  text-shadow: none;
  padding: 0 16px;
  border: 2px solid #eee;

}
.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.ui-datepicker .ui-datepicker-buttonpane button {
  border-radius: $baseBtnBorderRadius;
  padding: 0 16px;
  display: inline-block;
  box-shadow: none;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color: #68686a;
  background: #dbdbdb;
  border-color: #dbdbdb;
}
.btn:active {
  box-shadow: inset 0 2px 3px 2px rgba(0, 0, 0, 0.21);
  background: #dbdbdb;
  border-color: #dbdbdb;
  color: #68686a;
}
.input-append,
.input-prepend {
  .add-on.btn {
    padding: 4px 5px;
  }
  .add-on.btn.disabled:active,
  .add-on.btn[disabled]:active {
    background: linear-gradient(#fdfdfd, #efefef);
  }
}
.btn-small {
  height: 24px;
  line-height: 24px;
  font-size: $baseFontSize;
}
.btn-large {
  font-size: 12px;
  padding: 0 20px;
  height: 32px;
  line-height: 30px;
}
.btn-mini {
  height: 22px;
  line-height: 20px;
  font-size: 11px;
}
.btn-mini [class^="fa-"],
.btn-mini [class*=" fa-"] {
  margin-top: 0px;
  font-size: 13px;
}
.btn-uppercase {
  text-transform: uppercase;
}
.btn-primary {
  border: 2px solid #0c84a3;

  &, &:focus {
    background: #0c84a3;
    color: #fff;
  }
  &:hover {
    background: #096d87;
    border-color: #096d87;
    color: #fff;
  }
  &:active {
    background: #ebf6f9;
    border-color: #096d87;
    color: #096d87;
  }
  &[disabled] {
    &,
    &:hover,
    &:active,
    &:focus{
      background-color: #86c2d1;
      border-color: #86c2d1;
      color: #e8f5f9;
      padding: 0 16px;
    }
  }
}
.btn .caret {
  margin-top: 11px;
}

/* .btn-inverse */
.btn-inverse {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-color: #222 #222 #000000;
  &, &:focus {
    color: #fff;
    background: linear-gradient(#444, #222);
  }
  &:hover, &:active {
    color: #fff;
    border-color: #444 #444 #000000;
    background-color: #363636;
    background: linear-gradient(#222, #444);
  }

}

/* .btn-danger */
.btn-danger {
  border-color: #c2270d #c2270d #c2270d;
  text-shadow: none;
  &, &:focus {
    background-color: #f35e3c;
    background: linear-gradient(#f35e3c, #d42f13);
    color:#fff;
  }
  &:hover {
    background-color: #f66952;
    background: linear-gradient(#f66952, #e53d20);
    color: #fff;
  }
  &:active {
    background-color: #c22b11;
    background: linear-gradient(#c22b11, #f35d3b);
    border-color: #9c220d #c2270d #c2270d;
    color: #fff;
  }
}

/* .btn-success */
.btn-success {
  border-color: #49982b #3b8d1c #267507;
  text-shadow:0 1px 0 #3b8d1c;
  &, &:focus {
    background-color: #4fae0d;
    background: linear-gradient(#82ce20, #57ac0b);
    color:#fff;
  }
  &:hover {
    background-color: #8cd42f;
    background: linear-gradient(#8cd42f, #49982b);
    color: #fff;
  }
  &:active {
    background-color: #369511;
    background: linear-gradient(#369511, #55ad34);
    color: #fff;
  }
}

/* .btn-warning */
.btn-warning {
  border-color: #d7920b #dc9f28 #d7920b;
  text-shadow: none;
  &, &:focus {
    background-color: #ffb322;
    background: linear-gradient(#ffb322, #d7920b);
    color: #fff;
  }
  &:hover {
    background-color: #fdc247;
    background: linear-gradient(#fdc247, #f88f1d);
    color: #fff;
  }
  &:active {
    background-color: #e47c0a;
    background: linear-gradient(#e47c0a, #f9a913);
    border-color: #c56a09 #d7920b #d7920b;
    color: #fff;
  }
}

/* .btn-info */
.btn-info {
  border-color: #5bc0de #5bc0de #2f96b4;
  &, &:focus {
    background-color: #5bc0de;
    background: linear-gradient(#5bc0de, #2f96b4);
    color: #fff;
  }
  &:hover {
    background-color: #2f96b4;
    background: linear-gradient(#2f96b4, #5bc0de);
    color: #fff;
  }
  &:active {
    background-color: #2f96b4;
    background: linear-gradient(#2f96b4, #5bc0de);
    border-color: #2f96b4 #5bc0de #5bc0de;
    color: #fff;
  }
}

.btn-group.open .btn-primary.dropdown-toggle {
  background: linear-gradient(#5680c2, #6b94d4);
  border-color: #3f5e8e #527ac0 #527ac0;
}

/* .btn-link */
.btn.btn-link {
  border-radius: 0;
  border:none;
  background:none;
  padding:0;
  font-weight:normal;
  text-decoration:underline;
}
.btn-group+.btn-group { margin-left:8px; }
.btn-group > .dropdown-menu li {
  a, button {
    padding-top:1px;
    padding-bottom:1px;
    font-size:12px;
    color:$bodyColor;
    text-shadow:none !important;
    &:hover {
      background:#f3f3f3;
    }
  }
}

.btn.process{
  @include process();
}

.btn-login-roles {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.btn-brand {
  &-google {
    background: #dc4e41;
    border-color: #dc4e41;
    position: relative;
    padding-left: 40px;

    &:before {
      content: '\f0d5';
      font-family: 'FontAwesome';
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
    }

    &:hover,
    &:focus {
      background: darken(#dc4e41, 5%);
      border-color: darken(#dc4e41, 5%);
    }

    &:active {
      background: lighten(#dc4e41, 25%);
      border-color: darken(#dc4e41, 5%);
      color: darken(#dc4e41, 5%);
    }

    &[disabled] {
      &,
      &:hover,
      &:active,
      &:focus {
        background-color: #f1a393;
        border-color: #f1a393;
        color: #fdf0ee;
      }
    }
  }
}

/* button inside dropdown-menu */
.title-buttons-container {
  .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 100%;
    li button {
      padding: 2px 12px;
      display: block;
      clear: both;
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
      background-color: transparent;
      border: none;
      margin: 0;
      min-width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: normal;
    }
  }
  .dropdown-toggle{
    .caret {
      margin-left: 0;
    }
  }
  & > .btn-group{
    float: left;
  }
}
/* button inside dropdown-menu:end */

/* disabled button group with dropdown-menu */
.title-buttons-container {
  .btn-group {
    > .btn {
      &[data-action^=save] {
        border-radius: 3px 0 0 3px;
      }
      &[data-toggle=dropdown] {
        border-radius: 0 3px 3px 0;

        &.disabled .caret {
          border-top-color: #666;
          border-bottom-color: #666;
        }
      }
    }
  }
}
/* disabled button group with dropdown-menu:end */
