/* @theme: admin.oro; */

// Bootstrap - Buttons
.btn {
    background: $btn-background;
    height: $btn-height;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    font-weight: $btn-font-weight;
    color: $btn-color;
    text-shadow: $btn-text-shadow;
    text-transform: $btn-text-transform;
    padding: $btn-inner-offset;
    border: $btn-border;
    border-radius: $btn-border-radius;
    box-shadow: $btn-box-shadow;

    &:hover,
    &:focus {
        background: $btn-hover-background;
        text-decoration: $btn-hover-text-decoration;
        border-color: $btn-hover-border-color;
        color: $btn-hover-color;
    }

    &:active {
        background: $btn-active-background;
        color: $btn-active-color;
        border-color: $btn-active-border-color;
        box-shadow: $btn-active-box-shadow;
    }

    &[disabled],
    &.disabled {
        &,
        &:hover,
        &:active,
        &:focus {
            background: $btn-disabled-background;
            color: $btn-disabled-color;
            border-color: $btn-disabled-border-color;
            opacity: $btn-disabled-opacity;
            box-shadow: $btn-disabled-box-shadow;
        }
    }

    [class^="fa-"],
    [class*=" fa-"] {
        vertical-align: $btn-fa-vertical-align;
        margin: $btn-fa-offset;

        &:before {
            font-size: $btn-fa-font-size;
        }
    }

    &-light {
        background: $btn-light-background;
        color: $btn-light-color;
        text-shadow: $btn-light-text-shadow;
        border-color: $btn-light-border-color;

        &:hover,
        &:focus {
            background: $btn-light-hover-background;
            border-color: $btn-light-hover-border-color;
            color: $btn-light-hover-color;
        }

        &:active {
            background: $btn-light-active-background;
            color: $btn-light-active-color;
            border-color: $btn-light-active-border-color;
            box-shadow: $btn-light-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-light-disabled-background;
                color: $btn-light-disabled-color;
                border-color: $btn-light-disabled-border-color;
                box-shadow: $btn-light-disabled-box-shadow;
            }
        }
    }

    &-primary {
        background: $btn-primary-background;
        color: $btn-primary-color;
        text-shadow: $btn-primary-text-shadow;
        border-color: $btn-primary-border-color;

        &:hover,
        &:focus {
            background: $btn-primary-hover-background;
            border-color: $btn-primary-hover-border-color;
            color: $btn-primary-hover-color;
        }

        &:active {
            background: $btn-primary-active-background;
            color: $btn-primary-active-color;
            border-color: $btn-primary-active-border-color;
            box-shadow: $btn-primary-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-primary-disabled-background;
                color: $btn-primary-disabled-color;
                border-color: $btn-primary-disabled-border-color;
                box-shadow: $btn-primary-disabled-box-shadow;
            }
        }
    }

    &-info {
        background: $btn-info-background;
        color: $btn-info-color;
        text-shadow: $btn-info-text-shadow;
        border-color: $btn-info-border-color;

        &:hover,
        &:focus {
            background: $btn-info-hover-background;
            border-color: $btn-info-hover-border-color;
            color: $btn-info-hover-color;
        }

        &:active {
            background: $btn-info-active-background;
            color: $btn-info-active-color;
            border-color: $btn-info-active-border-color;
            box-shadow: $btn-info-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-info-disabled-background;
                color: $btn-info-disabled-color;
                border-color: $btn-info-disabled-border-color;
                box-shadow: $btn-info-disabled-box-shadow;
            }
        }
    }

    &-success {
        background: $btn-success-background;
        color: $btn-success-color;
        text-shadow: $btn-success-text-shadow;
        border-color: $btn-success-border-color;

        &:hover,
        &:focus {
            background: $btn-success-hover-background;
            border-color: $btn-success-hover-border-color;
            color: $btn-success-hover-color;
        }

        &:active {
            background: $btn-success-active-background;
            color: $btn-success-active-color;
            border-color: $btn-success-active-border-color;
            box-shadow: $btn-success-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-success-disabled-background;
                color: $btn-success-disabled-color;
                border-color: $btn-success-disabled-border-color;
                box-shadow: $btn-success-disabled-box-shadow;
            }
        }
    }

    &-warning {
        background: $btn-warning-background;
        color: $btn-warning-color;
        text-shadow: $btn-warning-text-shadow;
        border-color: $btn-warning-border-color;

        &:hover,
        &:focus {
            background: $btn-warning-hover-background;
            border-color: $btn-warning-hover-border-color;
            color: $btn-warning-hover-color;
        }

        &:active {
            background: $btn-warning-active-background;
            color: $btn-warning-active-color;
            border-color: $btn-warning-active-border-color;
            box-shadow: $btn-warning-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-warning-disabled-background;
                color: $btn-warning-disabled-color;
                border-color: $btn-warning-disabled-border-color;
                box-shadow: $btn-warning-disabled-box-shadow;
            }
        }
    }

    &-danger {
        background: $btn-danger-background;
        color: $btn-danger-color;
        text-shadow: $btn-danger-text-shadow;
        border-color: $btn-danger-border-color;

        &:hover,
        &:focus {
            background: $btn-danger-hover-background;
            border-color: $btn-danger-hover-border-color;
            color: $btn-danger-hover-color;
        }

        &:active {
            background: $btn-danger-active-background;
            color: $btn-danger-active-color;
            border-color: $btn-danger-active-border-color;
            box-shadow: $btn-danger-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-danger-disabled-background;
                color: $btn-danger-disabled-color;
                border-color: $btn-danger-disabled-border-color;
                box-shadow: $btn-danger-disabled-box-shadow;
            }
        }
    }

    &-dark {
        background: $btn-dark-background;
        color: $btn-dark-color;
        text-shadow: $btn-dark-text-shadow;
        border-color: $btn-dark-border-color;

        &:hover,
        &:focus {
            background: $btn-dark-hover-background;
            border-color: $btn-dark-hover-border-color;
            color: $btn-dark-hover-color;
        }

        &:active {
            background: $btn-dark-active-background;
            color: $btn-dark-active-color;
            border-color: $btn-dark-active-border-color;
            box-shadow: $btn-dark-active-box-shadow;
        }

        &[disabled],
        &.disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                background: $btn-dark-disabled-background;
                color: $btn-dark-disabled-color;
                border-color: $btn-dark-disabled-border-color;
                box-shadow: $btn-dark-disabled-box-shadow;
            }
        }
    }

    &-mini {
        height: $btn-mini-height;
        font-size: $btn-mini-font-size;
        line-height: $btn-mini-line-height;
    }

    &-icon {
        width: $btn-icon-width;
        padding: $btn-icon-inner-offset;
        position: $btn-icon-position;
        text-indent: $btn-icon-text-indent;

        [class^="fa-"],
        [class*=" fa-"],
        &:before,
        &:after {
            margin: $btn-icon-fa-offset;
            text-indent: $btn-icon-fa-text-indent;
            position: $btn-icon-fa-position;
            top: $btn-icon-fa-top;
            left: $btn-icon-fa-left;
            transform: $btn-icon-fa-transform;
        }
    }

    &-login-roles {
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
    }

    &.process {
        @include process();
    }

    &.btn-link {
        background: $btn-link-background;
        font-weight: $btn-link-font-weight;
        text-decoration: $btn-link-text-decoration;
        border: $btn-link-border;
        padding: $btn-link-inner-offset;
        box-shadow: $btn-link-box-shadow;
        border-radius: $btn-link-border-radius;

        &:hover {
            text-decoration: $btn-link-hover-text-decoration;
        }
    }

    .caret {
        margin-top: $btn-caret-offset-top;
    }
}

.btn-group {
    + .btn-group {
        margin-left: 8px;
    }

    > .btn {
        height: $btn-group-btn-height;
        font-size: $btn-group-btn-font-size;
        line-height: $btn-group-btn-line-height;

        &:first-child {
            border-top-left-radius: $btn-group-btn-border-radius;
            border-bottom-left-radius: $btn-group-btn-border-radius;
        }

        &:last-child {
            border-top-right-radius: $btn-group-btn-border-radius;
            border-bottom-right-radius: $btn-group-btn-border-radius;
        }

        + .dropdown-toggle {
            box-shadow: $btn-group-btn-dropdown-toggle-box-shadow;
        }
    }

    > .dropdown-toggle {
        border-top-right-radius: $btn-group-btn-border-radius;
        border-bottom-right-radius: $btn-group-btn-border-radius;
    }

    &.open {
        .btn.dropdown-toggle,
        .btn.dropdown-toggle:active {
            background: $btn-group-open-btn-background;
            color: $btn-group-open-btn-color;
            border-color: $btn-group-open-btn-border-color;
            box-shadow: $btn-group-open-btn-box-shadow;

            &.btn-success {
                background: $btn-group-success-open-btn-background;
                border-color: $btn-group-success-open-btn-border-color;
                box-shadow: $btn-group-success-open-btn-box-shadow;
            }
        }
    }
}

.btn-brand {
    &-google {
        background: $btn-brand-google-background;
        border-color: $btn-brand-google-border-color;
        position: $btn-brand-google-position;
        padding-left: $btn-brand-google-padding-left;
        font-size: $btn-brand-google-font-size;
        height: $btn-brand-google-height;
        line-height: $btn-brand-google-line-height;

        &:before {
            content: $btn-brand-google-before-content;
            font-family: $btn-brand-google-before-font-family;
            font-size: $btn-brand-google-before-font-size;
            position: $btn-brand-google-before-position;
            top: $btn-brand-google-before-top;
            left: $btn-brand-google-before-left;
            transform: $btn-brand-google-before-transform;
        }

        &:hover,
        &:focus {
            background: $btn-brand-google-hover-background;
            border-color: $btn-brand-google-hover-border-color;
        }

        &:active {
            background: $btn-brand-google-active-background;
            border-color: $btn-brand-google-active-border-color;
            color: $btn-brand-google-active-color;
        }

        &[disabled] {
            &,
            &:hover,
            &:active,
            &:focus {
                background-color: $btn-brand-google-disabled-background-color;
                border-color: $btn-brand-google-disabled-border-color;
                color: $btn-brand-google-disabled-color;
            }
        }
    }
}

.dropdown-toggle-split {
    &:after,
    .dropup &:after,
    .dropright &:after,
    .caret {
        margin-left: 0;
    }

    .dropleft &:before {
        margin-right: 0;
    }
}
