/* @theme: admin.oro; */

.checkbox-view {
    line-height: $checkbox-line-height;
    display: $checkbox-display;
    vertical-align: $checkbox-vertical-align;
    position: $checkbox-position;

    &__icon {
        display: $checkbox-icon-display;

        height: $checkbox-icon-height;
        width: $checkbox-icon-width;

        border: $checkbox-icon-border;
        background-color: $checkbox-icon-background-color;

        border-radius: $checkbox-icon-border-radius;

        cursor: $checkbox-icon-cursor;

        position: $checkbox-icon-position;

        color: $checkbox-icon-color;

        &:before {
            position: $checkbox-icon-marker-position;
            top: $checkbox-icon-marker-top;
            left: $checkbox-icon-marker-start;
            transform: $checkbox-icon-marker-transform;

            font-size: $checkbox-icon-marker-font-size;
            line-height: $checkbox-icon-marker-line-height;
            font-family: $checkbox-icon-marker-font-family;
        }

        &--circle {
            border-radius: $checkbox-icon-circle-border-radius;

            &:before {
                content: "";
                margin: $checkbox-icon-circle-marker-outer-offset;
                display: $checkbox-icon-circle-marker-display;
                width: $checkbox-icon-circle-marker-width;
                height: $checkbox-icon-circle-marker-height;
                border-radius: $checkbox-icon-circle-border-radius;
            }
        }

        &--size-l {
            width: $checkbox-icon-size-l-width;
            height: $checkbox-icon-size-l-height;

            &:before {
                font-size: $base-font-size;
            }
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        position: $checkbox-input-position;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        top: 0;
        #{$start}: 0;
    }

    &__input {
        position: $checkbox-input-position;
        z-index: $checkbox-input-z-index;
        opacity: 0;
        width: 100%;
        height: 100%;

        &:hover,
        &:focus {
            & ~ .checkbox-view__icon {
                border-color: $checkbox-icon-border-color;
            }
        }

        &:checked {
            ~ .checkbox-view__icon {
                background-color: $checkbox-icon-checked-background-color;
                border-color: $checkbox-icon-checked-border-color;

                &:before {
                    content: $checkbox-checked-icon;
                }
            }

            ~ .checkbox-view__icon--circle {
                background-color: $checkbox-icon-circle-checked-background-color;
                border-color: $checkbox-icon-circle-checked-border-color;

                &:before {
                    content: $checkbox-circle-checked-icon;
                    background-color: $checkbox-icon-circle-point-checked-background-color;
                }
            }

            &:disabled {
                ~ .checkbox-view__icon {
                    background-color: $checkbox-icon-disabled-background-color;
                }
            }

            &:hover,
            &:focus {
                & ~ .checkbox-view__icon {
                    border-color: $checkbox-icon-border-color;
                    box-shadow: 0 0 $checkbox-icon-border-shadow-size $checkbox-icon-border-color;
                }
            }
        }

        &:indeterminate {
            ~ .checkbox-view__icon:not(.checkbox-view__icon--circle) {
                background-color: $checkbox-icon-indeterminate-background-color;
                border-color: $checkbox-icon-indeterminate-border-color;

                &:before {
                    content: $checkbox-indeterminate-icon;
                }
            }
        }

        &:disabled {
            & ~ .checkbox-view__icon {
                opacity: $checkbox-disabled-opacity;
                background-color: $checkbox-disabled-background-color;
                pointer-events: $checkbox-disabled-pointer-events;
            }
        }
    }

    &__text {
        margin-#{$start}: $checkbox-text-outer-offset-start;
        vertical-align: $checkbox-text-vertical-align;
        font-size: $base-font-size;

        &:empty {
            display: $checkbox-text-empty-display;
        }
    }

    &.empty-label {
        .controls > & {
            margin-top: $checkbox-label-empty-offset-top;
        }
    }

    > .controls & {
        margin-top: $checkbox-controls-offset-top;
    }

    + span,
    + div,
    + label,
    &-label {
        margin-#{$start}: $checkbox-sibling-outer-offset;
        vertical-align: middle;
        display: inline-block;
    }

    + label {
        display: inline;
    }
}

.shift-checkbox {
    padding-#{$start}: $checkbox-shift-offset;

    .checkbox-view {
        vertical-align: text-top;
        margin-#{$start}: -$checkbox-shift-offset;
        margin-#{$end}: $checkbox-shift-offset - $checkbox-icon-width;
    }
}
