/* @theme: admin.oro; */

.custom-checkbox {
    color: #878789;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &__input {
        position: absolute;
        z-index: -1;
        margin: 0;
        opacity: 0;

        &:hover {
            ~ .custom-checkbox__icon {
                border: 2px solid #c6c6c6;
            }
        }

        &:focus {
            ~ .custom-checkbox__icon {
                border: 2px solid #0c84a3;
            }
        }

        &:checked {
            ~ .custom-checkbox__icon {
                border: 2px solid #0c84a3;
                background-color: #0c84a3;

                &:before {
                    content: "\f00c";
                }
            }

            &:disabled {
                ~ .custom-checkbox__icon {
                    border: 2px solid #0c84a3;
                    background-color: #0c84a3;
                    opacity: .5;
                }
            }
        }

        &:indeterminate {
            ~ .custom-checkbox__icon {
                border: 2px solid #0c84a3;
                background-color: #0c84a3;

                &:before {
                    content: "\f068";
                }
            }
        }

        &:disabled {
            ~ .custom-checkbox__icon {
                background: #f8f8f8;
                border: 2px solid #e3e3e4;
                pointer-events: none;
            }
        }
    }

    &__icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        border: 2px solid #c6c6c6;
        background-color: #fff;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;
        position: relative;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'FontAwesome';
            font-size: 14px;
            line-height: 1;
        }
    }

    &__text {
        vertical-align: middle;
    }

    &.absolute {
        position: relative;

        .custom-checkbox__text {
            display: inline-block;
            margin-left: 24px;
        }

        .custom-checkbox__icon {
            position: absolute;
            top: 3px;
            left: 0;
        }
    }
}
