/* @theme: admin.oro; */

[type='checkbox'] {
    border: $checkbox-border;
    border-radius: $checkbox-border-radius;

    @include fa-icon($icon: $checkbox-icon-checked, $extra-rules: true) {
        font-size: $checkbox-icon-size;
        line-height: $checkbox-icon-line-height;
    }
}

[type='radio'] {
    border: $checkbox-radio-border;
    border-radius: $checkbox-radio-border-radius;

    &::before {
        content: $checkbox-radio-icon-content;
        background: $checkbox-radio-icon-background-checked;
        width: $checkbox-radio-icon-size;
        height: $checkbox-radio-icon-size;
        border-radius: $checkbox-radio-icon-border-radius;
    }
}

[type='checkbox'],
[type='radio'] {
    background-color: $checkbox-background;
    // stylelint-disable-next-line declaration-no-important
    width: $checkbox-size-var !important;
    // stylelint-disable-next-line declaration-no-important
    height: $checkbox-size-var !important;
    margin: $checkbox-margin;
    color: $checkbox-color;
    appearance: $checkbox-appearance;
    vertical-align: $checkbox-vertical-align;
    display: $checkbox-display;
    // To prevent shrink or grow checkbox if it's in flex container context
    flex: $checkbox-flex;
    outline: $checkbox-outline;

    &::before {
        place-self: $checkbox-icon-place-self;
        opacity: $checkbox-icon-opacity;
    }

    &:checked {
        &::before {
            opacity: $checkbox-icon-opacity-checked;
        }
    }

    &:hover {
        border-color: $checkbox-border-color-hover;
    }

    &:focus {
        border-color: $checkbox-border-color-focus;
        box-shadow: $checkbox-box-shadow-focus;
    }

    &:disabled {
        opacity: $checkbox-opacity-disabled;
    }

    + label {
        margin-left: $checkbox-gap;
        display: $checkbox-sibling-label-display;
        vertical-align: $checkbox-sibling-label-vertical-align;
    }
}

[type='checkbox']:checked {
    background-color: $checkbox-background-checked;
    border-color: $checkbox-border-color-checked;
}

[type='checkbox']:indeterminate {
    border-color: $checkbox-border-color-indeterminate;
    background-color: $checkbox-background-indeterminate;

    &::before {
        content: $checkbox-icon-indeterminate;
        opacity: $checkbox-icon-opacity-checked;
    }
}

[type='radio']:focus {
    border-color: $checkbox-radio-border-color-focus;
}

[type='radio']:checked {
    &:focus {
        border-color: $checkbox-radio-border-color-checked-focus;
    }
}
