/* @theme: admin.oro; */

.create-select-entity .box-type1 .title,
.create-select-entity h5 {
    height: 1px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    text-align: left;
    border-bottom: #e6e6e6 1px solid;
    overflow: visible;
    width: 90%;
}

.create-select-entity .box-type1 .title .widget-title,
.create-select-entity h5 span {
    background: #fff;
    display: inline-block;
    line-height: 15px;
    padding-right: 15px;
    position: relative;
    top: -.6em;
}

/** create-select buttons visibility */
.create-select-entity .entity-create-block,
.create-select-entity .entity-select-block,
.create-select-entity .entity-view-block {
    display: none;
}

.create-select-entity.create .entity-create-block,
.create-select-entity.grid .entity-select-block,
.create-select-entity.view .entity-view-block {
    display: block;
}

.create-select-entity.create .entity-cancel-btn,
.create-select-entity.view .entity-cancel-btn,
.create-select-entity.create .entity-create-btn,
.create-select-entity.grid .entity-select-btn {
    display: none;
}
