/* @theme: admin.oro; */

.create-select-entity {
    .box-type1 .title,
    h5 {
        height: 1px;
        margin-bottom: 20px;
        padding: 0;
        position: relative;
        text-align: left;
        border-bottom: #e6e6e6 1px solid;
        overflow: visible;
        width: 90%;
    }


    .box-type1 .title .widget-title,
    h5 span {
        background: #fff;
        display: inline-block;
        line-height: 15px;
        padding-right: 15px;
        position: relative;
        top: -.6em;
    }

    /** create-select buttons visibility */
    .entity-create-block,
    .entity-select-block,
    .entity-view-block {
        display: none;
    }

    &.create .entity-create-block,
    &.grid .entity-select-block,
    &.view .entity-view-block {
        display: block;
    }

    &.create .entity-cancel-btn,
    &.view .entity-cancel-btn,
    &.create .entity-create-btn,
    &.grid .entity-select-btn {
        display: none;
    }
}
