@-webkit-keyframes spin-loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-loading {
  100% {
    transform: rotate(360deg);
  }
}

%loader {
  border: $loading-mask-icon-size-width solid $loading-mask-icon-color;
  border-bottom-color: transparent;
  border-left-color: transparent;

  border-radius: 50%;
  animation: spin-loading .85s linear infinite;
}
