/* @theme: admin.oro; */

#flash-messages {
    position: $flash-messages-container-position;
}

.flash-messages {
    &-frame {
        position: $flash-messages-frame-position;
        left: $flash-messages-frame-left;
        width: $flash-messages-frame-width;
        padding: $flash-messages-frame-offset;
        z-index: $flash-messages-frame-z-index;

        .alert {
            margin-top: $flash-messages-alert-offset-top;
        }
    }

}
