.form-description {
    margin-bottom: 50px;

    &--signin-help {
        margin-bottom: 30px;
    }

    &__logo {
        margin-bottom: 40px;
    }

    &__logo-img {
        display: block;
        margin: 0 auto;

        &--commerce {
            max-width: 286px;
        }

        &--crm {
            max-width: 190px;
        }
    }

    &__main {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        color: #565656;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        text-align: center;
        color: #878789;
    }
}
