@import "../variables/oro/inputs-variables";

input,
textarea,
.uneditable-input {
  width: $field-width;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.selector {
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  border: $input-border;
  font-family: $input-font-family;
  padding: $input-inner-offset;
  box-shadow: $input-box-shadow;
  color: $input-color;
  height: $field-size;

  &:focus {
    box-shadow: $input-focus-box-shadow;
    border-color: $input-focus-border-color;

    &:invalid {
      &:focus {
        box-shadow: $input-invalid-focus-box-shadow;
        border-color: $input-invalid-focus-border-color;
      }
    }
  }

  &:disabled {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-background-color;
    color: $input-disabled-color;
    resize: $input-disabled-resize;
  }

  &.error {
    border-color: $input-error-border-color;
    box-shadow: $input-error-box-shadow;
  }
}

/* Select */
.selector {
  line-height: $selector-line-height;
  height: $selector-height;
  width: $selector-width;
  border: $selector-border;
  background-color: $selector-background-color;
  border-radius: $selector-border-radius;

  option {
    padding-left: $selector-option-inner-offset-left;
  }

  select {
    height: $selector-select-height;
    line-height: $selector-select-line-height;
    z-index: $selector-select-z-index;
    padding: $selector-select-inner-offset;
    left: $selector-select-left;
    width: $selector-select-width;
    box-sizing: $selector-select-box-sizing;
    color: $primary-200;
  }

  span {
    height: $selector-select-height;
    display: $selector-uniform-display;
    line-height: $selector-select-line-height;
    box-sizing: $selector-uniform-box-sizing;
    padding: $selector-uniform-inner-offset;
    white-space: $selector-uniform-white-space;
    overflow: $selector-uniform-overflow;
    text-overflow: $selector-uniform-text-overflow;
    position: $selector-uniform-position;

    &:after {
      content: "\f0dd";
      margin: $selector-uniform-arrow-outer-offset;
      display: $selector-uniform-arrow-display;
      font-size: $base-font-size--lx;
      font-family: $selector-uniform-arrow-font-family;
      position: $selector-uniform-arrow-position;
      right: $selector-uniform-arrow-right;
      color: $selector-uniform-arrow-color;
      line-height: $selector-uniform-line-height;
    }
  }

  &.input-widget-select select {
    width: $selector-widget-select-width;
  }

  &.focus,
  &.hover,
  &:hover {
    box-shadow: $input-focus-box-shadow;
    border-color: $input-focus-border-color;
  }

  &.disabled {
    span {
      border-color: $input-disabled-border-color;
      background-color: $input-disabled-background-color;
      color: $input-disabled-color;

      &:after {
        color: $input-disabled-border-color;
      }
    }
  }

  &.error {
    span {
      color: $danger-dark;

      &:after {
        color: $input-error-border-color;
      }
    }
  }
}

/* Checkbox */
.checkbox-view {
  margin-bottom: $checkbox-outer-offset-bottom;
  line-height: $checkbox-line-height;
  display: $checkbox-display;
  vertical-align: $checkbox-vertical-align;

  > .controls & {
    margin-top: 12px;
  }

  + span,
  + div {
    margin-left: $checkbox-sibling-outer-offset-left;
  }

  &__icon {
    display: $checkbox-icon-display;

    height: $checkbox-icon-height;
    width: $checkbox-icon-width;

    border: $checkbox-icon-border;
    background-color: $checkbox-icon-background-color;

    border-radius: $checkbox-icon-border-radius;

    cursor: $checkbox-icon-cursor;

    vertical-align: $checkbox-icon-vertical-align;

    position: $checkbox-icon-position;

    color: $checkbox-icon-color;

    &:before {
      position: $checkbox-icon-marker-position;
      top: $checkbox-icon-marker-top;
      left: $checkbox-icon-marker-left;
      transform: $checkbox-icon-marker-transform;

      font-size: $checkbox-icon-marker-font-size;
      line-height: $checkbox-icon-marker-line-height;
      font-family: $checkbox-icon-marker-font-family;
    }

    &--circle {
      border-radius: $checkbox-icon-circle-border-radius;

      &:before {
        content: "";
        margin: $checkbox-icon-circle-marker-outer-offset;
        display: $checkbox-icon-circle-marker-display;
        width: $checkbox-icon-circle-marker-width;
        height: $checkbox-icon-circle-marker-height;
        border-radius: $checkbox-icon-circle-border-radius;
      }
    }

    &--size-l {
      width: $checkbox-icon-size-l-width;
      height: $checkbox-icon-size-l-height;

      &:before {
        font-size: $base-font-size;
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: $checkbox-input-display;
  }

  &__input {
    position: $checkbox-input-position;
    z-index: $checkbox-input-z-index;

    &:hover, &:focus {
      & ~ .checkbox-view__icon {
        border-color: $secondary;
      }
    }

    &:checked {
      ~ .checkbox-view__icon {
        background-color: $secondary;
        border-color: $secondary;
        &:before {
          content: $checkbox-checked-icon;
        }
      }

      ~ .checkbox-view__icon--circle {
        background-color: transparent;
        border-color: $secondary;

        &:before {
          content: $checkbox-circle-checked-icon;
          background-color: $secondary;
        }
      }

      &:disabled {
        ~ .checkbox-view__icon {
          background-color: $secondary;
        }
      }
    }

    &:indeterminate {
      ~ .checkbox-view__icon:not(.checkbox-view__icon--circle) {
        background-color: $secondary;
        border-color: $secondary;
        &:before {
          content: $checkbox-indeterminate-icon;
        }
      }
    }

    &:disabled {
      & ~ .checkbox-view__icon {
        opacity: $checkbox-disabled-opacity;
        background-color: $checkbox-disabled-background-color;
        pointer-events: $checkbox-disabled-pointer-events;
      }
    }
  }

  &__text {
    margin-left: $checkbox-text-outer-offset-left;
    vertical-align: $checkbox-text-vertical-align;
    font-size: $base-font-size;

    &:empty {
      display: $checkbox-text-empty-display;
    }
  }
}

.add-on,
.btn {
  .input-append &,
  .input-prepend & {
    float: $add-on-float;
    border: $add-on-border;
    background-color: $add-on-background-color;
    height: $add-on-height;
    width: $add-on-height;
    line-height: $add-on-line-height;
    padding: $add-on-inner-offset;

    input[type='checkbox'],
    input[type='radio'] {
      margin-top: $add-on-input-outer-offset-top;
    }

    &:last-child {
      border-radius: $add-on-last-child-border-radius;
    }

    &:first-child {
      border-radius: $add-on-first-child-border-radius;
    }

    &:disabled {
      border-color: $add-on-disabled-border-color;
      background-color: $add-on-disabled-background-color;
      color: $add-on-disabled-color;
    }
  }

  .input-append & {
    border-radius: $add-on-append-border-radius;
    margin-left: -2px;

    &:not(:first-of-type) {
      margin-left: $add-on-append-outer-offset-left;
    }
  }

  .input-prepend & {
    border-radius: $add-on-append-border-radius;
    margin-right: -2px;

    &:not(:last-of-type) {
      margin-right: $add-on-append-outer-offset-left;
    }
  }
}

/* start uniformjs customization (see documentation http://uniformjs.com/ selectAutoWidth property for explain this styles) */
.controls {
  select {
    width: 279px;
  }

  .selector {
    select {
      width: 100%;
    }
  }
}

// ie, chrome, safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// firefox
input[type=number] {
  -moz-appearance:textfield;
}

.alert .message ul:last-child {
  margin-bottom: 0;
}

input[type=text].hasDatepicker.ui-datepicker-dialog-is-below:focus,
.ui-datepicker-dialog-is-below,
.timepicker-dialog-is-below,
.input-append.select2-drop-below,
.controls.select2-drop-below select,
.controls.select2-drop-below .select2-container,
.controls .selector.focus {
  + span.validation-failed {
    @include floating-validation-message();
  }
}

.loading > .input-append {
  position: relative;

  & .btn:focus {
    outline: 0 none;
  }

  .select2-container-active .select2-choice {
    border: 0 none;
    box-shadow: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../../orodatagrid/images/preloader.gif") repeat;
  }
}

.timepicker-dialog-is-below.timepicker-error + span.validation-failed:after {
  left: 128px;
}
