/* @theme: admin.oro; */

/* Header */
.navbar.app-header {
    margin-bottom: 0;

    .unclickable {
        cursor: default;
    }

    .navbar-inner {
        min-height: initial;
        background: none;
        background-color: inherit;
        border-radius: 0;
        border-width: 0;
        box-shadow: none;

        > .container {
            background-color: inherit;
        }
    }

    .nav.top-search { // Includes Shortcuts and Search
        .dropdown {
            float: left;

            .dropdown-menu {
                &:before {
                    border-bottom: 7px solid rgba(0, 0, 0, .2);
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    content: "";
                    display: inline-block;
                    left: 9px;
                    position: absolute;
                    top: -7px;
                }

                &:after {
                    border-bottom: 6px solid #fff;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    content: "";
                    display: inline-block;
                    left: 10px;
                    position: absolute;
                    top: -6px;
                }

                .dark {
                    border: 1px solid #eaeaea;
                    border-width: 1px 0;
                    background-color: #fbfbfb;
                    padding: 15px 15px 7px;
                }

                .nav-header { /* Dropdown smaller section title */
                    padding: 2px 14px 5px;
                    color: #444;
                    font-size: $base-font-size--s;
                }

                .nav-header-title { /* Dropdown main title */
                    display: block;
                    font-size: $base-font-size--s;
                    line-height: 1.2em;
                    text-transform: none;
                }

                .btn {
                    height: 30px;
                    line-height: 29px;
                }
            }

            /* Header search dropdown */
            &.header-dropdown-search {
                .dark {
                    border-bottom: none;
                    border-radius: 0 0 3px 3px;
                }

                .dropdown-menu {
                    width: 330px;
                }

                > .dropdown-menu {
                    padding-bottom: 0;
                }

                .search-form {
                    display: inline-block;
                    padding: 0;
                    width: 100%;

                    .header-search {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        width: 100%;

                        #search-bar-search {
                            border-left: 0;
                        }

                        .btn-group.btn-block {
                            width: auto;
                            float: left;
                        }

                        .header-search-frame {
                            position: relative;
                            vertical-align: top;
                            margin-left: 50px;
                            margin-right: 56px;
                            width: auto;

                            input[type='text'] {
                                width: 100%;
                                height: 30px;
                                border-left-color: #ccc;
                                border-radius: 0;
                                box-sizing: border-box;
                            }
                        }

                        .dropdown-toggle {
                            border-color: #ccc;
                            background: #ebebeb;
                            background: linear-gradient(#f0f0f0, #e1e1e1);
                            color: #444;
                            min-width: 50px;
                            text-shadow: none;
                            font-weight: bold;
                        }

                        .btn-group.open .btn.dropdown-toggle {
                            background: #5c666f;
                            background: linear-gradient(#f0f0f0, #e1e1e1);
                        }

                        .btn-search {
                            position: relative;
                            margin-left: -1px;
                            border-radius: 0 3px 3px 0;
                            border-color: #4978c2;
                            min-width: 42px;
                        }

                        .custom-dropdown {
                            position: absolute;
                            top: 28px;
                            left: 1px;
                            border: 1px solid #ccc;
                            background: #fff;
                            width: 211px;
                            z-index: 105;
                            color: #777;
                            border-radius: 0 0 3px 3px;
                            font: 12px/14px $base-font-family;
                            display: none;

                            ul {
                                margin: 0;
                                padding: 0;
                            }

                            li {
                                display: block;
                            }

                            li > a,
                            li > span,
                            .search-view-more-link {
                                padding: 5px 10px;
                                display: block;
                            }

                            li a {
                                color: #777;
                                white-space: normal;
                                cursor: pointer;
                            }

                            li a:hover,
                            li.hovered a {
                                text-decoration: none;
                                background: #f5f5f5;
                            }

                            li a:focus {
                                outline: none;
                            }
                            .search-view-more-link:hover {
                                background: #f5f5f5;
                            }
                            .name {
                                display: block;
                                clear: both;
                            }
                        }

                        .avatar {
                            float: right;
                        }

                        &.search-focus input[type="text"]:focus {
                            background-color: #fff;
                            background-image: none;
                            color: #444;
                        }

                        &:after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    } // Ends .header-search
                } // Ends .search-form

                /* Header search scope dropdown */
                .search-focus input[type="text"],
                .header-search-focused input[type="text"] {
                    box-shadow: none !important;
                    background: #fff;
                    color: #444;
                }

                .header-search-focused #search-dropdown {
                    display: block;
                }

                #search-bar-button {
                    width: 100%;
                    min-width: 0;
                    padding: 0 5px 0 9px;
                    text-align: right;
                    .search-bar-type {
                        float: left;
                    }

                    .fa-caret-down {
                        margin-left: 8px;
                    }
                }
                #search-bar-dropdown {
                    min-width: 0;
                    width: auto;
                    margin-top: -1px;
                    border-top-color: #ccc;
                    border-radius: 0 0 4px 4px;

                    &:before,
                    &:after {
                        border:none;
                    }

                    > li > a {
                        padding: 1px 10px;
                    }
                }
            } // Ends &:.header-dropdown-search

            &.header-dropdown-shortcut {
                .dropdown-menu {
                    width: 330px;

                    .form-inline {
                        margin: 0;

                        input[type='text'] {
                            border-radius: 3px 0 0 3px;
                            width: 239px;
                            margin-right: -4px;
                        }

                        .btn {
                            position: relative;
                            border-color: #4978c2;
                            border-radius: 0 3px 3px 0;
                        }

                        .typeahead {
                            width: 253px;

                            &:before,
                            &:after {
                                border: none;
                            }
                        }
                    }
                }
            }
        } // Ends .dropdown

    } // Ends .top-search
}
