/* @theme: admin.oro; */

.inline-actions-element {
    display: inline-flex;
    align-items: flex-start;
    margin: (-$content-padding-small / 2 - 2px) (-$content-padding-small / 2) (-$content-padding-small / 2);
    padding: ($content-padding-small / 2) ($content-padding-small / 2);

    transition: $hover-transition;

    .inline-actions-element_actions {
        visibility: hidden;
    }

    &:hover {
        background: $inline-action-background;

        .inline-actions-element_actions {
            visibility: visible;
        }
    }

    &.inline-actions-element_no-actions:hover {
        background: transparent;
    }

    .inline-actions-element_wrapper {
        word-break: break-all;
        display: inline-block;
    }

    &.truncate {
        display: inline-flex;
        .inline-actions-element_wrapper {
            padding: 0;
            @include text-line-truncate(200px, true);
        }
    }
}

.inline-actions-element_actions {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    min-height: 20px;
    line-height: 1.15;

    .btn {
        font: 0/0 a;
        width: 20px;
        height: 20px;
        padding: 0;
        text-align: center;

        &,
        &:focus,
        &:active,
        &:hover {
            color: transparent;
            text-shadow: none;
            border-color: transparent;
            background: transparent none;
            box-shadow: none;
        }

        [class^="fa-"],
        [class*=" fa-"] {
            width: 14px;
            height: 20px;
            margin: 0 1px;
            line-height: 1;

            &:before {
                font: $base-font-size/26px 'FontAwesome';
                color: $inline-action-color;
                font-size: 15px;
                line-height: 22px;
                height: 22px;
            }

            &.hide-text {
                @include hide-text();
            }
        }
    }

    .attribute-item & {
        .inline-actions-btn {
            line-height: 1;
        }
    }
}
