.jstree-wrapper {
    position: $jstree-wrapper-position;

    min-height: $jstree-wrapper-min-height;
    padding: $jstree-wrapper-inner-offset;

    &__title {
        display: $jstree-wrapper-title-display;

        justify-content: $jstree-wrapper-title-justify-content;
    }

    &__label {
        display: $jstree-wrapper-label-display;
        margin-bottom: $jstree-wrapper-label-offset-bottom;

        &:before {
            display: $jstree-wrapper-label-before-display;

            width: $jstree-wrapper-label-before-width;
            margin-right: $jstree-wrapper-label-before-offset-right;

            font-family: $jstree-wrapper-label-before-font-family;
            font-size: $jstree-wrapper-label-before-font-size;
            font-weight: $jstree-wrapper-label-before-font-weight;
            font-style: $jstree-wrapper-label-before-font-style;

            content: $jstree-wrapper-label-before-content;

            color: $jstree-wrapper-label-before-color;
        }
    }

    &.expanded &__label:before {
        content: $jstree-wrapper-label-expanded-before-content;
    }

    &.expanded .jstree-actions {
        display: $jstree-actions-expanded-display;
    }

    &__text {
        font-weight: $jstree-wrapper-text-font-weight;

        cursor: $jstree-wrapper-text-cursor;
        text-transform: $jstree-wrapper-text-text-transform;

        color: $jstree-wrapper-text-color;
    }

    &__checkbox {
        display: $jstree-wrapper-checkbox-display;
    }

    .jstree {
        margin: $jstree-offset;
        outline: $jstree-outline;

        .search-no-results {
            width: $jstree-search-no-results-width;
            margin-top: $jstree-search-no-results-offset-top;
        }

        .control-group & {
            margin: $jstree-control-group-offset;
        }
    }

    .control-group & {
        max-width: $jstree-wrapper-control-group-max-width;
        min-height: $jstree-wrapper-control-group-min-height;
        padding: $jstree-wrapper-control-group-inner-offset;

        .jstree-wholerow-ul {
            padding-left: $jstree-wrapper-control-group-wholerow-ul-inner-offset-left;
        }
    }
}

.content-with-sidebar--sidebar {
    .jstree-wrapper {
        padding: $jstree-wrapper-sidebar-inner-offset;
    }
}
