@import '../variables/oro/modal-variables';

.modal {
  top: $modal-top-offset;

  &-header {
    padding: $modal-header-inner-offset;
    border-radius: $modal-border-radius $modal-border-radius 0 0;
    background-color: $primary-300;
    border: $modal-header-border;

    .close {
      font-size: $base-font-size--l;
      height: $modal-close-size;
      width: $modal-close-size;
      color: $primary-inverse;
      text-align: $modal-close-align;
      line-height: $modal-close-size;
      margin: $modal-close-top-outer-offset 0 0 0;
      opacity: $modal-close-opacity;

      &:hover,
      &:focus {
        color: $primary-inverse;
        opacity: $modal-close-hover-opacity;
      }
    }

    h3 {
      font-size: $modal-title-font-size;
      font-weight: $modal-title-font-weight;
      line-height: $modal-title-font-size;
    }
  }

  &-body {
    text-align: $modal-content-align;
    padding: $modal-content-inner-offset;
  }

  &-footer {
    background-color: $primary-900;
    border-radius: 0 0 $modal-border-radius $modal-border-radius;
    border: $modal-footer-border;
    padding: $modal-footer-inner-offset;
  }
}

// Normal mode
.oro-modal-normal {
  background-color: $primary-inverse;

  .modal-header {
    background-color: $primary-300;
    color: $primary-inverse;
  }

  .modal-body {
    color: $primary;
  }
}

// Danger mode
.oro-modal-danger {
  background-color: $danger-lighten;

  .modal-header {
    background-color: $danger-darken;
    color: $primary-inverse;
  }

  .modal-body {
    background-color: $danger-lighten;
    color: $danger-ultra-dark;
  }
}

// Info mode
.modal-primary {
  background-color: $info-lighten;

  .modal-header {
    background-color: $info-dark;
    color: $primary-inverse;
  }

  .modal-body {
    color: $info-ultra-dark;
  }
}
