/* @theme: admin.oro; */

.page-toolbar {
    border-bottom: 1px solid #f2f2f2;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;

    &_bookmark-buttons {
        flex-shrink: 0;
    }

    &_breadcrumb {
        margin-right: auto;
    }

    &_before-content-addition {
        flex-shrink: 0;
    }
}
