/* @theme: admin.oro; */

.product-kit-line-items {
    display: flex;
    flex-direction: column;
    row-gap: $content-padding-medium;

    &__item-quantity {
        padding-right: $content-padding-small;
    }
}
