/* @theme: admin.oro; */

.scrollspy {
    position: $scrollspy-position;
    overflow: $scrollspy-overflow;

    &-nav {
        background: $scrollspy-nav-background;
        margin-bottom: $scrollspy-nav-offset-bottom;
        border-radius: $scrollspy-nav-border-radius;

        &-target {
            height: $scrollspy-nav-target-height;
        }

        .navbar-inner {
            padding: $scrollspy-nav-navbar-inner-inner-offset;
            border: $scrollspy-nav-navbar-inner-border;
            background: $scrollspy-nav-navbar-inner-background;

            .container-fluid {
                padding: $scrollspy-nav-navbar-inner-container-fluid-inner-offset;
            }

            .nav {
                li,
                &-item {
                    &.active {
                        a {
                            background: $scrollspy-nav-navbar-inner-nav-link-active-background;
                        }
                    }

                    a {
                        border-radius: $scrollspy-nav-navbar-inner-nav-link-border-radius;

                        &:hover {
                            background: $scrollspy-nav-navbar-inner-nav-link-active-background;
                        }
                    }
                }
            }
        }
    }

    &-title {
        background: $scrollspy-title-background;
        font-size: $scrollspy-title-font-size;
        font-weight: $scrollspy-title-font-weight;
        color: $scrollspy-title-color;
        margin: $scrollspy-title-offset;
        padding: $scrollspy-title-inner-offset;
        border-radius: $scrollspy-title-border-radius;
    }
}
