/* @theme: admin.oro; */

.select2 {
    &-container {
        margin: $select2-container-offset;
        position: $select2-container-position;
        display: $select2-container-display;
        border: $select2-container-border;
        background: $select2-container-background;
        border-radius: $select2-container-border-radius;
        outline: $select2-container-outline;
        width: $select2-container-width;
        height: $select2-container-height;
        vertical-align: $select2-container-vertical-align;
        box-sizing: $select2-container-box-sizing;
        font-size: $select2-container-font-size;

        .error &,
        .validation-error & {
            border-color: $input-error-border-color;
            color: $input-error-border-color;
        }

        &.select2-container-active {
            border-color: $select2-container-active-border-color;
            z-index: $select2-container-active-z-index;

            .error &,
            .validation-error & {
                border-color: $input-error-border-color;
            }
        }

        &.select2-container-with-searchbox.select2-dropdown-open {
            border-color: $select2-container-open-border-color;
        }

        &.select2-allowclear {
            .select2-search-choice-close {
                display: $select2-search-choice-close-allow-display;
            }
            .select2-chosen {
                padding-#{$end}: $select2-chosen-end-offset + $select2-search-choice-close-right;
            }
        }

        .form-horizontal & {
            width: $select2-container-horizontal-width;
            max-width: $select2-container-horizontal-max-width;
        }

        .input-append &,
        .input-prepend & {
            width: $select2-container-input-append-width;
            max-width: $select2-container-input-append-max-width;
        }

        .input-append & {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .input-prepend & {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &-choice {
        display: $select2-choice-display;
        height: $select2-choice-height;
        padding: $select2-choice-padding;
        overflow: $select2-choice-overflow;
        position: $select2-choice-position;
        white-space: $select2-choice-white-space;
        line-height: $select2-choice-line-height;
        color: $select2-choice-color;
        text-decoration: $select2-choice-text-decoration;
        background-clip: $select2-choice-background-clip;
        -webkit-touch-callout: $select2-choice-touch-callout;
        user-select: $select2-choice-user-select;

        &:hover {
            color: $select2-choice-hover-color;
        }

        &:focus {
            outline: $select2-choice-focus-outline;
        }

        &.select2-default .select2-chosen {
            color: $select2-choice-placeholder-color;
            cursor: $select2-choice-cursor;
        }

        img {
            max-width: $select2-choice-image-max-width;
            margin-top: $select2-choice-image-offset-top;
            margin-right: $select2-choice-image-offset-right;
            display: $select2-choice-image-display;
            float: $select2-choice-image-float;
            border-radius: $select2-choice-image-border-radius;
        }

        span {
            display: $select2-choice-span-display;
            overflow: $select2-choice-span-overflow;
            white-space: $select2-choice-span-white-space;
            text-overflow: $select2-choice-span-text-overflow;
        }

        .separated-img {
            margin-right: 5px;
            margin-left: 2px;
        }
    }

    &-chosen {
        padding: side-values($select2-chosen-inner-offset);
        height: $select2-chosen-height;

        & > i[class^="fa-"] {
            height: $select2-chosen-icon-height;
            margin-top: $select2-chosen-icon-offset-left;
            margin-#{$end}: $select2-result-label-icon-offset;
            vertical-align: $select2-chosen-icon-vertical-align;
        }

        .select2__result-entry-info {
            display: $select2-chosen-result-entry-display;
            font-style: $select2-chosen-result-entry-font-style;
            color: $select2-chosen-result-entry-color;
        }
    }

    &-search-choice-close {
        width: $select2-search-choice-close-width;
        height: $select2-search-choice-close-height;
        display: $select2-search-choice-close-display;
        position: $select2-search-choice-close-position;
        #{$end}: $select2-search-choice-close-right;
        top: $select2-search-choice-close-top;
        font-size: $select2-search-choice-close-font-size;
        text-decoration: $select2-search-choice-close-text-decoration;
        border: $select2-search-choice-close-border;
        cursor: $select2-search-choice-close-cursor;
        outline: $select2-search-choice-close-outline;
        z-index: $select2-search-choice-close-z-index;
        color: $select2-search-choice-close-icon-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:hover {
            opacity: .85;
        }

        @include fa-icon($icon: $select2-search-choice-close-icon) {
            top: $select2-search-choice-close-icon-top;
            right: $select2-search-choice-close-icon-right;
            font-size: $select2-search-choice-close-icon-font-size;
        }
    }

    &-arrow {
        display: $select2-search-choice-arrow-display;
        position: $select2-search-choice-arrow-position;
        #{$end}: $select2-search-choice-arrow-right;
        top: $select2-search-choice-arrow-top;
        font-size: $select2-search-choice-arrow-font-size;
        font-family: $select2-search-choice-arrow-font-family;
        font-style: $select2-search-choice-arrow-font-style;
        color: $select2-search-choice-arrow-color;
        text-decoration: $select2-search-choice-arrow-text-decoration;
        -webkit-font-smoothing: $select2-search-choice-arrow-font-smoothing;

        &:before {
            content: $select2-search-choice-arrow-icon;
            text-decoration: $select2-search-choice-arrow-text-decoration;
            display: $select2-search-choice-arrow-display;
            speak: $select2-search-choice-arrow-speak;
        }
    }

    &-container-multi {
        height: $select2-container-multi-height;
        min-height: $select2-container-min-height;
        margin: $select2-container-offset;
        padding: $select2-container-inner-offset;
        position: $select2-container-position;
        cursor: $select2-container-cursor;
        overflow: $select2-container-overflow;

        .select2-choices {
            list-style: $select2-search-multi-choices-list-style;
            margin: side-values($select2-search-multi-choices-offset);
            padding: side-values($select2-search-multi-choices-inner-offset);
            height: $select2-search-multi-choices-height;
            overflow: $select2-search-multi-choices-overflow;

            .select2-search-choice {
                display: flex;
                align-items: center;
                font-size: $select2-search-choice-font-size;
                line-height: $select2-search-choice-line-height;
                color: $select2-search-choice-color;
                position: $select2-search-choice-position;
                box-sizing: $select2-search-choice-box-sizing;
                float: $select2-search-choice-float;
                list-style: $select2-search-choice-list-style;
                white-space: nowrap;
                max-width: calc(100% - (#{$select2-search-choice-offset * 2}));

                > div {
                    @include text-line-truncate(auto, 100%);
                }

                > div {
                    background: $select2-search-choice-background;
                    padding: side-values(
                        $select2-search-choice-inner-offset-vertical
                        ($select2-search-choice-inner-offset-horizontal +
                            $select2-search-multi-choice-close-width +
                            $select2-search-multi-choice-close-right
                        )
                        $select2-search-choice-inner-offset-vertical
                        $select2-search-choice-inner-offset-horizontal
                    );
                    border-radius: $select2-search-choice-border-radius;
                    margin: side-values(0 $select2-search-choice-offset $select2-search-choice-offset 0);
                }

                img {
                    margin-top: $select2-search-choice-img-offset-top;
                    margin-bottom: $select2-search-choice-img-offset-bottom;
                    vertical-align: $select2-search-choice-img-offset-vertical-align;
                    width: $select2-search-choice-img-offset-width;
                    height: $select2-search-choice-img-offset-height;
                }
            }

            .select2-search-field {
                margin: $select2-search-field-offset;
                padding: $select2-search-field-inner-offset;
                white-space: $select2-search-field-white-space;
                float: #{$start};

                input,
                .select2-input {
                    float: $select2-search-field-float;
                    height: $select2-search-field-height;
                    line-height: $select2-search-field-line-height;
                    background-color: $select2-search-field-background-color;
                    margin-bottom: $select2-search-field-offset-bottom;
                    border: $select2-search-field-border;
                    padding: $select2-search-field-inner-offset;

                    &.select2-default {
                        color: $select2-search-field-default-color;
                        padding: $select2-search-field-default-inner-offset;
                    }
                }

                &:first-child {
                    input,
                    .select2-input {
                        padding: $select2-search-field-default-inner-offset;
                    }
                }
            }
        }

        .select2-search-choice-close {
            display: $select2-search-multi-choice-close-display;
            align-items: $select2-search-multi-choice-close-align-items;
            width: $select2-search-multi-choice-close-width;
            height: $select2-search-multi-choice-close-height;
            #{$end}: $select2-search-multi-choice-close-right;
            top: $select2-search-multi-choice-close-top;

            &:hover {
                color: inherit;
            }

            &:before {
                font-size: $select2-search-multi-choice-close-icon-font-size;
                height: $select2-search-multi-choice-close-icon-height;
            }
        }
    }

    &-search {
        display: $select2-search-display;
        width: $select2-search-width;
        padding: $select2-search-inner-offset;

        position: $select2-search-position;
        z-index: $select2-search-z-index;

        white-space: $select2-search-white-space;
    }

    &-drop {
        width: $select2-drop-width;
        margin-top: $select2-drop-offset-top;
        position: $select2-drop-position;
        z-index: $select2-drop-z-index;
        top: $select2-drop-top;

        background: $select2-drop-background;
        color: $select2-drop-color;
        border: $select2-drop-border;
        border-radius: $select2-drop-border-radius;
        box-shadow: $select2-drop-box-shadow;

        .select2__result-entry-info {
            font-style: $select2-drop-result-font-style;
            color: $select2-drop-result-color;
        }

        .select2-highlighted {
            .select2__result-entry-info {
                color: $select2-drop-highlighted-color;
                font-style: $select2-drop-highlighted-font-style;
            }
        }

        &-undermask,
        &-mask {
            position: $select2-drop-mask-position;
            left: $select2-drop-mask-left;
            top: $select2-drop-mask-top;
            z-index: $select2-drop-mask-z-index;
        }

        &-auto-width {
            width: $select2-drop-auto-width;
        }

        &.select2-drop-above {
            border-radius: $select2-drop-above-border-radius;
            box-shadow: $select2-drop-above-box-shadow;
        }

        .select2-input {
            width: $select2-search-input-width;
        }
    }

    /* results */
    &-results {
        max-height: $select2-results-max-height;
        padding: $select2-results-inner-offset;
        margin: $select2-results-offset;
        position: $select2-results-position;
        overflow-x: $select2-results-overflow-x;
        overflow-y: $select2-results-overflow-y;

        .select2-result-sub {
            margin: $select2-results-sub-offset;
            padding-left: $select2-results-sub-inner-offset-left;
        }

        @for $i from 1 through 7 {
            .select2-results-dept-#{$i} {
                .select2-result-label {
                    padding-left: 20px * $i;

                    &.accordion-toggle {
                        padding-left: 5px + (20px * $i);
                    }
                }
            }
        }

        img {
            border-radius: $select2-results-image-border-radius;
        }

        .select2-no-results,
        .select2-searching,
        .select2-selection-limit {
            background-color: initial;
        }

        .select2-result {
            list-style: $select2-result-list-style;
            display: $select2-result-display;
            background-image: $select2-result-background-image;

            &.select2-result-with-children > .select2-result-label {
                font-weight: $select2-result-with-children-font-weight;
            }

            &.hide {
                display: $select2-result-hide-display;
            }

            em {
                background: $primary-860;
                font-style: $select2-result-em-font-style;
            }
        }

        .select2-result-label,
        .select2-more-results {
            padding: $select2-result-label-inner-offset;
            margin: $select2-result-label-offset;
            cursor: $select2-result-label-cursor;

            min-height: $select2-result-label-min-height;

            line-height: $select2-result-label-line-height;

            -webkit-touch-callout: $select2-result-label-user-select;
            -webkit-user-select: $select2-result-label-user-select;
            -moz-user-select: $select2-result-label-user-select;
            -ms-user-select: $select2-result-label-user-select;
            user-select: $select2-result-label-user-select;

            color: $select2-result-label-color;

            .separated-img {
                margin-right: $select2-result-label-img-offset-right;
                margin-left: $select2-result-label-img-offset-left;
            }

            .icon {
                display: inline-block;
                vertical-align: $select2-chosen-icon-vertical-align;
                min-width: $select2-result-label-icon-size;
                height: $select2-result-label-icon-size;
                margin-#{$end}: $select2-result-label-icon-offset;

                line-height: 0;

                text-align: center;

                &:before {
                    vertical-align: text-bottom;
                }
            }
        }

        .select2-highlighted {
            background: $select2-result-highlighted-background;

            em {
                background: $select2-result-highlighted-em-background;
            }

            ul {
                background: $select2-result-highlighted-ul-background;
                color: $select2-result-highlighted-ul-color;
            }
        }

        .select2-disabled {
            background: $select2-results-disabled-background;
            display: $select2-results-disabled-display;
            cursor: $select2-results-disabled-cursor;
            .select2-highlighted {
                color: $select2-results-disabled-color;
                background: $select2-results-disabled-background;
                display: $select2-results-disabled-display;
                cursor: $select2-results-disabled-cursor;
            }
        }

        .select2-selected {
            display: $select2-results-selected-disabled-display;
        }
    }

    &.select2-container-disabled {
        .select2-choice,
        .select2-choices {
            border-color: $select2-choice-disabled-border-color;
            background-color: $select2-choice-disabled-background-color;
            color: $select2-choice-disabled-color;
            cursor: $select2-choice-disabled-cursor;
        }

        .select2-search-choice-close {
            display: $select2-choice-disabled-display;
        }
    }

    &-breadcrumbs {
        margin: $select2-breadcrumbs-offset;
        padding: $select2-breadcrumbs-inner-offset;

        list-style: none;

        &:empty {
            padding: $select2-breadcrumbs-empty-inner-offset;
        }

        .select2-breadcrumb-item {
            &:after {
                content: $select2-breadcrumbs-item-sep;
            }

            &:last-child {
                color: $select2-breadcrumbs-item-color;
                cursor: $select2-breadcrumbs-item-cursor;
                &:after {
                    display: $select2-breadcrumbs-item-last-display;
                }
            }
        }
    }
}

.select2-locked {
    padding: $select2-locked-inner;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: $select2-match-text-decoration;
}

.select2-offscreen,
.select2-offscreen:focus {
    clip: $select2-offscreen-clip;
    border: $select2-offscreen-border !important;
    width: $select2-offscreen-width !important;
    height: $select2-offscreen-height !important;
    margin: $select2-offscreen-offset !important;
    padding: $select2-offscreen-inner-offset !important;
    overflow: $select2-offscreen-overflow;
    position: $select2-offscreen-position !important;
    outline: $select2-offscreen-outline;
    left: $select2-offscreen-left;
}

.select2-display-none {
    display: $select2-display-none-display;
}

.select2-measure-scrollbar {
    position: $select2-measure-scrollbar-position;
    top: $select2-measure-scrollbar-top;
    left: $select2-measure-scrollbar-left;
    width: $select2-measure-scrollbar-width;
    height: $select2-measure-scrollbar-height;
    overflow: $select2-measure-scrollbar-overflow;
}
