/* @theme: admin.oro; */

.terms-title {
    font-weight: font-weight('semi-bold');
    font-size: $base-font-size;
    margin-bottom: $content-padding-medium;

    &-divider {
        padding: $content-padding-small 0;
        font-size: $base-font-size;
        font-weight: font-weight('semi-bold');
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
