/* @theme: admin.oro; */

.ui-sortable {
    &-handle {
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: move;

        &.disabled {
            cursor: not-allowed;
        }
    }
}
