/* @theme: admin.oro; */

.grid-views {
    margin: 0;
}

.inner-grid .grid-views {
    margin-#{$start}: 10px;
}

.responsive-cell .inner-grid .grid-views {
    margin-#{$start}: 0;
}

.grid-scrollable-container {
    width: auto;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
