/* @theme: admin.oro; */

.grid-scrollable-container {
    .grid-container {
        .table {
            width: auto;
            max-width: none;
            min-width: 100%;
        }
    }
}

.table {
    .thead-sizing {
        display: none;
    }
}
