/* @theme: admin.oro; */

.toolbar-mass-actions {
    display: inline-block;

    .dropdown-toggle {
        display: inline-block;
        margin-right: 0;

        line-height: $toolbar-mass-actions-toggle-line-height;
    }

    .dropdown-menu {
        .action {
            display: block;
            margin: 0;
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;

            font-weight: $font-weight-normal;
            font-size: $dropdown-item-font-size;
            line-height: $dropdown-item-line-height;

            color: $dropdown-link-color;

            white-space: nowrap;

            [class^='fa-'],
            [class*=' fa-'] {
                margin-right: $dropdown-item-icon-fa-offset;
            }

            @include hover-focus {
                color: $dropdown-link-hover-color;

                @include gradient-bg($dropdown-link-hover-bg);
            }

            &.active,
            &:active {
                color: $dropdown-link-active-color;

                @include gradient-bg($dropdown-link-active-bg);
            }
        }
    }
}
