// @theme: blank;

.datagrid-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;

    margin: 10px -($offset-x-s);
    padding: 0;

    &-sticky-container {
        margin: 0 auto;
        max-width: $site-width;

        .filter-box.dropdown-mode {
            margin: 0;
            border-top: 1px solid get-color('additional', 'light');
        }
    }

    &__side,
    &__rightside {
        display: flex;
        flex: 1 0 200px;
        flex-wrap: wrap;
        align-items: center;
    }

    &__rightside {
        justify-content: flex-end;
    }

    &__base {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
    }

    &__panel {
        width: 100%;
    }

    &.extended {
        .datagrid-tool {
            flex-grow: 0;

            &:first-child {
                position: relative;

                flex-grow: 1;
            }
        }
    }

    &--offset {
        &-s {
            margin: $offset-y-s 0;
        }
    }

    &.simplistic {
        .datagrid-tool {
            flex-grow: 1;

            &:first-child {
                flex-grow: 3;
            }
        }
    }

    .page-size {
        flex-grow: 0;
        display: flex;
        align-items: center;

        .select2-container {
            min-width: 64px;
        }

        .select {
            min-width: 64px;
        }
    }

    .action-selectbox-custom-in-pager {
        display: inline-block;
    }
}

.datagrid-tool {
    margin: $offset-x-s;

    &:first-child {
        position: relative;
    }

    &:last-child {
        flex-grow: 0;
    }

    &__label {
        vertical-align: middle;
    }
}

@include breakpoint('desktop') {
    .datagrid-toolbar {
        &.simplistic {
            .datagrid-tool {
                &:first-child {
                    flex-basis: 100%;
                    margin: 0 0 10px;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .datagrid-toolbar {
        &.extended {
            .datagrid-tool {
                &:last-child {
                    flex-basis: auto;
                }
            }
        }

        .grid-toolbar-mass-actions {
            order: 3;
            flex-basis: calc(100% - 138px);
            margin: 0 0 10px;

            text-align: right;
        }
    }

    .datagrid-tool {
        &.display-options {
            flex-basis: auto;
            order: 2;
        }

        &.page-size {
            order: 2;
        }
    }
}

@include breakpoint('tablet-small') {
    .datagrid-toolbar {
        margin-left: -($offset-x-s/2);
        margin-right: -($offset-x-s/2);
    }

    .datagrid-tool {
        margin: $offset-y-s ($offset-x-s/2);

        &__label {
            display: none;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .form-horizontal { //Platform override
        .oro-items-counter {
            display: none;
        }
    }
}

@include breakpoint('mobile') {
    .datagrid-tool {
        margin-left: 0;
        margin-right: 1px;

        &:not(:first-child) {
            margin-left: 1px;
        }
    }

    .datagrid-toolbar {
        justify-content: space-between;

        &__side,
        &__rightside {
            flex: 0 0 auto;
            flex-wrap: nowrap;

            min-width: 0;
        }

        &__rightside {
            margin-left: auto;
        }
    }

    .grid-toolbar {
        justify-content: space-between;

        .action-selectbox-custom-in-pager {
            margin-right: $offset-x-s;
        }
    }
}

@include breakpoint('print') {
    .datagrid-toolbar {
        display: block;

        &__side {
            float: right;
        }

        &__rightside,
        &__base {
            display: none !important;
        }
    }
}
