/* @theme: blank; */

.more-bar-holder {
    position: relative;

    display: inline-block;

    .dropdown-toggle {
        display: inline-block;
        vertical-align: middle;

        padding: $more-bar-holder-toggle-offset;
        height: $more-bar-holder-toggle-size;

        font-size: $more-bar-holder-toggle-size;
        line-height: 0;
        text-decoration: none;

        color: inherit;

        // Hide bootstrap arrow
        &:before {
            content: none !important; // Override bootstrap styles
        }

        .action-cell & {
            margin: 0;
        }
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-menu__placeholder + .dropdown-toggle,
    .dropdown-toggle:hover {
        text-decoration: none;
    }
}
