<div class="widget-content">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Language{% endtrans %}</th>
                <th>{% trans %}Translation status{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        {% for language in statistic %}
        {% else %}
            <tr>
                {% trans %}<td colspan="3" class="no-statistic">Sorry, but translation statistic is not available.</td>{% endtrans %}
            </tr>
        {% endfor %}
    </table>
</div>

