#entity-pagination {
    float: right;
}

#entity-pagination .pagination a {
    color: #666;
    font-weight: bold;
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #fdfdfd, #efefef);
    background-repeat: repeat-x;
}

#entity-pagination .pagination {
    margin: 4px 0 0;
    line-height: 0;
}

#entity-pagination .pagination ul {
    box-shadow: none;
}

#entity-pagination .pagination div.pagination-current{
    float: left;
    height: 24px;
    min-width: 30px;
    padding: 6px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #f7f7f7;
}

#entity-pagination .pagination div.pagination-current:hover {
    cursor: default;
}

#entity-pagination .pagination > ul > .disabled a,
#entity-pagination .pagination > ul > .disabled a:active,
#entity-pagination .pagination > ul > .disabled a:hover,
#entity-pagination .pagination > ul > .disabled a:focus {
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #fdfdfd, #efefef);
    background-repeat: repeat-x;
    box-shadow: none;
    pointer-events: none;
    opacity: 0.65;
}

#entity-pagination .pagination ul > li > a {
    font-weight: normal;
    padding: 1px 10px;
}

#entity-pagination .dib.pagination-total {
    line-height: 24px;
}
