<span class="tags-container">
    <% if (tags.length > 0) { _.each(tags , function(tag) { %><a href="<%= tag.url %>"
           class="tags-container__tag-entry<% if(tag.owner) { %> tags-container__tag-entry_is-my<% } %>"
        <% if (tag.backgroundColor && tag.backgroundColor.length > 0) { %>
            style="background-color:<%= tag.backgroundColor %>;"
        <% } %>
        >
            <%- tag.name %>
    </a><% }) } else if (showDefault){ %>
        <%= _.__('N/A') %>
    <% } %>
</span>
