{% if entity_class is empty %}
    {% set entity_class = oro_class_name(entity, true) %}
{% endif %}
<li>
    <a class="no-hash"
       href="{{ path(audit_path, {entity:entity_class, id:id}) }}"
       id="view-activity-btn"
       title="{{ title }} - {{ 'Change History'|trans }}">
        {{ 'Change History'|trans }}
    </a>
</li>
