@import '_config.scss';

.input {
    display: block;
    margin: 0;
    padding: 10px 14px 12px 14px;

    vertical-align: middle;


    color: red;
    border-radius: 4px;
    border: 1px solid #b7b7b7;

    appearance: none;

    &:hover {
        border-color: #626365;
    }

    &:focus {
        outline: none;
    }
}
