{% if windowStates|length %}
    <div style="display: none" id="widget-states-container" data-layout="separate">
        {% for windowState in windowStates %}
            <div id="widget-restored-state-{{ windowState.id|default("none") }}">
                {{ oro_window_render_fragment(windowState) }}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        require(['jquery', 'oro/dialog-widget', 'orowindows/js/dialog/state/model', 'ready!app'],
        function($, DialogWidget, StateModel) {
            $(function(){
                {% for windowState in windowStates if windowState.renderedSuccessfully %}
                new DialogWidget({
                    autoRender: true,
                    model: new StateModel({{ {'data': windowState.data, 'id': windowState.id}|json_encode|raw }})
                });
                {% endfor %}
            });
        });
    </script>
{% endif %}
