<script type="text/html" id="{{ id|raw }}">
    <div class="items list-box"></div>
    <div class="no-data">
        <span>{{ "oro.note.no_notes_exist"|trans|raw }}</span>
    </div>
    <div class="loading-mask"></div>
</script>
