<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="items list-box"></div>
    <div class="no-data">
        {{ "oro.note.no_notes_exist"|trans|e('html')|raw }}
    </div>
</script>
