<script type="text/html" id="template-note-item">
    <div class="map-actions">
        {% if resource_granted(note_edit_acl_resource) %}
        <button class="btn" title="<%= _.__('Edit') %>"><i class="icon-pencil hide-text"><%= _.__('Edit') %></i></button>
        {% endif %}
        <% if resource_granted(note_delete_acl_resource) %>
        <button class="btn" title="<%= _.__('Remove') %>"><i class="icon-remove hide-text"><%= _.__('Remove') %></i></button><% } %>
        {% endif %}
    </div>
    <div class="message-item"><%= _.escape(message) %></div>
</script>
