{% block _commerce_column_manager_widget %}
    <script type="text/template" id="frontend-column-manager-tpl">
        <div class="column-manager">
            <div class="column-manager__header">
                <div class="column-manager__title"><%= _.__('oro_frontend.column_manager.title') %></div>
                <span class="close">×</span>
            </div>
            <div class="column-manager__actions">
                <a href="#" data-role="column-manager-select-all"><%= _.__('oro.datagrid.column_manager.select_all')%></a>
                <span class="column-manager__separator">|</span>
                <a href="#" data-role="column-manager-unselect-all"><%= _.__('oro.datagrid.column_manager.deselect_all')%></a>
            </div>
            <div class="column-manager-table" data-role="column-manager-table"></div>
            <div class="column-manager__footer" data-role="column-manager-footer">
                <a href="#" class="link" data-role="column-manager-reset">
                    <i class="fa fa-refresh"></i>
                    <span><%= _.__('oro.datagrid.column_manager.reset')%></span>
                </a>
            </div>
        </div>
    </script>
{% endblock %}

{% block _commerce_column_manager_collection_widget %}
    <script type="text/template" id="frontend-column-manager-collection-tpl">
        <div class="table-wrapper" data-role="column-manager-table-wrapper">
            <table class="table">
                <tbody></tbody>
            </table>
        </div>
        <div class="column-manager-no-columns"><span><%= _.__('oro.datagrid.column_manager.empty_list') %></span></div>
    </script>
{% endblock %}

{% block _commerce_column_manager_item_widget %}
<script type="text/template" id="frontend-column-manager-item-tpl">
    <td class="column-manager__item">
        <div class="column-manager__container">
            <span class="column-manager__handle handle"></span>
            <div class="column-manager__label">
                <label data-checkbox
                       class="custom-checkbox ">
                    <input type="checkbox" data-role="renderable"
                    <% if (disabledVisibilityChange) { %> disabled <% } %>
                    <% if (renderable) { %> checked <% } %>
                        class="custom-checkbox__input"
                    />
                    <span class="custom-checkbox__icon"></span>
                    <span class="custom-checkbox__text"><%= label %></span>
                </label>
            </div>

            <div class="column-manager__move">
                <span class="column-manager__move-btn column-manager__move-up" data-role="moveUp" title="Move column up">
                    <i class="fa-long-arrow-up"></i>
                </span>
                <span class="column-manager__move-btn column-manager__move-down" data-role="moveDown" title="Move column down">
                    <i class="fa-long-arrow-down"></i>
                </span>
            </div>
        </div>
    </td>
</script>
{% endblock %}
