/* @theme: admin.oro; */
$filter-box-offset-buttom: $content-padding-small !default;

$filter-box-filter-container-select-filter-widget-offset: 0 0 0 -120px !default;
$filter-box-filter-container-select-filter-widget-position: absolute !default;
