/* @theme: admin.oro; */

@use 'sass:meta';

$loading-mask: 'loader-mask';

@if (meta.variable-exists('loading-mask-prefix')) {
    $loading-mask: $loading-mask-prefix + $loading-mask;
}

.view-loading {
    height: $loading-view-height;
}

.#{$loading-mask} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $loading-mask-z-index;

    display: none;

    overflow: hidden;

    background-color: var(--loading-mask-background-color, rgba($loading-mask-background-color, .5));

    .loader-frame {
        @include loader();
    }

    .loader-content {
        display: none;
    }
}

.loading {
    position: relative;

    min-height: $loading-mask-icon-size + 6px;

    @at-root body#{&} {
        height: 100vh;
        overflow: hidden;
    }

    > .#{$loading-mask}.shown {
        // show only first level loaders
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /**
        1. hide all nested loaders
        2. hide rest of first level loaders, except first one
     */
    .loading .#{$loading-mask}.shown,
    > .#{$loading-mask}.shown ~ .#{$loading-mask}.shown {
        display: none;
    }
}
