/* @theme: admin.oro; */

.loading-bar {
    display: $loading-bar-display;
    position: $loading-bar-position;
    bottom: $loading-bar-bottom;
    left: $loading-bar-left;
    height: $loading-bar-height;
    background: $loading-bar-background;
    box-shadow: $loading-bar-box-shadow;
    border-radius: $loading-bar-border-radius;
    transition: $loading-bar-transition;
    animation: $loading-bar-animation;
    overflow: $loading-bar-overflow;

    &:before {
        content: '';
        background: $loading-bar-point-background;
        width: $loading-bar-point-width;
        height: $loading-bar-point-height;
        position: $loading-bar-point-position;
        box-shadow: $loading-bar-point-box-shadow;
        top: $loading-bar-point-top;
        animation: $loading-bar-point-animation;
    }
}

@-webkit-keyframes line-point {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0);
    }
}

@keyframes line-point {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0);
    }
}

@-webkit-keyframes line-loader {
    0% {
        width: 1%;
    }

    5% {
        width: 5%;
    }

    10% {
        width: 15%;
    }

    15% {
        width: 25%;
    }

    25% {
        width: 35%;
    }

    50% {
        width: 50%;
    }

    80% {
        width: 75%;
    }

    100% {
        width: 85%;
    }
}

@keyframes line-loader {
    0% {
        width: 1%;
    }

    5% {
        width: 5%;
    }

    10% {
        width: 15%;
    }

    15% {
        width: 25%;
    }

    25% {
        width: 35%;
    }

    50% {
        width: 50%;
    }

    80% {
        width: 75%;
    }

    100% {
        width: 85%;
    }
}
