/* @theme: admin.oro; */

$btn-background: $additional-extra-lighten !default;
$btn-height: 32px !default;
$btn-font-size: $base-font-size--s !default;
$btn-line-height: $btn-height - 2 !default;
$btn-color: $primary-400 !default;
$btn-font-weight: bold !default;
$btn-text-shadow: none !default;
$btn-text-transform: uppercase !default;
$btn-inner-offset: 0 16px !default;
$btn-border: 2px solid $btn-background !default;
$btn-border-radius: $base-btn-border-radius !default;
$btn-box-shadow: none !default;

$btn-hover-background: $additional-extra-light !default;
$btn-hover-text-decoration: none !default;
$btn-hover-color: $primary-400 !default;
$btn-hover-border-color: $btn-hover-background !default;

$btn-active-background: $additional-extra-light !default;
$btn-active-color: $primary-400 !default;
$btn-active-border-color: $btn-active-background !default;
$btn-active-box-shadow: inset 0 2px 3px 2px rgba(0, 0, 0, .21) !default;

$btn-disabled-background: $additional-ultra-light !default;
$btn-disabled-color: $additional-lighten !default;
$btn-disabled-border-color: $btn-disabled-background !default;
$btn-disabled-opacity: 1 !default;
$btn-disabled-box-shadow: none !default;

$btn-light-background: none !default;
$btn-light-color: $primary-700 !default;
$btn-light-text-shadow: none !default;
$btn-light-border-color: transparent !default;

$btn-light-hover-background: none !default;
$btn-light-hover-border-color: transparent !default;
$btn-light-hover-color: $primary-400 !default;

$btn-light-active-background: none !default;
$btn-light-active-color: $primary !default;
$btn-light-active-border-color: transparent !default;
$btn-light-active-box-shadow: none !default;

$btn-light-disabled-background: none !default;
$btn-light-disabled-color: $primary-800 !default;
$btn-light-disabled-border-color: transparent !default;
$btn-light-disabled-box-shadow: none !default;

$btn-primary-background: $secondary !default;
$btn-primary-color: $primary-inverse !default;
$btn-primary-text-shadow: none !default;
$btn-primary-border-color: $btn-primary-background !default;

$btn-primary-hover-background: $secondary-dark !default;
$btn-primary-hover-border-color: $btn-primary-hover-background !default;
$btn-primary-hover-color: $primary-inverse !default;

$btn-primary-active-background: $secondary-300 !default;
$btn-primary-active-color: $secondary-dark !default;
$btn-primary-active-border-color: $secondary-dark !default;
$btn-primary-active-box-shadow: none !default;

$btn-primary-disabled-background: $secondary-150 !default;
$btn-primary-disabled-color: $info-lighten !default;
$btn-primary-disabled-border-color: $btn-primary-disabled-background !default;
$btn-primary-disabled-box-shadow: none !default;

$btn-info-background: $secondary !default;
$btn-info-color: $primary-inverse !default;
$btn-info-text-shadow: none !default;
$btn-info-border-color: $btn-info-background !default;

$btn-info-hover-background: $secondary-dark !default;
$btn-info-hover-border-color: $btn-info-hover-background !default;
$btn-info-hover-color: $primary-inverse !default;

$btn-info-active-background: $secondary-300 !default;
$btn-info-active-color: $secondary-dark !default;
$btn-info-active-border-color: $secondary-dark !default;
$btn-info-active-box-shadow: none !default;

$btn-info-disabled-background: $secondary-150 !default;
$btn-info-disabled-color: $info-lighten !default;
$btn-info-disabled-border-color: $btn-info-disabled-background !default;
$btn-info-disabled-box-shadow: none !default;

$btn-success-background: $success !default;
$btn-success-color: $primary-inverse !default;
$btn-success-text-shadow: none !default;
$btn-success-border-color: $btn-success-background !default;

$btn-success-hover-background: $success-dark !default;
$btn-success-hover-border-color: $btn-success-hover-background !default;
$btn-success-hover-color: $primary-inverse !default;

$btn-success-active-background: $success-extra-lighten !default;
$btn-success-active-color: $success-dark !default;
$btn-success-active-border-color: $success-dark !default;
$btn-success-active-box-shadow: none !default;

$btn-success-disabled-background: $success-extra-light !default;
$btn-success-disabled-color: $success-lighten !default;
$btn-success-disabled-border-color: $btn-success-disabled-background !default;
$btn-success-disabled-box-shadow: none !default;

$btn-warning-background: $warning !default;
$btn-warning-color: $primary-inverse !default;
$btn-warning-text-shadow: none !default;
$btn-warning-border-color: $btn-warning-background !default;

$btn-warning-hover-background: $warning-dark !default;
$btn-warning-hover-border-color: $btn-warning-hover-background !default;
$btn-warning-hover-color: $primary-inverse !default;

$btn-warning-active-background: #f7e1be !default;
$btn-warning-active-color: $warning-dark !default;
$btn-warning-active-border-color: $warning-dark !default;
$btn-warning-active-box-shadow: none !default;

$btn-warning-disabled-background: $warning-light !default;
$btn-warning-disabled-color: $primary-inverse !default;
$btn-warning-disabled-border-color: $btn-warning-disabled-background !default;
$btn-warning-disabled-box-shadow: none !default;

$btn-danger-background: $danger !default;
$btn-danger-color: $primary-inverse !default;
$btn-danger-text-shadow: none !default;
$btn-danger-border-color: $btn-danger-background !default;

$btn-danger-hover-background: $danger-dark !default;
$btn-danger-hover-border-color: $btn-danger-hover-background !default;
$btn-danger-hover-color: $primary-inverse !default;

$btn-danger-active-background: $danger-light !default;
$btn-danger-active-color: $danger-dark !default;
$btn-danger-active-border-color: $danger-dark !default;
$btn-danger-active-box-shadow: none !default;

$btn-danger-disabled-background: $danger-light !default;
$btn-danger-disabled-color: $danger-ultra-light !default;
$btn-danger-disabled-border-color: $btn-danger-disabled-background !default;
$btn-danger-disabled-box-shadow: none !default;

$btn-dark-background: $additional !default;
$btn-dark-color: $primary-inverse !default;
$btn-dark-text-shadow: none !default;
$btn-dark-border-color: $btn-dark-background !default;

$btn-dark-hover-background: $additional-dark !default;
$btn-dark-hover-border-color: $btn-dark-hover-background !default;
$btn-dark-hover-color: $primary-inverse !default;

$btn-dark-active-background: $additional-dark !default;
$btn-dark-active-color: $danger-dark !default;
$btn-dark-active-border-color: $danger-dark !default;
$btn-dark-active-box-shadow: none !default;

$btn-dark-disabled-background: $additional-light !default;
$btn-dark-disabled-color: $additional-lighten !default;
$btn-dark-disabled-border-color: $btn-dark-disabled-background !default;
$btn-dark-disabled-box-shadow: none !default;

$btn-mini-height: 24px !default;
$btn-mini-font-size: $base-font-size--m !default;
$btn-mini-line-height: $btn-mini-height - 3 !default;

$btn-link-background: none !default;
$btn-link-font-weight: normal !default;
$btn-link-text-decoration: underline !default;
$btn-link-border: none !default;
$btn-link-inner-offset: 0 !default;
$btn-link-box-shadow: none !default;
$btn-link-border-radius: 0 !default;

$btn-link-hover-text-decoration: none !default;

$btn-group-btn-height: $btn-height !default;
$btn-group-btn-font-size: $btn-font-size !default;
$btn-group-btn-line-height: $btn-line-height !default;
$btn-group-btn-border-radius: $btn-border-radius !default;

$btn-group-btn-dropdown-toggle-box-shadow: none !default;

$btn-group-open-btn-background: $btn-active-background !default;
$btn-group-open-btn-color: $btn-active-color !default;
$btn-group-open-btn-border-color: $btn-active-border-color !default;
$btn-group-open-btn-box-shadow: $btn-active-box-shadow !default;

$btn-group-success-open-btn-background: $success-dark !default;
$btn-group-success-open-btn-border-color: $success-dark !default;
$btn-group-success-open-btn-box-shadow: none !default;

$btn-caret-offset-top: 13px !default;

$btn-fa-font-size: $base-font-size + 2 !default;
$btn-fa-vertical-align: -1px !default;
$btn-fa-offset: 0 6px 0 0 !default;

$btn-icon-width: 32px !default;
$btn-icon-position: relative !default;
$btn-icon-inner-offset: 0 !default;
$btn-icon-text-indent: -9999px !default;

$btn-icon-fa-offset: 0 !default;
$btn-icon-fa-text-indent: 0 !default;
$btn-icon-fa-position: absolute !default;
$btn-icon-fa-top: 50% !default;
$btn-icon-fa-left: 50% !default;
$btn-icon-fa-transform: translate(-50%, -50%) !default;
