<script type="text/template" id="choice-business-unit-template">
    <div class="filter-item oro-drop filter-business-unit">
        <div class="">
            <div>
                <input type="text" name="search" value=""/>
            </div>
            <div class="list"></div>
            <input type="hidden" name="value">
            <input type="hidden" name="type">
            <div class="oro-action">
                <div class="btn-group">
                    <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
                </div>
            </div>
        </div>
    </div>
</script>
