@import "email-variables";
@import "oroui/css/scss/mixins";

.email-notification-menu {
    .oro-dropdown-toggle {
        .mail-icon {
            @include fa-icon($email-inactive-mail-icon);
            position: relative;
            padding-top: 3px;
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: $primary-500;
            .item-counter {
                display: none;
                color: $primary-inverse;
                background-color: $extra;
                color: $email-item-counter-text-color;
                background-color: $email-item-counter-bg;
            }
            &.has-icon-counter {
                .item-counter {
                    display: inline-block;
                }
            }
            &.highlight {
                @include fa-icon($email-active-mail-icon);
            }
        }
    }

    .dropdown-menu {
        background-color: $email-dropdown-bg;
        width: $email-recent-emails-popup-width !important;
        padding: 0;
        outline: none;
        right: -7px;

        .empty {
            padding: 5px 10px;
        }
    }

    .new-email-notification {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 6px;
        display: none;
        width: 160px;
        padding: 8px 12px;
        background: $email-dropdown-bg;
        color: $primary-400;
        border-radius: 4px;
        z-index: $zindexPopover;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .5);

        &:after {
            content: '';
            display: inline-block;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $email-dropdown-bg;
            position: absolute;
            top: -6px;
            right: 24px;
        }
    }
}
