/* @theme: admin.oro; */

.icon-email-thread {
    display: inline-block;
    width: $icon-email-thread-width;
    height: $icon-email-thread-height;

    background: $icon-email-thread-url no-repeat;
}
