.sidebar-widget-recent-emails {
  .sidebar-widget__content {
    .header {
      padding: 0 8px;
      .my-emails {
        margin-top: 8px;
      }
      .mark-as-read, .mark-visible-as-read {
        i:before {
          color: #fff;
        }
      }
    }
    .items {
      margin: 8px 0;
      overflow: hidden;
      overflow-y: auto;
    }
    .more-unread {
      display: block;
      text-align: center;
      font-size: 11px;
      line-height: 11px;
      padding-bottom: 8px;
      color: #666;
    }
  }
  .sidebar.minimized &.sidebar-widget.poppedup {
    .sidebar-widget__popup {
      width: 360px;
      padding-bottom: 0;
      .content {
        overflow: hidden;
      }
    }
    .short-emails-list .items li .footer .reply-all-action,
    .short-emails-list .items li .footer .reply-action,
    .short-emails-list .items li .footer .forward-action {
      display: inline;
    }
  }
}
