<% var resultsId = _.uniqueId('select2-results-'); %>

<div class="select2-container select2-container-multi">
    <ul class="select2-choices"
        role="combobox"
        aria-haspopup="true"
        aria-expanded="false"
        aria-owns="<%- resultsId %>"
    >
        <li class="select2-search-field" role="presentation">
            <input type="text"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitilize="off"
                   spellcheck="false"
                   class="select2-input"
                   role="searchbox"
                   aria-haspopup="true"
                   aria-autocomplete="list"
                   aria-controls="<%- resultsId %>"
            >
        </li>
    </ul>
    <div class="select2-drop select2-drop-multi select2-display-none">
        <ul class="select2-results"
            role="listbox"
            aria-multiselectable="true"
            id="<%- resultsId %>"
            aria-expanded="false"
            aria-hidden="true"
            tabindex="-1"
        ></ul>
    </div>
</div>
