/* @theme: admin.oro; */

.scope-collection {
    .small-row > div > div {
        float: left;
    }

    .grouped-fields {
        width: 100%;
        padding-top: 7px;
        display: inline-block;
    }

    .group-label {
        width: 75px;
    }

    .col-widget {
        width: 100px;
        margin-right: 22px;
    }

    .oro-multiselect-holder {
        padding-left: 10px;
    }

    .entity-create-or-select-container {
        margin-left: 4px;
        width: 294px;
    }

    .oro-item-collection {
        .row-oro {
            position: relative;
            padding: 10px 10px 10px 40px;
            margin-bottom: 10px;
            border: 1px solid #e6e6e6;
            background: $primary-900;
            border-radius: 4px;
        }

        .removeRow {
            position: absolute;
            width: 28px;
            top: 4px;
            right: 4px;
            text-decoration: none;
        }
    }

    .oro-multiselect-holder {
        padding-right: 50px !important;
    }

    .form-horizontal {
        max-width: none;
    }
}

@media screen and (min-width: 1470px) {
    .scope-collection {
        .small-row {
            display: inline-block;
        }

        .col-widget {
            width: auto;
            margin-right: 5px;
        }

        .group-label {
            width: auto !important;
        }

        .grouped-fields {
            margin-left: 25px;
        }
    }
}
