/* @theme: admin.oro; */

.scope-collection {
    .small-row > div > div {
        float: left;
    }

    .grouped-fields {
        width: 100%;
        padding-top: 7px;
        display: inline-block;
    }

    .group-label {
        width: 75px;
    }

    .col-widget {
        width: 100px;
        margin-right: 22px;
    }

    .oro-multiselect-holder {
        padding-left: 10px;
    }

    .oro-item-collection {
        .row-oro.oro-multiselect-holder {
            position: relative;
            padding: ($content-padding + 4) $content-padding-medium $content-padding-medium;
            margin-bottom: $content-padding-medium;
            background: $primary-900;
            border-radius: 4px;

            .desktop-version & {
                padding: ($content-padding + 4) $content-padding $content-padding;
            }

            @include clearfix();
        }

        .removeRow {
            position: absolute;
            top: 4px;
            right: 4px;
            text-decoration: none;
        }
    }

    .form-horizontal {
        max-width: none;
        display: block;
        margin-left: -20px;

        @include clearfix();

        .control-group-container {
            float: left;
            width: 100%;
            margin-bottom: -$content-padding-medium;
        }

        .control-group {
            display: block;
            padding-left: 20px;
            float: left;
            margin-bottom: $content-padding-medium;
            width: 50%;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            .desktop-version & {
                width: auto;
            }

            .controls {
                margin-left: 0;
            }

            &:not(.attribute-row) > .control-label {
                width: auto;
                padding-top: 0;
                padding-bottom: 4px;
                margin-right: $btn-icon-mobile-width + 4 - $content-padding-medium;
                line-height: 1.25;
                text-align: left;

                // stylelint-disable-next-line selector-max-compound-selectors
                .desktop-version & {
                    margin-right: $btn-icon-width + 4 - $content-padding;
                }
            }

            &:nth-child(2n + 1) {
                .responsive-section.responsive-small &,
                .responsive-section.responsive-medium & {
                    clear: left;
                }
            }
        }
    }
}

@media screen and (min-width: 1470px) {
    .scope-collection {
        .small-row {
            display: inline-block;
        }

        .col-widget {
            width: auto;
            margin-right: 5px;
        }

        .group-label {
            // stylelint-disable-next-line declaration-no-important
            width: auto !important;
        }

        .grouped-fields {
            margin-left: 25px;
        }
    }
}
