<i class="<%- $(element).data('icon') %> icon hide-text" aria-hidden="true"></i>
<span><%= highlight(_.escape($(element).data('label'))) %></span>
<div class="additional-select2__result-entry-info topic-label"><%= highlight(_.escape($(element).val())) %></div>
