/* @theme: admin.oro; */

.logo-wrapper span.selected{
  display: block;
  padding: 3px 13px;
}

.logo-placeholder {
  display: block;
}

.dropdown-organization-switcher li a {
  white-space: pre;
}

.desktop-version {
  @import "oroui/css/scss/desktop/variables";

  .btn-organization-switcher {
    color: $app-header-logo-text-color;
    font-size: 17px;
    cursor: pointer;
    line-height: inherit;
    margin-left: 6px;
  }
}

.mobile-version {
  @import "oroui/css/scss/mobile/variables";

  .btn-organization-switcher {
    color: $app-header-logo-text-color;
    line-height: inherit;
    vertical-align: top;
    position: relative;
    left: -20px;
  }

  .organization-switcher .dropdown-menu {
    left: auto;
  }
}

table.acl-table {
  tr.default-field table tr.default-field td {
    background-color: #f5f5f5;
  }
  tr table tr:first-child td {
    border-top: 0;
  }
  tr table tr td {
    vertical-align: middle;
  }
  .access_level_value {
    min-height: 30px;
  }
  .select2-container {
    width: 120px;
  }
}
.security-row {
  > .span8 {
    max-width: calc('100% - 116px');
    margin-right: 0;
  }
  .select2-container {
    width: 100px;
  }
}
