.fix_logo .btn-organization-switcher{
  color: #fff;
  font-size: 16px;
  height: 24px;
  vertical-align: baseline;
  line-height: 25px;
  width: 24px;
  text-align: center;
  margin-left: -4px;
}
.desktop-version #oroplatform-header .fix_logo .logo a{
  padding: 1px 10px 0 14px;
}
#oroplatform-header .nav.top-search.fix_logo .dropdown .dropdown-organization-switcher:after{
  left: 6px;
}