.fix_logo .btn-organization-switcher{
  color: #fff;
  font-size: 16px;
  height: 24px;
  vertical-align: baseline;
  line-height: 25px;
  width: 24px;
  text-align: center;
  margin: 0 0 0 -4px;
  padding: 0;
}
.desktop-version #oroplatform-header .fix_logo .logo a{
  padding: 1px 10px 0 14px;
}
#oroplatform-header .nav.top-search.fix_logo .dropdown .dropdown-organization-switcher:after{
  left: 6px;
}
.fix_logo .dropdown-menu > li > span.selected{
  display: block;
  padding: 3px 13px;
}
.fix_logo .dropdown-menu > li > a,
.fix_logo .dropdown-menu > li > a:hover{
  color: #444;
}

.logo-placeholder {
  height: 24px;
  display: block;
}
