.fix_logo {
  .btn-organization-switcher {
    color: #fff;
    font-size: 16px;
    height: 24px;
    vertical-align: baseline;
    line-height: 25px;
    width: 24px;
    text-align: center;
    margin: 0 0 0 -4px;
    padding: 0;
    cursor: pointer;
  }
}
.desktop-version #oroplatform-header .fix_logo .logo a{
  padding: 1px 10px 0 14px;
}
#oroplatform-header .nav.top-search.fix_logo .dropdown .dropdown-organization-switcher:after{
  left: 6px;
}
.fix_logo .dropdown-menu > li > span.selected{
  display: block;
  padding: 3px 13px;
}
.fix_logo .dropdown-menu > li > a,
.fix_logo .dropdown-menu > li > a:hover{
  color: #444;
}

.logo-placeholder {
  height: 24px;
  display: block;
}

.mobile-version {
  #oroplatform-header {
    .nav.organization-switcher {
      width: 100%;
      > .dropdown {
        width: 100%;
        .caret, .caret:hover {
          border-bottom-color: #fff;
          border-top-color: #fff;
          color: #fff;
          margin-top: 25px;
        }
      }
      .dropdown-menu {
        li a {
          color: #444;
          padding: 2px 12px;
        }
        li.current a {
          font-weight: bold;
        }
        &:after {
          left: 70px;
        }
        &:before {
          left: 70px;
        }
      }
    }
  }
}

table.acl-table {
  tr.default-field table tr.default-field td {
    background-color: #f5f5f5;
  }
  tr table tr:first-child td {
    border-top: 0;
  }
  tr table tr td {
    vertical-align: middle;
  }
  .access_level_value {
    min-height: 30px;
  }
  .select2-container {
    width: 120px;
  }
}
.security-row {
  > .span8 {
    max-width: calc(~'100% - 116px');
    margin-right: 0;
  }
  .select2-container {
    width: 100px;
  }
}
