.sharing-entities-item {
  list-style: none;
  cursor: pointer;
  padding: 0 7px 0 7px;
  white-space: nowrap;
  .active {
    background-color: #ebebeb;
  }
}

.sharing-entities-dropdown {
  top: 35px;
  left: 15px;
}

.sharing-entities-current-block {
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  margin: 10px 10px 15px 10px;
  box-shadow: none;
}

.sharing-entities-current-item {
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}
