
<script type="text/template" id="email-context-activity-list">
    <div class="context-item" style="border: none" data-cid="<%= entity.cid %>">
            <span data-id="<%= entity.get('targetId') %>">
                <span class="<%= entity.get('icon') %>"></span>

                <% if (entity.get('link')) { %>
                    <a href="<%= entity.get('link') %>">
                        <span class="context-label"><%= entity.get('title') %></span>
                    </a>
                <% } else { %>
                    <span class="context-label"><%= entity.get('title') %></span>
                <% }  %>

                <i class="icon-remove"></i>
            </span>
    </div>
</script>

{% set entity = thread[0] %}
{% set itemsArray = [] %}
    {% for item in entity.getActivityTargetEntities() %}
        {% set itemClassName = oro_class_name(item) %}
        {% set icon = oro_entity_config_value(itemClassName, 'icon' ) %}

        {% if oro_entity_instance_of_interface(item, "Oro\\Bundle\\LocaleBundle\\Model\\FullNameInterface") %}
            {% set title = item.getFirstName() %}
            {% set link = path(oro_entity_route(itemClassName), {id:item.id} ) %}
        {% elseif oro_entity_instance_of_interface(item, "Oro\\Bundle\\EmailBundle\\Model\\EmailHolderInterface") %}
            {% set title = item.getEmail() %}
            {% set link = path(oro_entity_route(itemClassName), {id:item.id} ) %}
        {% else %}
            {% set title = false %}
            {% set link = false %}
        {% endif %}

        {% if title %}
            {% set itemArray = {
            'entityId': entity.id,
            'targetId': item.id,
            "targetClassName": itemClassName ,
            'title': title,
            'icon': icon,
            'link': link
            } %}
            {% set itemsArray = itemsArray|merge([itemArray]) %}
        {% endif %}
    {% endfor %}

{% set options = {
    items: itemsArray,
    entityId: entity.id,
    view: 'oroemail/js/app/views/email-context-activity-view',
} %}

<div class="email-context-activity">
    <div class="email-context-activity-label">
        Contexts
    </div>
    <div class="email-context-activity-items"
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ options|json_encode }}">
    </div>
</div>

{% if shortEmailThread is not defined and thread|length >= 7 %}
    {# if shortEmailThread is not turned off and length of thread over 6 emails -- render short thread #}
    {% set shortEmailThread = true %}
    {% set skippedEmails = [] %}
{% endif %}
{% set threadViewOptions = {
    view: 'oroemail/js/app/views/email-thread-view',
    actionPanelSelector: '.email-thread-action-panel'
} %}
<div class="widget-content thread-view"
     data-page-component-module="oroui/js/app/components/view-component"
     data-page-component-options="{{ threadViewOptions|json_encode }}"
     data-layout="separate">
    {% for email in thread|reverse %}
        {% if shortEmailThread is defined and shortEmailThread and loop.index > 2 and loop.index < (loop.length - 1) %}
            {% set skippedEmails = skippedEmails|merge([email.id]) %}
            {% if loop.index == loop.length - 2 %}
            <div class="email-load-more" data-emails-items="{{ skippedEmails|json_encode }}">
                <span class="load-more-label">{{ 'oro.email.load_more_emails'|trans({'%quantity%': skippedEmails|length}) }}</span>
            </div>
            {% endif %}
        {% else %}
            {# email collapsed also can be evaluated for other conditions here #}
            {% set emailCollapsed = not loop.last %}
            {% include 'OroEmailBundle:Email/Thread:emailItem.html.twig' %}
        {% endif %}
    {% endfor %}
</div>
