{% import "OroEmailBundle::actions.html.twig" as Actions %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% if shortEmailThread is not defined and thread|length >= 7 %}
    {# if shortEmailThread is not turned off and length of thread over 6 emails -- render short thread #}
    {% set shortEmailThread = true %}
    {% set skippedEmails = [] %}
{% endif %}

<div class="widget-content thread-view">
    {% for email in thread|reverse %}
        {% if shortEmailThread is defined and shortEmailThread and loop.index > 2 and loop.index < (loop.length - 1) %}
            {% set skippedEmails = skippedEmails|merge([email.id]) %}
            {% if loop.index == loop.length - 2 %}
                load more emails:
                {{ skippedEmails|json_encode }}
            {% endif %}
        {% else %}
            {# email collapsed also can be evaluated for other conditions here #}
            {% set emailCollapsed = not loop.last %}
            {% include 'OroEmailBundle:Email/Thread:emailItem.html.twig' %}
        {% endif %}
    {% endfor %}
</div>
