/* @theme: admin.oro; */

.btn-organization-switcher {
    color: $btn-organization-switcher-mobile-color;
    line-height: inherit;
    vertical-align: top;
    position: relative;
    #{$start}: -20px;
}
