{% if check_ws() %}
    <div data-page-component-module="oroentityconfig/js/components/attribute-import-sync-notifier"
         data-page-component-options="{{ {topic: data.topic}|json_encode }}"></div>
{% endif %}
