{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% set gridName = 'attributes-grid' %}
{% set pageTitle = attributesLabel|trans %}

{% block navButtons %}
    {% if is_granted('oro_attribute_create') and is_granted('oro_attribute_update') %}
        {% include 'OroImportExportBundle:ImportExport:buttons_from_configuration.html.twig' with {
            'alias': 'oro_field_config_model_attribute',
            'options': {'entity_id': entity.id, 'check_attributes' : true}
        } %}
    {% endif %}

    {{ entityConfig.displayLayoutActions(layoutActions) }}
    {% if is_granted('oro_attribute_create') %}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('oro_attribute_create', {alias: entityAlias}),
                'entity_label': 'oro.entity_config.attribute.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ parent() }}
    {% placeholder attributes_content_after with {entityAlias: entityAlias} %}
{% endblock %}
