/* @theme: admin.oro; */
@import "oroui/css/scss/mixins";

.app-logo {
    display: inline-block;
    text-indent: -9999px;
    background: $app-logo-background;
    background-size: contain;
}

.navbar.app-header {
    color: $app-header-text-color;
    background-color: $app-header-bg-color;
    position: relative;
    z-index: 925;

    .navbar-inner {
        padding: 0 25px;

        .container {
            display: flex;
            position: relative;
            line-height: $app-header-height;
            height: $app-header-height;
        }
    }

    &.thick {
        .navbar-inner .container {
            line-height: $app-header-thick-height;
            height: $app-header-thick-height;
        }
        .nav.user-menu {
            .avatar {
                display: initial;
                max-height: 30px;
                max-width: 30px;
                border-radius: 50%;
                margin: side-values(0 3px 0 7px);
            }
        }

        .app-logo {
            display: none;
        }
    }

    .app-logo {
        width: 16px;
        margin-#{$end}: 8px
    }

    .logo-wrapper {
        display: flex;
        margin-#{$start}: 0;
        margin-#{$end}: 10px;
    }

    .logo {
        color: $app-header-logo-text-color;
        font-weight: bold;
        font-size: 17px;
        line-height: inherit;
        margin: 0;
        display: inline-block;

        a {
            color: inherit;
            text-transform: uppercase;

            [class^="fa-"] {
                font-size: 1.2em;
            }
        }
    }

    .nav.top-search {
        padding: 0 5px 0 5px;
        margin: 0;
        flex-shrink: 0;
        order: if-ltr(0, auto);

        > .dropdown {
            margin: 0 5px;
        }

        a.dropdown-toggle {
            color: inherit;
            text-align: center;
            position: relative;
            top: 1px;

            &:hover,
            &:active {
                color: $app-header-text-hover-color;
            }

            > [class^="fa-"] {
                margin: 0;
                width: 24px;
                font-size: $app-header-icon-font-size;
            }
        }

        .dropdown-menu {
            #{$start}: -5px;

            @include if-rtl() {
                #{$end}: auto;
            }
        }
    }

    .nav.user-menu {
        display: flex;
        order: 1;
        flex-shrink: 0;
        float: none;
        background-color: inherit;
        margin-#{$start}: 15px;
        margin-#{$end}: 0;
        height: 100%;

        .avatar {
            display: none;
        }

        > li {
            line-height: inherit;
            margin: 0 8px;

            &:last-of-type {
                margin-#{$end}: -3px;
            }

            > a {
                padding: 0;
                color: inherit;
                text-shadow: none;
                font-size: $app-header-font-size;
                [class^="fa-"],
                [class*=" fa-"] {
                    font-size: $app-header-icon-font-size;
                }

                &:hover {
                    color: $app-header-text-hover-color;
                }
            }
        }

        .dropdown {
            > .dropdown-menu {
                #{$end}: -12px;
                #{$start}: auto;
                z-index: $zindexDropdown;

                &:before,
                &:after {
                    #{$end}: 12px;
                    #{$start}: auto;
                }
            }
        }
    }

    .user-menu-dropdown {
        &:before {
            content: '';
            display: inline-block;
            border-#{$start}: 1px solid $app-header-divider-color;
            height: 1em;
        }

        > .dropdown-toggle {
            display: inline-block;
            margin-#{$start}: 15px;
        }
    }
}
