/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity */

.app-logo {
    display: inline-block;
    text-indent: -9999px;
    background: $app-logo-background;
    background-size: contain;
}

.app-header {
    font-size: $app-header-font-size;
    color: $app-header-text-color;
    position: relative;
    z-index: $desktop-app-header-z-index;
    grid-area: header;

    &__inner {
        background-color: $neutral-white;
        border-radius: 0 0 10px 10px;
        box-shadow: $app-header-container-panelbox-shadow;
    }

    &__container {
        background-color: transparent;
        display: grid;
        position: relative;
        gap: 24px 0;
    }

    &__container-panel {
        padding: $content-padding / 2 $content-padding;
        display: grid;
        grid-template-areas: 'start center end';
        grid-template-columns: auto auto 1fr;
        align-items: center;
    }

    &.thick {
        .user-menu {
            .avatar {
                display: initial;
                max-height: $app-header-avatar-size;
                max-width: $app-header-avatar-size;
                border-radius: $app-header-avatar-border-radius;
                margin: $app-header-avatar-margin;
            }
        }

        .app-logo {
            display: none;
        }
    }

    .organization-logo-wrapper {
        display: flex;
        align-items: center;
        grid-area: start;
        height: 100%;
    }

    .app-logo {
        width: $app-header-app-logo-width;
        margin-right: $app-header-app-logo-margin-end;
        flex-shrink: 0;
    }

    .logo-wrapper {
        display: flex;
        margin-left: 0;
        margin-right: $app-header-logo-wrapper-margin-end;
        flex-wrap: nowrap;
        align-items: center;
        // necessary for showing menu outside of overflow hidden block
        position: relative;
        height: 100%;
        max-width: 100%;
    }

    .logo {
        color: $app-header-logo-text-color;
        font-weight: font-weight('medium');
        font-size: $app-header-logo-font-size;
        line-height: inherit;
        margin: 0;
        display: inline-flex;
        align-items: center;
        max-width: $app-header-max-width;

        a {
            color: inherit;
            text-transform: uppercase;
            display: inline-block;

            @include text-line-truncate(100%, true);

            [class^='fa-'] {
                font-size: $app-header-logo-link-font-size;
            }
        }
    }

    .dropdown-organization-switcher {
        max-width: $app-header-switcher-max-width;

        .dropdown-item-text,
        .dropdown-item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__search-and-shortcuts {
        padding: $app-header-search-and-shortcuts-container-padding;
        margin: 0;
        flex-shrink: 0;
        height: 100%;
        max-height: 36px;
        order: 0;
        grid-area: center;

        .header-dropdown-shortcut {
            &::before {
                content: '';
                display: inline-block;
                border-left: $app-header-divider-width solid $app-header-divider-color;
                height: 24px;
                margin-right: 8px;
            }
        }

        .header-dropdown-search {
            .search-form {
                .header-search {
                    border: 1px solid $neutral-grey-4;
                    border-radius: 24px;

                    &:focus-within {
                        border-color: $secondary-focus;
                        box-shadow: 0 0 0 1px $secondary-focus;
                    }
                }
            }

            .select2-container {
                background: transparent;
            }

            .select2-chosen {
                padding-left: $content-padding - 2px;
            }

            .btn-search {
                border-radius: 24px;
            }
        }

        .dropdown-toggle {
            color: inherit;
            text-align: center;
            border: 0 none;
            background-color: transparent;
            padding: 0;

            &:hover,
            &:active {
                color: $app-header-text-hover-color;
            }

            > [class^='fa-'] {
                margin: 0;
                width: $app-header-icon-font-width;
                font-size: $app-header-icon-font-size;
            }
        }

        .dropdown-menu {
            padding: $desktop-app-header-dropdown-menu-padding;
            left: $app-header-search-and-shortcuts-dropdown-start;

            &::before {
                left: $app-header-search-and-shortcuts-arrow-start;
            }
        }

        .nav-header { /* Dropdown smaller section title */
            font-size: $app-header-title-font-size;
            line-height: $app-header-title-line-height;
        }

        .nav-header-title { /* Dropdown main title */
            text-transform: $app-header-dropdown-title-text-transform;
            display: block;
        }

        .select2-container {
            width: auto;
            max-width: $app-header-search-select-max-width;
            height: auto;
            border: none;
            box-shadow: none;
            align-self: center;
        }

        .select2-container-active {
            // to show active border over near input
            z-index: 1;
        }

        .search-field-container {
            min-width: $app-header-search-input-min-width;
            margin-left: -$input-border-width;

            input.search {
                border: none;
                box-shadow: none;
            }
        }

        .search-suggestion-list {
            top: $field-size - $input-border-width;

            font-size: $app-header-search-suggestion-item-font-size;

            .description {
                font-size: $app-header-search-suggestion-item-description-font-size;
            }
        }

        .no-data {
            top: $field-size - $input-border-width;
        }

        .dropdown-item {
            padding: $desktop-app-header-shortcut-dropdown-item-padding;
        }
    }

    .user-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        order: 1;
        flex-shrink: 0;
        float: none;
        background-color: inherit;
        height: 100%;
        grid-area: end;

        .avatar {
            display: none;
        }

        > li {
            line-height: inherit;
            display: inline-flex;
            align-items: center;
            height: 100%;
            margin: $desktop-app-header-user-menu-item-margin;

            > .dropdown-toggle,
            > .help {
                padding: 0;
                color: inherit;
                border: 0 none;
                background-color: transparent;
                text-shadow: none;
                font-size: $app-header-font-size;
                white-space: normal;

                // stylelint-disable-next-line selector-max-compound-selectors
                [class^='fa-'],
                [class*=' fa-'] {
                    font-size: $app-header-icon-font-size;
                    width: $app-header-icon-font-size;
                    text-align: center;
                }

                &:hover {
                    color: $app-header-text-hover-color;
                }
            }
        }

        .dropdown {
            > .dropdown-menu {
                right: $desktop-app-header-user-menu-offset;
                left: auto;
                z-index: $zindex-dropdown;

                &::before {
                    right: -$desktop-app-header-user-menu-offset;
                    left: auto;
                    margin-right: 2px;
                }
            }
        }
    }

    .dropdown.user-menu-dropdown {
        &::before {
            content: '';
            display: inline-block;
            border-left: $app-header-divider-width solid $app-header-divider-color;
            height: 24px;
        }

        > .dropdown-toggle {
            display: inline-flex;
            align-items: center;
            margin-left: $desktop-app-header-user-menu-margin-start;

            .dropdown-toggle__label {
                @include ellipsis();

                max-width: 130px;
            }
        }

        > .dropdown-menu {
            .divider {
                border-bottom: $desktop-app-header-user-menu-divider-border-bottom;
                margin: $desktop-app-header-user-menu-divider-margin;
            }

            &::before {
                margin-right: -1px;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .app-header {
        &__container-panel {
            grid-template-columns: 1fr minmax(0, auto) 1fr;
            gap: 0 16px;
        }

        &__search-and-shortcuts {
            .header-dropdown-search {
                padding: 1px;
                border-radius: 36px;
                border: 1px solid $neutral-grey-4;

                &:focus-within,
                &:has(.select2-dropdown-open) {
                    border-color: $secondary-focus;
                    box-shadow: 0 0 0 1px $secondary-focus;
                }

                .dropdown-toggle {
                    display: none;
                }

                .dropdown-menu {
                    background: transparent;
                    min-width: initial;
                    display: block;
                    padding: 0;
                    position: static;
                    box-shadow: none;
                }

                .search-form {
                    .header-search {
                        border: none;

                        &:focus-within {
                            border: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .app-header {
        .logo,
        .dropdown-organization-switcher {
            max-width: 120px;
        }
    }
}
