/* @theme: admin.oro; */

body:not(.login-page) {
    min-width: $width-body-page;
}

&,
.app-page,
.app-page__central-panel {
    height: 100%;
    overflow: hidden; // prevents scroll bar appearance
}

& {
    overflow-x: auto;
}

.responsive-section {
    .responsive-cell {
        &:nth-last-child(1n),
        &:nth-last-child(2n) {
            margin-bottom: 0;
        }
    }

    &.responsive-big {
        .responsive-cell {
            &:not(:only-child) {
                .responsive-block {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    &.responsive-small {
        .responsive-block {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.responsive-block {
    min-width: 340px;

    &:first-child {
        padding-#{$end}: $content-padding-small;
    }

    &:last-child {
        padding-#{$start}: $content-padding-small;
    }

    &:only-child {
        padding: 0;
    }

    &.border-right {
        border-#{$end}: 2px solid $primary-860;
    }
}

.app-page {
    box-sizing: border-box;
    display: flex;

    &__content-side {
        flex-shrink: 0;
    }

    &__content {
        flex-grow: 1;
        overflow: inherit;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__main {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: stretch;
        flex-grow: 1;
        justify-content: stretch;
    }

    &__left-panel,
    &__right-panel {
        overflow: visible;
    }

    &__central-panel {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        flex-grow: 1;
    }
}

.layout-content {
    > .scrollable-container {
        padding-#{$start}: $content-padding;
        padding-#{$end}: $content-padding;
    }

    // Update offset on pages with sidebar
    > .sidebar-container .category-data {
        padding-#{$start}: $content-padding;
        padding-#{$end}: $content-padding;
        margin-#{$end}: -$content-padding;
    }

    //  Update offset on view pages
    .layout-content .scrollspy-main-container > .scrollable-container {
        margin-#{$start}: -$content-padding;
        margin-#{$end}: -$content-padding;
        padding-#{$start}: $content-padding;
        padding-#{$end}: $content-padding;
    }
}

#container,
.scrollspy-main-container,
.scrollable-container > form,
.layout-content,
.layout-content > *:only-child,
.layout-content > .responsive-form-inner,
.content-with-sidebar--content .category-data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
    height: 100%;
}

.scrollable-container {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.container-fluid {
    > .responsive-section {
        &:not(.responsive-small) {
            .responsive-cell {
                &:first-child {
                    .user-fieldset,
                    .widget-title {
                        margin-#{$start}: $content-padding-medium;
                    }
                }

                &:nth-child(2) {
                    .inner-grid {
                        .grid-views {
                            margin-#{$start}: 0;
                        }
                    }
                }
            }
        }

        &.responsive-medium {
            &:not(.responsive-section-no-blocks) {
                .responsive-cell {
                    .user-fieldset,
                    .widget-title {
                        margin-#{$start}: $content-padding-medium;
                    }
                }
            }
        }

        &.responsive-small {
            .responsive-cell {
                .user-fieldset,
                .widget-title {
                    margin-#{$start}: $content-padding-medium;
                }
            }
        }
    }
}

//  Update offset on create / update pages
form > .layout-content {
    padding-#{$start}: $content-padding;
    padding-#{$end}: $content-padding;

    .scrollspy-main-container > .scrollable-container {
        margin-#{$start}: -$content-padding;
        margin-#{$end}: -$content-padding;
        padding-#{$start}: $content-padding;
        padding-#{$end}: $content-padding;
    }
}

.page-title + [data-bound-component*="datagrid"] {
    padding-#{$start}: $content-padding;
    padding-#{$end}: $content-padding;
}

.oro-page {
    &.collapsible-sidebar {
        .oro-page-sidebar {
            > .dropdown-menu {
                display: block !important;
                z-index: inherit;
                width: 100%;
            }
        }
    }
}
