.inline-editor__fields textarea {
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    border-radius: 0;
    font-size: 13px;
    line-height: 19px;
    .box-shadow(none);
    &:focus {
      .box-shadow(none);
    }
    &:first-child {
      padding-left: 9px;
    }
    &:last-child {
      padding-right: 52px;
    }
}
