.oro-translation-languages .translation-completeness b {
    text-align: center;
    display: block;
    margin-top: -36px;
}

.oro-translation-languages .translation-status .status-up-to-date {
    color: #5eb95e;
}

.oro-translation-languages .translation-status .status-needs-update {
    color: #f89406;
}
