{% set workflowItem = get_workflow_item(entity) %}
{% if workflowItem %}
    <style type="text/css">
        .workflow-steps-container {
            text-align: center;
        }
    </style>
    <div class="workflow-steps-container">
    {{
    oro_widget_render({
        'widgetType': 'block',
        'url': path('oro_workflow_widget_steps', {
            workflowItemId: workflowItem.id
        }),
        'alias': 'workflow_steps'
    })
    }}
    </div>
{% endif %}
