$icomoon-font-family: "grapsejs" !default;
$icomoon-font-path: "fonts" !default;

$icon-flex-al-str: "\e900";
$icon-flex-al-center: "\e901";
$icon-flex-al-end: "\e902";
$icon-flex-al-start: "\e903";
$icon-flex-dir-col-rev: "\e904";
$icon-flex-dir-col: "\e905";
$icon-flex-dir-row-rev: "\e906";
$icon-flex-dir-row: "\e907";
$icon-flex-just-end: "\e908";
$icon-flex-just-sp-ar: "\e909";
$icon-flex-just-sp-bet: "\e90a";
$icon-flex-just-sp-cent: "\e90b";
$icon-flex-just-start: "\e90c";

