/* @theme: admin.oro; */

$entity-fallback-container-selector-width: auto !default;
$entity-fallback-container-selector-inner-offset-right: 30px !default;

$entity-fallback-container-use-fallback-checkbox-offset-top: -2px !default;

$entity-fallback-container-fallback-item-use-fallback-inner-offset: 0 6px !default;
