<li class="option" data-criteria="condition-activity"
    data-module="oroactivitylist/js/activity-condition"
    data-widget="activityCondition"
    data-options="{{ activityConditionOptions|json_encode }}">
    {{ 'oro.activitylist.condition_builder.criteria.activity'|trans }}
</li>
