{% set activityConditionOptions = {
    filters: params.metadata.filters|default([]),
    fieldChoice: {
        select2: {
            formatSelectionTemplateSelector: params.column_chain_template_selector|default(null),
        },
    },
}|merge_recursive(activityConditionOptions|default({})) %}

<li class="option" data-criteria="condition-activity"
    data-module="oroactivitylist/js/app/views/activity-condition-view"
    data-options="{{ activityConditionOptions|json_encode }}">
    {{ 'oro.activitylist.condition_builder.criteria.activity'|trans }}
</li>
