{% set activityConditionOptions = {
    listOption: render(path('oro_api_get_activitylist_activity_list_option')),
    entitySelector: '[data-ftid=' ~ params.entity_choice_id ~ ']',
    fieldsLoaderSelector: '[data-ftid=' ~ params.entity_choice_id ~ 'oro_api_querydesigner_fields_entity]',
    fieldChoice: {
        select2: {
            placeholder: 'oro.query_designer.condition_builder.choose_entity_field'|trans,
        },
    },
} %}

<li class="option" data-criteria="condition-activity"
    data-module="oroactivitylist/js/activity-condition"
    data-widget="activityCondition"
    data-options="{{ activityConditionOptions|json_encode }}">
    {{ 'oro.activitylist.condition_builder.criteria.activity'|trans }}
</li>
