/* @theme: admin.oro; */

$mobile-filter-box-height: 40px !default;
$mobile-filter-box-line-height: 36px !default;

$mobile-filter-box-caret-margin-top: 16px !default;

$mobile-filter-box-product-price-filter-display: block !default;
$mobile-filter-box-choice-filter-float: none !default;
