<div class="sidebar-widget-header">
    <a href="#" class="sidebar-widget-header-toggle">
        <i class="icon-chevron-down icon-white"></i>
    </a>
    <img src="<%= icon %>" alt="<%= title %>"/>
    &nbsp;
    <span><%= title %></span>
    <span class="sidebar-widget-header-wrap">
        <a href="#" class="sidebar-widget-settings">
            <i class="icon-cog icon-white"></i>
        </a>
        <a href="#" class="sidebar-widget-remove">
            <i class="icon-remove icon-white"></i>
        </a>
    </span>
</div>
<div class="sidebar-widget-content">
</div>