<div title="<%= _.__('oro.sidebar.widget.add.content.section_title') %>">
    <div class="sidebar-widgetadd-widgets">
        <% _.each(availableWidgets, function (widget, name) { %>
        <div class="sidebar-widget-container">
            <table>
                <tbody>
                    <tr class="sidebar-widget-title">
                        <td class="sidebar-widget-small-column">
                            <% if (widget.description) { %>
                            <a class="sidebar-picker-collapse"></a>
                            <% } %>
                        </td>
                        <td class="sidebar-widget-small-column">
                            <img src="<%= widget.dialogIcon %>" alt="<%= widget.title %>" title="<%= widget.title %>"/>
                        </td>
                        <td class="sidebar-widget-large-column">
                            <strong><%= widget.title %></strong>
                        </td>
                        <td class="sidebar-widgets-pick-wrapper">
                            <a class="btn add-widget-button btn-primary" data-widget-name="<%= name %>">
                                Add
                            </a>
                        </td>
                    </tr>
                    <% if (widget.description) { %>
                    <tr class="sidebar-widgets-description">
                        <td colspan="2"></td>
                        <td class="sidebar-widget-large-column">
                            <%= _.__( widget.description ) %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% }); %>
    </div>
</div>
