<div class="sidebar-widget">
    <div class="sidebar-widget-header">
        <span class="sidebar-widget-header-title">
            <a href="#" class="sidebar-widget-header-toggle">
                <i class="fa-caret-down"></i>
            </a>
            <span class="widget-title" title="<%= title %>"><div class="sidebar-widget-header-icon"><%= icon %></div> <%= title %></span>
        </span>
        <span class="sidebar-widget-header-wrap">
            <% if (showRefreshButton) { %>
            <a href="#" class="sidebar-widget-refresh">
                <i class="fa-refresh"></i>
            </a>
            <% } %>
            <a href="#" class="sidebar-widget-settings">
                <i class="fa-cog"></i>
            </a>
            <a href="#" class="sidebar-widget-remove">
                <i class="fa-trash-o"></i>
            </a>
            <a href="#" class="sidebar-widget-close">
                <i class="fa-close"></i>
            </a>
        </span>
    </div>
    <div class="sidebar-widget-content">
    </div>
</div>
