<div class="box-type1 dashboard-widget<%= allowEdit ? ' editable' : '' %>" data-layout="separate">
    <div class="widget-header clearfix">
        <div class="pull-left actions-container">
            <div class="pull-left collapse-expand-action-container">
                <button class="btn-link collapse-action<%= collapsed ? ' collapsed' : '' %>" href="#"
                    data-collapsed-title="<%- _.__('oro.dashboard.widget.expand') %>"
                    data-expanded-title="<%- _.__('oro.dashboard.widget.collapse') %>">
                    <i class="fa-icon collapse-action-icon"></i>
                </button>
            </div>
        </div>
        <div class="pull-right actions-container">
            <div class="pull-right default-actions-container">
                <% if (showConfig) { %>
                <div class="dropdown pull-right action-wrapper">
                    <button data-toggle="dropdown" class="btn-link"><i class="fa-ellipsis-h"></i></button>
                    <ul class="dropdown-menu" data-options="<%- JSON.stringify({flipMode: true}) %>">
                        <li>
                            <a class="configure-action" href="#"
                               title="<%- _.__('oro.dashboard.widget.configure') %>">
                                <i class="fa-cog hide-text"></i> <%- _.__('oro.dashboard.widget.configure') %>
                            </a>
                        </li>
                        <li>
                            <a class="remove-action" href="#"
                               title="<%- _.__('oro.dashboard.widget.remove') %>">
                                <i class="fa-trash-o hide-text"></i> <%- _.__('oro.dashboard.widget.remove') %>
                            </a>
                        </li>
                    </ul>
                </div>
                <% } else { %>
                <span class="action-wrapper">
                    <button class="btn-link remove-action"
                        title="<%- _.__('oro.dashboard.widget.remove') %>">
                        <i class="fa-trash-o"></i>
                    </button>
                </span>
                <% } %>
            </div>
        </div>
        <div class="title sortable widget-title pull-left" title="<%- title %>"><%- title %></div>
        <div class="pull-right widget-actions-container"></div>
    </div>
    <div class="row-fluid <%= contentClasses.join(' ') %>"></div>
</div>
