<div class="box-type1 dashboard-widget<%= allowEdit ? ' editable' : '' %>">
    <div class="widget-header clearfix">
        <div class="pull-left actions-container">
            <div class="pull-left collapse-expand-action-container">
                <a class="collapse-action<%= collapsed ? ' collapsed' : '' %>" href="#"
                    data-collapsed-title="<%- _.__('oro.dashboard.widget.expand') %>"
                    data-expanded-title="<%- _.__('oro.dashboard.widget.collapse') %>"></a>
            </div>
        </div>
        <div class="pull-right actions-container">
            <div class="pull-right default-actions-container">
                <span class="action-wrapper sortable">
                    <a class="move-action" href="#" title="<%- _.__('oro.dashboard.widget.move') %>">
                        <i class="icon-move hide-text"></i>
                    </a>
                </span>
                <% if (showConfig) { %>
                <span class="action-wrapper">
                    <a class="configure-action" href="#"
                        title="<%- _.__('oro.dashboard.widget.configure') %>">
                        <i class="icon-cog hide-text"></i>
                    </a>
                </span>
                <% } %>
                <span class="action-wrapper">
                    <a class="remove-action" href="#"
                        title="<%- _.__('oro.dashboard.widget.remove') %>">
                        <i class="icon-trash hide-text"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="title sortable widget-title pull-left" title="<%- title %>"><%- title %></div>
        <div class="pull-right widget-actions-container"></div>
    </div>
    <div class="row-fluid <%= contentClasses.join(' ') %>"></div>
</div>
