{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {% set scope = 'system-calendar-' ~ entity.id %}
    {{ dataGrid.renderGrid(
        oro_datagrid_build_fullname(
            entity.public ? 'public-system-calendar-event-grid' : 'system-calendar-event-grid',
            scope
        ),
        {calendarId: entity.id}
    ) }}
</div>
