// Media breakpoints
$breakpoint-desktop: 1100px;
$breakpoint-tablet: $breakpoint-desktop - 1px;
$breakpoint-tablet-small: 992px;
$breakpoint-mobile-portrait: 640px;
$breakpoint-mobile: 414px;

// Offsets
$offset-y: 15px !default;
$offset-y-m: 10px !default;
$offset-y-s: 5px !default;
$offset-x: 15px !default;
$offset-x-m: 10px !default;
$offset-x-s: 5px !default;
