/* @theme: blank; */

// In blank theme has not use custom fonts except icon font.
// This variable update in child's themes.
$theme-fonts: (
    'font-awesome': (
        'family': 'FontAwesome',
        'variants': (
            (
                // This font based on 'Lato regular' font.
                'path': '~font-awesome/fonts/fontawesome-webfont',
                'weight': normal,
                'style': normal
            )
        ),
        'formats': ('woff2', 'woff')
    )
) !default;

$base-font: Arial, sans-serif !default;

// include in assets
$icon-font: 'FontAwesome' !default;

$root-font-size: 14px !default;
$base-font-size: 14px !default;
$base-font-size--large: 16px;
$base-font-size--xs: 11px !default;
$base-font-size--s: 13px !default;
$base-font-size--m: 20px !default;
$base-font-size--l: 22px !default;
$base-font-size--xl: 26px !default;
$base-line-height: 1.35 !default;

// Fonts weights
$font-weights: (
    'thin': 100, // Thin (Hairline)
    'extra': 200, // Extra Light (Ultra Light)
    'light': 300, // Light
    'normal': 400, // Normal
    'medium': 500, // Medium
    'semi-bold': 600, // Semi Bold (Demi Bold)
    'bold': 700, // Bold
    'extra-bold': 800, // Extra Bold (Ultra Bold)
    'black': 900 // Black (Heavy)
) !default;

// Font smoothing
$global-font-smoothing: true !default;
