/* @theme: blank; */

// In blank theme has not use custom fonts.
// This variable update in child's themes.
$theme-fonts: () !default;

$base-font: Arial, sans-serif !default;
// include in assets
$icon-font: 'FontAwesome' !default;

$root-font-size: 14px !default;
$base-font-size: 14px !default;
$base-font-size--large: 16px;
$base-font-size--xs: 11px !default;
$base-font-size--s: 13px !default;
$base-font-size--m: 20px !default;
$base-font-size--l: 22px !default;
$base-font-size--xl: 26px !default;
$base-line-height: 1.35 !default;
