/* @theme: blank; */

// In blank theme has not use custom fonts except icon font.
// This variable update in child's themes.
$theme-fonts: (
    'font-awesome': (
        'family': 'FontAwesome',
        'variants': (
            (
                // This font based on 'Lato regular' font.
                'path': '~@oroinc/font-awesome/fonts/fontawesome-webfont',
                'weight': normal,
                'style': normal
            )
        ),
        'formats': ('woff2', 'woff')
    )
) !default;

// Fonts weights
$font-weights: (
    // Thin (Hairline)
    'thin': 100,
    // Extra Light (Ultra Light)
    'extra': 200,
    // Light
    'light': 300,
    // Normal
    'normal': 400,
    // Medium
    'medium': 500,
    // Semi Bold (Demi Bold)
    'semi-bold': 600,
    // Bold
    'bold': 700,
    // Extra Bold (Ultra Bold)
    'extra-bold': 800,
    // Black (Heavy)
    'black': 900
) !default;

$base-font: arial, sans-serif !default;

// include in assets
$icon-font: 'FontAwesome' !default;

$root-font-size: 14px !default;
$base-font-size: 14px !default;
$base-font-size--large: 16px;
$base-font-size--xs: 11px !default;
$base-font-size--s: 13px !default;
$base-font-size--m: 20px !default;
$base-font-size--l: 22px !default;
$base-font-size--xl: 26px !default;
$base-font-weight: font-weight('normal') !default;
$base-line-height: 1.35 !default;

// Font smoothing
$global-font-smoothing: true !default;
