<script type="text/html" id="template-list-pin-item">
    <div class="pin-holder">
        <button class="btn-close icon-remove" href="#">{{ 'close'|trans|e('html')|raw }}</button>
        <div><a href="<%= url %>" data-options="{&quot;cache&quot;:true}" title="<%- title_rendered %>"><i class="icon-circle pin-status"></i><%- title_rendered_short %></a></div>
    </div>
</script>
