.btn-primary,
.scrollable-container .btn-primary {
    background: linear-gradient(#4e8af9, #2b6add);
    border: 1px solid;
    border-color: #527ac0;
    text-shadow: 0 1px 0 #386e9f;
    color: #fff;
    font-weight: bold;

    &:active,
    &:focus,
    &:hover {
        background: linear-gradient(#2b6add, #4e8af9);
        color: #fff;
    }
}
