/* @theme: admin.demo; */

.error-page-wrapper {
    background-color: $error-page-wrapper-background;
}

.error-page-footer {
    color: $error-page-footer-text-color;
}

.error-page-content {
    color: $error-page-content-text-color;
}

.error-page-title {
    color: $error-page-title-text-color;
}
