.map-box .map-item .inline li .label-info {
    background-color: #366bca;
}

.navbar .small-divider {
    background-image: url(../../images/blue-vertical-divider.png);
    background-repeat: repeat-y;
}

#oroplatform-header {
    .navbar-inner .logo a,
    header .logo a {
        background-color: $logo-background-color;
    }

    .navbar-inner .logo:before,
    header .logo:before {
        border-color: transparent transparent transparent $logo-background-color;
    }

    .navbar-inner .logo:after,
    header .logo:after {
        border-color: transparent transparent transparent $logo-background-color;
    }

    .navbar-inner {
        border-bottom-color: $base-gradient-color-border;
        background: linear-gradient($logo-background-color, $logo-background-color);
    }

    .nav.top-search { // Includes Shortcuts and Search
        .dropdown {
            > .dropdown-toggle {
                &:hover [class^="fa-"] {
                    border: 1px solid darken(#2a5ab1, 10%);
                    background: linear-gradient($base-gradient-color-start, darken($base-gradient-color-start, 20%));
                }
                &:active [class^="fa-"],
                &:focus [class^="fa-"] {
                    border: 1px solid darken(#2a5ab1, 10%);
                    background: linear-gradient(darken($base-gradient-color-start, 10%), darken($base-gradient-color-start, 20%));
                }
            }
            &.open > .dropdown-toggle [class^="fa-"] {
                border: 1px solid darken(#2a5ab1, 10%);
                background: linear-gradient($base-gradient-color-start, darken($base-gradient-color-start, 20%));
            }
        }
    }
}
