/* @theme: admin.demo; */

$primary:     #233e67;
$secondary:   #0C9ea3;
$extra:       #f9e500;

@import "../../../../css/scss/variables";
@import "../../../../css/scss/oro/variables";

/** Demo Theme */
$title-background-start:          #4580ea;
$title-background-end:            #3167c9;
$header-icon-button-color-start:  #5c93f2;
$header-icon-button-color-end:    #4c7ac9;
