/* @theme: admin.demo; */

$primary:     #233e67;
$secondary:   #0C9ea3;
$extra:       #f9e500;

@import "../../../../css/scss/colors";
@import "../../../../css/scss/variables";
@import "../../../../css/scss/oro/variables/loading-mask";
@import "../../../../css/scss/oro/variables/main-menu";

/** Demo Theme */
$titleBackgroundStart:            #4580ea;
$titleBackgroundEnd:              #3167c9;
$headerIconButtonColorStart:      #5c93f2;
$headerIconButtonColorEnd:        #4c7ac9;
