/* @theme: admin.oro; */

$oro-datagrid-actions-panel-offset: $content-padding-medium !default;
$oro-datagrid-actions-panel-action-offset: $content-padding-medium !default;

$oro-datagrid-actions-panel-action-pressed-background-color: $secondary-secondary-4;
$oro-datagrid-actions-panel-action-pressed-color: $neutral-white;
$oro-datagrid-actions-panel-action-pressed-box-shadow: null !default;
