/* @theme: admin.oro; */

$dot-menu-close-color: $primary-700 !default;
$dot-menu-close-pisotion: 8px !default;
$dot-menu-dropdown-min-height: 168px !default;
$dot-menu-tabs-tabbable-offset: 16px 16px 22px !default;
$dot-menu-tabs-offset: side-values(4px 0 0 16px) !default;
$dot-menu-dropdown-max-height: 380px !default;
$dot-menu-nav-tabs-color: $primary-200 !default;
$dot-menu-nav-tabs-offset: side-values(10px 6px 10px 16px) !default;
$dot-menu-nav-tabs-icon-color: $primary-400 !default;
$dot-menu-item-active-background: $extra-200 !default;

$dot-menu-tab-content-item-border: 1px solid $primary-860 !default;
$dot-menu-tab-content-item-offset: side-values(5px 24px 6px 8px) !default;
$dot-menu-tab-content-item-line-height: 1.36 !default;
