/* @theme: admin.oro; */

$dot-menu-close-color: $primary-700 !default;
$dot-menu-dropdown-min-height: 168px !default;
$dot-menu-tabs-offset: side-values(0 0 0 16px) !default;
$dot-menu-dropdown-max-height: 330px !default;
$dot-menu-nav-tabs-color: $primary-200 !default;
$dot-menu-nav-tabs-icon-color: $primary-400 !default;
$dot-menu-item-active-background: $extra-200 !default;

$dot-menu-tab-content-item-border-color: $primary-900 !default;
$dot-menu-empty-message-color: $primary-300 !default;
