.inner-permissions-grid {
  margin: 0 -20px 20px -20px;
  .more-bar-holder > ul {
    margin-bottom: 0;
  }
  .grid-body-cell-entity {
    font-weight: bold;
  }
  table.grid, .grid-scrollable-container {
    overflow: visible;
  }
  table tr:last-child {
    td:first-child {
      border-bottom-left-radius: 4px !important;
    }
    td:last-child {
      border-bottom-right-radius: 4px !important;
    }
  }
  .grid-header-cell:first-child {
    width: 160px;
  }
  .collapse-expand-action-container {
    .collapse-action{
      color: #727272;
      font-size: 13px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      &:before {
        content: '−';
        display: inline-block;
        width: 13px;
        height: 13px;
        font-weight: normal;
        border: 1px solid #c3c3c3;
        margin-right: 8px;
        background-color: #fcfcfc;
        font-size: 12px;
        line-height: 12px;
        padding: 1px 0 0px 0;
        text-align: center;
        color: #727272;
        #gradient > .horizontal(#fcfcfc, #e9e9e9);
      }
      &.collapsed:before {
        content: '+';
      }
    }
  }
  .entity-name {
    float: left;
    width: 136px;
    font-weight: bold;
  }
  .entity-row-action {
    position: relative;
    float: right;
    width: 20px;
  }
  .fields-list {
    & > :first-child {
      margin-top: 8px;
    }
    & > :last-child {
      margin-bottom: 8px;
    }
  }
}
.collapse-expand-action-container .collapse-action {
  .field-less & {
    visibility: hidden;
  }
  .collapsed &:before {
    content: '+';
  }
}
.action-permissions {
  list-style: none;
  margin: 0;
  .entity-permission-container > & {
    margin-left: 160px;
    margin-right: 24px;
  }
  & &__item {
    float: left;
    width: 160px;
    margin-right: 15px;
  }
  & &__item-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 15px 0 8px;
    margin-left: -8px;
    max-width: 100%;
    box-sizing: content-box;
    float: left;
    &.dropdown-toggle {
      cursor: pointer;
      &:hover:after {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: 8px;
        margin-left: 5px;
        vertical-align: top;
        border-top: 4px solid #000;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
      }
    }
  }
  & &__item-wrapper--no-access {
    opacity: 0.4;
  }
  & &__item-wrapper_changed {
    background-color: #f5f5f5;
    box-shadow: 0 0 0 3px #f5f5f5;
  }
  & &__label {
    max-width: 85px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
  & &__dropdown-toggle {
    &:focus {
      font-weight: normal;
    }
  }
}
.field-permission-container {
  margin-left: 40px;
  padding: 4px 0;
  border-top: 1px solid @generalBorderColor;
  &:first-child {
    border-top: 0 none;
  }
  .field-name{
    float: left;
    width: 120px;
    padding-left: 10px;
  }
  .action-permissions {
    margin-left: 120px;
  }
}
.role-permissions-action-launcher {
  .launchers-list .launcher-item a&:hover,
  .launchers-list .launcher-item a&:focus {
    background: transparent !important;
  }
}
.dropdown-menu__role-permissions-action {
  .grid .entity-row-action & {
    padding: 5px 0;
    top: auto;
    margin-top: 17px;
    left: auto;
    right: -10px;
  }
  .dropdown-menu-collection__list > li {
    white-space: nowrap;
    margin: 0;
  }
}

