/* @theme: admin.oro; */

$accordion-toggle-background: $primary-900 !default;
$accordion-toggle-font-size: 14px !default;
$accordion-toggle-font-weight: bold !default;
$accordion-toggle-offset: 0 !default;

$accordion-group-responsive-section-border-radius: 0 !default;
$accordion-group-responsive-section-offset-bottom: 0 !default;
$accordion-group-responsive-section-border: none !default;
