/* @theme: admin.oro; */

$app-header-height:                        48px !default;
$app-header-bg-color:                      $primary !default;
$app-header-logo-text-color:               $primary-inverse !default;
$app-header-text-color:                    $primary-800 !default;
$app-header-icon-font-size:                24px !default;
