/* @theme: admin.oro; */

// Main variables
$content-sidebar-width: 320px !default;
$content-sidebar-min-height: 90vh !default;

// Component variables
$content-sidebar-mobile-max-width: $content-sidebar-width !default;
$content-sidebar-mobile-min-height: $content-sidebar-min-height !default;
$content-sidebar-mobile-margin: side-values(0 0 0 (-$content-padding)) !default;
