/* @theme: admin.oro; */

// Main variables
$content-sidebar-width: 320px !default;
$content-sidebar-min-height: 90vh !default;

// Component variables
$content-sidebar-mobile-max-width: $content-sidebar-width !default;
$content-sidebar-mobile-min-height: $content-sidebar-min-height !default;
$content-sidebar-mobile-margin: 0 0 0 (-$content-padding) !default;

$content-sidebar-items-mobile-offset-inner: 0 $content-padding !default;

$content-sidebar-jstree-wrapper-mobile-inner-offset: 0 $content-padding !default;
$content-sidebar-jstree-wrapper-jstree-mobile-inner-offset: 0
    (-$content-padding) 0 - ($content-padding + $content-padding-medium) !default;

$content-with-sidebar-controls-background: $primary-830 !default;
$content-with-sidebar-controls-color: $primary-100 !default;
