/* @theme: admin.oro; */

$flash-messages-frame-left: 0 !default;
$flash-messages-frame-right: 0 !default;
$flash-messages-frame-margin: 0 auto !default;
$flash-messages-frame-min-width: 300px !default;
$flash-messages-frame-max-width: 608px !default;
