/* @theme: admin.oro; */

$jstree-mobile-wholerow-height: 43px !default;

$jstree-mobile-anchor-line-height: 1.9 !default;
$jstree-mobile-anchor-font-size: $base-font-size--m !default;
$jstree-mobile-anchor-inner-offset: 7px $content-padding-medium 7px $content-padding-medium !default;
