/* @theme: admin.oro; */

$small-devices-media-breakpoint: 420px !default;
$small-landscape-devices-media-breakpoint: 640px !default;
$medium-devices-media-breakpoint: 768px !default;
$tablet-devices-media-breakpoint: 1024px !default;
$mobile-page-toolbar-background-color: $primary-900 !default;
