/* @theme: admin.oro; */

$mobile-page-title-icon-offset: 47px !default;
$mobile-page-title-icon-size: 40px !default;

$page-title-btn-more-actions-icon: $fa-var-ellipsis-h !default;
$page-title-btn-more-actions-submittable-icon: $fa-var-sort-down !default;
$page-title-btn-more-actions-submittable-color: $primary-inverse !default;
$page-title-btn-more-actions-submittable-bg-color: $success !default;
$page-title-btn-more-actions-submittable-bg-color-active: $success-dark !default;
