/* @theme: admin.oro; */

$scrollspy-mobile-accordion-group-offset: 8px !default;

$scrollspy-mobile-toggle-offset: 8px 16px !default;
$scrollspy-mobile-border-radius: 4px !default;

$scrollspy-mobile-toggle-icon-width: 12px !default;
$scrollspy-mobile-toggle-icon-offset: 0 8px 0 0 !default;
$scrollspy-mobile-toggle-icon-font-size: 18px !default;
$scrollspy-mobile-toggle-icon-color: $primary-200 !default;
$scrollspy-mobile-toggle-icon-text-align: center !default;

$scrollspy-mobile-toggle-icon: $fa-var-angle-down !default;
