/* @theme: admin.oro; */

$mobile-select2-container-font-size: 16px !default;
$mobile-select2-container-height: 40px !default;

$mobile-select2-choice-height: 36px !default;

$mobile-select2-chosen-height: 36px !default;
$mobile-select2-chosen-end-offset: 26px !default;
$mobile-select2-chosen-inner-offset: 11px $mobile-select2-chosen-end-offset 7px 10px !default;

$mobile-select2-arrow-font-size: 18px !default;
$mobile-select2-arrow-top: 10px !default;

$mobile-select2-append-height: 40px !default;

$mobile-select2-allowclear-right: 48px !default;

$mobile-select2-search-choice-close-height: 36px !default;
$mobile-select2-search-choice-close-width: 38px !default;
$mobile-select2-search-choice-close-top: 0 !default;
$mobile-select2-search-choice-close-right: 0 !default;
$mobile-select2-search-choice-close-color: $primary-200 !default;
$mobile-select2-search-choice-close-text-align: center !default;

$mobile-select2-search-choice-close-icon-content: $fa-var-times !default;
$mobile-select2-search-choice-close-icon-size: 16px !default;
$mobile-select2-search-choice-close-icon-top: 50% !default;
$mobile-select2-search-choice-close-icon-right: 50% !default;
$mobile-select2-search-choice-close-icon-position: absolute !default;
$mobile-select2-search-choice-close-icon-transform: translate(50%, -50%) !default;

$mobile-select2-container-multi-top-min-height: 40px !default;
$mobile-select2-container-multi-top-height: auto !default;

$mobile-select2-search-multi-choices-offset: 4px 0 0 0 !default;

$mobile-select2-search-choice-inner-offset:  6px 32px 6px 8px !default;
$mobile-select2-search-choice-offset: 0 0 4px 4px !default;

$mobile-select2-search-choice-select2-locked-inner-offset: 6px 8px !default;

$mobile-select2-container-multi-choice-offset-right: 5px !default;

$mobile-select2-container-multi-select2-search-field-height: 36px !default;
$mobile-select2-container-multi-select2-search-field-line-height: 36px !default;

$mobile-select2-container-multi-select2-search-field-top-offset: -4px !default;
