/* @theme: admin.oro; */

$widget-picker-mobile-description-cell-margin: 11px 7px 2px 32px !default;
$widget-picker-mobile-item-padding-bottom: 57px !default;
$widget-picker-mobile-summary-row-margin-bottom: 5px !default;
$widget-picker-mobile-actions-column-bottom: 16px !default;
