<script type="text/html" id="filter-container">
    <% if (!_.isEmpty(filters)) { %>
        {% if isMobileVersion() %}
            <div class="filter-box oro-clearfix-width">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="btn btn-large dropdown-toggle" data-toggle="dropdown">{{ 'Filter Results'|trans|e('html')|raw }}</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="filter-container">
                                <a class="reset-filter-button" href="javascript:void(0);">{{ 'Reset'|trans|e('html')|raw }}</a>
                                <select data-action="add-filter-select" multiple>
                                    <% _.each(filters, function (filter, name) { %>
                                    <option title="<%- _.escape(filter.label) %>" value="<%- name %>" <% if (filter.enabled) { %>selected<% } %>>
                                    <%- filter.label %>
                                    </option>
                                    <% }); %>
                                </select>
                                <span class="filter-items"></span>
                                <div class="filter-items-hint"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="filter-box oro-clearfix-width">
                <div class="filter-container">
                    <select data-action="add-filter-select" multiple>
                        <% _.each(filters, function (filter, name) { %>
                        <option title="<%- _.escape(filter.label) %>" value="<%- name %>" <% if (filter.enabled) { %>selected<% } %>>
                        <%- filter.label %>
                        </option>
                        <% }); %>
                    </select>
                    <span class="filter-items"></span>
                    <div class="filter-items-hint">
                        <a class="reset-filter-button" href="javascript:void(0);">{{ 'oro.filter.reset.label'|trans|e('html')|raw }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    <% } %>
</script>
