<script type="text/template" id="filter-wrapper-template">
    <div class="filter-item oro-drop">
        <div class="btn filter-criteria-selector oro-drop-opener oro-dropdown-toggle <% if (isEmpty) { %>filter-default-value<% } %>">
            <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
            <span class="caret"></span>
        </div>
        <div class="filter-criteria dropdown-menu" />
    </div>
</script>
<script type="text/template" id="filter-hint-template">
    <span><%- label %>: <strong class="filter-criteria-hint"></strong>
        <span class="reset-filter" title="<%- _.__("oro.filter.wrapper.reset.tooltip") %>">
            <i class="icon-remove hide-text"><%- _.__("oro.filter.wrapper.reset.hint") %></i>
        </span>
    </span>
</script>
<script type="text/template" id="none-filter-template">
    <div><%= popupHint %></div>
</script>
<script type="text/template" id="text-filter-template">
    <div>
        <div>
            <input type="text" name="value" value=""/>
        </div>
        <div class="oro-action">
            <div class="btn-group">
                <button type="button" class="btn btn-primary filter-update"><%- _.__("Update") %></button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="choice-filter-template">
    <div class="choice-filter">
        <div class="btn-group btn-block">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <%- selectedChoiceLabel %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(choices, function (option) { %>
                    <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
                        <a class="choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="value-field-frame">
            <input type="text" name="value" value="">
            <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
            <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
        </div>
    </div>
</script>

<script type="text/template" id="number-range-filter-template">
    <div class="choice-filter number-range-filter">
        <div class="btn-group btn-block">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <%- selectedChoiceLabel %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(choices, function (option) { %>
                    <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
                        <a class="choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="value-field-frame">
            <div class="filter-value">
                <div class="filter-start">
                    <input type="text" class="" value="<%= value.value %>" name="value">
                </div>
                <span class="filter-separator">-</span>
                <div class="filter-end">
                    <input type="text" value="<%= value.value_end %>" name="value_end">
                </div>
            </div>
            <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
            <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
        </div>
    </div>
</script>

<script type="text/template" id="many-to-many-filter-template">
    <div class="choice-filter">
        <div class="btn-group btn-block">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <%- selectedChoiceLabel %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(choices, function (option) { %>
                    <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
                        <a class="choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="value-field-frame">
            <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
            <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
        </div>
    </div>
</script>

<script type="text/template" id="select-field-template">
    <div class="horizontal clearfix">
        <span class="filter-select-oro-wrapper">
            <select name="<%= name %>" class="filter-select-oro">
                <% _.each(choices, function (option) { %>
                <option value="<%= option.value %>"<% if (option.value == selectedChoice) { %> selected="selected"<% } %>><%- option.label %></option>
                <% }); %>
            </select>
        </span>
    </div>
</script>

<script type="text/template" id="date-filter-template">
    <div>
        <%= parts.join('') %>
        <div class="filter-date-range">
            <div class="filter-start-date">
                <input type="text" class="<%= inputClass %>"
                       value="<%= value.value.start %>" name="start" placeholder="<%- _.__('from') %>">
            </div>
            <span class="filter-separator">-</span>
            <div class="filter-end-date">
                <input type="text" class="<%= inputClass %>"
                       value="<%= value.value.end %>" name="end" placeholder="<%- _.__('to') %>">
            </div>
        </div>
        <div class="oro-action">
            <div class="btn-group">
                <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="date-picker-itemized-content">
    <div class="ui-datevariables-div">
        <b><%= title %></b>
        <ul>
            <% _.each(items, function (label, value) { %>
                <li><a data-value="<%= value %>" href="#"><%= label %></a></li>
            <% }); %>
        </ul>
    </div>
</script>
<script type="text/template" id="date-filter-dropdown-template">
    <% if (!tabs.length) { %>
    <div id="calendar<%= suffix %>"></div>
    <% } else { %>
        <ul class="nav nav-tabs nav-tabs-oro">
            <% _.each(tabs, function (tab, i) { %>
            <li<% if (i === 0) { %> class="active"<% } %>><a class="<%= tab.name %>" href="#<%= tab.name %><%= suffix %>"><%= tab.label %></a></li>
            <% }); %>
        </ul>
        <div class="tab-content">
            <% _.each(tabs, function (tab, i) { %>
            <div class="tab-pane<% if (i === 0) { %> active<% } %>" id="<%= tab.name %><%= suffix %>"></div>
            <% }); %>
        </div>
    <% } %>
</script>
<script type="text/template" id="select-filter-template">
    <div class="filter-item oro-drop">
        <div class="btn filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>">
            <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
            <select>
                <% _.each(options, function (option) { %>
                    <option value="<%= option.value %>" title="<%- option.label %>"
                        <% if (option.value == selected.value) { %> selected="selected"<% } %>>
                        <%- option.label %>
                    </option>
                <% }); %>
            </select>
            <span class="caret"></span>
        </div>
    </div>
</script>
<script type="text/template" id="multiselect-filter-template">
    <div class="filter-item oro-drop">
        <div class="btn filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>">
            <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
            <select multiple>
                <% _.each(options, function (option) { %>
                <option value="<%= option.value %>" title="<%- option.label %>"
                    <% if (_.isArray(selected.value)) { %><% if (_.indexOf(selected.value, option.value) !== -1) { %> selected="selected"<% } %>
                    <% } else if (option.value == selected.value) { %> selected="selected"<% } %>>
                    <%- option.label %>
                </option><% }); %>
            </select>
            <span class="caret"></span>
        </div>
    </div>
</script>
<script type="text/template" id="choice-tree-template">
    <div class="filter-item oro-drop choice-tree-filter">
        <input type="text" name="search" value="" class="choice-tree-filter-search"/>
        <div class="buttons">
            <span class="button-all active" data-mode="all'"><%- _.__("oro.filter.choice-tree.all") %></span> |
            <span class="button-selected" data-mode="selected"><%- _.__("oro.filter.choice-tree.selected") %></span>
        </div>
        <div class="list"></div>
        <input type="hidden" name="value">
        <input type="hidden" name="type">
        <div class="oro-action">
            <div class="btn-group">
                <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="dictionary-filter-template">
    <div class="choice-filter">
        <div class="btn-group btn-block">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <%- selectedChoiceLabel %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(choices, function (option) { %>
                <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
                    <a class="choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
                </li>
                <% }); %>
        </ul>
       </div>
        <div class="value-field-frame">
            <input type="hidden" name="select-values-autocomplete" class="select-values-autocomplete" value="" />
            <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
            <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
        </div>
    </div>
</script>
