<!doctype html>
<!--[if IE 7 ]>
<html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="/css/oro.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/orodistribution/css/style.css"/>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body class="desktop-version {% block bodyClass %}{% endblock %}">
<header id="oroplatform-header">
    <div class="navbar-inner">
        <h1 class="logo">
            <a href="/"><i class="icon-home"></i></a>
            <a href="{{ path('index') }}">
                Oro Installer
            </a>
        </h1>

        <div class="pull-right help">
            <a href="#" target="_blank">
                <i class="icon-question-sign" title="Get help"></i>
            </a>
            {% if app.user %}
                <a href="{{ path('oro_distribution_settings_index') }}">
                    <i class="icon-cogs" title="Settings"></i>
                </a>
                <a href="{{ path('oro_distribution_security_logout') }}">
                    <i class="icon-signout" title="Sign Out"></i>
                </a>
            {% endif %}
        </div>

    </div>
</header>
<div id="page">
    {% block page %} {% endblock %}
</div>
</body>
</html>
