{% extends 'OroDistributionBundle::base.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block title %}Login{% endblock %}

{% block page %}
    <div id="top-page">
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </div>
{% endblock %}
