{% extends 'OroDistributionBundle::base.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block title %}{{ 'oro.distribution.security.login'|trans }}{% endblock %}

{% block page %}
    <div id="central-panel" class="app-page__central-panel">
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </div>
{% endblock %}
