{% if data.mappings is not empty %}
    <ul>
        {% for mapping in data.mappings %}
            <li><strong>{{ mapping.name }}:</strong>&nbsp;{{ mapping.dn }}</li>
        {% endfor %}
    </ul>
{% else %}
    {{ 'N/A'|trans }}
{% endif %}