{% import 'OroMessageQueueBundle::macros.html.twig' as UI %}

{% set job = record.rootEntity %}
{% set progress = job.jobProgress * 100 %}

<div class="progress">
    <div class="progress-bar {{ UI.getJobStatusClass(job) }}" style="width:{{ progress }}%;"></div>
</div>
<b class="progress-label"> {{ progress }}%</b>
