{% set job = record.rootEntity %}

{% if job.status == constant('STATUS_FAILED', job) %}
    {% set classOfBar = 'label-warning'%}
{% elseif job.status == constant('STATUS_CANCELLED', job) %}
    {% set classOfBar = 'label-inverse'%}
{% elseif job.status == constant('STATUS_RUNNING', job) %}
    {% set classOfBar = 'label-info'%}
{% elseif job.status is constant('STATUS_CANCELLED', job) %}
    {% set class = 'label-inverse' %}
{% elseif job.jobProgress == 1 %}
    {% set classOfBar = 'label-success'%}
{% else %}
    {% set classOfBar = '' %}
{% endif %}

<div class="progress job-progress">
    <div class="label {{ classOfBar }}" style="width:{{ job.jobProgress * 100 }}%;">
        <span> {{ job.jobProgress * 100 }}%</span>
    </div>
</div>
