<div class="dropdown">
    <button class="dropdown-toggle btn btn--plain" data-toggle="dropdown" id="dropdown-theme-selector" aria-haspopup="true" aria-expanded="false" aria-label="Shortcuts" title="Shortcuts" data-prevent-close-on-menu-click="true">
        <%- currentTheme %>
    </button>

    <ul class="dropdown-menu" data-role="filterable-list" aria-labelledby="dropdown-theme-selector">
        <li class="nav-content">
            <input type="text" name="theme-filter" placeholder="<%= _.__('oro.builder.themeSelector.placeholder') %>">
        </li>
        <% _.each(options, function(option, key) { %>
            <li class="dropdown-item <% (currentTheme === key ? 'active' : '') %>" data-role="filterable-item" data-key="<%- key %>"><%- option %></li>
        <% }) %>
    </ul>
</div>
