#entity_extend_unique_key_collection select {
    margin: 0;
}

div.disabled-choice div.selector {
    background: none;
    border: none;
}

div.disabled-choice div.selector span {
    color: inherit;
}

div.disabled-choice div.selector span:after {
    content: '';
}

.unique-keys {
    width: 500px;
}

.filter-criteria .choice-filter .value-field-frame .dictionary-filter {
    width: 200px;
}

.filter-criteria .choice-filter .value-field-frame .select2-search-field input[type=text] {
    height: 25px;
    padding: 5px;
}

.filter-criteria .choice-filter .select2-container-multi .select2-choices .select2-search-choice {
    margin: 2px 0 2px 5px;
    padding: 3px 20px 3px 7px;
}
