#entity_extend_unique_key_collection select {
    margin: 0;
}

div.disabled-choice div.selector {
    background: none;
    border: none;
}

div.disabled-choice div.selector span {
    color: inherit;
}

div.disabled-choice div.selector span:after {
    content: '';
}

.unique-keys {
    width: 500px;
}
