/* @theme: admin.oro; */

.filter-box {
  .filter-criteria {
    .btn-group {
      > .btn {
        height: $mobile-filter-box-height;
        line-height: $mobile-filter-box-line-height;
      }
    }

    .btn {
      .caret {
        margin-top: $mobile-filter-box-caret-margin-top;
      }
    }

    .choice-filter,
    .value-field-frame,
    .filter-value,
    .product-price-filter {
      display: $mobile-filter-box-product-price-filter-display;
    }

    .choice-filter {
      .btn-group.btn-block {
        float: $mobile-filter-box-choice-filter-float;
      }
    }
  }
}
