# This is is adidtional configuration for phpstan rules, see https://github.com/oroinc/phpstan-rules/blob/master/README.md
trusted_data:
    variables:
        Oro\Bundle\LocaleBundle\Entity\Repository\LocalizationRepository:
            getBatchIterator:
                fieldName: true
    safe_methods:
        Oro\Bundle\LocaleBundle\DQL\DQLNameFormatter:
            getFormattedNameDQL: true
