# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\LocaleBundle\Entity\Repository\LocalizationRepository:
            getBatchIterator:
                fieldName: true
        Oro\Bundle\LocaleBundle\Datagrid\Extension\LocalizedValueExtension:
            applyEmptyOrDefaultCondition:
                whereExpr: true
    safe_methods:
        Oro\Bundle\LocaleBundle\DQL\DQLNameFormatter:
            getFormattedNameDQL: true
