/* @theme: admin.oro; */

.fallback-container {
    width: $fallback-width;

    .mce-tinymce {
        width: $fallback-mce-tinymce-width !important;
    }

    .fallback-status {
        line-height: $fallback-item-use-fallback-status-line-height;
        height: $fallback-item-use-fallback-status-height;
    }

    div {
        &.input-widget-select {
            width: $fallback-container-select-mobile-width;

            span {
                min-width: $fallback-container-select-span-mobile-min-width;
            }

            .fallback {
                max-width: none;
            }
        }
    }
}

.fallback-item-fallback-line {
    max-width: $fallback-item-mobile-label-max-width;
}

.fallback-item {
    max-width: $fallback-item-mobile-max-width;
}

.fallback-item-value {
    width: $fallback-item-value-mobile-width;
}

.fallback-item-value--first {
    width: $fallback-item-value-mobile--first-width;

    .input-append {
        width: 100%;
    }

    input[type="text"] {
        width: $fallback-item-value-mobile--first-input-width;
    }
}
