<span class="select2-result-label-icon"><img src="<% if (typeof avatar != 'undefined' && avatar) { %><%= avatar %><% } else { %>{{ asset('bundles/oroui/img/avatar-xsmall.png')|e('html_attr')|raw }}<% } %>" width="16" height="16" /></span><span class="select2-result-label-title"><% if (id == 'current_user') { %><i><% } %><%= _.escape(fullName) %><% if (id == 'current_user') { %></i><% } %></span>
