# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\ImportExportBundle\Reader\EntityReader:
            createSourceEntityQueryBuilder:
                fieldName: true
        Oro\Bundle\ImportExportBundle\EventListener\ExportJoinListener:
            createSourceEntityQueryBuilderWithAssociations:
                fieldName: true
            joinAssociations:
                fieldName: true
