<div class="action-permissions__item-wrapper<% if (isAccessLevelChanged) {%> action-permissions__item-wrapper_changed<% } %>">
    <span class="action-permissions__label"
          title="<%- label %>"><%- label %></span>
    -
    <a href="#"
       class="dropdown-toggle action-permissions__dropdown-toggle"
       data-toggle="dropdown"
       data-target="<%= dropdownTarget %>"
       data-name="accessLevel"
       data-permission-id="<%= id %>"
       title="<%- access_level_label %>"><%- access_level_label %></a>
</div>
