/* @theme: default; */

$filter-criteria-selector-icon-color: lighten(get-color('additional', 'dark'), 20%);

$filter-reset-color: get-color('additional', 'ultra');
$filter-reset-hover-color: darken(get-color('additional', 'ultra'), 10%);
