# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\TranslationBundle\Translation\DatabasePersister:
            executeBatchTranslationInsert:
                sqlData: true
    safe_static_methods:
        Oro\Bundle\TranslationBundle\EventListener\UpdateTranslatableDictionariesListener:
            getTranslationEntityTable: true
            getSqlParamPlaceholders: true
