# This is is adidtional configuration for phpstan rules, see https://github.com/oroinc/phpstan-rules/blob/master/README.md
trusted_data:
    variables:
        Oro\Bundle\TranslationBundle\Translation\DatabasePersister:
            executeBatchTranslationInsert:
                sqlData: true
