/* @theme: default; */

@import './functions';

$skeleton-color: get-color('neutral', 'grey2') !default;

// Mixin for generate loading skeleton
// @param: List $particles
// @example
// @include skeleton(
//     skeleton-rect($color: #800, $width: 129px, $height: 24px, $x: 0, $y: 0, $radius: 3px),
//     skeleton-ellipse($color: #800, $width: 129px, $height: 24px, $x: 0, $y: 0),
//     (
//         skeleton-rect($color: #800, $width: 129px, $height: 24px, $x: 0, $y: 0, $radius: 3px),
//         skeleton-ellipse($color: #800, $width: 129px, $height: 24px, $x: 0, $y: 0),
//     ),
// );
@mixin skeleton($particles...) {
    $list-normalized: skeleton-normalize($particles...);

    background-image: skeleton-image($list-normalized...);
    background-size: skeleton-size($list-normalized...);
    background-position: skeleton-position($list-normalized...);
    background-repeat: no-repeat;

    animation: 1.25s ease-in-out infinite alternate skeleton-pulse;
}

@keyframes skeleton-pulse {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
