<li {{ oro_menu.attributes(itemAttributes) }}>
    <div id="calendar-color-picker"></div>
    <span class="menu-custom-color"></span><span class="custom-color-link">{{ 'oro.calendar.context.edit_color'|trans }}</span>
</li>
