<li {{ oro_menu.attributes(itemAttributes) }}>
    <div class="color-picker"></div>
    <a class="custom-color-link" href="javascript: void(0)" class="custom-color-picker"><span class="custom-color"></span>{{ 'oro.calendar.context.edit_color'|trans }}</a>
</li>
