<li {{ oro_menu.attributes(itemAttributes) }}>
    <div class="color-picker"></div>
    <div class="custom-color-picker"><span class="custom-color"></span><span class="custom-color-link">{{ 'oro.calendar.context.edit_color'|trans }}</span></div>
</li>
