/* @theme: admin.demo; */

.app-header {
    background-color: $app-header-bg-color;
    color: $app-header-text-color;

    .main-menu-toggler {
        color: $app-header-logo-text-color;
    }

    .organization-logo-wrapper {
        .logo {
            color: $app-header-logo-text-color;
        }

        li.dropdown.open > .logo {
            color: $app-header-logo-text-color;
        }
    }

    .nav.top-search.shortcuts {
        .dropdown{
            > .dropdown-toggle {
                color: $app-header-text-color;
            }
        }
    }

    .nav.user-menu {
        .dropdown {
            > .dropdown-toggle {
                color: $app-header-text-color;
            }
        }
    }
}
