/* @theme: admin.demo; */

%header-button-demo {
    color: $app-header-text-color;
}

.app-header {
    background-color: $app-header-bg-color;
    color: $app-header-text-color;

    &__inner {
        .dropdown-menu {
            color: $app-header-dropdown-menu-color;

            .nav-header-title {
                &:before {
                    color: $app-header-dropdown-close-icon-color;
                }
            }
        }
    }

    .main-menu-toggler {
        @extend %header-button-demo;

        color: $app-header-logo-text-color;
    }

    .organization-logo-wrapper {
        .logo {
            color: $app-header-logo-text-color;
        }

        li.dropdown.show > .logo {
            color: $app-header-logo-text-color;
        }
    }

    &__search-and-shortcuts {
        .dropdown {
            > .dropdown-toggle {
                @extend %header-button-demo;
            }
        }
    }

    .user-menu {
        .dropdown {
            > .dropdown-toggle {
                @extend %header-button-demo;
            }
        }
    }
}
