/* @theme: admin.demo; */

.main-menu-top {
    background: rgba($primary-inverse, .5);

    &:after {
        background-color: rgba($menu-background-color, .15);
        color: $menu-full-screen-button-color;
    }

    .divider {
        border-color: $menu-item-divider-color;
    }

    .main-menu {
        background-color: $menu-background-color;
    }

    .accordion-group {
        .menu {
            .title,
            .accordion-toggle {
                color: $menu-item-text-color;

                &::before {
                    color: $menu-accordion-icon-color;
                }
            }
            .title {
                &:hover {
                    background-color: $menu-background-color-active;
                }
            }
        }
    }

    .accordion-body {
        background-color: $menu-dropdown-background-color;

        .active {
            background-color: $menu-background-color-active;
        }
    }

    // First level
    .accordion-toggle.title-level-1 {
        background-color: $menu-dropdown-background-color-active;
        color: $menu-item-first-level-text-color;

        &.collapsed {
            background-color: $menu-background-color;
        }

        &:hover {
            background-color: $menu-dropdown-background-color-active;
        }
    }
}
