<% if (typeof stepsData !== 'undefined') { %>
    <% _.each(stepsData, function(stepData) { %>
        <div class="workflow-step-container">
            <span class="workflow-step-name"><%= stepData.workflow %></span>
            <ul class="workflow-step-list nav <%= stepData.steps.length > 1 ? 'more-than-one-step' : 0 %>">
                <% _.each(stepData.steps, function(step) { %>
                    <li class="<%= step.name === stepData.currentStep.name ? 'current' : (step.processed ? 'processed' : '') %>">
                        <%= step.label %>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% }) %>
<% } %>
