<% if (typeof stepsData !== 'undefined') { %>
    <% for (var s in stepsData) { %>
        <div class="workflow-step-container">
            <% var steps = stepsData[s].steps %>
            <% var currentStep = stepsData[s].currentStep %>
            <span class="workflow-step-name"><%= stepsData[s].workflow %></span>
            <ul class="workflow-step-list nav <%= steps.length > 1 ? 'more-than-one-step' : 0 %>">
                <% for (var i = 0; i < steps.length; i++ ) { %>
                    <li class="<%= steps[i].name === currentStep.name ? 'current' : (steps[i].processed ? 'processed' : '') %>">
                        <%= steps[i].label %>
                    </li>
                <% } %>
            </ul>
        </div>
    <% } %>
<% } %>
