{% set aggregatedFieldConditionOptions = {
    filters: params.metadata.filters|default([]),
    hierarchy: params.metadata.hierarchy|default({}),
    fieldChoice: {
        filterPreset: params.field_choice_filter_preset,
        select2: {
            placeholder: 'oro.query_designer.condition_builder.choose_entity_field'|trans,
            formatSelectionTemplateSelector: params.column_chain_template_selector|default(null),
        },
    },
}|merge_recursive(params.aggregatedFieldConditionOptions|default({})) %}

<li class="option" data-criteria="aggregated-condition-item"
    data-module="oroquerydesigner/js/app/views/aggregated-field-condition-view"
    data-options="{{ aggregatedFieldConditionOptions|json_encode }}">
    {{ 'oro.query_designer.condition_builder.criteria.aggregated_field_condition'|trans }}
</li>
