/* @theme: default; */

$datagrid-blank-content-color: get-color('text', 'disabled') !default;
$datagrid-blank-content-vertical-align: middle !default;
$datagrid-blank-content-height: 2px !default;
$datagrid-blank-content-width: 16px !default;
$datagrid-blank-content-radius: 2px !default;
