{% set types = registry.getRegisteredChannelTypes() %}
{% if choices[value] is defined %}
    {% if types[value] is defined and types[value].icon is defined %}
        <span class="integration-icon" style="background: url({{ asset(types[value].icon)|json_encode }}) 0 0 no-repeat" ></span>
    {% endif %}
    {{ choices[value]|trans }}
{% endif %}
