/* @theme: admin.oro; */

$attribute-item-display: flex !default;
$attribute-item-offset: 0 0 10px !default;

$attribute-item-term-width: 45% !default;
$attribute-item-term-max-width: 200px !default;
$attribute-item-term-color: $primary-550 !default;
$attribute-item-term-text-align: #{$end} !default;

$attribute-item-description-offset-start: $content-padding / 2 !default;
$attribute-item-description-text-align: #{$start} !default;
