/* @theme: admin.oro; */

$sidebarHeaderHeight: 31px !default;
$sidebarHorizontalPadding: 12px !default;
$sidebarWidth: 320px !default;
$sidebarMinimizedWidth: 33px !default;
$sidebarBorderColor: #f2f2f2 !default;
$sidebaResizableAreaColor: #ddd !default;
$sidebarMinHeight: 90vh !default;

$sidebarContentMinWidth: 288px !default;
