/* @theme: admin.oro; */

$drag-n-drop-sorting-view-width: 400px !default;
$drag-n-drop-sorting-view-overflow: hidden !default;
$drag-n-drop-sorting-view-wrapper-remove-fow-pointer-events: none !default;
$drag-n-drop-sorting-view-column-width: 315px !default;
$drag-n-drop-sorting-view-column_options-min-width: 70px !default;
$drag-n-drop-sorting-view-table-bordered-display: block !default;
$drag-n-drop-sorting-view-grid-container-offset-bottom: 12px !default;
$drag-n-drop-sorting-view-sortable-wrapper-remove-row-offset-left: -45px !default;
$drag-n-drop-sorting-view-offset-ui-sortable-helper-remove-row: 0 8px 0 -13px !default;
