/* @theme: admin.oro; */

$field-size: 32px !default;
$field-width: 294px !default;

$input-field-border-radius: 2px !default;
$input-background-color: $primary-inverse !default;
$input-inner-offset: ($content-padding-small / 2) $content-padding-small !default;
$input-box-shadow: none !default;
$input-font-family: $font-family-sans-serif !default;
$input-color: $primary-200 !default;
$input-outer-offset-bottom: $content-padding-small !default;
$input-control-group-outer-offset-bottom: 0 !default;
$input-box-sizing: border-box !default;
$input-outline: none !default;
$input-append-width: $field-width - 30px !default;

$input-focus-box-shadow: none !default;
$input-focus-border-color: $secondary !default;

$input-invalid-focus-box-shadow: none !default;
$input-invalid-focus-border-color: $secondary !default;

$input-disabled-cursor: not-allowed !default;
$input-disabled-border-color: $primary-800 !default;
$input-disabled-background-color: $primary-900 !default;
$input-disabled-color: $primary-700 !default;
$input-disabled-resize: none !default;

$input-error-border-color: $danger-dark !default;
$input-error-box-shadow: none !default;
$input-error-color: $danger-dark !default;

$uploader-border-radius: $input-field-border-radius !default;
$uploader-background-color: $input-background-color !default;
$uploader-height: $field-size !default;
$uploader-width: $field-width !default;
$uploader-line-height: $field-size !default;
$uploader-white-space: nowrap !default;
$uploader-color: $input-color !default;
$uploader-font-family: $input-font-family !default;
$uploader-input-inner-width: 100% !default;

$uploader-action-height: $field-size - 4px !default;
$uploader-action-line-height: $field-size - 4px !default;
$uploader-action-display: inline-block !default;
$uploader-action-vertical-align: top !default;
$uploader-action-inner-offset: side-values(0 6px) !default;
$uploader-action-box-sizing: $input-box-sizing !default;

$uploader-filename-width: 202px !default;

$uploader-hover-border-color: $input-focus-border-color !default;
$uploader-hover-cursor: pointer !default;
$uploader-hover-action-border-left-color: $input-focus-border-color !default;

$uploader-action-active-background: $additional-extra-light !default;
$uploader-action-active-color: $primary-400 !default;
$uploader-action-active-border-color: $additional-extra-light !default;

$select-multiple-height: 138px !default;
$select-multiple-inner-offset: 4px !default;

$select-multiple-option-inner-offset: 4px 8px !default;
$select-multiple-option-border-radius: $input-field-border-radius !default;
$select-multiple-option-font-size: $base-font-size--s !default;
$select-multiple-option-color: $primary-400 !default;

$select-multiple-option-not-last-offset-bottom: 4px !default;

$select-multiple-option-checked-box-shadow: 0 0 0 32px $primary-830 inset !default;
$select-multiple-option-checked-color: $primary-400 !default;

$select-multiple-option-active-box-shadow: 0 0 0 32px $input-focus-border-color inset !default;

$select-width: $field-width !default;
$selector-line-height: $field-size !default;
$selector-height: $field-size !default;
$selector-width: $field-width !default;
$selector-max-width: $field-width !default;
$selector-border: $input-border-width solid $primary-750 !default;
$selector-background-color: $primary-inverse !default;
$selector-border-radius: 2px !default;
$selector-inner-offset: 0 !default;

$selector-option-inner-offset-left: 6px !default;

$selector-select-height: 28px !default;
$selector-select-line-height: 28px !default;
$selector-select-z-index: 1 !default;
$selector-select-inner-offset: 0 ($content-padding-small + $input-border-width) !default;
$selector-select-left: 0 !default;
$selector-select-width: auto !default;
$selector-select-box-sizing: border-box !default;
$selector-select-color: $primary-200 !default;

$selector-uniform-display: block !default;
$selector-uniform-box-sizing: border-box !default;
$selector-uniform-inner-offset: side-values(0 $content-padding 0 $content-padding-small) !default;
$selector-uniform-white-space: nowrap !default;
$selector-uniform-overflow: hidden !default;
$selector-uniform-text-overflow: ellipsis !default;
$selector-uniform-position: relative !default;
$selector-uniform-font-size: 100% !default;
$selector-uniform-width: 100% !default;

$selector-uniform-arrow-outer-offset: side-values(2px 0 0 0) !default;
$selector-uniform-arrow-display: inline-block !default;
$selector-uniform-arrow-font-family: FontAwesome !default;
$selector-uniform-arrow-position: absolute !default;
$selector-uniform-arrow-right: $content-padding-small !default;

$selector-uniform-arrow-color: $primary-400 !default;
$selector-uniform-line-height: 1 !default;

// Add-on field button
$add-on-vertical-align: baseline !default;
$add-on-float: none !default;
$add-on-border: 2px solid $primary-750 !default;
$add-on-background-color: $primary-inverse !default;
$add-on-height: $field-size !default;
$add-on-line-height: $field-size - 4px !default;
$add-on-inner-offset: 0 6px !default;

$add-on-input-outer-offset-top: -1px !default;
$add-on-last-child-border-radius: 0 2px 2px 0 !default;
$add-on-first-child-border-radius: 2px 0 0 2px !default;

$add-on-disabled-border-color: $primary-800 !default;
$add-on-disabled-background-color: $primary-900 !default;
$add-on-disabled-color: $primary-700 !default;

$add-on-append-border-radius: 0 2px 2px 0 !default;
$add-on-append-offset-left: -2px !default;
$add-on-append-outer-offset-left: 4px !default;

$add-on-prepend-border-radius: 2px 0 0 2px !default;
$add-on-prepend-offset-right: -2px !default;
$add-on-prepend-outer-offset-right: 4px !default;

$entity-create-btn-icon-offset: 0 !default;
$entity-create-btn-icon-vertical-align: middle !default;

$entity-create-btn-dropdown-toggle-width: 45px !default;
$entity-create-btn-dropdown-toggle-border-radius: 0 2px 2px 0 !default;

$controls-width: 279px !default;
$controls-selector-width: 100% !default;

$control-group-bottom-offset: $content-padding-medium !default;
