/* @theme: admin.oro; */

$jstree-actions-display: none !default;

$jstree-actions-handle-offset: 0 3px !default;
$jstree-actions-handle-color: $primary-400 !default;

$jstree-actions-handle-hover-color: darken($jstree-actions-handle-color, 10%) !default;

$jstree-actions-menu-position: absolute !default;

$jstree-actions-menu-inline-margin: 0 !default;
$jstree-actions-menu-inline-list-style: none !default;

$jstree-actions-menu-inline-li-display: flex !default;
$jstree-actions-menu-inline-li-align-items: center !default;
$jstree-actions-menu-inline-li-padding: 0 5px 0 0 !default;

$jstree-actions-menu-inline-li-before-content: "" !default;
$jstree-actions-menu-inline-li-before-width: 1px !default;
$jstree-actions-menu-inline-li-before-height: 14px !default;
$jstree-actions-menu-inline-li-before-margin: 0 6px 0 3px !default;
$jstree-actions-menu-inline-li-before-background: $primary-750 !default;

$jstree-actions-icon-text-align: center !default;
