$loading-bar-display: none;
$loading-bar-background: $extra !default;
$loading-bar-box-shadow: none;
$loading-bar-border-radius: 3px;
$loading-bar-position: absolute;
$loading-bar-bottom: -2px;
$loading-bar-left: 0;
$loading-bar-height: 2px;
$loading-bar-transition: width 300ms ease-out, opacity 300ms linear;
$loading-bar-animation-name: line-loader;
$loading-bar-animation: $loading-bar-animation-name 5s forwards;
$loading-bar-overflow: hidden;

$loading-bar-point-background: lighten($loading-bar-background, 15%);
$loading-bar-point-box-shadow: none;
$loading-bar-point-width: 15%;
$loading-bar-point-height: 100%;
$loading-bar-point-position: absolute;
$loading-bar-point-top: 0;
$loading-bar-point-animation-name: line-point;
$loading-bar-point-animation: $loading-bar-point-animation-name 800ms ease-in-out infinite;
