/* @theme admin.oro; */

$loading-mask-z-index: $oro-zindex-dropdown + 99 !default;
$loading-mask-background-color: $primary-inverse !default;

$loading-mask-icon-color: $primary-700 !default;
$loading-mask-icon-size: 32px !default;

$loading-view-height: 200px !default;
