// Modal variables

$modal-width: 680px !default;
$modal-border-radius: 4px !default;

$modal-header-inner-offset: side-values(16px 16px 14px 21px) !default;
$modal-header-border: none !default;

$modal-close-size: 18px !default;
$modal-close-align: center !default;
$modal-close-top-outer-offset: -2px 0 0 0 !default;
$modal-close-opacity: 1 !default;

$modal-close-hover-opacity: .6 !default;

$modal-title-font-weight: bold !default;
$modal-title-font-size: $base-font-size--l !default;

$modal-content-align: center !default;
$modal-content-inner-offset: 39px 20px 44px !default;

$modal-footer-inner-offset: 8px !default;
$modal-footer-border: none !default;

$modal-backdrop-opacity: .5 !default;
$modal-transition: transform .3s ease-out !default;
