/* @theme: admin.oro; */

$navbar-li-a-color: $primary-200 !default;
$navbar-li-a-text-shadow: none !default;
$navbar-li-a-hover-color: $primary-200 !default;

$navbar-active-a-color: $primary-200 !default;
$navbar-active-a-font-weight: bold !default;
$navbar-active-a-hover-color: $primary-200 !default;

$nav-tabs-border-width: 2px !default;
$nav-tabs-border-color: $primary-750 !default;
$nav-tabs-active-border-color: $secondary !default;

$nav-tabs-column-inverse-border-color: $primary-inverse !default;

$nav-tabs-dropdown-toggle-caret-color: $primary-200 !default;

$nav-tabs-offset-bottom: 0 !default;
$nav-tabs-inner-offset-left: $nav-tabs-border-width !default;
$nav-tabs-border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color !default;
$nav-tabs-display: flex !default;
$nav-tabs-flex-wrap: wrap !default;

$nav-item-float: none !default;
$nav-item-offset-bottom: -$nav-tabs-border-width !default;

$nav-link-background: $primary-900 !default;
$nav-link-font-weight: bold !default;
$nav-link-color: $primary-200 !default;
$nav-link-border: $nav-tabs-border-width solid $nav-tabs-border-color !default;
$nav-link-border-radius: 0 !default;
$nav-link-offset: 0 0 0 -#{$nav-tabs-border-width} !default;

$nav-link-hover-background: $primary-830 !default;
$nav-link-hover-color: $primary-200 !default;
$nav-link-hover-outline: none !default;

$nav-link-active-background: $primary-inverse !default;
$nav-link-active-color: $primary-200 !default;
$nav-link-active-border-top-color: $nav-tabs-active-border-color !default;
$nav-link-active-border-bottom-color: transparent !default;

$nav-link-column-active-border-top-color: $nav-tabs-border-color !default;
$nav-link-column-active-border-left-color: $nav-tabs-active-border-color !default;
$nav-link-column-active-border-right-color: $nav-tabs-column-inverse-border-color !default;
$nav-link-column-active-border-bottom-color: $nav-tabs-border-color !default;
