/* @theme: admin.oro; */

$popover-z-index: 800 !default;
$popover-position: fixed !default;
$popover-max-width: 315px !default;
$popover-border-radius: 2px !default;
$popover-box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, .08);
$popover-border: none !default;

$popover-content-offset-top: 11px !default;
$popover-content-offset-right: 28px !default;
$popover-content-offset-bottom: 10px !default;
$popover-content-offset-left: 15px !default;

$popover-content-offset-right-no-close: 9px !default;

$popover-content-height: 100% !default;

$popover-close-position: absolute !default;
$popover-close-position-x: 7px !default;
$popover-close-position-y: 7px !default;
$popover-close-cursor: pointer !default;
$popover-close-color: $primary-700 !default;

$popover-arrow-color: #fff !default;
$popover-arrow-border: none !default;
$popover-arrow-size: 14px !default;
$popover-arrow-border: none !default;
$popover-arrow-container-size: 11px !default;

$popover-arrow-position-x: 5px !default;
$popover-arrow-position-y: -17px !default;

$popover-arrow-top-shadow: 2px 3px 9px 0 rgba(0, 0, 0, .08) !default;
$popover-arrow-bottom-shadow: -2px -3px 9px 0 rgba(0, 0, 0, .08) !default;
$popover-arrow-left-shadow: 2px -3px 9px 0 rgba(0, 0, 0, .08) !default;
$popover-arrow-right-shadow: -2px 3px 9px 0 rgba(0, 0, 0, .08) !default;
