/* @theme: admin.oro; */

$scrollspy-position: relative !default;
$scrollspy-overflow: auto !default;

$scrollspy-nav-background: $primary-900 !default;
$scrollspy-nav-offset: 0 $content-padding !default;
$scrollspy-nav-border-radius: 16px !default;

$scrollspy-nav-target-height: 20px !default;

$scrollspy-nav-navbar-inner-inner-offset: 0 !default;
$scrollspy-nav-navbar-inner-border: none !default;
$scrollspy-nav-navbar-inner-background: none !default;
$scrollspy-nav-navbar-inner-box-shadow: none !default;

$scrollspy-nav-navbar-inner-container-fluid-inner-offset: 0 !default;

$scrollspy-nav-navbar-inner-nav-link-border-radius: 16px !default;
$scrollspy-nav-navbar-inner-nav-link-active-background: $primary-830 !default;
$scrollspy-nav-navbar-inner-nav-link-active-font-weight: normal !default;

$scrollspy-title-background: $primary-900 !default;
$scrollspy-title-font-size: $base-font-size !default;
$scrollspy-title-font-weight: bold !default;
$scrollspy-title-color: $primary-200 !default;
$scrollspy-title-offset: 0 !default;
$scrollspy-title-inner-offset: 6px 16px !default;
$scrollspy-title-border-radius: 4px !default;

$scrollspy-data-scroll-focus-outline: 0 none !default;
