.button,
.btn {
    text-align: center;

    @extend %base-transition;

    @include element-state('hover') {
        background: darken(get-color('additional', 'middle'), 50%);
    }

    @include element-state('active') {
        box-shadow: $btn-shadow;
    }

    &.caret {
        &:after {
            content: '';

            display: inline-block;
            width: 0;
            height: 0;

            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;

            vertical-align: middle;
        }
    }

    &--action {
        border-color: get-color('additional', 'darker');
        background-color: get-color('additional', 'darker');
        color: get-color('additional', 'ultra');

        @include element-state('hover') {
            border-color: lighten(get-color('additional', 'darker'), 5%);
            background: lighten(get-color('additional', 'darker'), 5%);
            color: get-color('additional', 'ultra');
        }

        @include element-state('focus') {
            border-color: lighten(get-color('additional', 'darker'), 5%);
        }
    }

    &--default {
        border-color: get-color('additional', 'light');
        background-color: get-color('additional', 'ultra');
        color: lighten(get-color('additional', 'dark'), 21%);

        @include element-state('hover') {
            border-color: darken(get-color('additional', 'light'), 3%);
            background-color: darken(get-color('additional', 'ultra'), 3%);
            color: get-color('additional', 'dark');
        }

        @include element-state('focus') {
            border-color: darken(get-color('additional', 'light'), 5%);
        }

        &.pressed {
            box-shadow: $btn-shadow;
        }
    }

    &--info {
        border-color: get-color('primary', 'base');
        background-color: get-color('primary', 'base');
        color: get-color('additional', 'ultra');

        @include element-state('hover') {
            border-color: lighten(get-color('primary', 'base'), 5%);
            background-color: lighten(get-color('primary', 'base'), 5%);
            color: get-color('additional', 'ultra');
        }

        @include element-state('focus') {
            border-color: lighten(get-color('primary', 'base'), 5%);
        }

        [class*=" fa-"] {
            margin-right: $offset-x-s;
        }
    }

    &--primary {
        border-color: get-color('additional', 'middle');
        background-color: get-color('additional', 'middle');
        color: get-color('additional', 'ultra');

        @include element-state('hover') {
            border-color: lighten(get-color('additional', 'middle'), 5%);
            background-color: lighten(get-color('additional', 'middle'), 5%);
            color: get-color('additional', 'ultra');
        }

        @include element-state('focus') {
            border-color: lighten(get-color('additional', 'middle'), 5%);
        }
    }

    &--link {
        padding: 2px 5px;

        border-color: transparent;
        background-color: transparent;
        color: get-color('ui', 'normal');

        @include element-state('hover') {
            background-color: transparent;
            border-color: transparent;
            color: get-color('ui', 'focus');
        }

        @include element-state('focus') {
            background-color: transparent;
            border-color: transparent;
        }

        @include element-state('active') {
            box-shadow: none;
        }
    }

    &--large {
        min-width: 200px;
    }

    &--size {
        &-xs {
            padding: 3px 11px;

            font-size: $base-font-size - 1;
            line-height: 18px;

            border-radius: 3px;
        }

        &-s {
            padding: 0 10px;

            font-size: $base-font-size;
            line-height: 30px;

            border-radius: 6px;
        }
        &-m {
            font-size: 17px;
            line-height: 38px;
        }

        &-l {
            font-size: $base-font-size--l;

            padding: 10px 15px;
            line-height: 54px;
        }
    }

    &--offset {
        &-m {
            margin-left: $offset-y-m;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .button,
    .btn {
        &--full-in-mobile {
            width: 100%;
        }
    }
}
