/* @theme: default; */

.buttons-equal {
    display: flex;

    padding-top: spacing('base');

    &--no-offset {
        padding-top: 0;
    }

    > .btn,
    > .btn-group {
        flex-basis: 50%;

        &:first-child {
            margin-right: spacing('sm');
        }
    }
}
