@mixin button-basic-states(
    $size-l: 15px 22px,
    $size-m: 8px 15px,
    $size-s: 6px 18px,
    $shadow: inset 0 3px 5px 0 rgba(0,0,0, .35)
) {
    @extend %base-transition;

    @include element-state('hover') {
        text-decoration: none;
        box-shadow: $shadow
    }

    &[disabled] {
        opacity: .65;
    }

    &--large {
        min-width: 200px;
    }

    &--size {
        &-l {
            padding: $size-l;
        }

        &-m {
            padding: $size-m;
        }

        &-s {
            padding: $size-s;
        }
    }

    &--offset {
        &-m {
            margin-left: $offset-y-m;
        }
    }
}

.button,
.btn {
    @include element-state('hover') {
        background: lighten(get-color('primary', 'base'), 5%);
    }

    @include button-basic-states();
}

@include breakpoint('mobile-landscape') {
    .button--full-in-mobile {
        width: 100%;
    }
}

.button-info,
.btn-info {
    @include  base-ui-element(
                $use-base-style: true,
                $padding: $base-ui-element-offset,
                $border: 1px solid get-color('additional', 'darker'),
                $border-radius: $base-ui-element-border-radius,
                $background-color: get-color('additional', 'darker'),
                $color: get-color('additional', 'ultra')
            );

    @include element-state('hover') {
        color: get-color('additional', 'ultra');
    }

    @include button-basic-states();
}

.button-link,
.btn-link {
    @include  base-ui-element(
                $use-base-style: true,
                $padding: $base-ui-element-offset,
                $border: 1px solid transparent,
                $border-radius: null,
                $background-color: transparent,
                $color: get-color('ui', 'normal')
            );

    @include element-state('hover') {
        color: get-color('ui', 'focus');
    }

    @include button-basic-states($size-m: 8px 6px, $size-s: 6px, $shadow: null);
}

.button-primary,
.btn-primary {
    @include  base-ui-element(
            $use-base-style: true,
            $padding: $base-ui-element-offset,
            $border: 1px solid get-color('additional', 'middle'),
            $border-radius: $base-ui-element-border-radius,
            $background-color: get-color('additional', 'middle'),
            $color:get-color('additional', 'ultra')
    );

    @include element-state('hover') {
        color: get-color('additional', 'ultra');
    }

    @include button-basic-states();
}
