/* @theme: default; */

.catalog-switcher {
    display: none;

    &__tooltip-trigger {
        position: absolute;
        inset: 0;
    }

    .dropdown-toggle {
        position: relative;
    }

    .dropdown-menu {
        margin: spacing('sm') 0;
    }

    .dropdown-menu[x-placement] {
        .dropdown-item {
            white-space: $catalog-switcher-dropdown-item-white-space;
        }
    }
}

@include breakpoint('mobile-big') {
    .catalog-switcher {
        display: block;
    }
}
