.custom-checkbox {
    &__input {
        &:focus {
            ~ .custom-checkbox__icon {
                outline: $checkbox-outline-checked-focus-state;
                outline-offset: $checkbox-outline-offset-checked-focus-state;
            }
        }

        &:checked {
            ~ .custom-checkbox__icon,
            ~ .custom-checkbox .custom-checkbox__icon {
                &:before {
                    content: '';

                    position: absolute;
                    top: $checkbox-icon-check-position-top;
                    left: $checkbox-icon-check-position-left;
                    transform: $checkbox-icon-check-transform-translate $checkbox-icon-check-transform-rotate;

                    width: $checkbox-icon-check-width;
                    height: $checkbox-icon-check-height;

                    border-left: $checkbox-icon-check-thickness solid $checkbox-icon-check-color;
                    border-bottom: $checkbox-icon-check-thickness solid $checkbox-icon-check-color;
                }
            }
        }
    }

    &__icon {
        position: relative;

        border-radius: 3px;
    }

    &__text {
        margin-left: $offset-x-s;
    }
}
