/* @theme: default; */

// Update styles in /default/scss/components/shopping-list-dropdown/shopping-list-dropdown.scss

.custom-radio {
    display: inline-block;

    margin: 0;

    line-height: $custom-radio-line-height;

    &__input,
    &__control,
    input[type='radio'] {
        position: absolute;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        border: 0 none;
        opacity: 0;
    }

    &__input,
    &__control {
        &:checked {
            ~ .custom-radio__text {
                &:before {
                    background: $custom-radio-icon-checked-bg;
                    box-shadow: $custom-radio-icon-checked-box-shadow;
                }
            }
        }
    }

    &__text {
        display: inline-block;

        vertical-align: middle;

        word-break: break-word;

        &:before {
            display: inline-block;

            width: $custom-radio-icon-size;
            height: $custom-radio-icon-size;
            margin: $custom-radio-icon-offset;

            content: '';
            vertical-align: middle;

            border: $custom-radio-icon-border;
            border-radius: 50%;
            background: $custom-radio-icon-bg;
        }
    }

    &--large {
        line-height: $custom-radio-large-line-height;

        .custom-radio__text {
            &:before {
                width: $custom-radio-large-icon-size;
                height: $custom-radio-large-icon-size;;
            }
        }
    }

    &.absolute {
        position: relative;

        .custom-radio__text {
            margin: $custom-radio-absolute-icon-offset;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
