/* @theme: default; */

.custom-checkbox {
    &__input {
        @include element-state('hover') {
            & ~ .custom-checkbox__icon {
                box-shadow: $checkbox-icon-box-shadow-hover-state;
            }
        }

        @include element-state('focus') {
            & ~ .custom-checkbox__icon {
                box-shadow: $checkbox-icon-box-shadow-focus-state;
            }
        }

        &:checked {
            ~ .custom-checkbox__icon {
                @include fa-icon($checkbox-icon-checked);
            }
        }

        &:indeterminate {
            ~ .custom-checkbox__icon {
                @include fa-icon($checkbox-icon-indeterminate);
            }
        }

        @include element-state('disabled') {
            & ~ .custom-checkbox__icon {
                background: $checkbox-icon-bg-color-disabled-state;
                color: $checkbox-icon-color-disabled-state;
                box-shadow: none;
                border: $checkbox-icon-border-disabled-state;

                @include base-disabled-style(.55);
            }
            & ~ .custom-checkbox__text {
                @include base-disabled-style(.35);
            }
        }
    }

    &__icon {
        position: relative;

        color: get-color('additional', 'ultra');

        &:before {
            position: absolute;
            top: $checkbox-icon-check-top;
            left: $checkbox-icon-check-left;
            transform: $checkbox-icon-check-transform;

            font-size: $checkbox-icon-check-size;
            line-height: 1;
        }

        &--circle {
            border-radius: 50%;
            @include fa-icon($checkbox-icon-circle-unchecked);
        }

        &--size-l {
            width: $checkbox-icon-font-size--l;
            height: $checkbox-icon-font-size--l;

            &:before {
                font-size: $checkbox-icon-check-size--l;
            }
        }
    }

    &__text {
        margin-left: $offset-x-s;
    }

    &.absolute {
        position: relative;

        .custom-checkbox__text {
            display: inline-block;
            margin-left: $checkbox-icon-absolute-offset;
        }

        .custom-checkbox__icon {
            position: absolute;
            left: 0;
        }
    }
}
