/* @theme: default; */

// Updated styles in /default/scss/components/shopping-list-dropdown/shopping-list-dropdown.scss

.custom-radio {
    display: inline-block;

    margin: 0;

    line-height: $custom-radio-line-height;

    &__input,
    &__control,
    input[type='radio'] {
        position: absolute;
        top: $custom-radio-icon-size / 2;
        left: $custom-radio-icon-size + 2px;

        height: 2px;
        width: 2px;
        margin: 0;
        padding: 0;

        opacity: 0;
        appearance: none;
    }

    &__input,
    &__control {
        &:hover {
            ~ .custom-radio__text {
                &:before {
                    border-color: $custom-radio-icon-border-color-hover-state;
                }
            }
        }

        &:focus {
            ~ .custom-radio__text {
                &:before {
                    border-color: $custom-radio-icon-border-color-focus-state;
                    box-shadow: $custom-radio-icon-box-shadow-focus-state;
                }
            }
        }

        &:checked {
            ~ .custom-radio__text {
                &:before {
                    background: $custom-radio-icon-checked-bg;
                    box-shadow: $custom-radio-icon-checked-box-shadow;
                }
            }

            @if ($custom-radio-icon-checked-box-shadow and $custom-radio-icon-box-shadow-focus-state) {
                &.focus-visible,
                &:focus {
                    ~ .custom-radio__text {
                        &:before {
                            box-shadow: $custom-radio-icon-checked-box-shadow, $custom-radio-icon-box-shadow-focus-state;
                        }
                    }
                }
            }
        }
    }

    &__text {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;

        word-break: break-word;

        cursor: $base-ui-element-cursor;

        &::before {
            flex-shrink: 0;
            display: inline-block;

            width: $custom-radio-icon-size;
            height: $custom-radio-icon-size;

            content: '';
            vertical-align: middle;

            border: $custom-radio-icon-border;
            border-radius: 50%;
            background: $custom-radio-icon-bg;
            cursor: $base-ui-element-cursor;
        }

        &:not(:empty)::before {
            margin: $custom-radio-icon-offset;
        }
    }

    &.absolute {
        position: relative;

        .custom-radio__text {
            margin: $custom-radio-absolute-icon-offset;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
