.custom-checkbox {
    &__input {
        &:focus {
            ~ .custom-checkbox__icon {
                color: transparentize(get-color('ui', 'normal'), .45);
            }
        }

        &:checked {
            ~ .custom-checkbox__icon {
                color: get-color('ui', 'focus');

                &:before {
                    content: '\e834';
                }
            }
        }
    }

    &__icon {
        color: get-color('additional', 'middle');

        &:before {
            content: '\e835';

            display: inline-block;

            font-family: $base-font-icon;
            font-size: 17px;
            line-height: 1;
        }
    }

    &__text {
        margin-left: $offset-x-s / 2;
    }
}
