// @theme: default;

.datepicker-box {
  position: relative;

  &__icon {
    position: absolute;
    left: 12px;
    bottom: 10px;
    z-index: z('base');

    font-size: $base-font-size--m;
    line-height: 1;

    color: get-color('additional', 'middle');

    pointer-events: none;
  }

  .datepicker-input {
    display: block;
    max-width: 130px;
    padding-left: 39px;
  }
}
