/* @theme: default; */

@use 'sass:selector';

// More about placeholders https://github.com/sass/sass/issues/2808#issuecomment-574413393
%base-floating-validation-message,
.floating-validation-message {
    display: block;
    position: absolute;
    top: $floating-validation-message-top;
    bottom: $floating-validation-message-bottom;
    z-index: z('base') + 1;
    width: auto;
    height: 0;
    margin: 0;
    white-space: nowrap;
    background-color: transparent;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: $floating-validation-message-after-top;
        left: $floating-validation-message-after-left;
        margin-top: -6px;
        border-style: solid;
        border-color: $floating-validation-message-after-color;
        border-width: 6px 4px 0;
    }

    > span {
        position: absolute;
        top: $floating-validation-message-label-top;
        left: $floating-validation-message-label-left;
        text-align: $floating-validation-message-label-text-align;
        background-color: $floating-validation-message-label-background-color;
        color: $floating-validation-message-label-color;
        padding: $floating-validation-message-label-inner-offset;
        border-radius: $floating-validation-message-label-border-radius;
    }

    @at-root #{selector.append(&, '__icon')} {
        display: $floating-validation-message-icon-display;
    }
}

.floating-error-message {
    margin: spacing('xs') 0;
    padding: $floating-validation-message-label-inner-offset;
    z-index: z('base') + 1;
    background-color: $floating-validation-message-label-background-color;
    border-radius: $floating-validation-message-label-border-radius;
    box-shadow: $floating-validation-message-box-shadow;
    color: $floating-validation-message-label-color;
    text-align: $floating-validation-message-label-text-align;
    font-size: $floating-validation-message-label-font-size;

    .content {
        display: flex;
        gap: $validation-failed-gap;
        align-items: $validation-failed-align-items;
    }

    &[x-out-of-boundaries] {
        // Avoid 'display: none' to ability getting real size of popper element before showing

        position: fixed;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}
