/* @theme: default; */

.input {
    @include placeholder {
        color: get-color('additional', 'middle');
    }

    &--size-m {
        height: $base-ui-element-height-size-m;
        padding: $input-padding--m;
    }

    &--size-s {
        padding: $input-padding--s;
    }

    &--size-x-s {
        padding: $input-padding--x-s;
    }

    &--has-datepicker {
        max-width: 140px;
        padding-left: 39px;
    }

    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;

            @include appearance();
        }
    }

    @include element-state('hover') {
        box-shadow: $input-box-shadow-hover-state;
    }

    @include element-state('focus') {
        box-shadow: $input-box-shadow-focus-state;
    }

    @include element-state('error') {
        box-shadow: $input-box-shadow-error-state;
    }

    @include element-state('disabled') {
        background: $input-background-color-disabled-state;
        box-shadow: none;
        border: $input-border;
    }
}
