/* @theme: default; */

.oro-toolbar {
    position: relative;

    &__icon {
        color: $oro-toolbar-icon-color;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: $oro-toolbar-gap;

        .divider {
            height: 14px;
            width: 1px;
            background-color: $oro-toolbar-divider-color;
        }
    }

    &__list {
        text-align: left;

        white-space: nowrap;

        @include list-normalize;

        &-item {
            margin-top: $oro-toolbar-list-item-offset;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__link {
        display: block;
        line-height: 2;
        padding: $oro-toolbar-padding;
        color: $oro-toolbar-link-color;

        &:hover {
            color: $oro-toolbar-link-hover-color;
        }

        &--active {
            font-weight: font-weight('bold');
        }
    }

    &__currency,
    &__text {
        display: inline-block;
        vertical-align: baseline;
    }

    &__currency {
        margin-right: spacing('sm') * .5;
    }

    // toolbar open
    &.active,
    &.show {
        .oro-toolbar__content {
            box-shadow: $oro-toolbar-open-content-box-shadow;
        }

        .oro-toolbar__dropdown {
            display: block;
        }
    }

    // toolbar in fullscreen popup
    &.fullscreen-mode {
        display: block;

        .oro-toolbar__list-item {
            margin-top: 0;
        }

        .oro-toolbar__link {
            padding: 8px 16px;

            text-transform: uppercase;

            border-bottom: $oro-toolbar-fullscreen-link-border;
        }
    }
}
