/* @theme: default; */

//more styles in FrontendBundle/default/grid.scss

.select {
    max-width: 100%;

    @include placeholder {
        color: get-color('additional', 'middle');
    }

    &--size-m {
        height: $base-ui-element-height-size-m;
        padding: $select-padding--m;
    }

    &--size-s {
        height: $select-height--s;
        padding: $select-padding--s;
    }

    @include element-state('hover') {
        box-shadow: $select-box-shadow-hover-state;
    }

    @include element-state('focus') {
        box-shadow: $select-box-shadow-focus-state;
    }

    @include element-state('error') {
        box-shadow: $select-box-shadow-error-state;
    };
}
