/* @theme: default; */

.select {
    /*rtl:raw:
    --select-arrow-position: left #{spacing('md')} center;
    */

    background: $select-bg;

    @include base-ui-element(
        $use-base-style-for-select,
        $select-padding,
        $select-font-size,
        $select-font-family,
        $select-line-height,
        $select-border,
        $select-border-radius,
        $select-background-color,
        $select-color,
        $select-disable-platform-style
    );

    @include placeholder {
        color: $select-placeholder-color;
    }

    @include element-state('hover') {
        border-color: $select-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $select-border-color-focus-state;
        box-shadow: 0 0 0 1px $select-border-color-focus-state inset;
    }

    @include element-state('active') {
        border-color: $select-border-color-focus-state;
        box-shadow: 0 0 0 1px $select-border-color-focus-state inset;
    }

    &.active {
        background: $select-bg-open;
    }

    &:focus-visible {
        border-color: $select-border-color-focus-state;
    }

    @include element-state('error') {
        background-color: $select-bg-color-error-state;
        border-color: $select-border-color-error-state;
    }

    @include element-state('disabled') {
        border-color: $select-disabled-border-color;
        background-color: $select-disabled-background-color;
        color: $select-disabled-color;

        // Overriding user agent stylesheet (opacity: 0.7)
        @include base-disabled-style($opacity: 1);

        @include element-state('hover') {
            border-color: $select-disabled-border-color;
        }
    }
}

// stylelint-disable-next-line  at-rule-no-vendor-prefix
@-moz-document url-prefix('') {
    .select {
        height: $select-firefox-height;
        line-height: $select-firefox-line-height;
        padding-top: $select-firefox-inner-offset-top;
        padding-bottom: $select-firefox-inner-offset-bottom;
    }
}

.select-plain {
    --select-arrow-position: #{$select-plain-arrow-position};

    display: inline-flex;
    padding-left: $select-plain-padding-start;
    padding-right: $select-plain-padding-end;

    border-width: 0;
    background: $select-bg-dark;
    font-size: $select-plain-font-size;
    line-height: $select-plain-line-height;
    font-weight: $select-plain-font-weight;

    @include element-state('hover') {
        background-color: $select-plain-background-color-hover;
    }
}
