/* @theme: default; */

.textarea {
    min-height: $textarea-min-height;
    resize: vertical;

    @include base-ui-element(
        $use-base-style-for-textarea,
        $textarea-padding,
        $textarea-font-size,
        $textarea-font-family,
        $textarea-line-height,
        $textarea-border,
        $textarea-border-radius,
        $textarea-background-color,
        $textarea-color
    );

    @include placeholder {
        color: $textarea-placeholder-color;
    }

    @include element-state('hover') {
        border-color: $textarea-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $textarea-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $textarea-border-color-error-state;
        background-color: $textarea-bg-color-error-state;
    }

    @include element-state('disabled') {
        background-color: $textarea-bg-color-disabled;
        border-color: $textarea-border-color-disabled;
        color: $textarea-color-disabled;

        @include base-disabled-style();

        @include element-state('hover') {
            border-color: $textarea-border-color-disabled;
        }
    }
}
