// @theme: default;

label.required em {
    margin-left: 2px;

    color: get-color('ui', 'error-dark');
}

.form__col {
    margin: 0 0 $offset-x;

    @include clearfix();
}

// Reset styles for select2 from platform styles
.form-horizontal {
    .oro-select2 {
        width: auto;
        max-width: inherit;
    }
}
