.navbar.app-header {
  color: $app-header-text-color;
  background-color: $app-header-bg-color;

  .logo {
    color: $app-header-logo-text-color;
  }

  .nav.top-search {
    a.dropdown-toggle {
      &:hover,
      &:active {
        color: $app-header-text-hover-color;
      }
    }
  }

  .user-menu-dropdown {
    &:before {
      border-left: 1px solid $app-header-divider-color;
    }
  }
}
