#oroplatform-header {
    .logo {
        background: linear-gradient($base-gradient-color-start, $base-gradient-color-end);
        padding: 0;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    .nav.user-menu {
        background: linear-gradient($base-gradient-color-start, $base-gradient-color-end);
        border-left-color: $base-gradient-color-border;

        a.help:before {
            background-color: $base-gradient-color-border;
        }

        a.help:hover,
        .dropdown > .dropdown-toggle:hover,
        .dropdown > .oro-dropdown-toggle:hover {
            background: linear-gradient(lighten($base-gradient-color-start, 3%), lighten($base-gradient-color-end, 3%));
        }
    }

    .nav.top-search {
        background: linear-gradient($base-gradient-color-start, $base-gradient-color-end);
        padding: 0 10px 0 5px;

        .dropdown {
            > .dropdown-toggle {
                &:hover > [class^="fa-"] {
                    background: linear-gradient(lighten($base-gradient-color-start, 3%), lighten($base-gradient-color-end, 3%));
                }
            }
        }
    }

    .navbar-inner {
        .nav {
            > li > a {
                color: $header-text-color;
            }
        }
    }
}
