.list-bar-wrapper {
  background-color: $logo-background-color;
}
.list-bar{
  li {
    color: $header-text-color;
    .pin-holder {
      border-right-color: $base-gradient-color-border;
      a {
        color: $header-text-color;
        &.fa-close {
          &:before {
            color:$header-text-color;
          }
        }
      }
      &:hover {
        a {
          color: lighten($header-text-color, 10%);
        }
      }
    }
    &.active {
      .pin-holder {
        background-color: darken($logo-background-color, 5%);
      }
    }
  }
}
