#sub-widget-with-separator(@width: 100%) {
  &:after {
    position: absolute;
    right: 15px;
    bottom: -15px;

    width: calc(@width ~' - 30px');
    height: 15px;

    content: '';

    border-bottom: 1px solid #eaeaea;
  }
}
#sub-widget-with-no-separator {
  &:after {
    content: normal !important;
  }
}

.quick-launchpad-toolbar {
  &.with-subwidgets{
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
  }
  & > li.sub-widget {
    padding: 0 15px;
    margin: 15px 0 15px -1px;
    background: none;
    float: left;
    display: block;
    &:nth-child(3n) {
      #sub-widget-with-separator(300%);
    }
    &:last-child {
      #sub-widget-with-no-separator();
    }
    & > .title {
      text-align: left;
      display: inherit;
      padding: 0;
      font-weight: normal;
      max-width: 100%;
    }
    & > .value {
      margin-bottom: 0;
      text-align: left;
      font-weight: normal;
    }
    & > div.deviation {
      overflow: hidden;
      font-size: 11px;
      & > .deviation {
        float: left;
        &.positive{
          color: #9bad37;
        }
        &.negative{
          color: #ff0800;
        }
      }
      & > .date-range {
        float: right;

        max-width: ~'calc(100% - 70px)';
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .mobile-version {
    .quick-launchpad-toolbar {
      & > li.sub-widget {
        width: 50% !important;
        &:nth-child(3n) {
          #sub-widget-with-no-separator();
        }
        &:nth-child(2n) {
          #sub-widget-with-separator(200%);
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .mobile-version {
    .quick-launchpad-toolbar {
      & > li.sub-widget {
        width: 100% !important;
        #sub-widget-with-separator();
        &:nth-child(3n) {
          #sub-widget-with-separator();
        }
      }
    }
  }
}
