@import "../../../oroui/css/less/mixins";
@dashboardBackgroundColor:  #f1f1f1;

.dashboard-selector-container {
  label {
    padding-top: 4px;
    padding-right: 10px;
  }
  select {
    width: auto;
  }
  label,
  select,
  .selector {
    float: left;
  }
}

.dashboard-contailer {
  .responsive-section {
    background: @dashboardBackgroundColor;
    padding-top: 13px;
    padding-left: 13px;
    .responsive-cell > div {
      padding-right: 13px;
      padding-bottom: 13px;
    }
  }
  .launchpad-container {
    .box-type1 {
      border: 0;
      background-color: @dashboardBackgroundColor;
    }
    .oro-subtitle {
      margin: 10px 10px 10px 0;
    }
    .title-buttons-container {
      margin-top: 10px;
      margin-right: 13px;
    }
  }
}

.launchpad-widget-content > div {
  height: 190px;
  border: 1px solid #b6b6b6;
  overflow: hidden;
 /* .border-radius(5px);
  .box-shadow(1px 1px 5px rgba(50, 50, 50, 0.2));*/
}

.launchpad-widget-content {
  max-width: 600px;
  margin: 0 auto;

  .image-wrap {
    background: #fff;
    display: block;
    width: 40%;
    height: 100%;
    .widget-image {
      display: block !important;
      font-size: 64px;
      width: 64px;
      color: #cecece;
      cursor: default;
      margin: 0 auto;
      &:hover {
        color: #8baed9;
      }
    }
    p {
      padding: 35px 0 10px;
      font-size: 17px;
      color: #555555;
    }
  }
  .list-wrap {
    background: @dashboardBackgroundColor;
    border-left: 1px solid #e5e5e5;
    width: 60%;
    margin-left: -1px;
    height: 100%;
    ul {
      margin: 5px 0;
      li > a {
        border-bottom: 1px solid #e5e5e5;
        font-size:14px;
      }
      li.last > a {
        border: none;
      }
    }
  }
}

.dashboard-widget-content {
  .nav-tabs {
    margin-bottom: 0;
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background-color: #fff;
    }
  }
  .tab-container {
    position: relative;
  }
  .tab-content {
    overflow: hidden;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .grid-container {
    margin-top: 0;
    .grid {
      border: 0;
      margin-bottom: 0;
    }
    .no-data {
      border: 0;
      margin: 0;
    }
  }
}

.quick-launchpad-toolbar{
  width: 100%;
  margin: 0;
  list-style: none;
  & > li{
    float: left;
    border-left: 1px solid #eaeaea;
    padding: 15px 0 25px;
    text-align: center;
    /* width: 20%; calculated on backend and depends on a number of items */
    /*#gradient > .vertical(#ffffff, #f1f1f1);*/
    &:first-child{
      border: 0;
    }
    &:hover{
     /* #gradient > .vertical(#f1f1f1, #ffffff);*/
    }
    .title-box{
      margin-bottom: 19px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
    }
    .list-content{
      display: block;
       i{
        font-size: 35px;
        color: #444;
      }
    }
    a{
      color: #444;
    }
  }
}

.dashboard-btn{
  margin-left: 10px;
}

.chart-container {
  position: relative;
  &>.clearfix {
    margin: 0 auto;
    .pie-chart {
      z-index: 1;
    }
    .bar-chart{
      margin-top: 20px;
    }
    .pie-chart-legend {
      position: relative;
      table {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto 0 auto 30px;
        width: 50%;
        height: auto;
        td {
          padding-bottom: 7px;
        }
      }
    }
  }
}
.chart-legend table {
  font-size: 13px !important;
  .flotr-legend-color-box {
    &>div {
      border: 0 !important;
      &>div {
        border: 0 !important;
      }
    }
  }
  .flotr-legend-label {
    padding-left: 10px;
  }
}
.flotr-mouse-value {
  cursor: default;
}
