@light-border-color: #e7e7e7;
@dark-border-color: #ccc;
@column-divider-style: 1px solid @dark-border-color;
@card-padding: 10px 13px;
@card-margin: 2px 6px 0;
.board {
  margin: 10px 20px 0;
  border: solid 1px @light-border-color;
  border-radius: 4px;
  .board-column-header, .board-column {
    /* these items should have same min-width and margins */
    min-width: 170px;
  }
  .board-header-container{
    overflow: hidden;
  }
  .board-header {
    display: flex;
    background-image: linear-gradient(to bottom, #f5f5f5, #eeeeee);
  }
  .no-data {
    display: none;
  }
  &.no-data-visible {
    border: none;
    .no-data {
      display: block;
    }
    .board-header, .board-body {
      display: none;
    }
  }
  .board-column-header {
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
    padding: 11px 10px 9px;
    font-size: 11.05px;
    font-weight: bold;
    color: #5e5e5e;
    text-shadow: 0 1px 0 #f2f2f2;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:not(:last-child) {
      border-right: @column-divider-style;
    }
  }
  .board-body {
    overflow: auto;
    padding: 0;
    .board-columns-container {
      display: flex;
    }
    .board-body-loading-message {
      display: none;
    }
    &.loading-more{
      .board-body-loading-message {
        display: block;
        background: url("../../../images/preloader.gif") repeat;
        height: 40px;
        text-align: center;
        font-size: 16px;
        color: #aaa;
        line-height: 42px;
      }
    }
  }
  .board-column {
    flex: 1;
    padding: 6px 0 8px;
    min-height: 45px;
    &.drag-over {
      background: #f7f7f7;
      .card-view {
        border-color: #e0e0e0;
      }
    }
    > .card-view {
      box-sizing: border-box;
      padding: @card-padding;
      margin: @card-margin;
      transition: box-shadow 0.2s, border-color 0.2s;

      &.ui-sortable-helper{
        box-shadow: 3px 3px 20px rgba(0,0,0,0.075);
      }
    }
    &:not(:last-child) {
      border-right: @column-divider-style;
    }
  }
  .board-card-placeholder {
    border: 2px dashed @dark-border-color;
    background: #f5f5f5;
    border-radius: 3px;
    padding: @card-padding;
    margin: @card-margin;
  }
}

.grid-toolbar > .sorting {
  display: none;
}
.board-appearance .grid-toolbar > .sorting {
  display: block;
}

@media print {
  .board-body {
    max-height: none !important;
  }
}
