{% block oro_workflow_transition_row %}
    <fieldset class="form-horizontal">
        {{ form_rest(form) }}
    </fieldset>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="submit" class="btn btn-success">{{ 'Submit'|trans }}</button>
    </div>
{% endblock %}

{% block _oro_workflow_definition_form_label_widget %}
    {{ form_widget(form) }}
    <span id="workflow_translate_link_label"></span>
{% endblock %}
