/* @theme: admin.oro; */

@import "oroui/css/scss/mixins";

/* TODO: remove after main page element are redesigned */

.collapsed .widget-header .collapse-expand-action-container .collapse-action:before {
    content: normal;
}

.dashboard-widget {
    .widget-header {
        [class^="fa-"], [class*=" fa-"] {
            font-size: 16px;
        }

        .btn-link {
            color: $primary-700;

            &:hover, &:active, &:focus {
                color: $primary-400;

                outline: none;
            }
        }
        .dropdown-menu {
            &:before {
                border-bottom: 7px solid rgba(0, 0, 0, .2);
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                content: "";
                display: inline-block;
                left: 13px;
                position: absolute;
                top: -7px;
            }

            &:after {
                border-bottom: 6px solid $primary-inverse;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                content: "";
                display: inline-block;
                left: 14px;
                position: absolute;
                top: -6px;
            }
        }
        .dropdown.pull-right .dropdown-menu,
        .dropup.pull-right .dropdown-menu {
            &:before {
                left: auto;
                right: 13px;
            }

            &:after {
                left: auto;
                right: 14px;
            }
        }

        .dropup.pull-right .dropdown-menu {
            &:before {
                border-top: 7px solid rgba(0, 0, 0, .2);
                border-bottom: none;
                top: auto;
                bottom: -7px;
            }

            &:after {
                border-top: 6px solid $primary-inverse;
                border-bottom: none;
                top: auto;
                bottom: -6px;
            }
        }
    }
}
html body {
    font-size: 14px;
}
/* end TODO block */

.dashboard-selector-container {
    label {
        padding-top: 4px;
        padding-right: 10px;
    }

    select {
        width: auto;
    }

    label,
    select,
    .selector {
        float: left;
    }
}

.ui-dialog .form-horizontal {
    .widget-sort-by {
        .control-group .controls {
            margin-left: 0;

            select {
                max-width: 280px;
            }
        }
    }

    .widget-query-filter .collapse-action {
        padding-top: 4px;

        display: inline-block;
    }
}

.dashboard-container-wrapper {
    background-color: $dashboard-wrapper-bg;

    .page-title {
        border-bottom: 1px solid #f2f2f2;
    }

    .responsive-section {
        padding-top: 13px;
        padding-left: 13px;

        background: $dashboard-wrapper-bg;

        .responsive-cell > div {
            padding-right: 13px;
            padding-bottom: 13px;
        }
    }

    .scrollable-container {
        background: $dashboard-wrapper-bg;

        @include safe-area-offset(padding, 0);
    }

    .oro-subtitle {
        word-break: break-all;
    }

    .dashboard-widget.editable {
        .sortable {
            cursor: move;
        }

        .default-actions-container {
            display: block;
        }
    }

    .dashboard-widget {
        position: relative;

        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

        .widget-header {
            min-height: 44px;
            padding: 3px 0 2px;

            display: flex;

            .dropdown-menu {
                margin-top: -3px;
                min-width: 100px;

                > li > a {
                    padding-left: 8px;
                    padding-right: 8px;

                    i[class^="fa-"] {
                        min-width: 14px;
                    }
                }
            }
        }

        .actions-container {
            margin-top: 9px;

            .collapse-action {
                .collapse-action-icon {
                    @include fa-icon($fa-var-minus-square-o);
                }

                &.collapsed .collapse-action-icon {
                    @include fa-icon($fa-var-plus-square-o);
                }
            }
        }

        .pull-left.actions-container {
            float: none;
            order: 1;
        }

        .pull-right {
            &.widget-actions-container {
                float: none;
                order: 80;
            }

            &.actions-container {
                float: none;
                order: 99;
            }
        }

        .default-actions-container {
            display: none;
        }

        .widget-actions-container,
        .default-actions-container {
            white-space: nowrap;

            .action-wrapper {
                padding: 3px 13px;
            }
        }

        .default-actions-container {
            .action-wrapper {
                padding: 0 3px;

                > a {
                    padding: 10px 8px;
                }
            }
        }

        .widget-actions-container {
            margin: 10px -1px 8px 0;
        }

        .dashboard-btn {
            margin-top: -3px;
        }

        .move-action {
            cursor: move;
        }

        .default-actions-container {
            .action-wrapper:last-child {
                border-right: none;
            }
        }

        .widget-title {
            padding: 11px 0 3px;

            color: $dashboard-widget-title-color;
            font-size: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;

            flex: 1;
            order: 50;
            overflow: hidden;

            &:before {
                min-height: 40px;

                content: '';
                display: inline;
            }
        }

        .row-fluid {
            border-top: 1px solid $primary-860;
        }

        .dashboard-widget-content {
            margin-top: 0;

            .other-scroll-container {
                margin: 10px;
            }

            > .tab-container {
                margin: -1px 0 0 -1px;
                padding-top: 0;
            }
        }

        .widget-config-data {
            margin-left: 10px;
            margin-bottom: 5px;

            color: #9d9d9d;
        }
    }

    .hidden-empty-text {
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;

        overflow: hidden !important;
        visibility: hidden;
    }

    .widget-placeholder {
        min-height: 200px;
        padding: 20px;

        background: #f5f5f5;
        border: 2px dashed #ccc;
        color: #aaa;
        font-size: 24px;
        text-align: center;

        border-radius: 3px;
    }

    .dashboard-widget.collapsed {
        overflow: hidden;

        .row-fluid {
            border-top: none;
        }
    }

    .collapse-expand-action-container {
        padding: 0 2px 0 5px;
    }
}

.responsive-cell .box-type1 {
    .dashboard-widget-content {
        .tab-content {
            .no-data {
                background-color: #f9f9f9;
            }
        }
    }
}

.dashboard-link {
    font-weight: normal;
}

.chart-container {
    position: relative;

    margin-top: 5px;

    overflow-x: visible;

    &.wrapped-chart-legend {
        margin: 0 auto;
    }

    & > .clearfix {
        margin: 0 auto;

        .chart-legend {
            position: relative;

            height: auto !important;
            min-width: 250px; // to wrap legend event if it's empty yet
            padding-bottom: 20px;

            table {
                position: relative;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                margin: auto 0 auto 30px;
                width: 90%;
                height: auto;

                td {
                    padding-bottom: 7px;
                }

                .flotr-legend-color-box {
                    width: 30px;
                }
            }
        }

        .funnel-label {
            position: absolute;

            padding-bottom: .5em;
        }

        .flotr-grid-label-x {
            line-height: 14px;
            text-overflow: ellipsis;

            overflow-x: hidden;
        }
    }
}

.chart-legend table {
    font-size: 13px !important;

    .flotr-legend-color-box > div {
        border: 0 !important;

        & > div {
            border: 0 !important;
        }
    }

    .flotr-legend-label {
        padding-left: 10px;
    }
}

.flotr-mouse-value {
    z-index: 1;

    cursor: default;
}

.funnel-data {
    h5 {
        margin-bottom: 5px;
        margin-left: 25px;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    ul {
        list-style: none;
    }
}

.dashboard-widget-content {
    .tab-container {
        position: relative;

        .nav-tabs > li {
            & > a {
                height: 38px;
                margin-left: -1px;
                margin-right: 0;
                padding: 8px 12px;

                color: #555;
                line-height: 20px;

                background-color: #fafafa;
                border: 1px solid #ddd;

                border-radius: 0;

                &:focus {
                    outline: none;
                }
            }

            &.active > a,
            &.active > a:hover,
            &.active > a:focus {
                color: #444;
                text-decoration: none;

                background: #fff;
                border: 1px solid #ddd;
                border-bottom-color: #fff;

                box-shadow: none;
            }

            &:first-child > a,
            &:first-child > a:hover,
            &:first-child > a:focus {
                border-left: 1px solid #ccc;
            }
        }
    }
}

.navigation {
    .dashboard-widgets-add {
        margin: 0 0 0 11px;
    }
}

.widget-configuration {
    .items-selector-widget {
        margin-right: 20px;
    }

    .widget-title-widget {
        margin-right: 20px;

        float: left;
    }

    .date-range-filter {
        & > div > .control-group {
            margin-bottom: 0;
        }

        .filter-separator {
            top: 2px;
        }

        .filter-select-oro {
            height: 20px;
            width: 120px;

            line-height: 20px;
        }

        .control-group .horizontal:last-of-type .selector {
            margin-bottom: 10px;
        }

        .control-group .horizontal:nth-of-type(2) .selector {
            margin-top: 10px;
        }
    }

    .filter-criteria {
        padding: 0;
    }

    .controls .horizontal {
        padding: 0;
    }

    table {
        .action-column,
        .action-cell {
            width: 86px;
        }

        &.scrollable {
            tbody {
                height: 120px;

                border-left: 1px solid #ddd;

                display: block;
            }

            thead,
            tbody tr {
                width: 100%;

                display: table;
                table-layout: fixed;
            }

            &.table-bordered td:first-child {
                border-left: none;
            }
        }
    }

    .widget-date-widget {
        margin: 4px 0 10px;
    }

    .widget-date-input-widget {
        input[type="text"] {
            max-width: 110px;
        }
    }
}

.widget-content.widget-configuration {
    .table input[type="checkbox"] {
        margin: 0 0 1px 0;
    }
}

.dashboard-widget-items {
    margin-bottom: 10px;

    .control-group.controls {
        width: 445px;
    }

    .mobile-version & {
        .controls {
            width: initial;
        }

        .action-column {
            width: 116px;

            text-align: center;
        }

        .action-cell .btn {
            padding: 0 4px;
        }
    }
}

#dashboard_selector,
#uniform-dashboard_selector {
    height: 28px;

    &.selector {
        line-height: 28px;

        span {
            height: 28px;

            line-height: 28px;

            &:after {
                margin: 1px 2px 0 0;
            }
        }
    }
}

.ui-dialog .form-horizontal .control-group .conditions-group .controls {
    margin-left: 0;
}
