{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'calendar-event-grid' %}
{% set pageTitle = 'oro.calendar.calendarevent.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('oro_calendar_event_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_calendar_event_create'),
                'entity_label': 'oro.calendar.calendarevent.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
