{% if entity.parent or entity.childAttendees is not empty %}
{% import 'OroCalendarBundle::invitations.html.twig' as invitations %}
<div class="btn-group" role="group">
    {% for status in entity.availableInvitationStatuses %}
        {{ UI.link({
            'aCss':  'btn btn-default',
            'iCss':  invitations.get_invitatition_status_class(status),
            'data':  {
                'page-component-module': 'oroui/js/app/components/view-component',
                'page-component-options': {'view':'orocalendar/js/app/views/change-status-view'}|json_encode},
            'path':  path('oro_calendar_event_' ~ status, {'id': entity.id}),
            'label': invitations.calendar_event_invitation_action(status)|trans,
            'title': invitations.calendar_event_invitation_action(status)|trans
        }) }}
    {% endfor %}
</div>
{% endif %}
