/* @theme: admin.oro; */

.drop-zones-menu {
    width: $drop-zones-menu-box-width;
    z-index: $zindex-dropdown;
    border: 1px dashed $primary-700;
    background-color: $primary-900;
    border-radius: 4px;
    box-shadow: $drop-zones-menu-box-shadow;

    &__item {
        padding: 26px 12px;
        font-size: 18px;
        text-align: center;
        color: $primary-200;

        &:first-child {
            border-radius: 4px 4px 0 0;
        }

        &:last-child {
            border-radius: 0 0 4px 4px;
        }

        &:only-child {
            border-radius: 4px;
        }

        &:not(:first-child) {
            border-top: 1px dashed $primary-700;
        }

        &.hover {
            background-color: $secondary;
            color: $primary-inverse;
        }
    }

    &:not(.show) {
        display: none;
    }
}
