/* @theme: admin.oro; */

.selection-state-hint {
    display: flex;
    z-index: 2;

    &__content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        gap: 16px;
        padding: 0 32px;
        font-size: $selection-state-hint-font-size;
        background-color: $extra-300;
        border-radius: 4px 4px 0 0;
        box-shadow: $selection-state-hint-box-shadow;
    }

    &__text {
        font-style: $selection-state-hint-font-style;
    }
}
