.lg-backdrop.in {
    background: #aaaaaa;
    opacity: 0.3;
}
.lg-toolbar {
    background: #000;
}
.lg-toolbar .lg-print {
    font-family: FontAwesome;
}
.mobile-version .lg-print {
    display: none !important;
}
