.lg-backdrop.in {
    background: #aaaaaa url(../../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: 0.3;
}
.lg-toolbar {
    background: #000;
}
.lg-toolbar .lg-print {
    font-family: FontAwesome;
}
.mobile-version .lg-print {
    display: none !important;
}
