/* @theme: admin.oro; */

@use 'sass:color';

// Figma color palette
$primary-main: #355477 !default;
$primary-main-light: #c9d6e4 !default;
$primary-accent: #b48c50 !default;
$primary-accent-light: #f0e8dc !default;
$primary-accent-extra-light: #fff8ee !default;
$primary-accent-background: linear-gradient(90deg, #d3d9e3 0%, #e2e5eb 63%) !default;
$primary-background: radial-gradient(ellipse at 73.28% 0%, #ede6d9 0%, #edeae5 47.74%, #fafaf7 100%) !default;

$primary-box-shadow: 0 2px 4px -2px rgba(10, 13, 18, .06), 0 4px 6px -1px rgba(10, 13, 18, .1) !default;

$secondary-secondary-1: #2138cd !default;
$secondary-secondary-2: #13a367 !default;
$secondary-secondary-3: #b2454c !default;
$secondary-secondary-4: #4c77a9 !default;
$secondary-secondary-5: #2d4663 !default;
$secondary-secondary-6: #b1c4d9 !default;
$secondary-focus: #006fff !default;

$text-primary: #181d27 !default;
$text-secondary: #474c54 !default;
$text-disabled: #858890 !default;
$text-inverse: #ffffff !default;

$neutral-white: #fefdfd !default;
$neutral-grey-1: #f8f8f8 !default;
$neutral-grey-2: #f0f1f1 !default;
$neutral-grey-3: #d0d6dc !default;
$neutral-grey-4: #8a94a8 !default;
$neutral-dark: #2c2f33 !default;

$error: #9c0000 !default;
$error-light: #fff5f6 !default;
$error-lighten: #f8d8db !default;

$warning: #8f3700 !default;
$warning-light: #f2dab1 !default;

$info: #00489c !default;
$info-light: #f0f5fc !default;
$info-lighten: #d3e4f9 !default;

$success: #08590d !default;
$success-light: #d5e6cf !default;

// Zeplin color palette
$primary: #404041 !default;
$primary-inverse: #ffffff !default;
$primary-100: color.adjust($primary, $lightness: 4%) !default;  /* #4a4a4a */
$primary-200: $text-primary !default;
$primary-300: color.adjust($primary, $lightness: 12%) !default; /* #5e5e60 */
$primary-400: color.adjust($primary, $lightness: 16%) !default; /* #68686a */
$primary-500: color.adjust($primary, $lightness: 24%) !default; /* #7d7d7f */
$primary-550: $text-secondary !default;
$primary-600: color.adjust($primary, $lightness: 32%) !default; /* #919193 */
$primary-700: color.adjust($primary, $lightness: 48%) !default; /* #bababb */
$primary-750: $neutral-grey-4 !default;
$primary-800: color.adjust($primary, $lightness: 64%) !default; /* #e3e3e4 */
$primary-830: color.adjust($primary, $lightness: 68%) !default; /* #eeeeee */
$primary-860: color.adjust($primary, $lightness: 70%) !default; /* #f3f3f3 */
$primary-900: color.adjust($primary, $lightness: 72%) !default; /* #f8f8f8 */

$additional: #5c5c5c !default;
$additional-light: color.adjust($additional, $lightness: 38%) !default; /* #bdbdbd */
$additional-extra-light: color.adjust($additional, $lightness: 50%) !default; /* #dbdbdb */
