<% var togglerId = _.uniqueId('dropdown-') %>
<div
    data-toggle="dropdown" role="button" id="<%- togglerId %>"
    aria-label="<%- _.__('oro.role.permission.edit_label', {label: label}) %>"
    aria-haspopup="true" aria-expanded="false"
    data-target="<%= dropdownTarget %>"
    data-placement="bottom-end"
    data-modifiers="<%- JSON.stringify({preventOverflow: {enabled: false}, hide: {enabled: false}}) %>"
    class="dropdown-toggle dropdown-toggle--no-caret action-permissions__item-wrapper<% if (isAccessLevelChanged) {%> action-permissions__item-wrapper_changed<% } %>"
>
    <span class="action-permissions__label"
          title="<%- label %>"><%- label %></span>
    -
    <a href="#"
       class="action-permissions__dropdown-toggle"
       title="<%- access_level_label %>"><%- access_level_label %></a>
</div>
<div class="dropdown-menu dropdown-menu__permissions-item" aria-labelledby="<%- togglerId %>">
    <div data-role="dropdown-menu-content"></div>
</div>
