<% var togglerId = _.uniqueId('dropdown-') %>
<div
    aria-label="<%- _.__('oro.role.permission.edit_label', {label: label}) %>"
    data-target="<%- dropdownTarget %>"
    data-placement="bottom-end"
    class="dropdown-toggle dropdown-toggle--no-caret action-permissions__item-wrapper<% if (isAccessLevelChanged) {%> action-permissions__item-wrapper_changed<% } %>"
>
    <span class="action-permissions__label" data-toggle="tooltip"><%- label %></span>
    -
    <a href="#"
       id="<%- togglerId %>"
       class="action-permissions__dropdown-toggle"
       data-emulate-btn-press=""
       data-toggle="dropdown"
       aria-expanded="false"><span data-toggle="tooltip"><%- access_level_label %></span></a>
    <div class="dropdown-menu dropdown-menu__permissions-item" aria-labelledby="<%- togglerId %>">
        <div data-role="dropdown-menu-content"></div>
    </div>
</div>
