<td class="title-cell" title="<%- label %>">
    <label for="column-<%= cid  %>"><%= label %></label>
</td>
<% if (addSorting) { %>
<td class="sort-cell">
    <% if (!_.isMobile()) { %>
    <span title="Move column"><i class="fa-arrows-v handle"></i></span>
    <% } else { %>
    <span class="btn btn-icon move-up" data-role="moveUp" title="Move column up"><span class="fa-chevron-up"></span></span>
    <span class="btn btn-icon move-down" data-role="moveDown" title="Move column down"><span class="fa-chevron-down"></span></span>
    <% } %>
</td>
<% } %>
<td class="visibility-cell" title="<%- label %>">
    <input id="column-<%= cid  %>" type="checkbox" data-role="renderable"
    <% if (disabledVisibilityChange) {%>disabled<% } %>
    <% if (renderable) {%>checked<% } %>/>
</td>
