<div class="datagrid-settings-filter" data-role="datagrid-settings-filter"></div>
<div class="datagrid-settings-actions">
    <a href="#" data-role="datagrid-settings-select-all" class="pull-right">
        <%= _.__('oro.datagrid.settings.select_all')%>
    </a>
    <a href="#" data-role="datagrid-settings-unselect-all" class="pull-right">
        <%= _.__('oro.datagrid.settings.unselect_all')%>
    </a>
</div>
<div class="datagrid-settings-table" data-role="datagrid-settings-table"></div>
<div class="datagrid-settings-right-flap"></div>
