/* @theme: blank; */

$base-ui-element-offset: 10px !default;

$base-ui-element-font-size: $base-font-size !default;
$base-ui-element-font-family: $base-font !default;
$base-ui-element-line-height: 1.1 !default;

$base-ui-element-border-size: 1px !default;
$base-ui-element-border: $base-ui-element-border-size solid get-color('additional', 'light') !default;
$base-ui-element-border-radius: 2px !default;
$base-ui-element-bg-color: get-color('additional', 'base') !default;
$base-ui-element-color: get-color('additional', 'darker') !default;
