{% extends '@OroUser/layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            {% include '@OroUser/Reset/checkEmail_form.html.twig' %}
        </div>
        <div class="login-copyright">{{ 'oro.copyright'|trans({ '{{year}}': 'now'|date('Y') }) }}</div>
    </div>
</div>
{% endblock %}
