{% extends '@OroUser/layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}
{% block messages %}
    {% set messagesContent = parent() %}
{% endblock messages %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            {% include '@OroUser/Reset/request_form.html.twig' %}
        </div>
        <div class="login-copyright">{{ 'oro.copyright'|trans({ '{{year}}': 'now'|date('Y') }) }}</div>
    </div>
</div>
<script type="text/javascript">
    window.addEventListener('load', function() {
        var loader = document.getElementById('login-page-loader');
        if (loader) {
            loader.parentNode.removeChild(loader);
        }
    });
</script>
{% endblock %}
