/* @theme: admin.oro; */

.condition-item.condition-data-audit {
    .select2-container {
        &.audit-condition-type {
            display: inline-block;
            min-width: 130px;
        }
    }

    .inner-filter-container > div {
        display: inline;

        > span:first-child {
            display: none;
        }
    }

    .audit-type-filter-container > div {
        display: inline;
    }

    &.changed-to-value-mode {
        .separator {
            display: block;
            margin-bottom: 4px;
        }

        .value-label {
            display: none;
        }

        .value-that-label {
            display: inline-block;
        }

        &.date-condition-type {
            .value-label {
                display: inline-block;
            }

            .value-that-label {
                display: none;
            }
        }

        .field-condition-date-popover {
            display: none;
        }

        .inner-filter-container > div {
            .field-condition-date-popover,
            .field-condition-date-popover + span,
            .field-condition-date-popover + span + .dropdown {
                display: none;
            }
        }
    }

    &.changed-value-mode {
        .inner-filter-container,
        .value-label,
        .value-that-label,
        .separator {
            display: none;
        }
    }
}
