.comments-list {
  color: #888;
}
.comments-block {
  min-width: initial;
  .comment-item {
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
    line-height: 1.3em;
  }
  .comment-item:last-child {
    border-bottom: none;
  }
  .comment-title {
    float: left;
    left: 0;
    position: relative;
    .comment-title-avatar {
      width: 30px;
      height: 30px;
    }
    .comment-title-info {
      display: none;
    }
    &:hover {
      .comment-title-info {
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        display: block;
        position: absolute;
        background: white;
        width: 260px;
        z-index: 1;
        top: 25px;
        left: 25px;
        border-radius: 3px;
        padding: 0.5em;
      }
    }
  }
  .comment-body{
    margin: 0 45px 0 45px;
  }
  .comment-attachments {
    margin: 0.5em 45px 0 45px;
  }
  .comment-actions {
    float: right;
  }

  .attachment-icon.accordion-toggle {
    display: none;
    &.collapsed {
      display: inline-block;
    }
  }
  .attachment-item {
    .item-remove-attachment {
      text-decoration: none;
    }
  }
  a.load-more{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAApSURBVBhXY7h79y7D////mRgYGJiANJwNwvfu3UPhI2N0OWS99+7dAwCo4x9xTwLH4wAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    height: 22px;
    display: block;
    text-align: center;
    color: #888;
    &:hover {
      color: #08c;
    }
    > span {
      display: inline-block;
      background: white;
      margin: 5px auto;
      line-height: 1em;
      padding: 0 0.5em;
      font-size: 13px;
      text-decoration: none;
    }
  }
}
