.comments-view-header, .comments-view-body, .comments-view-footer {
  margin: 13px 0;
  &:empty {
    display: none;
  }
}
.comments-view-header {
  > .no-data {
    margin: 0px;
  }
  .load-more{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAApSURBVBhXY7h79y7D////mRgYGJiANJwNwvfu3UPhI2N0OWS99+7dAwCo4x9xTwLH4wAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    height: 22px;
    display: block;
    text-align: center;
    color: #888;
    > span {
      display: inline-block;
      background: white;
      margin: 5px auto;
      line-height: 1em;
      padding: 0 0.5em;
      font-size: 13px;
      text-decoration: none;
    }
    > span.loading-indicator {
      padding: 0 0 0 4px;
      margin: 3px auto;

    }
  }
  a.load-more{
    &:hover {
      color: #08c;
      cursor: pointer;
    }
  }
}
.comments-view-footer {
  margin-top: 10px;
}
.comment-form-container {
  .comment-form {
    .comment-text-field {
      width: 100%;
      box-sizing: border-box;
    }
    .attachment-item {
      margin-top: 5px;
    }
    span.filename {
      width: 160px;
    }
  }
  .attachment-item {
    .remove-attachment {
      text-decoration: none;
      border: none;
      background: transparent;
      font-family: FontAwesome !important;
    }
  }
}
.add-comment-dialog{
  .ui-dialog-content {
    margin: 25px 25px 8px;
  }
  .comment-text-field {
    height: 165px;
  }
  label {
    margin-bottom: 8px;
  }
}
.comments-block {
  color: #888;
  margin: 0;
  display: table;
  width: 100%;
  min-width: initial;
  .comment-item {
    display: table-row !important;
  }
  .comment-title, .comment-content, .comment-actions {
    display: table-cell;
    line-height: 1.3em;
    padding: 13px 0 14px 0;
    border-bottom: 1px solid #f0f0f0;
    vertical-align: top;
  }
  .comment-title {
    width: 30px;
    position: relative;
  }
  .comment-actions {
    width: 23px;
    /** .horizontal-icon-menu; */
    .dropdown-menu{
      padding: 0;
      top: -8px;
      right: 23px;
    }
    .nav-pills {
      padding: 0 0 0 2px;
    }
  }
  .comment-content {
    vertical-align: middle;
    padding: 14px;
  }
  .comment-item:first-child {
    .comment-title, .comment-content, .comment-actions {
      padding-top: 0px;
    }
  }
  .comment-item:last-child {
    .comment-title, .comment-content, .comment-actions {
      border-bottom: none;
      padding-bottom: 0px;
    }
  }

  .comment-title {
    .comment-title-avatar{
      width: 29px;
      height: 29px;
    }
    .no-avatar {
      background: url(../../../oroui/img/info-user.png);
      background-size: 29px 29px;
    }
    .comment-title-info {
      display: none;
    }
    &:hover {
      .comment-title-info {
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        display: block;
        position: absolute;
        background: white;
        max-width: 260px;
        z-index: 1;
        top: 44px;
        left: 10px;
        border-radius: 3px;
        padding: 0.5em;
      }
    }
  }

  .comment-body{
    display: block;
  }
  .comment-attachments {
    margin: 0.5em 0 0 0;
  }

  .attachment-icon.accordion-toggle {
    display: none;
    &.collapsed {
      display: inline-block;
    }
  }
}
