@import "oroui/css/less/mixins";

.comments-view-header, .comments-view-body, .comments-view-footer {
  clear: both;
  margin: 13px 0;
}
.comments-view-header {
  > .no-data {
    margin: 0px;
  }
  .load-more{
    display: inline-block;
    width: 100%;
    .load-more-items(#e5e5e5, #fff, #888);
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    &.process {
      .load-more-label {
        padding: 0 10px;
        .process('../../../oroui/img/loader-16.gif');
        &:after {
          right: 4px;
        }
      }
    }
  }
}
.comments-view-footer {
  margin-top: 10px;
}
.comment-form-container {
  .comment-form {
    padding-bottom: 10px;
    .comment-text-field {
      width: 100%;
      box-sizing: border-box;
    }
    .attachment-item {
      margin-top: 5px;
    }
  }
  .attachment-item {
    .remove-attachment {
      text-decoration: none;
      border: none;
      background: transparent;
      font-family: FontAwesome !important;
    }
  }
}
.add-comment-dialog{
  .comment-text-field {
    height: 165px;
  }
  label {
    margin-bottom: 8px;
  }
}
.responsive-section {
  .email-content .responsive-cell .comment-list {
    padding-left: @horizontalPadding;
  }
  &.responsive-small .email-content .responsive-cell .comment-list {
    padding-left: 0;
  }
}
.email-content {
  .responsive-cell {
    .comment-list {
      padding-left: @horizontalPadding;
    }
  }
}
.comments-block {
  color: #888;
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: initial;
  .comment-item {
    display: table-row !important;
  }
  .comment-title, .comment-content, .comment-actions {
    display: table-cell;
    line-height: 1.3em;
    padding: 13px 0 14px 0;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: top;
  }
  .comment-title {
    width: 30px;
    position: relative;
  }
  .comment-actions {
    width: 23px;
    /** .horizontal-icon-menu; */
    .dropdown-menu{
      padding: 0;
      top: -8px;
      right: 23px;
    }
    .nav-pills {
      padding: 0 0 0 2px;
    }
  }
  .comment-content {
    vertical-align: middle;
    padding: 14px;
    .comment-author-info .date{
      font-size: smaller;
    }
  }
  .comment-item:first-child {
    .comment-title, .comment-content, .comment-actions {
      padding-top: 0px;
    }
  }
  .comment-item:last-child {
    .comment-title, .comment-content, .comment-actions {
      border-bottom: none;
      padding-bottom: 0px;
    }
  }

  .comment-title {
    .comment-title-avatar{
      width: 29px;
      height: 29px;
    }
    .no-avatar {
      background: url(../../../oroui/img/info-user.png);
      background-size: 29px 29px;
    }
  }

  .comment-body{
    display: block;
    color: #444;
    word-wrap: break-word;
  }
  .comment-attachments {
    margin: 0.5em 0 0 0;
    .thumbnail {
      width: 110px;
      height: 80px;
      padding:0;
      text-align: center;
      background: #eeeeee;
      border-radius: 6px;
      border:none;
      @media only screen and (max-width: 500px) {
        display: none; //hide thumbnails on mobile
      }
      .fa {
        padding-top: 20px;
        color: #fff;
      }
    }
    .link-to-record {
      padding-top: 10px;
      .dropdown-toggle {
        display: inline-block;
        &:focus {
          font-weight: normal;
        }
      }
      .dropdown-menu {
        white-space: nowrap;
        padding: 5px 15px;
        a {
          span {
            margin-left: 7px;
            color: #777;
          }
          &:hover {
            span {
              color: #777;
            }
          }
        }
        .view-image {
          display: none;
        }
        @media only screen and (max-width: 500px) {
          a {
            display: block;
            text-align: left;
          }
          .view-image {
            display: block;
          }
        }
      }
      .fa {
        color: #444;
        font-size: 15px;
        margin-right: 1px;
        margin-left: 0;
      }
    }
  }

  .attachment-icon.accordion-toggle {
    display: none;
    &.collapsed {
      display: inline-block;
    }
  }
}

.ui-dialog .comment-form textarea, .ui-dialog .comment-form .mce-tinymce {
  width: 100%;
  box-sizing: border-box;
}
