/* @theme: admin.demo; */

.main-menu-top {
    background-color: $menu-background-color;

    .dropdown-menu {
        background-color: $menu-dropdown-background-color;
    }

    .title {
        color: $menu-item-text-color;

        &-level-1 {
            color: $menu-item-first-level-text-color;
        }
    }

    .dropdown {
        &-level-1 {
            &.active {
                background-color: $menu-dropdown-background-color-active;

                .title-level-1 {
                    color: $menu-item-first-level-text-color-active;
                }
            }

            // Open menu
            &:hover {
                .title {
                    &:hover {
                        background: $menu-background-color-active;
                    }

                    &-level-1 {
                        background-color: $menu-dropdown-background-color;
                        color: $menu-item-text-color;
                        &::after {
                            background: $menu-dropdown-background-color;
                        }

                        &:hover {
                            background-color: $menu-dropdown-background-color;
                        }
                    }
                }
            }
        }
    }

    .menu-level-1 {
        .align-menu {
            &-left,
            &-right {
                .unclickable {
                    &::before,
                    &::after {
                        color: $menu-item-text-color;
                    }
                }
            }
        }
    }
}
