/* @theme: admin.demo; */

.side-menu-overlay {
    &__search-icon {
        color: $menu-item-text-color;

        &--interactive {
            &:hover,
            &:focus {
                color: $menu-full-screen-button-color;
            }
        }
    }

    &__button {
        color: $menu-full-screen-button-color;

        &:hover,
        &:focus {
            color: $menu-minimized-item-first-level-text-color-active;
        }
    }

    &__fill::after {
        background-color: $menu-dropdown-background-color;
    }

    &__fill-blur::after {
        background-color: $menu-dropdown-background-color;
    }

    &__fill-blur-inner::after {
        background-color: rgba($primary-inverse, .5);
    }

    .menu-item {
        &:not(.ui-helper) {
            &:after {
                background-color: $menu-item-first-level-text-color;
            }
        }
    }

    .title {
        color: $menu-full-screen-title-color;

        &:hover,
        &:focus {
            background-color: $menu-background-color-active;
        }
    }

    .active {
        .title {
            background-color: $menu-background-color-active;
        }
    }

    .highlight {
        background-color: $menu-item-text-highlight-color;
    }
}
