# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\AttachmentBundle\Migration\SetUUIDFieldOfFileEntityQuery:
            executeQuery:
                query: true
