# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\AttachmentBundle\Migration\SetUUIDFieldOfFileEntityQuery:
            executeQuery:
                query: true
        Oro\Bundle\AttachmentBundle\Command\CleanupAttachmentFilesCommand:
            loadExistingAttachments:
                params: true
        Oro\Bundle\AttachmentBundle\Api\Processor\BuildMultiFileSubresourceQuery:
            process:
                parentEntityClass: true
                associationName: true
    safe_methods:
        Oro\Bundle\AttachmentBundle\Command\CleanupAttachmentFilesCommand:
            getTemporaryTableName: true
            getCreateTemporaryTableSql: true
            getCreateTemporaryTableIndexSql: true
            getDeleteTemporaryTableSql: true
