.tags-view-form-container {
  margin-top: -3px;
}
.tags-container {
  clear: both;
}
.tags-container__tag-entry {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 6px;
  display: block;
  float: left;
}
.tags-container__tag-entry_is-my {
  border-color: #ccccdd;
  background: #fafaff;
}