html {
    height: 100%;
}
body {
    font-size: 13px;
    line-height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    min-height: calc(100% - 16px);
    margin: 8px;
}
body[contenteditable="false"] {
    cursor: not-allowed;
    background-color: #eee;
}
.email-prev-body {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #000000;
}
