body {
    font-size: 13px;
    line-height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    min-height: 100px;
}
.email-prev-body {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #000000;
}
