<ul class="inline tag-list">
<% _.each(models, function(tag, i) { %>
    <li data-id="<%= tag.get('id') %>">
        <span class="label label-info">
            <%- tag.get('name') %>
            <% if ((options.filter === 'owner' && options.unassign) ||
                (options.filter !== 'owner' && options.unassignGlobal)) { %>
                <span class="select2-search-choice-close" data-action="remove-tag" />
            <%} %>
        </span>
    </li>
<%}) %>
<% if (models.length == 0) { %>
    <li class="not-tagged-message"><%= _.__('Not tagged') %></li>
<%} %>
</ul>
