/* @theme: admin.oro; */

$workflow-permission-grid-header-cell-width: 514px;
$workflow-permission-grid-entity-name-width: 506px;

$workflow-permission-grid-permission-offset: 30px;
$workflow-permission-grid-permission-inner-offset: 12px 0 11px;
$workflow-permission-grid-permission-border: 1px solid $primary-860;

$workflow-permission-grid-field-name-offset: 10px;

$workflow-permission-grid-item-width: 46%;
$workflow-permission-grid-label-width: 200px;
$workflow-permission-grid-toggle-width: 90px;

$workflow-permission-grid-header-cell-width-lg: 408px;
$workflow-permission-grid-entity-name-width-lg: 400px;

$workflow-permission-grid-item-width-lg: 50%;
$workflow-permission-grid-label-width-lg: 160px;
$workflow-permission-grid-toggle-width-lg: 60px;

$workflow-permission-grid-header-cell-width-md: 268px;
$workflow-permission-grid-entity-name-width-md: 260px;

$workflow-permission-grid-label-width-md: 160px;
$workflow-permission-grid-toggle-width-md: 60px;

$workflow-permission-grid-item-width-sm: 50%;

$workflow-permission-grid-header-cell-width-xs: 208px;
$workflow-permission-grid-entity-name-width-xs: 200px;
