{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block linkElement %}
    {% if item.extras is defined and item.extras.function is defined %}
        {% set itemAttributes = itemAttributes|merge({'data-function': item.extras.function })%}
    {% endif %}
    <a href="{{ item.uri }}"{{ oro_menu.attributes(itemAttributes) }}>{{ block('label') }}</a>
{% endblock %}
