/* @theme: default; */

.select2-container {
    display: inline-block;
    width: 100%;
    padding: 0;

    background: $select2-container-background;

    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-ui-element-line-height;

    border: $select2-container-border;
    border-radius: $select2-container-border-radius;

    outline: none;

    vertical-align: middle;

    @include element-state('hover') {
        border-color: $input-border-color-hover-state;
    }

    // Select2 might be initialized on input element
    &.input {
        padding: 0;
    }

    .form-horizontal & {
        width: auto;
    }

    .select2-choice {
        position: relative;

        display: flex;
        padding: $select2-container-size-l;

        text-decoration: none;

        color: $select2-container-color;

        white-space: nowrap;

        overflow: hidden;

        user-select: none;

        .select2-arrow {
            position: absolute;
            top: $select2-arrow-top;
            right: $select2-arrow-right;
            transform: translateY(-50%);

            height: $select2-arrow-size;
            width: $select2-arrow-size;

            background: $select-bg-url;
        }

        span {
            display: block;

            overflow: hidden;

            white-space: nowrap;

            text-overflow: ellipsis;
        }

        .select2-chosen-extra {
            padding-inline-end: $select-inline-label-gap;
            color: $select-inline-label-color;
            overflow: initial;
        }
    }

    .select2-chosen {
        max-width: inherit;
    }

    &.error {
        border-color: $select2-container-border-color;
        color: $select2-container-color;
    }

    // Open select
    &.select2-container-active {
        border-color: $select-border-color-focus-state;
        box-shadow: $base-ui-element-focus-visible-style;
    }

    &.select2-dropdown-open {
        .select2-arrow {
            background: $select-bg-open-url;
        }
    }

    &.select2-container-disabled {
        pointer-events: none;

        .select2-choice {
            background-color: $select2-container-disabled-choice-background-color;
            cursor: default;
        }
    }

    &.select2-chosen-slash-prefix {
        .select2-chosen::before {
            content: '/';
        }
    }

    // Hide select2 if its select is invisible
    &:has(~ .select.invisible) {
        display: none;
    }
}

.select2-drop {
    position: absolute;
    z-index: z('popup') + 100;

    width: auto;
    margin-top: spacing('xs');
    padding: spacing('sm') 0;

    background-color: $select2-drop-background-color;
    border-radius: $select2-drop-border-radius;
    box-shadow: $select2-drop-box-shadow;

    .select2-highlighted,
    .select2-result.active {
        position: relative;

        background-color: $select2-drop-result-active-background-color;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $select2-drop-result-active-size-before;
            border-radius: $select2-drop-result-active-border-radius;
            background-color: $select2-drop-result-active-bg-color-before;
        }
    }

    &.select2-drop-auto-width {
        width: auto;
    }

    &.select2-drop-above {
        border-bottom-color: transparent;
        box-shadow: $select2-container-drop-above-box-shadow;

        margin-top: - spacing('xs');
    }
}

.select2-search {
    position: relative;

    padding: spacing('sm') spacing('base') spacing('base');
}

.select2-input {
    width: 100%;

    font-size: $base-font-size;
    line-height: $base-ui-element-line-height;

    border: $select2-container-input-border;
    border-radius: $select2-container-border-radius;

    margin: 0;
    padding: $select2-container-input-inner-offset;

    @include element-state('hover') {
        border-color: $input-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $input-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $input-border-color-error-state;
        background-color: $input-bg-color-error-state;
    }
}

.select2-input-single {
    background: $input-search-icon;
    padding-left: $base-ui-element-icon-size;
}

.select2-no-results,
.select2-searching {
    padding: 0 spacing('base') 0;
}

.select2-result-label {
    display: block;
    padding: $select2-result-label-padding;

    line-height: $base-ui-element-line-height;

    white-space: nowrap;
}

.select2-drop-undermask,
.select2-drop-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('popup') + 99;
}

.select2-results {
    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;

    list-style: none;

    .select2-result-selectable {
        cursor: pointer;
    }

    .select2-disabled {
        background: $select2-results-disabled-background;
        display: list-item;
        cursor: default;
    }

    .select2-selected {
        display: $select2-results-selected-disabled-display;
    }
}

.select2-more-results {
    background: $select2-more-results-background;
    padding: $select2-result-label-padding;
}

.select2-offscreen,
.select2-offscreen:focus {
    /* stylelint-disable declaration-no-important */
    position: absolute !important;
    left: 0;

    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    /* stylelint-enable declaration-no-important */

    border: none;

    overflow: hidden;

    outline: 0;

    clip: rect(0 0 0 0);
}

.select2-display-none {
    display: none;
}

@include breakpoint('mobile') {
    .select2-result-label {
        white-space: normal;
    }
}
