/* @theme: default; */

.select2-container-multi {
    --select-arrow-position: #{$select2-container-multi-arrow-position};

    background: $select-bg;

    .select2-choices {
        position: relative;

        padding: $select2-container-multi-size-l;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        margin: 0;

        cursor: text;

        overflow: hidden;

        list-style: none;
    }

    .select2-search-field {
        display: flex;
        margin: 0;
        padding: $select2-container-multi-search-padding;

        white-space: nowrap;
    }

    .select2-search-choice {
        position: relative;

        padding: $select2-container-multi-choice-padding;
        display: flex;
        gap: $select2-container-multi-choice-gap;
        align-items: center;

        border-radius: $select2-container-multi-choice-border-radius;
        line-height: $base-ui-element-line-height;
        background-color: $select2-container-multi-search-choice-bg-color;
        cursor: default;
        user-select: none;
        word-wrap: break-word;
    }

    .select2-chosen {
        cursor: default;
    }

    .select2-input {
        display: inline-flex;
        align-self: center;

        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        outline: none;
    }

    .select2-search-choice-close {
        flex-shrink: 0;
        width: $select2-container-multi-choice-close-size;
        height: $select2-container-multi-choice-close-size;
        color: $select2-container-multi-choice-close-color;
        background: $select2-container-multi-choice-close-background;

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &.select2-dropdown-open {
        background: $select-bg-open;
    }
}
