.calendar-container {
    position: relative;
    padding-right: 10px;
}

.calendar-container .timeline-marker {
    position: absolute;
    left: 65px;
    border: none;
    border-top: 2px solid #FF5E5E;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 500;
}

.calendars .connection-item, .calendars > form{
    padding-left: 10px;
}

.calendars li .calendar-color {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 2px 10px 0 0;
    float: left;
    cursor: pointer;
}
.calendars form .control-group {
    padding-top: 5px;
}

.calendars form .control-label {
    display: none;
}

.calendars form .input-append {
    display: block;
}

.calendars form .select2-container {
    width: 85%;
}

.calendar-container .fc-state-default {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #fcfcfc, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #efefef);
    background-image: -o-linear-gradient(top, #fcfcfc, #efefef);
    background-image: linear-gradient(to bottom, #fcfcfc, #efefef);
    background-repeat: repeat-x;
    border-color: #aeaeae;
    color: #666;
    font-weight: bold;
    text-transform: capitalize;
}
.fc-corner-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.fc-corner-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.calendar-container .fc-view-container {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.calendar-container .fc-state-hover,
.calendar-container .fc-state-down,
.calendar-container .fc-state-active,
.calendar-container .fc-state-disabled {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.calendar-container .fc-state-active {
    background-color: #003399 \9;
}
.calendar-container .fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.calendar-container .fc-button {
    position: relative;
    display: inline-block;
    padding: 0 .6em;
    overflow: hidden;
    height: 30px;
    line-height: 27px;
    white-space: nowrap;
    cursor: pointer;
}

.calendar-container .fc-state-hover {
    color: #333333;
    background: #f7f7f7;
    text-decoration: none;
    background-position: 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.calendar-container h2 {
    font-size: 18px;
    line-height: 30px;
}

#calendar {
    border-top: 1px solid #f2f2f2;
    background-color: #f6f6f6;
}

#calendar .calendar-container {
    padding-top: 15px;
}

.calendar-container .fc-event-title {
    font-weight: bold;
}

.calendar-container .fc-event {
    font-size: 12px;
    line-height: 14px;
    padding: 1px 0 1px 2px;
    border-radius: 2px;
}

.calendar-container .fc-time {
    overflow: hidden;
}

.calendar-container .fc-day-grid-event .fc-time {
    font-weight: normal;
}

.calendar-container .fc-event i.icon {
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 3px;
}

.calendar-container .fc-widget-header {
    color: #777;
    font-weight: bold;
}

.calendars .controls {
    margin-right: 8px;
    margin-top: 5px;
}
.calendar-connections .context-menu-button {
    display: none;
}
.mobile-version .calendar-connections .context-menu-button {
    display: block;
}

.calendar-connections .connection-item:hover .context-menu-button {
    display: block;
}
.calendar-connections .connection-item a.context-menu-button:focus {
    outline: none;
}
.calendar-connections .un-color {
    background-color: #f6f6f6;
    border: 1px solid #AEAEAE;
}

.connection-item .simplecolorpicker.inline {
    padding: 3px 13px;
    max-width: 170px;
}

.connection-item .custom-color:after {
    content: '\00a0\00a0\00a0\00a0';
}

.connection-item .custom-color[data-selected]:after {
    font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
    content: '\f00c';
    position: absolute;
    top: -2px;
    left: 2px;
}

.fc-content.invitation-status-declined {
    text-decoration: line-through;
}

i.invitation-status {
    font-size: 11px;
    float: left;
    margin: 1px 4px 0 1px;
    line-height: 13px;
}
i.invitation-status.icon-question-sign {
    font-size: 13px;
    margin: 0 4px 0 1px;
}
.fc-time-grid-event .fc-resizer {
    display: none;
}
.fc-time-grid-event:hover .fc-resizer {
    display: block;
}
.fc-short .fc-content{
    margin: 2px 0;
}

.fc-time-grid-event .fc-time {
    line-height: 12px;
}

.fc-time-grid-event.fc-short .fc-time {
    line-height: 14px;
}

.calendar-dashboard-widget {
    margin-top: 10px;
}

.calendar-dashboard-widget .fc-toolbar {
    display: none;
}

.reminder-status {
    float: right;
    margin-top: 1px;
}

.fc-event:hover {
    /* less than 900 - popups z-index */
    z-index: 500 !important;
}
.connection-menu-container {
    margin-right: 5px;
}
.connection-menu-container > .dropdown-menu {
    display: block;
}

.form-horizontal .control-group .controls .recurrent-event-notifier {
    padding-top: 14px;
}

.calendar-event-guests-widget {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-left: 5px;
}

.calendar-event-guests-widget:hover {
    width: auto;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}
