{% extends bap.layout %}

{% oro_title_set({params : {"%name%": "oro.dashboard.title.not_found"|trans }}) %}

{% block content %}
    <div class="layout-content dashboard-contailer">
        <div class="container-fluid page-title">
            <div class="navigation clearfix navbar-extra navbar-extra-right">
                <div class="row">
                    {% block title %}
                        <div class="pull-left pull-left-extra">
                            <div class="pull-left">
                                <h1 class="oro-subtitle">{{ 'oro.dashboard.no_one_available'|trans }}</h1>
                            </div>
                        </div>
                    {% endblock title %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
