// Bootstrap - Buttons
.btn-group {
  & > .btn,
    .btn.disabled,
    .btn[disabled],
    .btn.disabled:active,
    .btn[disabled]:active {
    font-size:@baseFontSize;
  }
  & > .btn-small {
    font-size: @fontSizeSmall;
  }
  & > .btn-mini {
    font-size: @fontSizeMini;
  }
}
.btn {
  height: 28px;
  line-height: 26px;
  font-size: 14px;
}
.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.ui-datepicker .ui-datepicker-buttonpane button {
  .border-radius(@baseBtnBorderRadius);
  padding: 0 12px;
  font-weight:bold;
  background-repeat: none;
  display: inline-block;
  #gradient > .vertical(#fdfdfd, #efefef);
  color: #666;
  box-shadow: none;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color: #666;
  #gradient > .vertical(#fdfdfd, #f5f5f5);
}
.btn:active {
  #gradient > .vertical(#e7e7e7, #f2f2f2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-small {
  height: 24px;
  line-height: 24px;
  font-size: @baseFontSize;
}
.btn-large {
  font-size: 15px;
  min-width: 90px;
  padding: 0 20px;
  height: 34px;
  line-height: 32px;
  font-weight: bold;
}
.btn-mini {
  height: 22px;
  line-height: 20px;
  font-size: 11px;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: 0px;
  font-size: 13px;
}
.btn-uppercase {
  text-transform: uppercase;
}
.btn-primary {
  .border-radius(4px);
  .box-shadow(inset 0 1px 0 0 #9cbcf1);
  #gradient > .vertical(#80a8e7, #5281cc);
  border: 1px solid;
  border-color: #5e7eb0 #546d92 #485670 #546d92;
  text-shadow: 0px 1px 0px #386e9f;
  color: #fff;
  font-weight: bold;
  &:hover {
    #gradient > .vertical(#739cdc, #5281cc);
    .box-shadow(inset 0 1px 0 0 #7fa6e5);
    color: #fff;
  }
  &:active,
  &:focus {
    #gradient > .vertical(#739cdc, #3061af);
    .box-shadow(inset 0 1px 4px 0 #3962a3);
    color: #fff;
  }
  &[disabled] {
    &,
    &:hover,
    &:active,
    &:focus{
      background-color: #0044cc;
      color: #fff;
      background-image: none;
      .box-shadow(none);
    }
  }
}
.btn .caret {
  margin-top: 13px;
}

/* .btn-danger */
.btn-danger {
  background-color: #f35e3c;
  #gradient > .vertical(#f35e3c, #d42f13);
  border-color: #c2270d #c2270d #c2270d;
  color:#fff;
  text-shadow: none;
}
.btn-danger:hover {
  background-color: #f66952;
  #gradient > .vertical(#f66952, #e53d20);
  color: #fff;
}
.btn-danger:focus,
.btn-danger:active {
  background-color: #c22b11;
  #gradient > .vertical(#c22b11, #f35d3b);
  border-color: #9c220d #c2270d #c2270d;
  color: #fff;
}

/* .btn-success */
.btn-success {
  background-color: #4fae0d;
  #gradient > .vertical(#82ce20, #57ac0b);
  border-color: #49982b #3b8d1c #267507;
  color:#fff;
  text-shadow:0 1px 0 #3b8d1c;
}
.btn-success:hover {
  background-color: #8cd42f;
  #gradient > .vertical(#8cd42f, #49982b);
  color: #fff;
}
.btn-success:focus,
.btn-success:active {
  background-color: #369511;
  #gradient > .vertical(#369511, #55ad34);
  color: #fff;
}

/* .btn-warning */
.btn-warning {
  background-color: #ffb322;
  #gradient > .vertical(#ffb322, #d7920b);
  border-color: #d7920b #dc9f28 #d7920b;
  text-shadow: none;
}
.btn-warning:hover {
  background-color: #fdc247;
  #gradient > .vertical(#fdc247, #f88f1d);
  color: #fff;
}
.btn-warning:focus,
.btn-warning:active {
  background-color: #e47c0a;
  #gradient > .vertical(#e47c0a, #f9a913);
  border-color: #c56a09 #d7920b #d7920b;
  color: #fff;
}

/* .btn-info */
.btn-info {
  background-color: #5bc0de;
  #gradient > .vertical(#5bc0de, #2f96b4);
  border-color: #5bc0de #5bc0de #2f96b4;
}
.btn-info:hover {
  background-color: #2f96b4;
  #gradient > .vertical(#2f96b4, #5bc0de);
  color: #fff;
}
.btn-info:focus,
.btn-info:active {
  background-color: #2f96b4;
  #gradient > .vertical(#2f96b4, #5bc0de);
  border-color: #2f96b4 #5bc0de #5bc0de;
  color: #fff;
}
.btn-group.open .btn-primary.dropdown-toggle {
  #gradient > .vertical(#5680c2, #6b94d4);
  border-color: #3f5e8e #527ac0 #527ac0;
}

/* .btn-link */
.btn.btn-link {
  .border-radius(0);
  border:none;
  background:none;
  padding:0;
  font-weight:normal;
  text-decoration:underline;
}
.btn-group+.btn-group { margin-left:8px; }
.btn-group > .dropdown-menu li a {
  padding-top:1px;
  padding-bottom:1px;
  font-size:12px;
  color:@bodyColor;
  text-shadow:none !important;
  &:hover {
    background:#3875d7;
    color:#fff;
  }
}

.btn.process{
  position: relative;
  &:after {
    content: '';
    background: transparent url('../../img/loader.gif') no-repeat center left;
    position: absolute;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    right: -20px;
    top: 50%;
    margin-top: -6px;
  }
}
/* button inside dropdown-menu */
.title-buttons-container {
  .dropdown-menu {
    left: initial;
    right: 0;
    min-width: 100%;
    li a, li button {
      &:hover, &:hover [class^=icon-]:before {
        background: #3875d7;
        color: #fff;
      }
      &:focus, &:focus [class^=icon-]:before {
        background: #f3f3f3;
        color: #006acc;
      }
      &:active, &:active [class^=icon-]:before {
        color: #444;
      }
    }
    li button {
      padding: 2px 12px;
      display: block;
      clear: both;
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
      background-color: inherit;
      border: none;
      margin: 0;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: normal;
    }
  }
  .dropdown-toggle{
    .caret {
      margin-left: 0;
    }
  }
}
/* button inside dropdown-menu:end */
