.custom-checkbox {
  &__input {
    position: relative;
    z-index: -9999;

    &:checked + span {

      &:before {
        color: #48acfd;
        content: '\f046';
      }
    }
  }

  &__text {
    background-image: none;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    margin: 1px 0 0 -14px;


    &:before {
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 18px;
      margin-right: 3px;
      color: #a8a8a8;
      content: '\f096';
      width: 18px;
    }
  }
}
