@sidebarHeaderHeight: 31px;
@sidebarHorizontalPadding: 12px;
@sidebarWidth: 320px;
@sidebarMinimizedWidth: 33px;
@sidebarBorderColor: #f2f2f2;
@sidebarMinHeight: 90vh;

@sidebarContentMinWidth: 288px;

.content-with-sidebar {
    &--sidebar {
        position: absolute;
        border: 1px solid @sidebarBorderColor;
        width: @sidebarWidth;
        overflow: auto;
        background: #fff;

        &.content-sidebar-minimized {
            padding-left: 0;
            width: @sidebarMinimizedWidth;
        }
    }

    &--sidebar-content,
    &--header-content {
        .content-sidebar-minimized & {
            display: none;
        }
    }

    &--header {
        border-bottom: 1px solid @sidebarBorderColor;
        height: @sidebarHeaderHeight;
        padding: 5px @sidebarHorizontalPadding 4px;
        margin-bottom: @sidebarHorizontalPadding;
    }

    &--controls {
        float: right;
        text-align: right;
    }

    &--control {
        height: 20px;
        width: 20px;
        display: inline-block;
        cursor: pointer;

        i {
            font-size: 8px;
            padding: 6px 0 0 0;
            display: block;
        }
    }

    &--minimize {
        display: none;

        .content-sidebar-maximized & {
            display: block;
        }
    }

    &--maximize {
        display: none;

        .content-sidebar-minimized & {
            display: block;
        }
    }

    &--content {
        margin-left: @sidebarWidth;
        min-width: @sidebarContentMinWidth;

        &.content-sidebar-minimized {
            margin-left: @sidebarMinimizedWidth;
        }

        .placeholder {
            background-color: #f1f1f1;

            .content {
                padding: @contentPadding @contentPadding 0;
            }
        }

        .responsive-section {
            margin: 0 -@contentPadding;
            padding-right: @contentPadding;

            .form-horizontal {
                padding: @contentPadding 0;
            }
        }
    }

    &--sidebar {
        .sidebar-items {
            padding: 0 @sidebarHorizontalPadding;
        }
    }

}

.mobile-version .content-with-sidebar {
    &--container {
        margin-top: -10px;
        .safe-area-padding(0);

        .scrollspy.container-fluid {
            margin-top: 0;
        }
    }
    &--sidebar {
        max-width: @sidebarWidth;
        min-height: @sidebarMinHeight;
        overflow: visible;

        &.content-sidebar-maximized {
            width: 100%;
        }
    }
}
