@import "../mixins";
// PER PAGE
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family:@baseFontFamily !important;
}
.ui-datepicker {
  .ui-datepicker-calendar{
    .ui-state-default {
      background:none;
      font-size: 13px;
      border: 1px solid transparent;
      color: #727272;
      min-width: 30px;
    }
  }
}
.ui-datepicker,
.dropdown-menu-calendar .ui-datepicker {
  .ui-datepicker-calendar{
    thead{
      th{
        span{
          text-transform: uppercase;
          color: #6184ac;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .ui-datepicker-prev a{
    .ui-icon-circle-triangle-w{
      background-position: -95px 0;
    }
  }
}
body {
  .ui-datepicker{
    width: auto;
    border: 0 !important;
    padding: 0;
    &.ui-corner-all{
      background: none;
    }
    .ui-datepicker-buttonpane{
      border: 0;
      margin-top: 0;
      text-align: center;
    }
    .ui-datepicker-calendar{
      tbody tr:hover{
        background: none;
      }
      .ui-datepicker-today{
        a.ui-state-default{
          border-color: lighten(#ccc, 10%);
          &:hover{
            border-color: #ccc;
          }
        }
      }
      a.ui-state-default{
        background:none;
        font-size: 13px;
        color: #727272;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        &.ui-state-active,
        &:hover{
          #gradient > .vertical(#ffffff, #fafafa);
          border-color: #ccc;
        }
        &.ui-state-active {
          color: black;
          font-weight: bold;
        }
      }
    }

    .filter-criteria .dropdown-menu {
      a:hover{
        #gradient > .vertical(#80a8e7, #5281cc);
      }
    }
    .ui-datepicker-header{
      #gradient > .vertical(#ffffff, #f8f8f8);
      border: solid #dedede;
      border-width: 0 0 1px;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 5px 0;
    }
    .ui-widget-header{
      .ui-datepicker-month{
        margin-right: 3px;
        margin-bottom: 0 !important;
      }
      .ui-datepicker-year{
        margin-bottom: 0 !important;
      }
      .ui-icon-circle-triangle-w{
        background-position: -95px 0;
        margin-left: -10px;
      }
      .ui-icon-circle-triangle-e{
        background-position: -32px 0;
      }
      .ui-datepicker-next,
      .ui-datepicker-prev{
        top: 6px;
        border: 1px solid transparent;
        -webkit-border-radius: 2px;
        border-radius: 2px;
      }
      .ui-datepicker-next {
        right: 4px;
      }
      .ui-datepicker-prev {
        left: 4px;
      }
      .ui-datepicker-next-hover{
        top: 6px;
        right: 4px;
        background-color: #ffffff;
        background-image: none;
        border-color: #dfdfdf;
      }
      .ui-datepicker-prev-hover{
        top: 6px;
        left: 4px;
        background-color: #ffffff;
        background-image: none;
        border-color: #dfdfdf;
      }
    }
  }
  .ui-datevariables-div {
    &,.popover{
      // must match datepicker width
      width: 224px;
    }
    padding: 14px 15px 10px;
    ul{
      color: #006cc6;
      margin: 5px 0 0 15px;
      li{
        margin: 1px 0 2px;
        a{
          color: #006cc6;
          &:hover{
            background: none;
            color: #006cc6;
            text-decoration: underline;
          }
        }
      }
    }
  }
  ul.nav-tabs-oro{
    display: table;
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: 0;
    min-height: 35px;
    .ui-datepicker-header{
      border-top: 0;
      padding-top: 7px;
    }
    &  > li{
      display: table-cell;
      min-width: 50%;
      > a {
        -webkit-border-radius: 0;
        border-radius:0;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: #eee #eee #ddd;
        display: block;
        background: #efefef;
        padding: 8px 0 5px;
        margin: 0;
        text-align: center;
        color: #b1b1b1;
        &:hover{
          color: #b1b1b1;
          background: #efefef;
          text-decoration: none;
          cursor: pointer;
        }

        &.calendar:before,
        &.variables:before{
          font-family: 'FontAwesome';
          font-size: 14px;
          margin-right: 6px;
          display: inline-block;
          vertical-align: middle;
          top: -1px;
          position: relative;
        }
        &.calendar:before{
          content: "\f073";
        }
        &.variables:before{
          content: "\f0ca";
        }
      }
      &.active a {
        &, &:hover, &:focus {
          border-width: 0 1px 1px 1px;
          color: #6d6d6d;
          background: #fff;
        }
      }
      &:first-child a,
      &.active:first-child a {
        &, &:hover, &:focus {
          border-left: 0;
        }
      }
      &:last-child a,
      &.active:last-child a {
        &, &:hover, &:focus {
          border-right: 0;
        }
      }
    }
  }
}
.dropdown-menu-calendar{
  padding: 0;
  .border-radius(0 0 3px 3px);
}
body .ui-datepicker{
  &.ui-widget.ui-widget-content{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  }
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  .border-radius(4px);
  border: 1px solid;
  font-weight: bold;
  height: 26px;
  &[disabled] {
    &,
    &:hover,
    &:active,
    &:focus{
      background-image: none;
      .box-shadow(none);
    }
  }
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
  // close button is not in use
  display: none;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
  float: none;
  display: inline-block;
  .box-shadow(none);
  #gradient > .vertical(#fdfdfd, #efefef);
  border-color: rgba(0,0,0,0.25);
  border-bottom-color: #b3b3b3;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
  color: #666;
  &:hover,
  &:active,
  &:focus {
    #gradient > .vertical(#fdfdfd, #f5f5f5);
    .box-shadow(none);
    color: #666;
  }
  &[disabled] {
    &,
    &:hover,
    &:active,
    &:focus{
      background-color: #f7f7f7;
      color: #666;
    }
  }
}
.fields-row {
  .datepicker-input + .timepicker-input {
    margin-left: 5px;
  }
}
.datefilter{
  display: inline-block;
}
.ui-timepicker-input {
  width: 4.5em;
}
.ui-timepicker-input:first-child {
  margin-left: 0;
}
.ui-timepicker-div{
  border: solid #f3f3f3;
  border-width: 1px 0;
  padding: 0 12px;
  dt{
    font-weight: normal;
  }
  dl{
    margin: 12px 0 20px;
  }
  .ui-slider {
    &.ui-widget-content{
      overflow: visible;
    }
    .ui-slider-handle{
      background: #666;
      width: 16px;
      height: 16px;
    }
  }
}
.ui-datepicker .ui-timepicker-div dl dd{
  line-height: 14px;
}
.hasDatepicker.tab-pane{
  overflow: hidden;
}
body > .ui-datepicker.ui-widget.ui-widget-content{
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
