[data-drop-secondary-location="left"] {
  & > .dropdown-menu, & + .dropdown-menu {
    left: auto;
    right: 0;
  }
}
.dropup-area {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: 4px solid @black;
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}
