footer.footer{
  position: fixed;
  bottom: 0;
  .alert{
    margin: 0;
    -webkit-border-radius: 0;
    border-radius:0;
    border: solid #2b343e;
    border-width: 1px 0 0;
    #gradient > .vertical(#313a45, #313a45);
    text-shadow: none;
    text-align: left;
    padding: 10px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    .actions{
      float: right;
      .btn-close{
        float: left;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
