// ie, chrome, safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// firefox
input[type=number] {
  -moz-appearance:textfield;
}

.alert .message ul:last-child {
  margin-bottom: 0;
}
