.form-description {
    margin-bottom: 50px;
    padding: 0 45px;

    &__logo {
        margin-bottom: 40px;
        padding: 0 70px;
    }

    &__logo-img {
        display: block;
    }

    &__main {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        color: #565656;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        text-align: center;
        color: #878789;
    }
}
