/* Login + Forgot Password */
.login-page {
  background: #f7f7f7;
  height: 100%;
  min-height: 280px;
  #page{
    position: relative;
    top: 50%;
    #top-page{
      position: relative;
      margin: -135px 0 0;
    }
  }
}
.form-signin {
  margin: 0 auto;
  max-width: 400px;
  padding: 0;
  background: #fff;
  border: 0;

  .border-radius(5px);
  .box-shadow(0 1px 4px rgba(0,0,0,.065));
  .title-box {
    overflow: hidden;
    padding:10px 18px;
    color: #fff;
    .border-radius( 5px 5px 0 0);
    #gradient > .vertical(#47505a, #353d45);
    .divider-vertical {
      float: left;
      background: url("../../img/vertical-divider.png") no-repeat;
      width: 2px;
      height: 28px;
      margin: 0 10px 0;
    }
    .oro-title {
      float: left;
      font-size: 22px;
      line-height: 28px;
      margin: 0;
      text-shadow: 1px 1px 1px #000000;
      a {
        color: #fff;
      }
    }
    .title {
      font: 20px/28px @baseFontFamily;
      margin: 0;
      text-shadow: 1px 1px 1px #000000;
    }
  } // Ends .title-box
  .add-on {
    width:95px;
    height: 36px;
    font: bold 14px/36px @baseFontFamily;
    color: #5b636d;
    #gradient > .vertical(#dde0e3, #d2d7db);
    padding:0 10px;
  }
  input[type="text"],
  input[type="password"] {
    height: 16px;
    font: 14px/16px @baseFontFamily;
    color: #000;
    padding: 9px 10px;
    width: 205px;
    border-left-color:#ccc;
    &:-ms-input-placeholder {
      color:#999
    }
  }
  .forgot-pass {
    float: left;
    font-weight: bold;
    margin: 9px 10px 0 0;
  }
  .oro-forgot-password {
    padding: 30px 33px;
    #prependedInput {
      width: 310px;
    }
  }
  .oro-remember-me {
    margin-bottom: 10px;
  }
  .extra-btn-large {
    height: 32px;
    line-height: 32px;
    min-width: 95px;
    float: left;
  }
  .extra-submit {
    float: right;
  }
  fieldset {
    border: solid @navbarBorder;
    border-width: 0 1px 1px 1px;
    padding: 30px 38px;
    background: #fff;
    .border-radius(0 0 5px 5px);
  }
}
