/* footer bar */
.sf-toolbar{
  position: absolute;
  bottom: 0;
  .sf-toolbarreset{
    /* something close to max possible z-index (assume it is stored in 32 bit signed int) */
    z-index: 2000000000;
    background-color: #313a45;
    border-top: 1px solid #1a1a1a;
    #gradient > .vertical(#313a45, #313a45);

    & > .sf-toolbar-block{
      border-right: 1px solid #13161a;
      border-left: 1px solid #424951;
      border-bottom-color: #424951;
      &:hover{
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-bottom-color: #bbb;
      }
    }
    & > .hide-button{
      background: none;
      color: #ccc;
      &:before{
        content: "\f147";
        font: 18px 'FontAwesome';
        text-align: center;
        display: inline-block;
        width: 100%;
        padding-top: 12px;
      }
      &:hover {
        background: white;
        color: #333E48;
      }
    }
  }
  .sf-toolbar-block .sf-toolbar-icon > a,
  .sf-toolbar-block .sf-toolbar-icon > a:link{
    color: #dfe9f6 !important;
  }
  .sf-toolbar-block {
    .sf-toolbar-icon {
      img, svg {
        filter: invert(100%) opacity(80%);
        -webkit-filter: invert(100%) opacity(80%);
        -moz-filter: invert(100%) opacity(80%);
        -o-filter: invert(100%) opacity(80%);
        -ms-filter: invert(100%) opacity(80%);
      }
    }
  }
  .sf-toolbar-block:hover {
    .sf-toolbar-icon {
      img, svg {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
      }
    }
  }
  .sf-toolbar-block:hover .sf-toolbar-icon *,
  .sf-toolbar-block:hover .sf-toolbar-icon > a,
  .sf-toolbar-block .sf-toolbar-icon > a:hover{
    color: #444 !important;
  }
  .sf-toolbar-block{
    .active-icon{
      display: inline-block !important;
    }
    .hover-icon{
      display: none;
    }
    .sf-toolbar-icon{
      color: #dfe9f6;
    }
    &:hover{
      .active-icon{
        display: none !important;
      }
      .hover-icon{
        display: inline-block;
      }
      margin: 0;
      .sf-toolbar-icon{
        .sf-toolbar-status{
          abbr{
            color: #dfe9f6 !important;
          }
        }
      }
    }
    .sf-toolbar-info,
    &:hover .sf-toolbar-info{
      color: #4444;
      a{
        color: #4444;
      }
    }
    .sf-toolbar-icon{
      .sf-toolbar-status{
        -webkit-border-radius: 12px;
        border-radius: 12px;
        background-color: #4c78bb;
        font-weight: bold;
        color: #dfe9f6 !important;
        &>*{
          color: #dfe9f6 !important;
        }
      }
    }
  }
}
