/* footer bar */
.sf-toolbar{
  .sf-toolbarreset{
    background-color: #313a45;
    border-top: 1px solid #1a1a1a;
    #gradient > .vertical(#313a45, #313a45);

    & > .sf-toolbar-block{
      border-right: 1px solid #13161a;
      border-left: 1px solid #424951;
      &:hover{
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
      }
    }
    & > .hide-button{
      background: none;

    }
  }
  .sf-toolbar-block .sf-toolbar-icon > a,
  .sf-toolbar-block .sf-toolbar-icon > a:link{
    color: #dfe9f6 !important;
  }
  .sf-toolbar-block:hover .sf-toolbar-icon *,
  .sf-toolbar-block:hover .sf-toolbar-icon > a,
  .sf-toolbar-block .sf-toolbar-icon > a:hover{
    color: #444 !important;
  }
  .sf-toolbar-block{
    .active-icon{
      display: inline-block !important;
    }
    .hover-icon{
      display: none;
    }
    .sf-toolbar-icon{
      color: #dfe9f6;
    }
    &:hover{
      .active-icon{
        display: none !important;
      }
      .hover-icon{
        display: inline-block;
      }
      margin: 0;
      .sf-toolbar-icon{
        .sf-toolbar-status{
          abbr{
            color: #dfe9f6 !important;
          }
        }
      }
    }
    .sf-toolbar-info,
    &:hover .sf-toolbar-info{
      color: #4444;
      a{
        color: #4444;
      }
    }
    .sf-toolbar-icon{
      .sf-toolbar-status{
        -webkit-border-radius: 12px;
        border-radius: 12px;
        background-color: #4c78bb;
        font-weight: bold;
        color: #dfe9f6 !important;
        &>*{
          color: #dfe9f6 !important;
        }
      }
    }
  }
}
