.header-button-active {
  & {
    margin:5px 2px 6px;
    border:1px solid darken(#354150,22%);
    #gradient > .vertical(#354150, #474f58);
    .border-radius(4px);
    .box-shadow(inset 0 2px 6px 0 darken(rgba(53, 65, 80, 0.8),20%));
  }
}
.header-button-inactive {
  & {
    margin:6px 2px 0;
    border:none;
    background: none;
    .box-shadow(none);
  }
}
.header-button {
  &> [class^=icon-] {
    .header-button-inactive;
    width:28px;
    height:29px;
    color:#fff;
    font-size:18px;
    line-height:28px;
    vertical-align:middle;
    text-align:center;
    text-shadow:0 1px 1px #292d33;
  }
  &:hover > [class^=icon-] {
    margin:5px 2px 6px;
    border:1px solid darken(#354150,10%);
    #gradient > .vertical(#4c5663, darken(#354150,5%));
    .border-radius(4px);
    text-decoration:none;
  }
  &:active > [class^=icon-],
  &:focus > [class^=icon-] {
    .header-button-active;
  }
}

// GLOBAL LAYOUT ELEMENTS

/* Header */
.navbar .navbar-inner .divider-vertical {
  border:none;
}
.navbar-inner {
  min-height:0;
  .nav {
    margin-right:0;
  }
}

#oroplatform-header {
  .unclickable {
    cursor: default;
  }
  .navbar-inner{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    margin:0;
    padding:0;
    border:none;
    border-bottom: 1px solid @baseGradientColorBorder;
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
    .divider-vertical {
      border:none;
      margin:5px 6px;
      height:22px;
    }
    .btn-group {
      margin: 0;
    }
    .extra-divider {
      height: 100%;
      background: url("../../img/vertical-divider-general.gif") repeat-y;
      width: 2px;
      border: 0 !important;
      float: left;
    }
    .nav {
      margin:0;
      >li {
        > a {
          color: #fff;
          font-weight: bold;
          text-shadow: none;
        }
      }
    }
    .notifications {
      padding: 0 0 0 5px !important;
      margin: 10px 10px 0 0;
      i {
        margin: 0 5px 0 0;
      }
    }
    .dark {
      border:1px solid #eaeaea;
      border-width:1px 0;
      background-color: #fbfbfb;
      padding:15px 15px 7px;
    }
    .border-radius(0);
  }
  .nav.top-search { // Includes Shortcuts and Search
    .dropdown {
      float: left;
      .title {
        color: #444;
        font-size: 14px;
        padding: 5px 0 10px 12px;
        margin: 0 0 18px;
        border-bottom: 1px solid #ccc;
      }
      > .dropdown-toggle {
        .header-button;
      }
      .dropdown-menu {
        margin-top:-3px;
        &:before {
          border-bottom: 7px solid rgba(0, 0, 0, 0.2);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          content: "";
          display: inline-block;
          left: 9px;
          position: absolute;
          top: -7px;
        }
        &:after {
          border-bottom: 6px solid #fff;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          content: "";
          display: inline-block;
          left: 10px;
          position: absolute;
          top: -6px;
        }
        .nav-header { /* Dropdown smaller section title */
          padding:2px 14px 5px;
          color:#444;
          font-size: @fontSizeSmall;
        }
        .nav-header-title { /* Dropdown main title */
          display:block;
          font-size: @baseFontSize;
          line-height:1.2em;
          text-transform:none;
        }
        .btn { height:30px; line-height:29px; }
      }
      /* Header search dropdown */
      &.header-dropdown-search {
        margin-left: 5px;
        .dark {
          border-bottom:none;
          .border-radius(0 0 3px 3px);
        }
        .dropdown-menu {
          width: 330px;
        }
        > .dropdown-menu {
          padding-bottom:0;
        }
        .search-form {
          display: inline-block;
          padding: 0;
          width: 100%;
          .header-search {
            position: relative;
            margin:0;
            padding:0;
            width: 100%;
            #search-bar-search{
              border-left: 0;
            }
            .btn-group.btn-block {
              width: auto;
              float: left;
            }
            .header-search-frame {
              position: relative;
              vertical-align: top;
              margin-left: 50px;
              margin-right: 56px;
              width: auto;
              input[type='text'] {
                width: 100%;
                height: 30px;
                border-left-color:#ccc;
                .border-radius(0);
                box-sizing: border-box;
              }
            }
            .dropdown-toggle {
              border-color: #ccc;
              background-color: #ebebeb;
              #gradient > .vertical(#f0f0f0, #e1e1e1);
              color: #444;
              min-width: 50px;
              text-shadow: none;
              font-weight: bold;
            }
            .btn-group.open .btn.dropdown-toggle {
              background-color: #5c666f;
              #gradient > .vertical(#f0f0f0, #e1e1e1);
            }
            .btn-search {
              position:relative;
              margin-left:-1px;
              .border-radius(0 3px 3px 0);
              border-color:#4978c2;
              min-width: 42px;
            }
            .custom-dropdown {
              position: absolute;
              top: 28px;
              left: 1px;
              border: 1px solid #ccc;
              background: #fff;
              width: 211px;
              z-index: 105;
              color: #777;
              -webkit-border-radius: 0 0 3px 3px;
              border-radius: 0 0 3px 3px;
              font:12px/14px @baseFontFamily;
              display: none;

              ul {
                margin: 0;
                padding: 0;
              }
              li {
                display: block;
              }
              li > a,
              li > span,
              .search-view-more-link {
                padding: 5px 10px;
                display: block;
              }
              li a {
                color: #777;
                white-space: normal;
                cursor: pointer;
              }
              li a:hover,
              li.hovered a{
                text-decoration: none;
                background: #f5f5f5;
              }
              li a:focus {
                outline: none;
              }
              .search-view-more-link:hover {
                background: #f5f5f5;
              }
              .name {
                display: block;
                clear: both;
              }
            }
            .avatar {
              float:right;
            }
            &.search-focus input[type="text"]:focus {
              background-color: #fff;
              background-image: none;
              color: #444;
            }
            &:after {
              content: "";
              display: block;
              clear: both;
            }
          } // Ends .header-search
        } // Ends .search-form
        /* Header search scope dropdown */
        .search-focus input[type="text"],
        .header-search-focused input[type="text"] {
          -webkit-box-shadow:  none !important;
          box-shadow: none !important;
          background: #fff;
          color: #444;
        }
        .header-search-focused #search-dropdown{
          display: block;
        }
        #search-bar-button {
          width: 100%;
          min-width:0;
          padding:0 5px 0 9px;
          text-align:right;
          .search-bar-type { float:left; }
          .icon-caret-down{
            margin-left: 8px;
          }
        }
        #search-bar-dropdown {
          min-width:0;
          width: auto;
          margin-top: -1px;
          border-top-color: #ccc;
          border-radius: 0 0 4px 4px;
          &:before,
          &:after { border:none; }
          >li >a {
            padding:1px 10px;
          }
        }
      } // Ends &:.header-dropdown-search
      &.header-dropdown-shortcut {
        .dropdown-menu {
          width:330px;
          .form-inline {
            margin:0;
            input[type='text'] {
              .border-radius(3px 0 0 3px);
              width:239px;
              margin-right:-4px;
            }
            .btn {
              position:relative;
              border-color:#4978c2;
              .border-radius(0 3px 3px 0);
            }
            .typeahead {
              &:before,
              &:after { border:none; }
              width:253px;
            }
          }
        }
      }
    } // Ends .dropdown
    .dropdown.open > .dropdown-toggle > [class^=icon-] {
      .header-button-active;
    }
  } // Ends .top-search
  .divider-vertical {
    float: left;
    margin-right: 0;
  }
  /* Header right */
  .nav.pull-right {
    li.dropdown {
      > a {
        padding: 6px;
        text-shadow:none;
        [class^='icon-'] {
          vertical-align:top;
          font-size:14px
        }
      }
      .dropdown-menu {
        width:100px;
        margin:-4px -4px 0 0;
        li {
          a {
            padding:2px 12px;
          }
        }
      }
    }
  }
}
header {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &.navbar {
    margin: 0;
    z-index: @oroZindexDropdown + 25; // .dropdown-menu z-index + 25 to be able to play with z-indexes
    #gradient > .vertical(@baseGradientColorStart, @baseGradientColorEnd);
  }
}
