.highlight {
  &-text {
    span& {
      text-decoration: underline;
      background-color: @highlightTextColor;
      font-family: inherit;
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;

      margin: 0;
      padding: 0;
    }
  }

  &-element {
    label& {
      display: inline-block !important; //Need for rewrite deeper nested class
      margin: 0;
    }
  }

  &-element[class^="fa-"],
  &-element[class*=" fa-"] {
    background-color: @highlightTextColor;
    padding: 1px 2px;
    margin-left: 0 !important;//fix padding
    margin-right: 0 !important;//fix padding
  }

  &-not-found {
    display: none;
  }
}
