.tab-collection {
  border-bottom: 1px solid #ddd;
  li {
    > a {
      padding-right: 7px;
    }
    > a:after {
      visibility: hidden;
      content: '*';
      margin-left: 1px;
    }
    &.changed {
      > a:after{
        visibility: visible;
      }
    }
  }
}
