.zoomable-area {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: relative; /* required for valid controls positioning */
  .zoom-controls {
    position: absolute;
    z-index: 600;
    right: 10px;
    top: 10px;
    .zoom-level {
      width: 42px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
    button {
      padding: 0 4px;
    }
  }
}

.icon-search-plus:before {
  content: "\f00e";
}

.icon-search-minus:before {
  content: "\f010";
}
