.centered-container {
    height: 100%;

    text-align: center;

    &::before,
    &__content {
        display: inline-block;
    }

    &::before {
        height: 100%;

        vertical-align: middle;

        content: ''
    }

    &__content {
        width: 99%;

        text-align: left;
        vertical-align: middle;
    }
}
