/* @theme: blank; */

.grid {
    &__row {
        margin-bottom: $offset-y;

        @include clearfix;

        &--offset {
            &-none {
                margin-bottom: 0;
            }

            &-s {
                margin-bottom: $offset-y-s;
            }

            &-m {
                margin-bottom: $offset-y-m;
            }

            &-l {
                margin-bottom: 20px;
            }
        }

        &--has-twin-row {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }

    &__column {
        float: left;

        padding: 0 $offset-x-m;

        &-half {
            float: left;

            width: (100% - $grid-offset) / 2;

            &:first-child {
                margin-right: $grid-offset;
            }
        }

        &--both {
            clear: both;
        }

        &--offset {
            &-y {
                margin-bottom: $offset-y;
            }

            &-m {
                margin-right: $grid-offset;
            }
        }

        &--gutter {
            &-l-s {
                padding-left: $offset-x-s;
            }

            &-r-s {
                padding-right: $offset-x-s;
            }
        }

        &--no-gutters {
            padding: 0;
        }

        &--no-gutters-l {
            padding-left: 0;
        }

        &--no-gutters-r {
            padding-right: 0;
        }
    }

    @for $i from 1 through $grid-count {
        &__column--#{$i} {
            width: (($i* 100%) / $grid-count);
        }
    }
}

@include breakpoint('tablet-small') {
    .grid {
        &__column {
            &-half {
                clear: left;

                width: 100%;
                margin-right: auto;
            }
        }
    }
}
