/* @theme: blank; */

.line-clamp {
    overflow: $line-clamp-overflow;

    display: $line-clamp-display;
    -webkit-line-clamp: $line-clamp-line-clamp;
    -webkit-box-orient: $line-clamp-box-orient;

    &-polyfill {
        position: $line-clamp-polyfill-position;

        display: $line-clamp-polyfill-display;

        overflow: $line-clamp-polyfill-overflow;

        &:after {
            top: $line-clamp-polyfill-after-top;
            right: $line-clamp-polyfill-after-right;

            width: $line-clamp-polyfill-after-width;
            height: $line-clamp-polyfill-after-height;

            background: $line-clamp-polyfill-after-background;

            @include after();
        }
    }
}
