// @theme: blank;

.line-clamp {
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &-polyfill {
        position: relative;

        display: inline-block;

        overflow: hidden;

        &::after {
            position: absolute;
            top: 20px;
            right: 0;
            width: 50%;
            height: 20px;
            content: '';
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
    }
}
