/* @theme: blank; */

.logo {
    display: $logo-display;
    width: $logo-width;
    height: $logo-height;

    &--print-only {
        display: none;
    }

    &-img {
        display: $logo-img-display;
        width: $logo-img-width;
        max-width: $logo-img-max-width;
        height: $logo-img-height;
    }
}

a.logo {
    &:hover {
        opacity: $logo-link-opacity;
    }
}
