/* @theme: blank; */

.logo {
    display: $logo-display;
    width: $logo-width;
    height: $logo-height;

    &--print-only {
        display: none;
    }

    &-img {
        display: $logo-img-display;
        width: $logo-img-width;
        height: $logo-img-height;
    }
}

@include breakpoint('print') {
    .logo {
        &--print-only {
            display: $logo-display-print;
        }
    }
}
