/* @theme: blank; */

.mCustomScrollbar,
.mCustomScrollBox.mCSB_vertical_horizontal,
.mCustomScrollbar.mCS_touch_action .mCSB_scrollTools {
    -ms-touch-action: auto;
    touch-action: auto;
}

.mCustomScrollBox {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.mCustomScrollBox.mCSB_horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.mCSB_scrollTools {
    z-index: $mCSB-scrollTools-z-index;
}

.mCSB_scrollTools.mCS-inset-dark {
    .mCSB_dragger {
        .mCSB_dragger_bar {
            background-color: $mCSB-dragger-bar-background-color;
        }
        
        &:hover {
            .mCSB_dragger_bar {
                background-color: $mCSB-dragger-bar-background-color-hover;
            }
        }

        &:active,
        &.mCSB_dragger_onDrag {
            .mCSB_dragger_bar {
                background-color: $mCSB-dragger-bar-background-color-active;
            }
        }
    }
}

@include breakpoint('print') {
    .mCSB_container {
        // Need to correct table stretching
        width: 100% !important;
    }

    .mCSB_scrollTools {
        display: none !important;
    }
}
