/* @theme: blank; */

.page-header {
    padding: $page-header-inner-offset;

    @include clearfix();

    &__inner {
        padding: $page-header-inner-inner-offset;
    }
}

@include breakpoint('print') {
    .page-header {
        display: none !important;
    }
}
