/* @theme: blank; */

.page-main {
    flex-grow: 1;

    &__content {
        display: flex;

        @include safe-area-offset(padding, $page-main-inner-offset);

        flex-wrap: wrap;
    }

    &__header {
        width: 100%;
    }
}

@include breakpoint('tablet') {
    .page-main {
        &__content {
            flex-direction: column;
        }
    }
}
