// @theme: blank

.page-main {
    flex: 1;

    &__content {
        display: flex;
    }
}

@include breakpoint('tablet') {
    .page-main {
        &__content {
            flex-direction: column;
            padding: $page-main-tablet-inner-offset;
        }
    }
}
