// @theme: blank

.page-content {
    width: $page-content-width;

    @include clearfix();

    &--has-sidebar {
        padding: $page-content-with-sidebar-inner-offset;

        order: $page-content-with-sidebar-order;
    }
}

@include breakpoint('tablet-small') {
    .page-content {
        &--has-sidebar {
            padding: $page-content-with-sidebar-tables-s-inner-offset;
        }
    }
}
