/* @theme: blank; */

.page-footer-container {
    display: flex;

    @include safe-area-offset(padding, $page-footer-container-inner-offset);

    &__base {
        width: $page-footer-container-base-width;

        flex: 0 0 auto;
    }
    &__side {
        width: $page-footer-container-side-width;
        padding-left: $offset-x;

        flex: 0 0 auto;
    }
}

@include breakpoint('tablet-small') {
    .page-footer-container {
        &__base {
            width: $page-footer-container-base-tablet-small-width;
        }
        &__side {
            width: $page-footer-container-side-tablet-small-width;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .page-footer-container {
        flex-wrap: $page-footer-container-mobile-landscape-flex-wrap;

        &__base {
            width: $page-footer-container-base-mobile-landscape-width;
        }
        &__side {
            width: $page-footer-container-side-mobile-landscape-width;
            padding-left: 0;
        }
    }
}
