// @theme: blank

.page-content {
    @include clearfix();

    &--has-sidebar {
        width: $page-content-width;
        padding: $page-content-with-sidebar-inner-offset;

        order: $page-content-with-sidebar-order;
    }
}

@include breakpoint('desktop') {
    .page-content {
        &--has-sidebar {
            width: calc(#{$page-content-width} - #{$page-sidebar-width});
        }
    }
}

@include breakpoint('tablet') {
    .page-content {
        &--has-sidebar {
            padding: $page-content-with-sidebar-tables-s-inner-offset;
        }
    }
}
