/* @theme: blank; */

.page-footer {
    padding: $page-footer-inner-offset;

    border: 0 $page-footer-border-style;
    border-width: $page-footer-border-width;
}

@include breakpoint('print') {
    .page-footer {
        display: none !important;
    }
}
