/* @theme: blank; */

.page-content {
    width: $page-content-width;
    
    @include clearfix();

    &--has-sidebar {
        padding: $page-content-with-sidebar-inner-offset;

        order: $page-content-with-sidebar-order;
    }
    &--has-sidebar-right {
        padding: $page-content-with-sidebar-right-inner-offset;
    }
}

@include breakpoint('desktop') {
    .page-content {
        &--has-sidebar {
            width: calc(#{$page-content-width} - #{$page-sidebar-width});
        }

        &--has-sidebar-right {
            width: calc(#{$page-content-width} - #{$page-sidebar-width});
        }
    }
}

@include breakpoint('tablet') {
    .page-content {
        &--has-sidebar {
            padding: $page-content-with-sidebar-tables-s-inner-offset;
        }
    }
}

@include breakpoint('print') {
    .page-content {
        width: 100%;
    }
}
