// @theme: blank;

.page-subtitle {
    margin: $page-subtitle-offset;

    font-size: $page-subtitle-font-size;
    font-family: $page-subtitle-font-family;

    &__text {
        vertical-align: middle;

        [class^="fa-"],
        [class*=" fa-"] {
            color: get-color('additional', 'middle');
        }

        @include hover-focus {
            [class^="fa-"],
            [class*=" fa-"] {
                color: get-color('additional', 'dark');
            }
        }
    }
}
