/* @theme: blank; */

.page-container {
    display: flex;
    flex-direction: column;

    max-width: $page-container-config-max-width;
    min-height: $page-container-config-min-height;
    margin: $page-container-config-offset;
    padding: $page-container-config-inner-offset;
}

@include breakpoint('print') {
    .page-container {
        display: block;
        min-height: initial;
    }
}
