/* @theme: blank; */

.page-sidebar {
    width: $page-sidebar-width;
    padding: $page-sidebar-inner-offset;

    order: $page-sidebar-order;
    flex: $page-sidebar-flex;

    &--right {
        padding: $page-sidebar-right-inner-offset;

        order: $page-sidebar-right-order;
    }
}

@include breakpoint('tablet') {
    .page-sidebar {
        width: $page-sidebar-tablet-s-width;
        padding: $page-sidebar-tablet-s-inner-offset;
    }
}

@include breakpoint('print') {
    .page-sidebar {
        display: none !important;
    }
}
