/* @theme: blank; */

.popover {
    box-shadow: $popover-box-shadow;

    &.light-text {
        .popover-body {
            color: $popover-body-light-color;
        }
    }

    &.fixed-min-width {
        min-width: $popover-min-width;
    }

    &--no-title {
        .popover-header {
            display: none;
        }
    }
}
.popover-header:empty {
    display: none;
}
