// @theme: blank

.primary-menu {
  @include list-normalize();

  display: flex;
  justify-content: space-between;

  &__item {
    flex: 0 1 auto;

    padding: ($offset-y-s / 2) 0;

    &--current {}

    &--offset-m {
      &:not(:first-child) {
        margin-left: $offset-x-m;
      }
    }
  }

  &--vertical {
    display: block;
  }
}
