/* @theme: blank; */
// this component make responsive video from youtube

.responsive-video {
    position: $responsive-video-position;
    overflow: $responsive-video-overflow;

    padding-bottom: $responsive-video-padding-bottom;
    padding-top: $responsive-video-padding-top;

    height: $responsive-video-height;

    &__container {
        position: $responsive-video-container-position;
        top: $responsive-video-container-top;
        left: $responsive-video-container-left;

        width: $responsive-video-container-width;
        height: $responsive-video-container-height;
    }
}
