@mixin styled-scrollbar(
    $color: $scrollbar-color,
    $color-bg: $scrollbar-color-bg,
    $size: $scrollbar-size,
    $border-radius: $scrollbar-thumb-radius,
    $thumb-border: $scrollbar-thumb-border
) {
    &::-webkit-scrollbar {
        -webkit-appearance: none;

        &:vertical {
            width: $size;
        }

        &:horizontal {
            height: $size;
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        border: $thumb-border; /* should match background, can't be transparent */
        background-color: $color;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-bg;
        border-radius: $border-radius;
    }
}

.styled-scrollbar {
    @include styled-scrollbar();
}
