// @theme: blank;

.hidden,
.hide {
    display: none !important; // override inline styles
}

.show {
    display: block !important; // override inline styles
}

.disabled {
    @include base-disabled-style();
}

.offscreen,
.offscreen:focus {
    position: absolute !important;
    left: 0;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    border: none;
    overflow: hidden;
    outline: 0;
    clip: rect(0 0 0 0);
}

.bold {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}

.disable-touch-scrolling {
    overflow: hidden;
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.img-fluid {
    @include img-fluid;
}
