// @theme: blank;

.hidden {
    display: none !important; // override inline styles
}

.disabled {
    @include base-disabled-style();
}

.bold {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}
