// @theme: blank;

.hidden {
    display: none !important; // override inline styles
}

.disabled-overlay {
    display: none;
}

.disabled {
    position: relative;
    .disabled-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.bold {
    font-weight: bold;
}
