/* @theme: blank; */

.vertical-container {
    height: 100%;

    text-align: center;
    font-size: 0;

    &::before,
    &__content {
        display: inline-block;
    }

    &::before {
        height: 100%;

        vertical-align: middle;

        content: '';
    }

    &__content {
        width: 100%;

        font-size: $base-font-size;
        text-align: left;

        vertical-align: middle;
    }
}
