%vertical-aligned-container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.vertical-container {
    @extend %vertical-aligned-container;

    width: 100%;
}
