<div class="data-filter-choice" data-date-filter-template>
    <%= parts.join('') %>

    <% if (renderMode === 'toggle-mode') { %>
        <div class="filter-date-range">
            <div class="filter-start-date">
                <input type="text"
                       class="<%- inputClass %>"
                       value="<%- value.value.start %>"
                       name="start"
                       placeholder="<%- _.__('from') %>"
                       aria-label="<%- startDateFieldAriaLabel %>"
                >
            </div>
            <span class="filter-separator" aria-hidden="true">-</span>
            <div class="filter-end-date">
                <input type="text"
                       class="<%- inputClass %>"
                       value="<%- value.value.end %>"
                       name="end"
                       placeholder="<%- _.__('to') %>"
                       aria-label="<%- endDateFieldAriaLabel %>"
                >
            </div>
        </div>
    <% } else { %>
        <div class="filter-date-range">
            <div class="filter-start-date">
                <div class="datepicker-box">
                    <span class="datepicker-box__icon" aria-hidden="true">
                        <span class="fa-calendar"></span>
                    </span>
                    <input type="text"
                           class="<%- inputClass %>"
                           value="<%- value.value.start %>"
                           name="start"
                           aria-label="<%- startDateFieldAriaLabel %>"
                           placeholder="<%- _.__('from') %>"
                    >
                </div>
            </div>
            <span class="filter-separator" aria-hidden="true">-</span>
            <div class="filter-end-date">
                <div class="datepicker-box">
                    <span class="datepicker-box__icon" aria-hidden="true">
                        <span class="fa-calendar"></span>
                    </span>
                    <input type="text" class="<%- inputClass %>"
                           value="<%- value.value.end %>"
                           name="end"
                           placeholder="<%- _.__('to') %>"
                           aria-label="<%- endDateFieldAriaLabel %>"
                    >
                </div>
            </div>
        </div>
        <div class="filter-action-row">
            <button type="button"
                class="btn btn--action btn--size-s filter-update"
                aria-label="<%- updateButtonAriaLabel %>"
            ><%- _.__("oro.filter.updateButton.text") %></button>
        </div>
    <% } %>
</div>
