<% if (!tabs.length) { %>
    <div id="calendar<%= suffix %>"></div>
<% } else { %>
    <ul class="nav nav-tabs nav-tabs-oro">
        <% _.each(tabs, function (tab, i) { %>
        <li <% if (i === 0) { %>class="active"<% } %> >
            <a class="<%= tab.name %>" href="#<%= tab.name %><%= suffix %>"><%= tab.label %></a>
        </li>
        <% }); %>
    </ul>
    <div class="tab-content">
        <% _.each(tabs, function (tab, i) { %>
            <div class="tab-pane<% if (i === 0) { %> active<% } %>" id="<%= tab.name %><%= suffix %>"></div>
        <% }); %>
    </div>
<% } %>
