<div class="filter-item" data-filter-wrapper-template>
    <div class="filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>" data-zoom-disable>
        <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
        <div class="filter-criteria-selector-icon-wrap">
            <% if (renderMode === 'toggle-mode') { %>
                <span class="filter-criteria-selector-icon fa-plus fa--large"></span>
                <span class="filter-criteria-selector-icon fa-minus fa--large"></span>
            <% } else { %>
                <span class="filter-criteria-selector-icon fa-caret-down fa--large"></span>
            <% } %>
        </div>
    </div>
    <div class="filter-criteria <% if (renderMode !== 'toggle-mode') { %>dropdown-menu<% } %>"></div>
</div>
