<% if (!_.isEmpty(filters)) { %>
    <% if (renderMode === 'toggle-mode') { %>
        <div class="filter-box toggle-mode" <%= attributes %>>
            <div class="filter-container">
                <div data-filters-items>
                    <div class="filter-items-hint">
                        <button type="button"
                                class="reset-filter-button"
                        >
                            <span class="fa-close"></span>
                            <%= _.__('oro.filter.reset.label') %>
                        </button>
                    </div>
                    <div class="filter-items"></div>
                    <select data-action="add-filter-select" multiple data-skip-input-widgets>
                        <% _.each(filters, function (filter, name) { %>
                            <option class="<%= filter.visible ? '' : 'hidden' %>" title="<%- _.escape(filter.label) %>" value="<%- name %>" <% if (filter.enabled) { %>selected<% } %>>
                                <%- filter.label %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="filter-box dropdown-mode" <%= attributes %> >
            <div class="filter-container">
                <select data-action="add-filter-select"
                        data-skip-input-widgets
                        multiple
                >
                    <% _.each(filters, function (filter, name) { %>
                        <option class="<%= filter.visible ? '' : 'hidden' %>" title="<%- _.escape(filter.label) %>" value="<%- name %>" <% if (filter.enabled) { %>selected<% } %>>
                        <%- filter.label %>
                        </option>
                    <% }); %>
                </select>
                <div class="filter-items"></div>
                <div class="filter-items-hint">
                    <button type="button"
                            class="reset-filter-button"
                    >
                        <span class="fa-close"></span>
                        <%= _.__('oro.filter.reset.label') %>
                    </button>
                </div>
            </div>
        </div>
    <% } %>
<% } %>
