<div class="filter-item" data-filter-wrapper-template>
    <div class="filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>" data-zoom-disable>
        <% if (showLabel) { %><span class="filter-item-label"><%- label %></span><% } %><span class="filter-item-hint"></span>
        <div class="filter-criteria-selector-icon-wrap">
            <span class="filter-criteria-selector-icon" aria-hidden="true"></span>
        </div>
    </div>
    <div class="filter-criteria <% if (renderMode !== 'toggle-mode') { %>dropdown-menu<% } %>"></div>
</div>
