<div class="filter-item" data-multiselect-filter-template>
    <div class="filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>">

        <% if (showLabel) { %>
            <%- label %>
        <% } %>

        <span class="filter-item-hint"></span>
        <select multiple
                data-skip-input-widgets
        >
            <% _.each(options, function (option) { %>
                <option value="<%= option.value %>"
                        title="<%- option.label %>"
                    <% if (_.isArray(selected.value)) { %>
                        <% if (_.indexOf(selected.value, option.value) !== -1) { %>
                            selected="selected"
                        <% } %>
                    <% } else if (option.value == selected.value) { %>
                        selected="selected"
                    <% } %>
                >
                    <%- option.label %> <% if (option.count !== undefined) { %>(<%- option.count %>)<% } %>
                </option>
            <% }); %>
        </select>
        <div class="filter-criteria-selector-icon-wrap">
            <% if (renderMode === 'toggle-mode') { %>
                <span class="filter-criteria-selector-icon fa-plus fa--large"></span>
                <span class="filter-criteria-selector-icon fa-minus fa--large"></span>
            <% } else { %>
                <span class="filter-criteria-selector-icon fa-caret-down fa--large"></span>
            <% } %>
        </div>
    </div>
    <% if (renderMode === 'toggle-mode') { %>
        <div class="filter-criteria"></div>
    <% } %>
</div>
