<div class="filter-select-oro-wrapper" data-select-field-template>
    <select data-skip-input-widgets

            <% if (renderMode === 'toggle-mode') { %>
                class="select select--size-m select--full"
            <% } else { %>
                class="select select--size-m"
            <% } %>

            name="<%= name %>"

        <% if (typeof(dataName) !== "undefined") { %>
            data-name="<%= dataName %>"
        <% } %>
    >
        <% _.each(choices, function (option) { %>
            <option value="<%= option.value %>"

                <% if (option.value == selectedChoice) { %>
                    selected="selected"
                <% } %>
            >
                <%- option.label %>
            </option>
        <% }); %>
    </select>
</div>
