<% var selectorId = _.uniqueId('selector-'); %>
<% var criteriaId = _.uniqueId('criteria-'); %>
<div class="filter-item" data-select-filter-template>
    <div id="<%- selectorId %>"
         class="filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>"
         tabindex="0"
         role="button"
    <% if (renderMode === 'toggle-mode') { %>
         aria-controls="<%- criteriaId %>"
     <% } %>
    >
        <% if (showLabel) { %><span class="filter-item-label"><%- label %></span><% } %><span class="filter-item-hint"></span>
        <select data-skip-input-widgets>
            <% _.each(options, function (option) { %>
            <option value="<%- option.value %>" title="<%- option.label %>"
                <% if (option.value == selected.value) { %> selected="selected"<% } %>>
            <%- option.label %> <% if (option.count !== undefined) { %>(<%- option.count %>)<% } %>
            </option>
            <% }); %>
        </select>
        <div class="filter-criteria-selector-icon-wrap" aria-hidden="true">
            <span class="filter-criteria-selector-icon"></span>
        </div>
    </div>

    <% if (renderMode === 'toggle-mode') { %>
        <div id="<%- criteriaId %>" class="filter-criteria" aria-labelledby="<%- selectorId %>"></div>
    <% } %>
</div>
