{% if not oro_is_hash_navigation() %}
    <!DOCTYPE html>
    <html>
    {% !!! head_widget %}
    <body class="{% if isMobileVersion() %}mobile{% else %}desktop{% endif %}-version {% if app.debug %}dev-mode {% endif %}{% block bodyClass %}{% endblock %}">
    {% placeholder after_body_start %}
    <div id="progressbar">
        <h3>{% trans %}Loading...{% endtrans %}</h3>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 90%;"></div>
        </div>
    </div>
    <div id="page" style="display:none;">
        <div id="top-page">
            {% !!! _header_widget %}
                {% placeholder before_navigation %}
                {% !!! _navbar_widget %}
                    {% placeholder header_logo %}
                    {% placeholder dots_menu %}
                    {% placeholder pin_tabs_list %}
                {% !!! end _navbar_widget %}
            {% !!! end _header_widget %}
            {% block header %}
                <header class="navbar" id="oroplatform-header">
                    {% placeholder before_navigation %}
                    <div class="navbar-inner">
                        <div class="container">
                            {% placeholder header_logo %}
                            <ul class="nav pull-right user-menu">
                                {{ block('user_menu') }}
                            </ul>
                            {% placeholder dots_menu %}
                            <div class="nav top-search shortcuts">
                                {{ block('navbar') }}
                            </div>
                            {% placeholder pin_tabs_list %}
                        </div>
                    </div>
                    {% include 'OroUIBundle:Default/navbar:top.html.twig' %}
                    {% placeholder after_navigation %}
                </header>
            {% endblock header %}
            {% if isDesktopVersion() %}
                {% block left_panel %}
                    <div id="left-panel">
                        {% placeholder left_panel with {placement: 'left'} %}
                    </div>
                {% endblock left_panel %}
            {% endif %}
            {% block main %}
                <div id="main">
                    {% block before_content %}
                    <div class="breadcrumb-pin">
                        <div id="breadcrumb">
                            {% block breadcrumb %}
                                {% placeholder breadcrumb %}
                            {% endblock breadcrumb %}
                        </div>
                        {% placeholder pin_button %}
                        <div id="before-content-addition">
                            {% block before_content_addition %}{% endblock before_content_addition %}
                        </div>
                        {% !!! _flash_messages_widget %}
                    </div>
                    {% endblock before_content %}
                    <div id="container" class="scrollable-container">
                        {% block page_container %}
                            {% placeholder content_before %}
                            {% block content %}
                            {% endblock content %}
                            {% placeholder content_after %}
                        {% endblock page_container %}
                    </div>
                </div>
            {% endblock main %}
            {% if isDesktopVersion() %}
                {% block right_panel %}
                    <div id="right-panel">
                        {% placeholder right_panel with {placement: 'right'} %}
                    </div>
                {% endblock right_panel %}
            {% endif %}
            {% block footer %}
                <div id="dialog-extend-fixed-container"></div>
                <footer id="footer" class="footer">
                    {% placeholder footer_inner %}
                </footer>
            {% endblock footer %}
        </div>
    </div>
    {% placeholder before_body_end %}
    </body>
    </html>
{% else %}
    {# Title should be generated as least once in order to pass data to title service #}
    {% set title = oro_title_render() %}
    {# Template for hash tag navigation#}
    {% use 'OroUIBundle:Default/navbar:blocks.html.twig' %}
    {% include 'OroNavigationBundle:HashNav:hashNavAjax.html.twig'
        with {
            'data': {
                'scripts': block('head_script'),
                'content': block('page_container'),
                'breadcrumb': block('breadcrumb')|trim,
                'beforeContentAddition': block('before_content_addition')
            }
        }
    %}
{% endif %}
