{% if isDesktopVersion() %}
    {% placeholder organization_selector %}
{% else %}
    <span id="main-menu-toggle">
        <i class="icon-menu-bars"></i>
    </span>
    {% placeholder organization_selector %}
{% endif %}
