{% if isDesktopVersion() %}
    <div id="organization-switcher">{% placeholder organization_selector %}</div>
{% else %}
    <span id="main-menu-toggle">
        <i class="fa-bars"></i>
    </span>
    <div id="organization-switcher">{% placeholder organization_selector %}</div>
{% endif %}
