<noscript>
    <div class="noscript-container">
        <div class="alert alert-danger" role="alert">
            <div class="text-center">{{ 'oro.ui.disabled_js'|trans }}</div>
        </div>
    </div>
</noscript>
