@name = reminder
@entityName = Oro\Bundle\NotificationBundle\Entity\Event
@subject = Reminder
@isSystem = 1
@isEditable = 1

<h1>{{ entity.title }}</h1>
<div>
    <i>When:</i> {# @todo: when #}
</div>
