<li>
    {{ form_widget(repo.url) }}
    <a href="#" onclick="javascript:$(this).parent('li').remove();" class="delete-action" title="Delete">
        <i class="icon-trash hide-text">Delete</i>
    </a>
</li>