<script type="text/html" id="template-note-item">
    <div class="map-actions">
        <% if (editable) { %><button class="btn item-edit-button" title="{{ 'oro.note.action.edit'|trans|raw }}"><i class="icon-edit hide-text">{{ 'oro.note.action.edit'|trans|raw }}</i></button><% } %>
        <% if (removable) { %><button class="btn item-remove-button" title="{{ 'oro.note.action.remove'|trans|raw }}"><i class="icon-trash hide-text">{{ 'oro.note.action.remove'|trans|raw }}</i></button><% } %>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle collapsed"></a>
            <ul class="inline-decorate">
                <% if (createdBy_url) { %>
                <li><a href="<%= createdBy_url %>"><%= createdBy %></a></li>
                <% } else if (createdBy) { %>
                <li><%= createdBy %></li>
                <% } %>
                <li><%= createdAt %></li>
            </ul>
        </div>
        <div id="accordion-item<%= id %>" class="accordion-body collapse">
            <div class="message clearfix"><%= message %></div>
        </div>
    </div>
</script>
