{% form_theme form with ['OroFormBundle:Form:fields.html.twig', _self] %}

<form method="post" class="comment-form">
    <fieldset class="form-horizontal">
        <label>
            {{ form_widget(form.message) }}
        </label>
        {{ form_widget(form.attachment) }}
        <% if (attachmentURL) { %>
        <div class="attachment-item">
            <i class="fa-paperclip"></i>
            <a href="<%- attachmentURL %>" class="no-hash attachment-item__filename " title="<%- attachmentFileName %>"><%- attachmentFileName %></a>
            <span class="attachment-item__file-size">(<%- attachmentSize %>)</span>
            <button class="btn btn-square-lighter fa-close remove-attachment" type="button"></button>
        </div>
        <% } %>
        <div class="widget-actions">
            <button class="btn cancel-comment-button" type="reset">
                <%= _.__('oro.comment.from.button.cancel_comment.label')  %>
            </button>
            <% if (!isNew) { %>
            <button class="btn btn-primary" type="submit">
                <%= _.__('oro.comment.from.button.edit_comment.label') %>
            </button>
            <% } else { %>
            <button class="btn btn-primary" type="submit">
                <%= _.__('oro.comment.from.button.send_comment.label') %>
            </button>
            <% } %>
        </div>
    </fieldset>
</form>
