/* @theme: admin.oro; */

$activity-context-current-block-margin: 12px !default;
$activity-context-current-block-color: $primary !default;
$activity-context-current-block-font-size: $base-font-size--l !default;
