/* @theme: admin.oro; */

$activity-context-activity-list-offset: 16px !default;

$activity-context-activity-label-offset: 1px 0 0 0 !default;
$activity-context-activity-label-color: $primary-500 !default;
$activity-context-activity-label-line-height: 24px;

$activity-context-activity-items-offset: 54px !default;
