/* @theme: admin.oro; */

$datepicker-color: $primary-200 !default;
$datepicker-width: 240px !default;
$datepicker-padding: 16px 10px !default;
$datepicker-border-radius: 2px !default;
$datepicker-box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.08) !default;
$datepicker-border: none !default;
$datepicker-header-padding: 0 !default;
$datepicker-header-margin:  0 0 8px !default;
$datepicker-header-nav-buttons-top: 7px !default;
$datepicker-header-nav-buttons-size: 16px !default;
$datepicker-header-nav-buttons-indent: 6px !default;
$datepicker-header-nav-select-width: 71px !default;
$datepicker-prev-button-icon: $fa-var-angle-left !default;
$datepicker-next-button-icon: $fa-var-angle-right !default;
$datepicker-input-widget-select-margin: 0 4px !default;
$datepicker-calendar-font-size: 14px !default;
$datepicker-calendar-hover-background-color: $primary-830 !default;
$datepicker-calendar-active-background-color: $secondary !default;
$datepicker-calendar-active-color: $primary-inverse !default;
$datepicker-calendar-active-font-weight: bold !default;
$datepicker-calendar-active-hover-background-color: $secondary-dark !default;
$datepicker-calendar-active-font-weight: bold !default;
$datepicker-calendar-active-dot-size: 8px !default;
$datepicker-calendar-active-dot-v-shift: -3px !default;
$datepicker-calendar-active-dot-border: 1px solid $primary-inverse !default;
$datepicker-calendar-header-color: $secondary !default;
$datepicker-calendar-cell-padding: 0 !default;
$datepicker-calendar-cell-link-padding: 0 !default;
$datepicker-calendar-cell-link-margin-bottom: 2px !default;
$datepicker-calendar-cell-link-width: 28px !default;
$datepicker-calendar-cell-link-height: 28px !default;
$datepicker-calendar-cell-link-border-radius: $datepicker-calendar-cell-link-height / 2 !default;
$datepicker-datevariables-padding: 10px 16px !default;
$datepicker-datevariables-title-font-size:  16px !default;
$datepicker-datevariables-title-font-weight: bold !default;
$datepicker-datevariables-title-color: $primary !default;
$datepicker-datevariables-list-padding-start: 16px !default;
$datepicker-datevariables-list-list-style-type: disc !default;
$dropdown-menu-calendar-padding: 0 !default;
$dropdown-menu-calendar-margin: 0 !default;
$fields-row-datepicker-input-margin-end: 5px !default;
$fields-row-timepicker-input-min-width: 70px !default;
