/* @theme: admin.oro; */

$drag-n-drop-sorting-view-wrapper-remove-fow-pointer-events: none !default;
$drag-n-drop-sorting-view-column-width: 315px !default;
$drag-n-drop-sorting-view-column-options-min-width: 70px !default;
$drag-n-drop-sorting-view-table-bordered-display: block !default;
$drag-n-drop-sorting-view-grid-container-offset-bottom: 12px !default;
