/* @theme: admin.oro; */

$flash-messages-container-position: relative !default;
$flash-messages-frame-position: absolute !default;
$flash-messages-frame-width: 44% !default;
$flash-messages-frame-left: (100% - $flash-messages-frame-width) / 2 !default;
$flash-messages-frame-offset: 0 10px !default;
$flash-messages-frame-z-index: 900 !default;
$flash-messages-alert-offset-top: $content-padding-small !default;
