/* @theme: admin.oro; */

$form-description-offset-bottom: 50px !default;
$form-description-signin-help-offset-bottom: 30px !default;

$form-description-logo-offset-bottom: 40px !default;
$form-description-logo-img-display: block !default;
$form-description-logo-img-offset: 0 auto !default;
$form-description-logo-img-max-height: 40px !default;

$form-description-main-font-size: 22px !default;
$form-description-main-font-weight: 300 !default;
$form-description-main-line-height: 1.2 !default;
$form-description-main-text-align: center !default;
$form-description-main-color: $primary-200 !default;
$form-description-main-offset-bottom: 16px !default;

$form-description-text-font-size: 14px !default;
$form-description-text-align: center !default;
$form-description-color: $primary-550 !default;
