/* @theme: admin.oro; */

$form-horizontal-control-label-width: 182px !default;
$form-horizontal-control-label-offset: 6px !default;
$form-horizontal-control-label-line-height: 20px !default;
$form-horizontal-control-html-content-offset: 5px !default;
$form-horizontal-widget-control-label-width: auto !default;

$form-horizontal-control-margin-start: 24px !default;
$form-container-control-row-space: $content-padding-medium !default;

$form-container-column-max-width: 480px !default;
$form-container-column-offset-right: 20px !default;

$form-container-control-group-max-width: 800px !default;

$modal-form-horizontal-control-label-width: 140px !default;
$modal-form-horizontal-controls-input-width: 100% !default;
