/* @theme: admin.oro; */

@use 'sass:map';

$label-theme-success: (
    'background': $success-light,
    'color': $success
) !default;

$label-theme-info: (
    'background': $info,
    'color': $primary-inverse
) !default;

$label-theme-warning: (
    'background': $warning-light,
    'color': $warning
) !default;

$label-theme-danger: (
    'background': $error,
    'color': $error-lighten
) !default;

$label-theme-keys: () !default;
$label-theme-keys: map.merge(
    (
        'success': $label-theme-success,
        'info': $label-theme-info,
        'warning': $label-theme-warning,
        'danger': $label-theme-danger
    ),
    $label-theme-keys
);
