/* @theme: admin.oro; */

$load-more-offset: 8px 0 !default;
$load-more-label-offset: 0 8px !default;
$load-more-label-color: $primary-550 !default;
$load-more-label-background-color: $primary-inverse !default;
$load-more-label-color-hover: $primary-300 !default;
$load-more-align: center !default;
$load-more-align: center !default;
$load-more-border-width: 1px !default;
$load-more-decor-size: 8px !default;
$load-more-decor-border: $load-more-border-width solid $primary-860 !default;
$load-more-loader-icon-size: 14px !default;
$load-more-loader-icon-width: 2px !default;

$load-more-in-thread-offset: 0 !default;
$load-more-in-thread-background-color: $primary-900 !default;
$load-more-in-thread-border-color: $primary-830 !default;
