/* @theme: admin.oro; */

$no-data-offset: 4px 0 !default;
$no-data-color: $primary-550 !default;
$no-data-font-size: 13px !default;
$no-data-line-height: 1.35 !default;

$no-data-icon: $fa-var-search !default;
$no-data-icon-offset: 6px !default;

$no-data-title-color: $primary-200 !default;
$no-data-title-font-size: 18px !default;
$no-data-title-font-weight: bold !default;
$no-data-title-offset: 10px !default;
