<% if (editable) { %>
<button type="button" data-name="capabilities-select-all" class="<%- selectAllClassName %> role-capability__select-all"
<% if (allSelected) { %>disabled="disabled"<% } %>
><%- _.__('oro.role.capability_block.select_all')%></button>
<% } %>
<h2 class="role-capability__group-title">
    <span class="role-capability__group-own-title"><%- label %></span>
    <span class="role-capability__group-common-title"><%- _.__('oro.role.capability_block.label')%></span>
</h2>
<div data-name="capability-empty-items" class="role-capability__empty-items">
    <%- _.__('oro.role.capability_block.no_capabilities_available')%>
</div>
<div data-name="capability-items" class="role-capability__items"></div>
