/* @theme: admin.oro; */

.address-book-item {
    &__address {
        margin-bottom: 0;
        line-height: $address-box-address-line-height;
    }

    &__labels {
        padding: 0;
        list-style: none;
        margin: 0 0 $address-box-item-offset-vertical;
    }

    &__label-container {
        padding: 0;
        list-style: none;
        display: inline;
    }

    &__label {
        background: none;
        padding: 0;
        text-shadow: none;
        color: $primary-600;
        font-weight: font-weight('light');
        font-size: $base-font-size--s;
        border-radius: $border-radius;

        &:not(.label-info)::after {
            content: ', ';
        }

        &-container:last-of-type &::after {
            content: '';
        }

        &.label-info {
            background: $info;
            color: $primary-inverse;
            padding: $address-box-item-label-info-padding-vertical $address-box-item-label-info-padding-horizontal;
            margin: 0 $address-box-item-label-info-offset-horizontal 0 0;
        }
    }

    &__actions {
        float: right;
        margin-right: -6px;
    }

    &__title {
        font-size: $font-size-base;
        font-weight: font-weight('bold');
        margin: 0 0 $address-box-item-title-offset-vertical;
    }
}

.map-box {
    display: flex;
    flex-direction: row;
    max-height: $address-map-size-limit;

    .map-address-list {
        width: 40%;
        overflow: hidden;
        max-height: inherit;
        margin-right: $address-box-margin-small * .5;
        padding-right: $address-box-margin-small * .5;

        &:hover {
            overflow-y: auto;
        }
    }

    .map-visual-frame {
        flex-grow: 1;

        .alert,
        .loader-overlay {
            width: auto;
            margin: 0 $address-box-margin-medium 0 $address-box-margin-small;
        }

        .map-visual-container {
            width: 100%;
        }
    }

    .map-visual {
        width: 100%;
        height: 100%;
        min-height: $address-map-visual-frame-min-height;

        img {
            max-width: none;
        }
    }

    .map-unknown {
        line-height: $address-map-size-limit;
        text-align: center;
    }

    .map-visual-frame,
    .no-data {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: $address-map-no-data-min-height;

        background: $primary-900;
        border-radius: $border-radius;

        .alert {
            background: transparent;
            color: $primary-550;
            text-align: center;
            border: none;

            .message {
                text-align: center;
            }

            &::before {
                content: none;
            }
        }
    }

    .responsive-small & {
        .map-address-list,
        .map-visual-frame {
            width: 100%;
            height: auto;
        }

        .map-visual-frame {
            .alert,
            .loader-overlay {
                margin: $address-box-margin-small 0;
            }
        }
    }

    .map-item {
        background: $primary-900;
        padding: $address-content-padding-small $content-padding-medium;
        border: 1px solid $primary-900;
        border-radius: $border-radius;

        cursor: pointer;

        &:not(:first-of-type) {
            margin-top: $address-box-margin-small;
        }

        &.active {
            background-color: $primary-860;
            border-color: $primary-800;

            cursor: default;
        }
    }

    @media (max-width: $small-screen) {
        flex-direction: column;
        max-height: 100%;

        .map-address-list {
            width: 100%;
            margin: 0 0 $address-box-margin-small 0;
            padding-right: 0;

            &:hover {
                overflow: inherit;
            }
        }
    }
}
