/* @theme: admin.oro; */

$address-content-padding-small: 10px !default;

$address-box-margin: 24px !default;
$address-box-margin-horizontal: $address-box-margin;
$address-box-margin-vertical: $address-box-margin;
$address-box-margin-medium: 16px !default;
$address-box-margin-small: 8px !default;

$address-map-size-limit: 420px !default;

$address-box-action-size: 22px !default;

$address-box-address-line-height: 1.36 !default;

$address-map-visual-frame-min-height: 110px !default;
