/* @theme: admin.oro; */

$address-content-padding-small: 11px !default;

$address-box-margin: 24px !default;
$address-box-margin-horizontal: $address-box-margin;
$address-box-margin-vertical: $address-box-margin;
$address-box-margin-medium: 16px !default;
$address-box-margin-small: 8px !default;

$address-map-size-limit: 420px !default;

$address-box-address-line-height: 1.36 !default;
$address-box-item-offset-vertical: 5px !default;
$address-box-item-label-info-padding-vertical: 1px !default;
$address-box-item-label-info-padding-horizontal: 8px !default;
$address-box-item-label-info-offset-horizontal: 4px !default;
$address-box-item-title-offset-vertical: 2px !default;

$address-map-visual-frame-min-height: 110px !default;
