/* @theme: admin.oro; */

.tags-column-editor {
    width: auto !important; // ignore cell width

    .select2-choices {
        max-width: 20vw;
    }
}

.tags-select-editor {
    min-width: $tag-selector-item-min-width; // ignore min-width

    .select2-container {
        border-radius: 0;
        height: auto;
        box-shadow: none;
        border: $border-width solid $primary-750;
    }

    .select2-choices {
        max-height: $tag-selector-item-max-height;
        min-width: $tag-selector-item-min-width;
        overflow: auto;
        background: $primary-inverse;
        margin: side-values($tag-selector-item-offset-vertical 0 0 $tag-selector-item-offset-vertical);

        &:before {
            content: ' ';
            float: #{$end};
            width: 74px;
            height: $tag-selector-item-line-height + (2 * $tag-selector-item-padding-vertical);
            font-size: $tag-selector-item-font-size;
            margin: side-values(0 0 $tag-selector-item-offset-vertical 0);
        }

        &.select2-search-resize {
            padding-#{$end}: 48px;// to fill area required for actions buttons
        }

        .select2-search-field input {
            height: $tag-selector-item-line-height + (2 * $tag-selector-item-padding-vertical);
            padding: side-values($tag-selector-item-padding-vertical 0);
            font-size: $tag-selector-item-font-size;
            line-height: $tag-selector-item-line-height;
        }

        .select2-search-choice {
            font-size: $tag-selector-item-font-size;
            line-height: $tag-selector-item-line-height;
            padding: side-values(
                $tag-selector-item-padding-vertical
                $tag-selector-item-close-icon-width
                $tag-selector-item-padding-vertical
                $tag-selector-item-padding-horizontal
            );
            color: $tag-selector-item-color;
            background: $tag-selector-item-background;
            border: 0 none;
            border-radius: $tag-selector-item-border-radius;
            box-shadow: none;
            margin: side-values(0 $tag-selector-item-offset-horizontal $tag-selector-item-offset-vertical 0);

            display: flex;
            height: auto;
            align-items: center;

            .select2-search-choice-close {
                top: 0;
                border: none;
                width: $tag-selector-item-close-icon-width;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    color: $tag-selector-item-color;
                    line-height: 1;
                }
            }

            &.select2-locked {
                padding: side-values($tag-selector-item-padding-vertical $tag-selector-item-padding-horizontal) !important;
            }
        }
    }

    &.inline-view-editor .select2-choices {
        width: 100% !important;
    }
}
