$tag-selector-min-width: 100px !default;
$tag-selector-actions-width: 74px !default;
$tag-selector-item-font-size: $base-font-size--s !default;
$tag-selector-item-line-height: $select2-search-field-line-height !default;
$tag-selector-item-min-width: 180px !default;
$tag-selector-item-max-height: 40vh !default;
$tag-selector-item-padding-horizontal: 8px !default;
$tag-selector-item-padding-vertical: 4px !default;
$tag-selector-item-offset-horizontal: 3px !default;
$tag-selector-item-offset-vertical: 3px !default;
$tag-selector-item-border-radius: 2px !default;
$tag-selector-item-close-icon-width: 24px;
$tag-selector-item-color: $primary-400;
$tag-selector-item-background: $primary-830;
$tag-selector-item-input-inner-offset: 0 !default;