/* @theme: admin.oro; */

@import "oroui/css/scss/variables";
@import "oroui/css/scss/mixins";
@import "oroui/css/scss/oro/variables/select2-variables";
@import "orodatagrid/css/scss/variables/grid-variables";

$tag-selector-min-width: 100px !default;
$tag-selector-items-width: 100% !important;
$tag-selector-item-font-size: $base-font-size--s !default;
$tag-selector-item-line-height: $select2-search-field-line-height !default;
$tag-selector-item-min-width: 180px !default;
$tag-selector-item-max-height: 40vh !default;
$tag-selector-item-padding-horizontal: $content-padding-small !default;
$tag-selector-item-padding-vertical: $content-padding-small / 2 !default;
$tag-selector-item-offset-horizontal: 3px !default;
$tag-selector-item-offset-vertical: 3px !default;
$tag-selector-item-border-radius: 2px !default;
$tag-selector-item-close-icon-width: 24px;
$tag-selector-item-color: $primary-400;
$tag-selector-item-background: $primary-830;
$tag-selector-item-input-inner-offset: 0 !default;
$tag-selector-actions-width: 65px !default;
$tag-selector-actions-font-size: $base-font-size--m !default;

$tag-item-color:                        $secondary;
$tag-item-background:                   $secondary-300;
$tag-my-item-background:                $secondary;
$tag-item-editable-hover-background:    $secondary;
$tag-item-edit-hover-alt-background:    $secondary-dark;
$tag-item-editable-hover-color:         $primary-inverse;
$tag-item-height:                       24px !default;
$tag-item-font-size:                    12px !default;
$tag-item-offset-vertical:              $content-padding-small / 2 !default;
$tag-item-offset-horizontal:            $content-padding-small / 2 !default;
$tag-item-offset:                       side-values($tag-item-offset-vertical $tag-item-offset-horizontal 0 0) !default;
$tag-item-line-height:                  absolute-line-height($oro-datagrid-font-size, $oro-datagrid-body-cell-line-height);
$tag-item-inner-offset-horizontal:      12px !default;
$tag-item-inner-offset-vertical:        ($tag-item-height - $tag-item-line-height)/2 !default;
$tag-item-inner-offset:                 side-values($tag-item-inner-offset-vertical $tag-item-inner-offset-horizontal) !default;
$tag-item-border-radius:                ($tag-item-height / 2) !default;

$tag-item-icon-offset-end:              $content-padding-small !default;

$tag-item-na-inner-offset:              2px 0 !default;

$tag-selector-action-height: $select2-search-field-line-height + ($tag-selector-item-offset-vertical * 2) !default;
$tag-selector-action-width: $tag-selector-action-height !default;

$tag-cell-container-height-delta: $tag-item-height - $oro-datagrid-editable-cell-line-height;
$tag-cell-container-inner-offset-top: $oro-datagrid-body-cell-inner-top -
    $tag-cell-container-height-delta !default;
$tag-cell-container-inner-offset-bottom: $oro-datagrid-body-cell-inner-bottom -
    $tag-item-offset-vertical -
    $tag-cell-container-height-delta !default;
$tag-cell-container-inner-offset: side-values(
        $tag-cell-container-inner-offset-top
        $oro-datagrid-editable-cell-offset
        $tag-cell-container-inner-offset-bottom
        $oro-datagrid-body-cell-inner-horizontal
) !default;
