// Typography
$lato-font-family: 'Lato', 'Helvetica', Arial, sans-serif !default;
$page-font-family: $lato-font-family !default;
$page-font-size: 14px !default;
$page-line-height: 19px !default;

// Colors
$lightblue-color: #4597ca !default;
$lightgrey-color: #d1d1d1 !default;
