@import '_config.scss';

html {
    height: 100%;
}

.page {
    &__body {
        min-height: 100%;
        height: 100%;
        margin: 0;

        font: #{$page-font-size}/#{$page-line-height} $page-font-family;
    }
}
