/* @theme: admin.oro; */

.menu a:hover {
    text-decoration: none;
}

.ajax-loading {
    position: block;
    display: none;
}

header {
    padding: 0;
}

.logo a {
    font-weight: bold;
}

.wrapper {
    width: 1127px;
}

.wrapper {
    margin: 0 auto;
    padding: 27px 25px;
    background-color: #fff;
    width: 1127px;
    box-sizing: border-box;
}

.wrapper > .content {
    border: 1px solid #dededf;
    border-radius: 7px;
}

.content div.title {
    color: #444;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #fafafa;
}

.content .body {
    padding: 25px;
}

.content table {
    border: 1px solid #dededf;
    border-radius: 7px;
    border-collapse: separate;
    width: 100%;
}

.table,
table.table {
    border: 1px solid #e1e1e1;
    width: 100%;
    border-radius: 4px;
}

table.table tr,
table.table td,
table.table th {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    line-height: 22px;
    text-align: left;
}

table.table td,
table.table th {
    padding: 10px 15px;
    vertical-align: top;
}

table.table th {
    background: linear-gradient(#f6f6f6, #f4f4f4);
    text-transform: uppercase;
}

table.table .dark {
    background-color: #f9f9f9;
}

table.table {
    margin-bottom: 30px;
}

.content .body table th {
    background-color: #f6f6f6;
}

.content .body table tr,
.content .body table td,
.content .body table th {
    border: none;
}

.content .body table td {
    border-top: 1px solid #e1e1e1;
}

.content .body table colgroup col:first-child {
    background-color: #f8f9fa;
}

#back-to-installed {
    padding: 10px 0 0;
    line-height: 40px;
    font-size: 16px;
}

#back-to-installed .icon {
    margin-right: 5px;
}

#install-new-package i {
    height: 20px;
}

#install-new-package {
    padding-left: 10px;
}

.ajax.update {
    color: #60a53b;
}

#alerts .alert {
    padding: 14px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(90, 90, 90, .8);
}

#alerts .alert .close {
    position: static;
    top: auto;
    right: auto;
    font-size: 24px;
}

#alerts .icon {
    font-size: 20px;
    vertical-align: bottom;
}

#alerts .fa-success:before {
    content: "\f00c";
}

#alerts .fa-error:before {
    content: "\f06a";
}

.confirm-dialog.modal.fade.in {
    top: 25%;
    box-shadow: 0 0 19px rgba(50, 50, 50, .75);
}

.confirm-dialog .modal-dialog .modal-content {
    background-color: #fee0e0;
    border-radius: 5px;
    font-size: 14px;
}

.confirm-dialog .modal-dialog .modal-content .modal-header {
    background-color: #fececc;
    border: none;
    border-radius: 5px 5px 0 0;
}

.confirm-dialog .modal-dialog .modal-content .modal-footer {
    border: none;
    box-shadow: none;
    background-color: inherit;
    text-align: center;
}

.confirm-dialog .modal-dialog .modal-content .modal-header .close {
    font-size: 25px;
}

.confirm-dialog .modal-dialog .modal-content .modal-footer button {
    margin: 0 7px;
    padding: 0 15px;
    height: 35px;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .5;
}

.desktop-version .app-page {
    overflow: auto;
}

#load-demo-data {
    display: none;
}

#load-demo-data + span {
    font-size: 15px;
}

#load-demo-data + span:before {
    font-family: 'FontAwesome';
    padding-right: 2px;
    content: "\f096";
}

#load-demo-data:checked + span:before {
    content: "\f046";
}

.form {
    width: 420px;
}

.form .actions .btn {
    float: right;
}

.form .actions {
    height: 40px;
}

.form legend {
    margin-bottom: 10px;
}

.form fieldset .field {
    margin-top: 10px;
}

.form fieldset .field select {
    width: 90px;
}

.form fieldset .field input[type="text"],
.form fieldset .field select {
    margin-bottom: 0;
}

.form fieldset .field .validation-failed {
    padding-left: 95px;
}

.confirm-dialog span.installed {
    font-weight: bold;
    color: #1b801b;
}

#alerts ul {
    margin-left: 50px;
}

.control-group label,
.control-group .controls,
.control-group .actions {
    float: left;
}

.control-group label {
    padding-top: 5px;
}

.control-group .controls,
.control-group .actions {
    padding-left: 10px;
}

.app-page {
    overflow: auto;
}
