.integration-icon,
.select2-choice .select2-chosen .aware-icon-block,
.select2-results .select2-result-label .aware-icon-block {
    height: 16px;
    width: 16px;
    background-size: contain !important;
}

.select2-results .select2-result-label .aware-icon-block {
    position: relative;
    top: 3px;
}

.select2-choice .select2-chosen .aware-icon-block-selected,
.select2-results .select2-result-label .aware-icon-block-selected {
    margin-bottom: 5px;
}

.integration-icon,
.select2-choice .select2-chosen .aware-icon-block-text,
.select2-results .select2-result-label .aware-icon-block-text {
    display: inline-block;
}
