/* @theme: admin.oro; */

.logo-wrapper span.selected {
    display: block;
    padding: 3px 13px;
}

.logo-placeholder {
    display: block;
}

.dropdown-organization-switcher li a {
    white-space: pre;
}
