/* @theme: blank; */

html {
    background: $print-page-background;
}

.body {
    margin: $print-page-offset;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

tr {
    page-break-inside: avoid;
}

img {
    // stylelint-disable-next-line declaration-no-important
    max-width: 100% !important;
    page-break-inside: avoid;
}

@page {
    margin: 10mm;
}
