@if ($use-basic-styles) {
    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%
    }

    html,
    body {
        min-height: 100%;
        height: 100%;
    }

    .body {
        min-width: $breakpoint-mobile;
        margin: 0;

        font: #{$base-font-size}/#{$base-line-height} $base-font;

        background-color: get-color('additional', 'ultra');
        color: get-color('additional', 'darker');
    }
}
