/* @theme: blank; */

$datagrid-header-cell-background: get-color('additional', 'base') !default;
$datagrid-header-cell-offset-inner: $offset-y-s ($offset-x - 2px) !default;
$datagrid-header-cell-vertical-align: middle !default;
$datagrid-header-cell-border-width: 1px 0 !default;
$datagrid-header-cell-font-weight: 600 !default;
$datagrid-header-cell-text-align: left !default;

$datagrid-header-cell-mass-action-offset-inner: $offset-y-s ($offset-x - 2px) $offset-y-s $offset-x-m !default;

$datagrid-header-cell-action-column-width: 50px !default;
$datagrid-header-cell-action-column-text-align: right !default;

$datagrid-header-cell-caret-offset: 0 0 0 5px !default;
$datagrid-header-cell-caret-color: get-color('additional', 'dark') !default;
$datagrid-header-cell-caret-size: 4px !default;

$datagrid-header-cell-caret-position: absolute !default;
$datagrid-header-cell-caret-top: 50% !default;
$datagrid-header-cell-caret-right: -15px !default;

$datagrid-header-cell-link-font-size: $base-font-size !default;
$datagrid-header-cell-link-font-weight: 600 !default;
$datagrid-header-cell-link-line-height: 1 !default;
$datagrid-header-cell-link-color: get-color('additional', 'dark') !default;
$datagrid-header-cell-link-position: relative !default;
$datagrid-header-cell-link-hover-color: get-color('additional', 'dark') !default;
$datagrid-header-cell-link-hover-text-decoration: none !default;
