/* @theme: blank; */

$datagrid-body-cell-offset: 16px 14px !default;
$datagrid-body-cell-vertical-align: middle !default;
$datagrid-body-cell-border-width: 1px 0 !default;

$datagrid-body-cell-action-cell-width: 50px !default;
$datagrid-body-cell-action-cell-text-align: right !default;
