// @theme: blank;

$grid-views-border-bottom: 1px solid get-color('additional', 'light') !default;

$grid-views-offset: 0 !default;

$grid-views-title-font-size: $base-font-size--large !default;
$grid-views-title-font-family: $base-font  !default;
$grid-views-title-text-transform: uppercase !default;

$grid-views-subtitle-offset-inner: $offset-y !default;
$grid-views-edit-label-color: get-color('additional', 'middle') !default;
$grid-views-dropdown-width: 290px !default;
$grid-views-dropdown-list-item-offset-inner: 12px 10px 12px 15px !default;
$grid-views-dropdown-list-item-border: 1px solid get-color(additional, 'light') !default;

$grid-views-actions-color: lighten(get-color(additional, 'dark'), 38%) !default;

$grid-views-dropdown-footer-offset-inner: $offset-y-s $offset-x-m !default;
$grid-views-dropdown-form-content-offset-inner: $offset-y-s 0;

$grid-views-title-icon-inner-offset: 30px !default;

// Mobile

$grid-views-dropdown-mobile-width: calc(100vw - 18px) !default;
