// @theme: blank;

$launcher-item-icon-size: 16px !default;
$launcher-item-offset: $offset-y-s 0 !default;
$launcher-item-action-inner-offset: 0 $offset-x-m !default;
$launcher-item-icon-color: get-color('additional', 'middle') !default;
$launcher-item-icon-hover-focus-color: get-color('additional', 'dark') !default;
$launcher-item-icon-map-first-padding-left: 15px !default;

// Separator styles
$launcher-item-separator-top: 5px !default;
$launcher-item-separator-bottom: 5px !default;
$launcher-item-separator-left: 0 !default;
$launcher-item-separator-border-left: 1px solid get-color('additional', 'middle') !default;

// enable/disable separators
$launcher-item-separator-text-only: true !default;
$launcher-item-separator-icon-only: true !default;
$launcher-item-separator-icon-text: false !default;

// enable/disable separators for dropdown
$launcher-item-separator-dropdown-text-only: false !default;
$launcher-item-separator-dropdown-icon-only: true !default;
$launcher-item-separator-dropdown-icon-text: false !default;
