/* @theme: blank; */

$no-data-background: get-color('additional', 'base') !default;
$no-data-font-size: 14px !default;
$no-data-text-align: center !default;
$no-data-offset: 0 !default;
$no-data-inner-offset: 20px !default;
$no-data-border-radius: 4px !default;
