<div class="multi-checkbox-control">
    <select data-name="multi-checkbox-value-keeper" multiple>
        <% _.each(options, function (option) { %>
        <option value="<%- option.value %>" title="<%- option.text %>"
        <% if (_.indexOf(values, option.value) !== -1) { %> selected="selected"<% } %>>
        <%- option.text %>
        </option>
        <% }); %>
    </select>
    <% _.each(options, function (option) { %>
    <label class="multi-checkbox-control__item"><input type="checkbox" value="<%- option.value %>" name="<%- name %>"
        <% if (_.indexOf(values, option.value) !== -1) { %> checked="checked"<% } %>>
        <span class="multi-checkbox-control_text"><%- option.text %></span></label>
    <% }); %>
</div>
