<div class="inline-editor__fields">
    <input name="value" type="<%= inputType %>" value="<%= value %>"
           class="form-control" placeholder="<%= placeholder %>"
           autocomplete="off">
</div>
<div class="inline-editor__actions">
    <button class="inline-editor__action-item" type="submit"
            title="<%= _.__('oro.form.inlineEditing.action.save') %>"><i class="icon-check"></i></button>
    <button class="inline-editor__action-item" data-action="cancel"
            title="<%= _.__('oro.form.inlineEditing.action.cancel') %>"><i class="icon-ban-circle"></i></button>
</div>
