{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'oro-locale-localizations-grid' %}
{% set pageTitle = 'oro.locale.localization.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('oro_locale_localization_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_locale_localization_create'),
                'entity_label': 'oro.locale.localization.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
