<div class="sidebar-wrap sidebar-wrap-1">
    <div class="sidebar-wrap sidebar-wrap-2">
        <div class="sidebar-resize">
            <a href="#"></a>
        </div>
        <div class="sidebar-content"></div>
        <div class="sidebar-add">
            <a href="#" >
                <i class="icon-plus"></i>
            </a>
        </div>
    </div>
    <div class="sidebar-toggle">
        <div class="sidebar-toggle-holder">
            <a href="#">
                <i class="icon-forward"></i>
                <i style="display: none;" class="icon-backward"></i>
            </a>
        </div>
    </div>
</div>
