/* @theme: blank; */

// Mixin for border, if need to use shorthand property, set $use-shorthand to true
// Null property doesn't render
@mixin border(
    $width: null,
    $style: null,
    $color: null,
    $use-shorthand: false
) {
    @if ($use-shorthand) {
        border: $width $style $color;
    } @else {
        border-width: $width;
        border-style: $style;
        border-color: $color;
    }
}
