/* @theme: blank; */

@mixin focus-visible(
    $focus-inner-border: with-inner-border,
    $border-color-inner: $focused-element-inner-border-color,
    $border-width-inner: $focused-element-inner-border-width,
    $border-width-outer: $focused-element-outer-border-width,
    $border-color-outer: $focused-element-outer-border-color,
    $blur: $focused-element-outer-shadow-blur){

    @if $focus-inner-border == with-inner-border {
        box-shadow: 0 0 0 $border-width-inner $border-color-inner, 0 0 0 ($border-width-outer + $border-width-inner) $border-color-outer, 0 0 $blur $border-color-outer;
    }
    @else if $focus-inner-border == no-inner-border{
        box-shadow: 0 0 0 $border-width-outer $border-color-outer, 0 0 $blur $border-color-outer;
    }
}
