/* @theme: blank; */

// Mixin for inject vertical separators in list
// parent block should has position: relative
@mixin list-separator($enabled: true, $top: 1px, $bottom: 1px, $left: 0, $border: 1px solid) {
    @if ($enabled) {
        &:not(:first-child) {
            &:before {
                top: $top;
                left: $left;
                bottom: $bottom;

                border-left: $border;

                @include after();
            }
        }
    }
}
