{% block oro_microsoft_integration_enable_config_checkbox_widget %}
    <div data-page-component-module="oromicrosoftintegration/js/app/components/enable-checkbox-component">
        {{ block('checkbox_widget') }}
    </div>
{% endblock %}
