/* @theme: admin.oro; */

html,
body,
.app-page,
.app-page__central-panel {
    height: auto !important;
}

.app-page {
    display: block;
    &__main {
        display: block;
        width: 100% !important;
    }

    &__left-panel,
    &__right-panel {
        display: none;
    }
}
