/* @theme: admin.oro; */

html,
body,
.app-page,
.app-page__central-panel {
    // stylelint-disable-next-line declaration-no-important
    height: auto !important;
}

.app-page {
    display: block;

    &__main {
        display: block;
        // stylelint-disable-next-line declaration-no-important
        width: 100% !important;
    }

    &__left-panel,
    &__right-panel {
        display: none;
    }
}
