@name = sync_wrong_credentials_user_box
@subject = Synchronization with the mailbox was not successful
@isSystem = 1
@isEditable = 1

<style>
    @media (max-width: 480pt) {
        .wrapper{
            width: 100% !important;
        }
    }
    a:hover {
        text-decoration: underline;
    }
</style>
<table class="wrapper" style="border-collapse: collapse; width: 640px; width: 480pt; max-width: 100%; box-sizing: border-box">
    <tr>
        <td style="background-color: #ffffff; padding: 4pt">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; color: #444444">Hello.</span>
            <div style="height: 10pt; line-height: 10pt">&nbsp;</div>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                The synchronization with your mailbox was not successful because of the invalid credentials. The mailbox data:
            </p>
            <table class="highlight" style="border-collapse:collapse; background: #FFF9E9; color: #827030; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">
                <tr>
                    <td style="width: 65pt; padding: 9pt 5pt 0 10.5pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Username:</strong></td>
                    <td style="padding: 9pt 9pt 0 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ username }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 9pt 10.5pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Host:</strong></td>
                    <td style="padding: 0 9pt 9pt 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ host }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
