/* @theme: admin.oro; */

.notes {
    position: relative;

    .list-box {
        margin-top: $note-item-margin-top;

        .list-item {
            padding: $note-message-list-item-offset;
            display: inline-block;

            .visual {
                margin-#{$start}: $note-message-padding - ($note-avatar-size + $note-avatar-margin-horizontal);
                display: block;

                img {
                    max-width: $note-avatar-size;
                    max-height: $note-avatar-size;
                    display: block;
                }

                .avatar {
                    border-radius: $note-avatar-size / 2;
                    overflow: hidden;
                    display: inline-block;
                    float: #{$start};
                    width: $note-avatar-size;
                    font-size: $note-avatar-size;
                    margin-#{$end}: $note-avatar-margin-horizontal;
                    margin-top: $note-avatar-margin-vertical;
                    text-align: center;
                    line-height: $note-avatar-size;
                    color: $note-avatar-color;
                }
            }

            .avatar-placeholder {
                display: inline-block;

                @include fa-icon($note-avatar-placeholder);
            }

            .user {
                font-style: normal;
            }

            .date {
                font-style: normal;
                font-size: smaller;
                white-space: nowrap;
                color: $primary-550;
            }

            .title-item {
                white-space: nowrap;

                .details {
                    padding-#{$start}: 7px;
                }
            }

            .actions {
                white-space: nowrap;
                float: none;
                margin: 0;
            }

            .message-item {
                width: 100%;

                .message {
                    color: $primary-550;

                    &:before {
                        content: '- ';
                    }
                }
            }

            .labels {
                text-align: #{$end};
            }

            .label {
                border-radius: ($badge-font-size / 2) + $badge-padding-y;
                background: $primary-830;
                padding: $badge-padding-y $badge-padding-x;
                font-size: $badge-font-size;
                line-height: 1;
                color: $primary-500;
            }
        }

        .list-item {
            display: block;
            border-top: 1px solid $primary-830;
            border-bottom: 0;
        }

        .list-item:last-child {
            border-bottom: 0;
        }
    }

    .accordion {
        margin-top: $note-item-margin-top;

        .accordion-group {
            border: 0;
            margin: 0;

            .accordion-heading {
                display: table;
                border-collapse: separate;

                & > div {
                    display: table-cell;

                    &:not(:first-child) {
                        padding-#{$start}: $note-heading-margin;
                    }
                }

                .message {
                    display: block;
                    overflow: hidden;
                    height: 20px;
                }

                .accordion-toggle {
                    display: inline-block;
                    padding: 0;
                    min-width: $note-accordion-icon-size + 1;
                    margin-#{$end}: -($note-accordion-icon-size + 1);
                    float: #{$start};
                    position: relative;

                    @include fa-icon($note-accordion-icon, before, true) {
                        color: $primary-550;
                        font-size: $note-accordion-icon-size;
                        line-height: $note-accordion-line-height;
                    }

                    &.collapsed {
                        @include fa-icon($note-accordion-collapsed-icon);
                    }
                }
            }

            .accordion-heading.in .message {
                display: none;
            }

            .accordion-body.collapse {
                height: auto;
            }

            .accordion-body {
                .message {
                    display: none;
                    padding-top: $content-padding-small / 2;
                    overflow-x: auto;
                }

                .details {
                    padding-top: $content-padding-small;
                }
            }

            .accordion-body.in .message {
                display: block;
                padding-#{$start}: $note-message-padding;
            }
        }
    }
}

.note-attachments {
    float: left;
    width: 100%;

    .attachment-item {
        margin-#{$start}: 15px;
    }

    .thumbnail {
        display: block;
        width: 110px;
        height: 80px;
        text-align: center;
        background: $primary-830;
        border-radius: 4px;
    }

    .link-to-record {
        padding-top: 10px;

        .fa {
            color: $additional-dark;
            font-size: 15px;
            margin: side-values(0 1px 0 0);
        }
    }
}

.ui-dialog .note-form textarea,
.ui-dialog .note-form .mce-tinymce {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
