/* @theme: admin.oro; */
$note-accordion-icon: $fa-var-minus-square-o !default;
$note-accordion-collapsed-icon: $fa-var-plus-square-o !default;
$note-accordion-line-height: 1.4 !default;
$note-accordion-icon-size: 16px !default;
$note-avatar-size: 16px !default;
$note-avatar-color: $primary-550 !default;
$note-avatar-placeholder: $fa-var-user-circle !default;
$note-avatar-margin-horizontal: 8px !default;
$note-avatar-margin-vertical: 3px !default;
$note-message-padding: 45px !default;
$note-heading-margin: 20px !default;
$note-item-margin-top: 7px !default;
$note-message-list-item-offset: side-values(12px 4px 12px 16px) !default;
