<div class="control-group">
    <label for="oro_package_install_packageName" class="required">{{ 'oro.distribution.package.name'|trans }}</label>
    <div class="controls">
        <input type="text"
               id="oro_package_install_packageName"
               required="required"
               autocomplete="off"
               data-required-message="{{ 'oro.distribution.messages.enter_package_name'|trans }}"
        />
    </div>
    <div class="actions">
        <a href="#" class="btn btn-success ajax install"
           data-action="install"
           data-params='{"packageName": "#oro_package_install_packageName"}'>{{ 'oro.distribution.action.install'|trans }}</a>
    </div>
</div>
