/* @theme: admin.oro; */

$spacerHeight: 10px;

@mixin btn-link() {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    font-weight: normal;
    outline: none;
    color: $link-color;

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}
