/* @theme: admin.oro; */

$query-designer-controls-group-margin-start: 8px !default;
$query-designer-control-group-width: 146px !default;
$query-designer-sorting-selector-width: 80px !default;
$query-designer-filter-box-background: $primary-inverse !default;
$query-designer-filter-box-padding: side-values(0 5px 0 0) !default;
$query-designer-filter-item-border-radius: 3px !default;
$query-designer-submit-cancel-buttons-margin-start: $query-designer-controls-group-margin-start !default;
$query-designer-grid-th-font-size: 11px !default;
$query-designer-grid-label-cell-width: 150px !default;
$query-designer-grid-function-cell-width: 140px !default;
$query-designer-grid-sorting-cell-width: 60px !default;
$query-designer-grid-action-cell-width: 60px !default;
$query-designer-grid-index-cell-width: 36px !default;
