/* @theme: admin.oro; */

$query-designer-control-group-min-height: 30px !default;
$query-designer-controls-margin-start: 10px !default;
$query-designer-control-label-min-width: 63px !default;
$query-designer-select2-container-width: 140px !default;
$query-designer-label-text-width: 90px !default;
$query-designer-function-selector-width: 120px !default;
$query-designer-sorting-selector-width: 50px !default;
$query-designer-filter-box-background: $primary-inverse !default;
$query-designer-filter-box-padding: side-values(0 5px 0 0) !default;
$query-designer-filter-item-border-radius: 3px !default;
$query-designer-submit-cancel-buttons-margin-start: 10px !default;
$query-designer-grid-th-font-size: 11px !default;
$query-designer-grid-label-cell-width: 150px !default;
$query-designer-grid-function-cell-width: 140px !default;
$query-designer-grid-sorting-cell-width: 60px !default;
$query-designer-grid-action-cell-width: 60px !default;
$query-designer-grid-index-cell-width: 36px !default;
$query-designer-list-icon-font-size: 14px !default;
$query-designer-columns-grid-action-cell-width: 86px !default;
