<%
var data = JSON.parse(text);
var background = '';
if (data.icon) {
background = 'style="background: url(/' + data.icon + ') no-repeat; height: 16px; width: 16px; background-size: contain; display: inline-block; margin-bottom: 5px;"';
}
%>
<span <%= background %> ></span>
&nbsp;
<span style="display: inline-block;"><%= highlight(data.label) %></span>
