{% extends bap.layout %}

{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set pageTitle = 'oro.navigation.menuupdate.menus'|trans %}

{% if entityClass is defined %}
    {% set buttonsPlaceholderData = {'entity_class': entityClass} %}
{% endif %}

{% block content %}
    <div class="container-fluid page-title">
        <div class="navigation navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                    {{ include('OroNavigationBundle:menuUpdate:pageHeader.html.twig') }}
                </div>
                {% if entityClass is defined %}
                    <div class="pull-right title-buttons-container invisible"
                         data-page-component-module="oroui/js/app/components/view-component"
                         data-page-component-options="{{ {'view': 'oroui/js/app/views/hidden-initialization-view'}|json_encode }}"
                         data-layout="separate">
                        {% placeholder index_navButtons_before with buttonsPlaceholderData %}
                        {% block navButtons %}{% endblock navButtons %}
                        {% placeholder index_navButtons_after with buttonsPlaceholderData %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content_datagrid %}
        {% if gridName is defined %}
            {% if gridScope is defined %}
                {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
            {% endif %}
            {% set renderParams = {
            'enableFullScreenLayout': true,
            'enableViews': true,
            'showViewsInNavbar': true,
            }
            |merge(renderParams|default({})) %}
            {{ dataGrid.renderGrid(gridName, params|default({}), renderParams) }}

            {# Only grids on index pages will be tagged #}
            {% import 'OroUIBundle::macros.html.twig' as UI %}

            <div {{ UI.renderPageComponentAttributes({
                module: 'orodatagrid/js/app/components/datagrid-allow-tracking-component',
                options: {
                    gridName: gridName
                }
            }) }}></div>
        {% endif %}
    {% endblock content_datagrid %}
{% endblock content %}
