{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set pageTitle = 'oro.navigation.menuupdate.menus'|trans %}

{% if ownershipType == constant('Oro\\Bundle\\NavigationBundle\\Entity\\MenuUpdate::OWNERSHIP_ORGANIZATION') %}
    {% set gridName = 'menu-organization-grid' %}
    {% set breadcrumbs = {
        'entityTitle': 'oro.navigation.menu.menu_list_default.label'|trans
    } %}
{% else %}
    {% set gridName = 'menu-user-grid' %}
    {% set fullname = app.user|oro_format_name|default('N/A') %}
    {% oro_title_set({params : {"%username%": fullname}}) %}
    {% set breadcrumbs = {
        'indexPath': path('oro_user_index'),
        'indexLabel': 'oro.user.entity_plural_label'|trans,
        'additional': [
            {
                'indexPath': path('oro_user_profile_view'),
                'indexLabel': fullname
            }
        ],
        'entityTitle': 'oro.navigation.menuupdate.roots_plural_label'|trans
    } %}
{% endif %}

{% if entityClass is defined %}
    {% set buttonsPlaceholderData = {'entity_class': entityClass} %}
{% endif %}

{% block content %}
    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                    {{ include('OroNavigationBundle:MenuUpdate:pageHeader.html.twig') }}
                </div>
                <div class="pull-right title-buttons-container invisible"
                     data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ {'view': 'oroui/js/app/views/hidden-initialization-view'}|json_encode }}"
                     data-layout="separate">
                    {% placeholder index_navButtons_before with buttonsPlaceholderData %}
                    {% block navButtons %}{% endblock navButtons %}
                    {% placeholder index_navButtons_after with buttonsPlaceholderData %}
                </div>
            </div>
        </div>
    </div>
    {% block content_datagrid %}
        {% if gridName is defined %}
            {% if gridScope is defined %}
                {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
            {% endif %}
            {% set renderParams = {
            'enableFullScreenLayout': true,
            'enableViews': true,
            'showViewsInNavbar': true,
            }
            |merge(renderParams|default({})) %}
            {{ dataGrid.renderGrid(gridName, params|default({}), renderParams) }}

            {# Only grids on index pages will be tagged #}
            <script type="text/javascript">
                require(['oronavigation/js/content/grid-builder'], function (GridTagBuilder) {
                    GridTagBuilder.allowTracking({{ gridName|json_encode|raw }});
                });
            </script>
        {% endif %}
    {% endblock content_datagrid %}
{% endblock content %}
