.search-header {
  padding: 16px 20px 13px;
  &.container-fluid {
    background-color: #f8f8f8;
  }
  h2, .search-form {
    margin: 0 0 5px;
  }
  h2 {
    font-size: 20px;
    float: left;
    line-height: 30px;
    margin-right: 15px;
  }
  .search-form {
    float: left;
    min-width: 260px;
    padding-left: 0px;
    input[type="text"] {
      width: 300px;
    }
    .btn { height: 30px; line-height: 29px; }
  }
}

.search-results-column {
  .customer-info {
    padding: 0 0 0 60px;
    margin: 9px 0 5px;
    h1{
      font-size: 18px;
      line-height: 18px;
    }
    .sub-title {
      font-size: 13px;
      line-height: 1em;
    }
    .user-name {
      margin: 2px 0 3px;
    }
  }
}

.search-no-results {
  margin:10px auto;
  width: 98%;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.search-grid {
  .table.grid tbody tr:first-child td{
    border-top: 0 none;
  }
}
.mobile-version {
  .search-header .search-form {
    input[type="text"] {
      width: 218px;
    }
    @media only screen and (max-width : 512px) {
      clear: both;
      width: 100%;
      .input-append {
        width: 100%;
      }
      input[type="text"] {
        width: calc(~"100% - 88px");
      }
    }
  }
  .search-grid {
    .pagination-container {
      .pull-right {
        margin-left: 5px;
      }
      .separator {
        display: none;
      }
    }
  }
}
