# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\ActivityBundle\EventListener\Datagrid\ContextGridListener:
            onBuildAfter:
                alias: true
