<div class="control-group">
    <div class="controls">
        {{ form_row(form.imapAccountType.userEmailOrigin.checkFolder) }}
    </div>
</div>
{{ form_row(form.imapAccountType.userEmailOrigin.folders) }}

{{ form_row(form.imapAccountType.userEmailOrigin) }}
