{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.locale.locale.id.label'|trans, entity.id) }}
        </div>
    </div>
</div>
