{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'workflow-definitions-grid' %}
{% set pageTitle = 'oro.workflow.workflowdefinition.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('oro_workflow_definition_create') %}
        <div class="btn-group">
            {{ UI.addButton({
            'path' : path('oro_workflow_definition_create'),
            'entity_label': 'oro.workflow.workflowdefinition.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}
