<div class="comment-title">
    <% if (avatarUrl) { %>
        <img class="comment-title-avatar" src="<%- avatarUrl %>">
    <% } else { %>
    <div class="comment-title-avatar no-avatar"></div>
    <% } %>
</div>

<div class="comment-content">
    <div class="comment-author-info">
        <% if (owner_id) {  %>
            <%= _.__('oro.comment.item.added',{
                user: '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>',
                time: '<span class="date">' + createdTime + '</span>'
            }) %><% } %><% if (editor_id) { %>,
            <%= _.__('oro.comment.item.update',{
                user: '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>',
                time: '<span class="date">' + updatedTime + '</span>'
            }) %>
        <% } %>
    </div>
    <div class="comment-body"><%= message %></div>
    <% if (attachmentURL) { %>
    <div class="comment-attachments">
        <div class="attachment-item attachment-item--note">
            <div class="thumbnail">
            <% if (attachmentThumbnail) { %>
                <a href="<%- attachmentURL %>" data-gallery="comment-view-<%- relationId %>" class="no-hash" title="<%- attachmentFileName %>">
                    <div class="thumbnail" style="background: url('<%- attachmentThumbnail %>') 50% 50% no-repeat;"></div>
                </a>
            <% } else { %>
                    <i class="fa <%- attachmentIcon %> fa-3x"></i>
            <% } %>
            </div>
            <div class="dropdown link-to-record">
                <% var attachmentTogglerId = _.uniqueId('dropdown-') %>
                <a class="no-hash dropdown-toggle dropdown-toggle--no-caret file-menu attachment-item__filename" id="<%- attachmentTogglerId %>" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa <%- attachmentIcon %>" aria-hidden="true"></span> <%- attachmentFileName %>
                </a>
                <ul class="dropdown-menu file-menu" role="menu" aria-labelledby="<%- attachmentTogglerId %>">
                    <li>
                    <a class="dropdown-item no-hash" tabindex="-1" href="<%- attachmentURL %>">
                        <%= _.__('oro.comment.attachment.download') %><span>(<%- attachmentSize %>)</span>
                    </a>
                    <% if (attachmentThumbnail) { %>
                        <a class="dropdown-item view-image no-hash" tabindex="-1" data-gallery="comment-view-<%- relationId %>" href="<%- attachmentURL %>"><%= _.__('oro.comment.attachment.view') %></a>
                    <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="comment-actions">
    <% if (hasActions) { %>
    <div class="more-bar-holder">
        <% var actionsTogglerId = _.uniqueId('dropdown-') %>
        <div class="dropdown"><button data-toggle="dropdown" class="comment-actions__trigger btn btn-icon btn-lighter " id="<%- actionsTogglerId %>"
                                 data-placement="left-start" aria-haspopup="true" aria-expanded="false" aria-label="<%- _.__('oro.comment.actions_label') %>">
            </button>
            <ul class="dropdown-menu launchers-dropdown-menu" role="menu" aria-labelledby="<%- actionsTogglerId %>">
                <li>
                    <ul class="launchers-list">
                        <% if (editable) { %>
                        <li class="launcher-item mode-icon-only">
                            <button class="btn btn-icon btn-light action mode-icon-only item-edit-button" title="<%= _.__('oro.comment.action.update') %>">
                                <span class="fa-pencil-square-o hide-text" aria-hidden="true"><%= _.__('oro.comment.action.update') %></span>
                            </button>
                        </li>
                        <% } %>
                        <% if (removable) { %>
                        <li class="launcher-item mode-icon-only">
                            <button class="btn btn-icon btn-light action mode-icon-only item-remove-button" title="<%= _.__('oro.comment.action.delete') %>">
                                <span class="fa-trash-o hide-text" aria-hidden="true"><%= _.__('oro.comment.action.delete') %></span>
                            </button>
                        </li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <% } %>
</div>
