<h5>
    Comments
    <% if (state.count && state.count !== 0) { %>
        (<%= state.count %>)
    <% } %>
</h5>
<% if (syncState === 'synced') { %>
    <% if (!state.count || state.count == 0) { %>
        <div class="no-data"><span>No comments was found.<span></span></span></div>
    <% } else if (state.count !== items.length && state.count !== 0) { %>
    <a class="load-more"><span>
        <%= _.__(
            state.count - items.length > state.loadMoreItemsQuantity ?
                'oro.comment.loadMoreWithTotals' :
                'oro.comment.loadMore',
            {
                count: Math.min(state.loadMoreItemsQuantity, state.count - items.length),
                total: state.count - items.length
            }
        ) %>
    </span></a>
    <% } %>
<% } else { %>
    <div class="load-more"><span class="loading-indicator"></span></div>
<% } %>
