<div class="widget-content">
    <fieldset class="form-horizontal form-horizontal-large">
        <h5 class="user-fieldset">
            <span>Comments</span>
        </h5>
    </fieldset>

    <div class="form-container comment-form-group">
        <form id="oro_comment_form" method="post" class="comment-form" novalidate="novalidate">
            <fieldset class="form-horizontal">
                <textarea id="oro_comment_form_message" name="message" required="required" class="comment-text-field" placeholder="Enter your comment..."></textarea>
                <div style="margin-top: 8px;">
                    <div style="position: relative; text-align: right;">
                        <button class="btn add-comment-button" type="button">
                            Add Comment
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <script type="text/javascript">
            require(['jquery', 'jquery.validate'],
                    function ($) {
                        var options = {};
                        $('#oro_comment_form').validate(options);
                    });
        </script>
    </div>

    <ul class="unstyled comments"></ul>
    <div class="no-data"><span><%= _.__('oro.comment.comment_list.empty_collection') %></span></div>
</div>
