<% if (pages > 1) { %>
<label class="dib"><%= _.__('oro.pagination.page') %></label>
<ul class="icons-holder">
    <li class="pagination-previous<% if (current === 1) { %> disabled<% } %>">
        <a href="#" data-action-name="goto_previous"><i class="icon-chevron-left hide-text"></i></a>
    </li>
    <li>
        <input class="pagination-current" data-action-name="goto_page" type="number" value="<%= current %>" />
    </li>
    <li class="pagination-next<% if (current === pages) { %> disabled<% } %>">
        <a href="#" data-action-name="goto_next"><i class="icon-chevron-right hide-text"></i></a>
    </li>
</ul>
<label class="dib">
    <%= _.__('oro.pagination.total', {
        pages: '<span class="pagination-total-num">' + pages + '</span>',
        records: '<span class="pagination-total-count">' + records + '</span>'
    }) %>
</label>
<% } %>
