/* @theme: admin.oro; */

.user-emails-row {
    margin: 8px;
    height: 84px;
    overflow: hidden;

    &__date {
        float: right;
    }

    &__select-row {
        float: left;

        input[type='checkbox'] {
            margin: -3px 2px 0 0;
        }
    }

    &__attachments {
        float: right;
        margin-right: 4px;
        line-height: 16px;
    }

    &__contacts {
        float: left;
        max-width: calc(100% - 84px);
        margin-left: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subject {
        .email-subject {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .email-body {
            white-space: normal;
            color: $primary-500;
        }
    }
}

.user-emails-grid {
    .grid-row {
        overflow: hidden;
    }

    .grid-row:not(:first-child) {
        border-top: 1px solid $general-border-color;
    }
}

.ui-dialog {
    .email-form {
        .form-horizontal {
            width: 100%;

            .control-group {
                max-width: 100%;

                /* stylelint-disable selector-max-compound-selectors */
                .controls {
                    &:first-child {
                        margin-left: 0;
                    }
                }

                > .control-label {
                    width: 100%;
                }

                .email-body-action {
                    display: block;
                    margin-right: 0;
                    margin-bottom: 6px;
                }
                /* stylelint-enable selector-max-compound-selectors */
            }
        }
    }
}
