.grid {
  .row-edit-mode {
    background: #FFFCEC;
  }
  .editable {
    &.save-success {
      background: #F4FEE2;
    }
    &.save-fail {
      background: #FFEEEE;
    }
    &.edit-mode {
      position: relative;
      background: #F4EFD4;
      > .icon-edit {
        display: none !important;
      }
    }
    &.view-mode {
      > .icon-edit {
        display: none !important;
      }
    }
    &.view-mode:hover {
      background: #F4EFD4;
      position: relative;
      > .icon-edit {
        display: block !important;
        position: absolute;
        top: 2px;
        right: -1px;
        width: 25px;
        height: 25px;
        line-height: 35px;
        background: #fff;
        text-align: center;
        border: solid 1px #ddd;
        border-radius: 4px;
        padding-left: 2px;
        &:hover {
          box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
      }
    }
    &.loading{
      background: #f5f5f5;
      &.view-mode > .icon-edit {
        display: none !important;
      }
      &:before {
        background: url('../../oroui/img/loader-16.gif') no-repeat center center #f5f5f5;
        display: block !important;
        content: "";
        position: absolute;
        top: 0;
        right: 1px;
        width: 29px;
        height: 29px;
      }
    }
  }
}
.icon-times:before {
  content: "\f00d";
}

.inline-editor-wrapper {
  position: absolute;
  padding: 7px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  .input-append {
    margin: 0;
  }
  .icon-check:before {
    content: "\f00c";
  }
  .validation-failed:last-child {
    margin-bottom: 0px
  }
  &.text-editor {
    width: 349px;
    input[name=value] {
      width: 260px;
    }
  }
  &.number-editor {
    width: 189px;
    input[name=value] {
      // about 10+2 digits
      width: 100px;
      text-align: right;
    }
  }
  &.date-editor {
    .hasDatepicker {
      width: 95px;
    }
  }
  &.datetime-editor {
    width: 260px;
    .fields-row {
      display: inline-block
    }
    .hasDatepicker {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      width: 95px;
    }
    .timepicker-input {
      border-radius: 0;
    }
  }
}
