.table th, .table td {
    /* should center content in cell right */
    line-height: 19px; /*@baseFontSize + 2 * floor((@baseLineHeight - @baseFontSize)/2);*/
}
table.grid thead th {
    vertical-align: top;
}
table.grid thead th > a {
    display: block;
    line-height: 12px;
    padding: 7px 0 5px;
}
table.grid thead th > a:focus {
    outline: none;
}
table.grid thead th > a,
table.grid thead th > span {
    text-transform: uppercase;
}
table.grid thead th span.caret {
    display: none;
    border: none;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
table.grid thead th.ascending span.caret {
    margin-top: 0;
    display: inline-block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #000000;
}
table.grid thead th.descending span.caret {
    margin-top: 4px;
    display: inline-block;
    border-bottom:4px solid transparent;
    border-top: 4px solid #000000;
}

table.grid tfoot th {
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background: -o-linear-gradient(top, #ffffff,#f5f5f5);
    background: -ms-linear-gradient(top, #ffffff,#f5f5f5);
    background: linear-gradient(to bottom, #ffffff,#f5f5f5 );
    padding: 4px 10px;
}
table.grid tfoot th > a,
table.grid tfoot th > span {
    text-transform: uppercase;
    color: #5e5e5e;
    font-size: 13px;
}

table.grid tbody tr.row-click-action {
    cursor: pointer;
}

.grid-toolbar .pagination ul li input {
    display: inline;
    float: left;
    width: 40px;
    text-align: center;
    margin: 0;
    border-left: none;
    border-color: #dddddd;
    border-radius: 0;

}

.no-data {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border: 1px solid #ddd;
    background:#f9f9f9;
    margin:10px 0;
}

table.grid .string-cell,
table.grid .uri-cell,
table.grid .email-cell,
table.grid .select-cell,
table.grid .date-cell,
table.grid .time-cell,
table.grid .datetime-cell,
table.grid .boolean-cell {
    text-align: left;
}
table.grid .number-cell,
table.grid .integer-cell {
    text-align: right;
}
table.grid .datetime-cell,
table.grid .date-cell {
    white-space: nowrap;
}
table.grid .string-cell ul.unstyled {
    margin-bottom: 0;
}
table.grid td:first-child,
table.grid th:first-child {
    text-align: left !important;
}
table.grid td:first-child:before {
    content: '';
    min-height: 14px;
    display: inline-block;
}
table.grid .select-row-cell input[type=checkbox] {
    margin-top: -3px;
}

.grid-views {
    margin-left: 15px;
}

.floatThead-container {
    /* float thead should be under loading mask and submenus */
    z-index: 899 !important;
}

.floatThead-wrapper table {
    border: none !important;
    border-radius: 0 !important;
}
.floatThead-wrapper table th{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.floatThead-wrapper .grid-container{
    border: 1px solid rgb(221, 221, 221);
}
.floatThead-wrapper .floatThead-container{
    margin-top: 1px !important;
}
.floatThead-wrapper .floatThead-container .grid{
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}
.floatThead-wrapper .grid {
    margin-bottom: 0
}
