{% block application_menu %}
    {% placeholder application_menu %}
{% endblock application_menu %}

{% block user_menu %}
    {% placeholder user_menu %}
    {# Disabled notification icon till it will be implemented
    {% block notifications %}
    <li class="divider-vertical small-divider"></li>
    <li><a class="notifications" href="#"><i class="icon-bullhorn"></i><span class="badge badge-important">1</span></a></li>
    {% endblock notifications %}
    #}
{% endblock %}

{% block navbar %}
    {% placeholder navbar %}
{% endblock navbar %}
