{% if isDesktopVersion() and oro_config_value('oro_ui.navbar_position') == placement %}
{% use 'OroUIBundle:Default/navbar:blocks.html.twig' %}
<div id="main-menu" class="main-menu-sided">
    {{ block('application_menu') }}
</div>
{% endif %}