{% if isDesktopVersion() and oro_config_value('oro_ui.navbar_position') == 'left' %}
    {% use 'OroUIBundle:Default/navbar:blocks.html.twig' %}

    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div id="side-menu" class="main-menu-sided minimized" data-page-component-options="{{ {
         widgetModule: 'oroui/js/desktop/side-menu',
         toggleSelector: '#main-menu-toggler'
     }|json_encode }}">
        <header class="main-menu__header">
            {% set organization_name %}
                {% spaceless %}
                    {% placeholder organization_name %}
                {% endspaceless %}
            {% endset %}
            {{ UI.app_logo(organization_name) }}
        </header>

        <div class="scroller" id="main-menu">
            {{ block('application_menu') }}
        </div>

        <button id="main-menu-toggler" class="main-menu-toggler">
            <span class="main-menu-toggler__icon fa-arrow-left"></span>
        </button>
    </div>
{% endif %}
