    <div class="filter-select-oro-wrapper">
        <select name="<%= name %>" data-choice-value-select
                class="select select--size-m select--full">
            <option value="<%= option.value %>"
            <% if (option.value == selectedChoice) { %>
            selected="selected"
            <% } %>
            >
            <%- option.label %>
            </option>
<div class="choice-filter">
    <div class="btn-group btn-block">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <%- selectedChoiceLabel %><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <% _.each(choices, function (option) { %>
            <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
            <a class="dropdown-item choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
            </li>
            <% }); %>
        </select>
    </div>
    <div class="value-field-frame">
        <input type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"
               class="name_input" data-choice-filter-type>
        <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
    </div>
</div>
