<div class="filter-item oro-drop">
    <div class="btn dropdown-toggle filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>">
        <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
        <select multiple>
            <% _.each(options, function (option) { %>
            <option value="<%= option.value %>" title="<%- option.label %>"
            <% if (_.isArray(selected.value)) { %><% if (_.indexOf(selected.value, option.value) !== -1) { %> selected="selected"<% } %>
            <% } else if (option.value == selected.value) { %> selected="selected"<% } %>>
            <%- option.label %>
            </option><% }); %>
        </select>
    </div>
</div>
