<% var togglerId = _.uniqueId('dropdown-') %>
<div class="choice-filter number-range-filter">
    <div class="btn-group btn-block">
        <button id="<%- togglerId %>" class="btn btn-square-default dropdown-toggle" data-toggle="dropdown"
                data-inherit-parent-width="loosely"
                aria-haspopup="true" aria-expanded="false" aria-label="<%- _.__('Filter criteria') %>">
            <%- selectedChoiceLabel %>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="<%- togglerId %>">
            <% _.each(choices, function (option) { %>
            <li<% if (selectedChoice == option.value) { %> class="active"<% } %>>
                <a class="dropdown-item choice-value" href="#" data-value="<%= option.value %>"><%- option.label %></a>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="value-field-frame">
        <div class="filter-value">
            <div class="filter-start">
                <input type="number" class="" value="<%= value.value %>" name="value">
            </div>
            <span class="filter-separator">-</span>
            <div class="filter-end">
                <input type="number" value="<%= value.value_end %>" name="value_end">
            </div>
        </div>
        <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
        <button class="btn btn-primary filter-update" type="button"><%- _.__("Update") %></button>
    </div>
</div>
