<div class="filter-item oro-drop">
    <div class="btn dropdown-toggle filter-select filter-criteria-selector <% if (isEmpty) { %>filter-default-value<% } %>">
        <% if (showLabel) { %><%- label %><% } %><span class="filter-item-hint"></span>
        <select>
            <% _.each(options, function (option) { %>
            <option value="<%= option.value %>" title="<%- option.label %>"
            <% if (option.value == selected.value) { %> selected="selected"<% } %>>
            <%- option.label %>
            </option>
            <% }); %>
        </select>
    </div>
</div>
