/* @theme: admin.oro; */

.accordion {
    &-toggle {
        background: $accordion-toggle-background;
        font-size: $accordion-toggle-font-size;
        font-weight: $accordion-toggle-font-weight;
        margin: $accordion-toggle-offset;

        &:before {
            content: $accordion-toggle-before-content;
            font-family: $accordion-toggle-before-font-family;
            font-size: $accordion-toggle-before-font-size;
            margin: $accordion-toggle-before-offset;
            width: $accordion-toggle-before-width;
            display: $accordion-toggle-before-display;
        }

        &.collapsed {
            &:before {
                content: $accordion-toggle-collapsed-before-content;
                margin: $accordion-toggle-collapsed-before-offset;
                padding: $accordion-toggle-collapsed-before-inner-offset;
            }
        }
    }

    &-group {
        &.responsive-section {
            border-radius: $accordion-group-responsive-section-border-radius;
            margin-bottom: $accordion-group-responsive-section-offset-bottom;
            border: $accordion-group-responsive-section-border;
        }
    }
}
