/* @theme: admin.oro; */

%header-button {
    line-height: $app-header-height;
    font-size: $app-header-icon-font-size;
    color: $app-header-text-color;
    padding: 0 6px;
    text-shadow: none;
}

.app-header {
    background-color: $app-header-bg-color;
    color: $app-header-text-color;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: $app-header-height;
    max-height: $app-header-height;
    top: 0;
    left: 0;

    .navbar .nav {
        position: static;
    }

    .navbar-inner {
        border-bottom: none;

        @include safe-area-offset(padding, 0);

        .container {
            position: relative;
            line-height: $app-header-height;
            height: $app-header-height;
        }

        .dark {
            padding-#{$start}: 10px;
            padding-#{$end}: 10px;
        }
    }

    .main-menu-toggler {
        @extend %header-button;

        float: #{$start};
        padding: 0 13px;
        color: $app-header-logo-text-color;
    }

    .organization-logo-wrapper {
        margin-#{$start}: 54px;
        margin-#{$end}: 138px;

        .organization-switcher,
        .organization-switcher > * {
            max-width: 100%;
        }

        .organization-switcher {
            margin: 0;
            float: $start;
        }

        .logo {
            font-size: 17px;
            color: $app-header-logo-text-color;
            margin: 0;
            line-height: $app-header-height;
            height: $app-header-height;
            white-space: nowrap;
            max-width: 100%;
            float: #{$start};

            .organization-name {
                color: inherit;
                padding: side-values(0 20px 0 0);
                display: inline-block;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        li.dropdown.open > .logo {
            color: $app-header-logo-text-color;
        }
    }

    .dropdown-menu {
        #{$start}: 0;
        max-width: 320px;
    }

    .nav.top-search.shortcuts {
        float: #{$end};
        margin: 0;
        height: $app-header-height;

        .dropdown {
            > a {
                @extend %header-button;
            }

            .dropdown-menu {
                .nav-header {
                    padding-#{$start}: 10px;
                    padding-#{$end}: 10px;
                }
            }
        }

        .header-dropdown-shortcut {
            .dropdown-menu {
                #{$start}: auto;
                #{$end}: 0;

                &:before {
                    #{$start}: auto;
                    #{$end}: 52px;
                }

                &:after {
                    #{$start}: auto;
                    #{$end}: 53px;
                }
            }
        }

        .header-dropdown-search {
            .dropdown-menu {
                #{$start}: auto;
                #{$end}: 0;

                .dropdown-menu {
                    #{$start}: 0;
                    #{$end}: auto;
                    max-height: 185px;
                    overflow-y: auto;
                    overflow-x: visible;
                }

                &:before {
                    #{$start}: auto;
                    #{$end}: 15px;
                }

                &:after {
                    #{$start}: auto;
                    #{$end}: 16px;
                }
            }

            input[type='text'] {
                width: 100%;
            }
        }
    }

    .nav.user-menu {
        float: $end;
        margin: 0;

        .dropdown {
            > a {
                @extend %header-button;
                padding-#{$end}: 13px;
            }

            .dropdown-menu {
                #{$start}: auto;
                #{$end}: 8px;

                &:before {
                    #{$start}: auto;
                    #{$end}: 11px;
                }

                &:after {
                    #{$start}: auto;
                    #{$end}: 12px;
                }
            }
        }
    }

    li {
        .help {
            display: none;
        }
    }

    .dropup,
    .dropdown {
        position: static;
    }

    input,
    textarea,
    .uneditable-input {
        width: 275px;
    }
}
