/* @theme: admin.oro; */

%header-button {
  line-height: $app-header-height;
  font-size: $app-header-icon-font-size;
  color: $app-header-text-color;
  padding: 0 6px;
  text-shadow: none;
  border: 0 none;
  background-color: transparent;
}

.app-header {
  background-color: $app-header-bg-color;
  color: $app-header-text-color;
  position: fixed;
  z-index: $app-header-z-index;
  width: 100%;
  height: $app-header-height;
  max-height: $app-header-height;
  top: 0;
  left: 0;

  .navbar .nav {
    position: static;
  }

  .navbar-inner {
    border-bottom: none;
    @include safe-area-offset(padding, 0);

    .container {
      position: relative;
      line-height: $app-header-height;
      height: $app-header-height;
    }

    .nav-content {
      padding: 0 13px;
    }

    .dropdown-menu {
      left: 0;

      max-width: 320px;
      min-width: 200px;

      color: $app-header-dropdown-menu-color;

      .nav-header {
        padding-left: 13px;
        padding-right: 13px;
        margin-right: 30px;
        margin-bottom: 11px;

        font-size: 20px;
        text-transform: none;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      li {
        margin: 5px 3px;

        font-size: 16px;

        > a {
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }

      .divider {
        margin: 16px;
      }

      @include fa-icon($app-header-dropdown-close-icon);

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        z-index: $zindexDropdown + 1;

        margin: 10px;
        padding: 0;

        font-size: 18px;
        line-height: 18px;
        color: $app-header-dropdown-close-icon-color;

        background-color: transparent;
        background-image: none;
        border: 0 none;

        display: block;
        box-shadow: none;
      }
    }
  }

  .main-menu-toggler {
    @extend %header-button;
    float: left;
    padding: 0 13px;
    color: $app-header-logo-text-color;
  }

  .organization-logo-wrapper {
    margin-left: 54px;
    margin-right: 138px;

    .organization-switcher,
    .organization-switcher > * {
      max-width: 100%;
    }

    .logo {
      font-size: 17px;
      color: $app-header-logo-text-color;
      margin: 0;
      line-height: $app-header-height;
      height: $app-header-height;
      white-space: nowrap;
      max-width: 100%;
      float: left;

      > a {
        color: inherit;
        padding: 0 20px 0 0;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    li.dropdown.open > .logo {
      color: $app-header-logo-text-color;
    }
  }

  .nav.top-search.shortcuts {
    margin: 0;
    height: $app-header-height;

    float: right;

    .dropdown{
      > .dropdown-toggle {
        @extend %header-button;
      }
    }

    .header-dropdown-shortcut {
      .dropdown-menu {
        left: auto;
        right: 0;

        .nav-content {
          margin-bottom: 18px;
        }

        &:after {
          left: auto;
          right: 53px;
        }
      }
    }

    .header-dropdown-search {
      .dropdown-menu {
        left: auto;
        right: 0;
        max-width: none;

        .nav-content {
          margin-bottom: 15px;
        }

        .dropdown-menu {
          left: 0;
          right: auto;
          max-height: 185px;
          overflow-y: auto;
          overflow-x: visible;
        }

        &:after {
          left: auto;
          right: 16px;
        }

        .search-suggestion-list {
          .description {
            font-size: 16px;
          }

          .entity-label {
            font-size: 12px;
          }
        }

        .header-search {
          flex-wrap: wrap;

          .select2-container {
            width: 100%;
            margin-bottom: 15px;
          }

          .btn-search {
            width: 30px;
            min-width: 0;
            padding: 0;

            @include fa-icon($app-header-dropdown-search-icon);

            span {
              display: none;
            }
          }
        }
      }

      input[type='text'] {
        width: 100%;
      }
    }
  }

  .nav.user-menu {
    .dropdown {
      > .dropdown-toggle {
        @extend %header-button;
        padding-right: 13px;
      }

      .dropdown-menu {
        left: auto;
        right: 8px;
      }

      .dropdown-menu-close {
        right: 8px;
      }
    }
  }

  @media only screen and (max-width: $small-devices-media-breakpoint) {
    .nav.top-search.shortcuts,
    .nav.user-menu {
      > .dropdown > .dropdown-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: $app-header-height;
        bottom: 0;

        max-width: none;
        min-width: 0;
        width: auto;

        &:before {
          position: fixed;
          top: $app-header-height;
        }
      }
    }

    .nav.user-menu .dropdown-menu {
      &:after {
        right: 20px;
      }
    }

    .nav.top-search.shortcuts {
      .header-dropdown-search .dropdown-menu {
        &:after {
          right: 63px;
        }
      }

      .header-dropdown-shortcut .dropdown-menu {
        &:after {
          right: 101px;
        }

        input[type="text"] {
          width: 100%;
          height: 30px;

          box-sizing: border-box;
        }
      }
    }
  }

  li {
    .help {
      display: none;
    }
  }

  .dropup, .dropdown {
    position: static;
  }

  input, textarea, .uneditable-input {
    width: 275px;
  }
}
