/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity, selector-max-compound-selectors, no-duplicate-selectors */

%header-button {
    text-align: center;
    border: 0 none;
    background-color: transparent;
    line-height: $app-header-height;
    font-size: $app-header-icon-font-size;
    color: $app-header-text-color;
    padding: $mobile-app-header-button-padding;
    text-shadow: none;
}

.app-header {
    ~ * .sticky,
    ~ * .floatThead.floatThead-fixed .grid-header:first-child,
    &.sticky {
        transition: margin-top 500ms, transform 500ms;
    }

    @at-root .disable-touch-scrolling#{&} {
        position: fixed;
    }
}

:not(.disable-touch-scrolling) & {
    &.scrolled-down,
    &.input-focused {
        .app-header.sticky-out-of-viewport {
            ~ * .sticky-pinned,
            ~ * .floatThead.floatThead-fixed .grid-header:first-child,
            &.sticky-pinned {
                margin-top: -$app-header-height;
            }
        }
    }
}

.app-header {
    background-color: $app-header-bg-color;
    color: $app-header-text-color;
    position: absolute;
    z-index: $mobile-app-header-z-index;
    width: 100%;
    height: $app-header-height;
    max-height: $app-header-height;
    top: 0;
    left: 0;

    .navbar .nav {
        position: static;
    }

    &__container {
        position: relative;
        line-height: $app-header-height;
        height: $app-header-height;
    }

    &__inner {
        border-bottom: none;

        @include safe-area-offset(padding, 0);

        .dropdown-menu {
            left: 0;

            color: $app-header-dropdown-menu-color;

            .nav-header {
                margin-right: $mobile-app-header-header-margin-end;
                font-size: $mobile-app-header-header-font-size;
                line-height: 1;
                text-transform: none;

                overflow: hidden;
                text-overflow: ellipsis;
            }

            .btn-close {
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                z-index: $zindex-dropdown + 1;

                margin: $app-header-dropdown-close-icon-margin;
                padding: 0;

                color: $app-header-dropdown-close-icon-color;
                box-shadow: none;

                &:focus {
                    outline: none;
                }

                &::before {
                    font-size: $app-header-dropdown-close-icon-font-size;
                }
            }

            .divider {
                margin: $mobile-app-header-dropdown-divider-margin;
            }
        }
    }

    .main-menu-toggler {
        @extend %header-button;

        float: left;
        padding: 0 $mobile-app-header-main-menu-toggler-h-padding;
        color: $app-header-logo-text-color;
    }

    .organization-logo-wrapper {
        margin-left: $mobile-app-header-organization-logo-wrapper-margin-start;
        margin-right: $mobile-app-header-organization-logo-wrapper-margin-end;

        .organization-switcher,
        .organization-switcher > * {
            max-width: 100%;
        }

        .organization-switcher {
            margin: 0;
            float: left;
        }

        .logo {
            font-size: $mobile-app-header-organization-logo-font-size;
            color: $app-header-logo-text-color;
            font-weight: font-weight('bold');
            margin: 0;
            float: left;
            line-height: $app-header-height;
            height: $app-header-height;
            white-space: nowrap;
            max-width: 100%;

            .organization-name {
                color: inherit;
                text-transform: uppercase;
                display: inline-block;
                max-width: $app-header-max-width;

                @include text-line-truncate($app-header-max-width, true);
            }

            &.dropdown-toggle {
                padding-right: 32px;
                position: relative;

                &::after {
                    position: absolute;
                    right: 10px;
                    top: ($app-header-height - 5) * .5;
                }
            }
        }

        li > a {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        li.dropdown.show > .logo {
            color: $app-header-logo-text-color;
        }
    }

    .dropdown-menu {
        left: 0;
        max-width: $mobile-app-header-dropdown-menu-max-width;
    }

    &__search-and-shortcuts {
        float: right;
        margin: 0;
        height: $app-header-height;

        .dropdown {
            > .dropdown-toggle {
                @extend %header-button;
            }

            .dropdown-menu {
                padding: $mobile-app-header-dropdown-menu-padding;
            }
        }

        .header-dropdown-shortcut {
            .dropdown-menu {
                left: auto;
                right: 0;

                &::before {
                    left: auto;
                    right: $tablet-app-header-shortcuts-arrow-end;
                }
            }

            .dropdown-item {
                > a {
                    font-size: $mobile-app-header-dropdown-link-font-size;
                }
            }
        }

        .header-dropdown-search {
            .dropdown-menu {
                left: auto;
                right: 0;
                max-width: none;

                .nav-content {
                    margin-bottom: $mobile-app-header-search-form-row-margin-bottom;
                }

                .dropdown-menu {
                    left: 0;
                    right: auto;
                    max-height: $mobile-app-header-search-dropdown-menu-max-height;
                    overflow-y: auto;
                    overflow-x: visible;
                }

                &::before {
                    left: auto;
                    right: $tablet-app-header-search-arrow-end;
                }

                .search-suggestion-list {
                    top: $input-size - $input-border-width;

                    font-size: $mobile-app-header-suggestion-item-font-size;

                    .description {
                        font-size: $mobile-app-header-suggestion-item-description-font-size;
                    }
                }

                .no-data {
                    top: $input-size - $input-border-width;
                }

                .header-search {
                    flex-wrap: wrap;

                    .select2-container {
                        width: 100%;
                        margin-bottom: $mobile-app-header-search-form-row-margin-bottom;
                    }

                    .search-field-container {
                        margin-right: 12px;
                    }
                }
            }

            input.search {
                width: 100%;
            }
        }
    }

    .user-menu {
        float: right;
        margin: 0;

        .dropdown {
            > .dropdown-toggle {
                @extend %header-button;

                padding-right: $mobile-app-header-user-menu-toggler-padding-end;
            }

            .dropdown-menu {
                padding: $mobile-app-header-dropdown-menu-padding;
                left: auto;
                right: $tablet-app-header-user-menu-offset;

                .nav-header {
                    margin-right: $mobile-app-header-header-margin-end;
                }

                .divider {
                    border-bottom: $mobile-app-header-user-menu-divider-border-bottom;
                }

                li:not(.nav-header):not(.divider) {
                    padding: $mobile-app-header-dropdown-item-padding;

                    > a {
                        font-size: $mobile-app-header-dropdown-link-font-size;
                        padding: 0;
                    }
                }

                &::before {
                    left: auto;
                    right: $tablet-app-header-user-menu-arrow-end;
                }
            }
        }
    }

    @media only screen and (max-width: $small-devices-media-breakpoint) {
        &__search-and-shortcuts,
        .user-menu,
        .organization-logo-wrapper {
            > .dropdown > .dropdown-menu {
                position: fixed;
                left: 0;
                right: 0;
                top: $app-header-height;
                bottom: 0;
                margin-top: 0;

                max-width: none;
                min-width: 0;
                width: auto;

                &::after {
                    position: fixed;
                    top: $app-header-height;
                }
            }
        }

        .organization-logo-wrapper .dropdown .dropdown-menu::before {
            left: $mobile-app-header-organization-logo-wrapper-margin-start;
        }

        .user-menu .dropdown .dropdown-menu::before {
            right: $phone-app-header-user-menu-arrow-end;
        }

        &__search-and-shortcuts {
            .header-dropdown-search .dropdown-menu::before {
                right: $phone-app-header-search-arrow-end;
            }

            .header-dropdown-shortcut .dropdown-menu {
                &::before {
                    right: $phone-app-header-shortcuts-arrow-end;
                }

                .shortcut-search-input {
                    width: 100%;

                    box-sizing: border-box;
                }
            }
        }
    }

    li {
        .help {
            display: none;
        }
    }

    .dropup,
    .dropdown {
        position: static;
    }

    input,
    textarea,
    .uneditable-input {
        width: $app-header-input-width;
    }
}
