.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 14px;
  line-height: 38px;
  height: 40px;
  border-radius: $baseBtnBorderRadius + 4px;
}
