/* @theme: admin.oro; */

@at-root html#{&} {
    overflow-x: hidden;
    overflow-y: auto;

    &.lock-page-scroll,
    &.modal-dropdown-shown {
        overflow: hidden;
    }
}

& {
    min-width: inherit;
    font-size: $base-font-size;
}

.app-page.hidden-page {
    display: none;
}

.btn-group > .dropdown-menu li a {
    font-size: $base-font-size;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.popup-box-errors {
    width: auto;
}

.dot-menu,
#bookmark-buttons,
#breadcrumb {
    display: none !important;
}

.scrollspy-nav,
.scrollspy-nav-target {
    display: none;
}

&.error-page {
    #container {
        position: inherit;

        .popup-frame {
            position: inherit;
        }

        .popup-holder {
            position: inherit;
            margin: 0;
        }
    }
}

#footer {
    display: none;
}

fieldset {
    min-width: 100%;
}
