/* @theme: admin.oro; */

.content-with-sidebar {
    &--container {
        @include safe-area-offset(padding, 0);

        .scrollspy.container-fluid {
            margin-top: 0;
        }
    }

    &--sidebar {
        max-width: $content-sidebar-mobile-max-width;
        min-height: $content-sidebar-mobile-min-height;

        overflow: visible;

        &.content-sidebar-maximized {
            width: 100%;
        }

        .sidebar-items {
            padding: $content-sidebar-items-mobile-offset-inner;
        }

        .jstree-wrapper {
            padding: $content-sidebar-jstree-wrapper-mobile-inner-offset;

            .jstree {
                margin: $content-sidebar-jstree-wrapper-jstree-mobile-inner-offset;
            }
        }
    }

    &--controls {
        float: none;
    }

    &--control {
        width: auto;
    }

    &--header {
        padding: $content-padding;
    }
}

.layout-content,
.scrollable-container {
    .content-with-sidebar {
        &--sidebar {
            margin: $content-sidebar-mobile-margin;
        }
    }
}
