/* @theme: admin.oro; */

.ui-dialog {
    width: $dialog-mobile-width !important;
    height: $dialog-mobile-height !important;
    min-height: $dialog-mobile-min-height !important;
    max-width: $dialog-mobile-max-width;
    min-width: $dialog-mobile-min-width;
    box-sizing: $dialog-mobile-box-sizing;
    background: $primary-inverse;
    position: $dialog-mobile-position;
    top: $dialog-mobile-top;
    left: $dialog-mobile-left;
    border: $dialog-mobile-border;
    border-radius: $dialog-mobile-border-radius;
    box-shadow: $dialog-mobile-box-shadow;
    overflow: $dialog-mobile-overflow;

    .form-dialog {
        min-width: $dialog-form-mobile-min-width;
    }

    &.ui-dialog-minimized {
        width: auto !important;
        min-height: 0 !important;
        flex-grow: 1;

        .ui-widget-header {
            padding: 3px 11px 3px 12px;
            position: static !important;
        }

        .loading-bar {
            display: none !important;
        }
    }

    .ui-dialog-titlebar-maximize,
    .ui-dialog-titlebar-restore,
    .ui-dialog-titlebar-minimize {
        display: $dialog-mobile-titlebar-icons-display;
    }

    &.ui-dialog-on-background {
        display: $dialog-mobile-dialog-on-background-display;
    }

    &.ui-resizable:not(.ui-dialog-buttons) {
        &:after {
            display: $dialog-mobile-dialog-not-buttons-display;
        }
    }

    .ui-widget-header {
        position: $dialog-mobile-header-position;
        width: $dialog-mobile-header-width;
        top: $dialog-mobile-header-top;
        left: $dialog-mobile-header-left;
        z-index: $dialog-mobile-header-z-index;
        border-radius: $dialog-mobile-header-border-radius;

        @include safe-area-offset(padding, $dialog-mobile-header-inner-offset, 60px 12px 12px);

        margin: $dialog-mobile-header-outer-offset;
    }

    .ui-dialog-content {
        position: $dialog-mobile-content-position;
        min-height: $dialog-mobile-content-min-height;
        max-height: $dialog-mobile-content-max-height;
        height: $dialog-mobile-content-height;
        margin: $dialog-mobile-content-outer-offset;
        background: $primary-inverse;

        @include safe-area-offset(padding, $dialog-mobile-content-inner-offset, 10px 0 10px);
    }

    .ui-resizable-handle {
        display: $dialog-resizable-handle-mobile-display !important;
    }

    .form-actions.widget-actions {
        text-align: $dialog-actions-mobile-text-align;

        .pull-right {
            float: $dialog-actions-mobile-float;
        }

        .action-wrapper {
            & + .action-wrapper {
                margin-left: $dialog-mobile-actions-btn-outer-offset;
            }
        }

        .btn {
            font-size: $dialog-mobile-actions-btn-font-size;
            height: $dialog-mobile-actions-btn-height;
            line-height: $dialog-mobile-actions-btn-line-height;
            padding: $dialog-mobile-actions-btn-inner-offset;
            border-radius: $dialog-mobile-actions-btn-border-radius;
            border: $dialog-mobile-actions-btn-border;
        }
    }

    .inner-grid {
        min-width: $dialog-mobile-inner-grid-min-width;
    }

    .mce-tinymce {
        max-width: 100%;
    }

    .ui-dialog-titlebar-maximize {
        display: none !important;
    }
}

.ui-dialog-minimize-container {
    width: 100%;
    position: fixed;
    bottom: 2px;
    z-index: 9999;
}

.ui-widget-overlay {
    display: $dialog-widget-mobile-overlay-display;
}
