#flash-messages,
.flash-messages {
  .flash-messages-frame {
    left: 50%;
    min-width: 300px;
  }
  .flash-messages-holder {
    position: absolute;
    left: -50%;
    width: 100%;
  }
  .alert .close {
    font-size: 25px;
  }
}
