/* @theme: admin.oro; */

.flash-messages-frame {
    left: 0;
    width: 100%;
    right: $flash-messages-frame-right;
    margin: $flash-messages-frame-margin;
    min-width: $flash-messages-frame-min-width;
    max-width: $flash-messages-frame-max-width;
}
