/* @theme: admin.oro; */

.input,
.selector,
.uneditable-input {
    height: $input-size;
    width: $input-width;
    font-size: $input-font-size;
    padding: $input-inner-offset;
    -webkit-appearance: $input-appearance;
    -moz-appearance: $input-appearance;
    appearance: $input-appearance;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.selector {
    @extend .input;
}

.selector {
    padding: $selector-inner-offset;

    span {
        padding: $selector-span-inner-offset;
        line-height: $selector-span-line-height;

        &:after {
            top: $selector-span-icon-top;
            font-size: $selector-span-icon-font-size;
        }
    }
}

.input-append,
.input-prepend {
    .add-on,
    .btn {
        height: $input-append-add-on-height;
        width: $input-append-add-on-width;
        font-size: $input-append-add-on-font-size;
    }
}

.controls {
    .fields-row {
        .input-small {
            width: $controls-fields-row-input-small-width;
        }
    }
}

.form-horizontal {
    & > .span6 {
        max-width: $form-horizontal-max-width;
    }
    .control-group {
        max-width: $form-horizontal-control-group-max-width;
        margin: $form-horizontal-control-group-offset;

        .control-label {
            float: $form-horizontal-control-label-float;
            width: $form-horizontal-control-label-width;
            padding-left: $form-horizontal-control-label-inner-offset-left;
            text-align: $form-horizontal-control-label-text-align;
        }
        .controls {
            margin-left: $form-horizontal-controls-offset-left;
            .control-label {
                padding-top: $form-horizontal-controls-label-inner-offset-top;
            }
        }
    }
    .control-group-checkbox {
        position: $control-group-checkbox-position;
        display: $control-group-checkbox-display;
        padding-right: $control-group-checkbox-inner-offset-right;

        .control-label {
            width: $control-group-checkbox-label-width;
            margin-right: $control-group-checkbox-label-offset-right;
        }
        label.control-label {
            line-height: $control-group-checkbox-label-line-height;
        }
        .controls {
            position: $control-group-checkbox-controls-position;
            top: $control-group-checkbox-controls-top;
            right: $control-group-checkbox-controls-right;
        }
    }
    .select2-container {
        width: $control-select2-container-width;
        max-width: $control-select2-container-max-width;
    }
}

h5.user-fieldset {
    margin: $user-fieldset-offset;
}

.well {
    margin-bottom: $well-offset-bottom;

    .tags-overlay & {
        margin-bottom: $well-tags-overlay-offset-bottom;
    }
}
