textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.selector {
  height: $field-size;
  width: 100%;
  font-size: $field-font-size;
  padding: $input-inner-offset;
}

.selector {
  padding: 0;

  span {
    padding: $input-inner-offset;
    line-height: 1;

    &:after {
      top: 5px;
      font-size: $base-font-size--l;
    }
  }
}

.input-append,
.input-prepend {
  .add-on,
  .btn {
    height: 40px;
    width: 40px;
    font-size: $base-font-size--lx;
  }
}


.controls{
  .fields-row {
    .input-small {
      width: 140px !important;
    }
  }
  > input[type=checkbox]:only-child {
    margin-top: 7px;
  }
}

.form-horizontal{
  & > .span6 {
    max-width: 100%;
  }
  .control-group {
    max-width: initial;
    margin: 0 0 7px;
    .control-label {
      float: none;
      width: auto;
      padding-left: 0;
      text-align: left;
    }
    .controls {
      margin-left: 0;
      .control-label {
        padding-top: 6px;
      }
    }
  }
  .control-group-checkbox {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    .control-label {
      width: auto;
      margin-right: 2px;
    }
    label.control-label {
      line-height: 18px;
    }
    .controls {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .select2-container{
    width: 100%;
    max-width: 100%;
  }
}

.select2-container-multi .select2-choices li {
  float: none;
  margin-right: 5px;
}

.oro-item-collection {
  input[type="email"],
  input[type="text"]{
    width: 225px;
  }
}
.oro-address-collection.oro-item-collection {
  &>div {
    padding: 10px 15px 0;
  }
}

h5.user-fieldset {
  margin: 7px 0;
}
.well {
  margin-bottom: 7px;
}
.tags-overlay .well {
  margin-bottom: 0;
}
