/* @theme: admin.oro; */

.inline-actions-element_actions {
    .btn {
        font: 0/0 a, sans-serif;
        width: 18px;
        height: 18px;
        margin-left: $content-padding-small;

        &:first-of-type {
            margin-left: 0;
        }

        [class^='fa-'],
        [class*=' fa-'] {
            width: 18px;
            height: 18px;

            &::before {
                font-size: 18px;
                line-height: 18px;
                height: 18px;
            }
        }
    }
}

.inline-actions-element {
    top: 0;
    padding: 0;
    margin: 0;

    .inline-actions-element_actions {
        visibility: visible;
    }

    .inline-actions-element_wrapper {
        line-height: 18px;
        padding: 0;
        margin: 0 8px 0 0;
    }
}
