/* @theme: admin.oro; */

.jstree-default {
    .jstree-node {
        margin-left: 20px;
    }

    .jstree-wholerow {
        height: $jstree-mobile-wholerow-height;
    }

    .jstree-wholerow-hovered,
    .jstree-node.jstree-open {
        background: transparent;
    }

    .jstree-wholerow-clicked {
        background: $tree-link-bg-color;
    }

    .jstree-open > .jstree-ocl:before,
    .jstree-closed > .jstree-ocl:before {
        font-size: 18px;
    }

    .jstree-open > .jstree-ocl:before {
        content: '\f106';
    }

    .jstree-closed > .jstree-ocl:before {
        content: '\f105';
    }

    .jstree-anchor {
        font-size: 16px;
        padding: side-values(7px 8px 7px 8px);
        line-height: $jstree-mobile-anchor-line-height;
        height: $jstree-mobile-wholerow-height;

        &.jstree-clicked {
            font-weight: 700;
        }
    }

    .jstree-icon.jstree-ocl {
        line-height: $jstree-mobile-wholerow-height;
        height: $jstree-mobile-wholerow-height;
    }

}
