&.login-page {
  height: 100%;
  position: absolute;
  #page {
    height: 100%;
  }
  #top-page {
    padding-top: 0;
    height: 100%;
  }
}

.form-wrapper {
  padding: 0 0 30px;

  &__title {
    background: #5e5e60;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    padding: 14px 16px;
  }

  &__inner {
    padding: 0 16px;
  }
}

.form-signin {
  &__info {
    margin: 16px 0;
  }
  &__footer {
    padding-left: 0;
  }

  &__oauth {
    padding-left: 0;
  }

  &__roles-item {
    display: block;
    margin: 8px 0;
  }

  .title-box {
    margin: 0 0 5px;

    .title {
      font-size: 20px;
      line-height: 1.5;

      &--crm-demo {
        text-align: left;
      }
    }
  }
  .add-on {
    height: auto;
    line-height: normal;
    text-align: left;

    & + input[type="text"],
    & + input[type="email"],
    & + input[type="password"] {
      width: calc(100% - 24px);
    }
    & + select {
      width: 174px;
      height: 36px;
      box-sizing: border-box;
    }
  }
  .oro-remember-me {
    padding-left: 0;
  }
  span.validation-failed {
    font-size: 13px;
  }
  .input-field-group {
    margin-bottom: 15px;
  }
  .input-append,
  .input-prepend {
    white-space: normal;
  }
}

.form-reset {
  max-width: 320px !important;
  .add-on {
    width: 120px;
    font-size: 12px;

    & + input[type="text"],
    & + input[type="email"],
    & + input[type="password"] {
      width: 138px;
    }
  }
}
