/* @theme: admin.oro; */

.main-menu-top {
    display: none;
    position: fixed;
    z-index: $oro-mobile-header-zindex;
    width: 100%;
    top: $app-header-height;
    bottom: 0;
    font-size: $menu-font-size + 2;
    background: rgba($primary-inverse, .5);
    overflow: hidden;

    @include fa-icon($fa-var-times, after, true) {
        position: absolute;
        top: $menu-mobile-close-button-top;

        @include safe-area-property-left(left, $main-menu-mobile-width - 36px);

        width: $menu-mobile-close-button-size;
        height: $menu-mobile-close-button-size;
        text-align: center;
        line-height: $menu-mobile-close-button-size;
        border-radius: 50%;
        background-color: $menu-close-botton-background-color;
        color: $menu-close-button-color;
    }

    .main-menu {
        height: 100%;
        margin-bottom: 0;
        margin-left: 0;

        /* iOS 11.2+ */
        margin-left: env(safe-area-inset-left);
        width: $main-menu-mobile-width;
        background-color: $menu-background-color;
        box-shadow: $menu-mobile-box-shadow;
        overflow: auto;
    }

    .accordion {
        .title {
            margin: 0;

            font-size: $menu-item-font-size;
            font-weight: $menu-item-title-font-weight;

            background-color: transparent;

            @include text-line-truncate();
        }

        a {
            display: block;

            &.unclickable {
                &:focus {
                    outline: $menu-dropdown-accordion-a-unclickable-outline-focus;
                }
            }
        }
    }

    .accordion-group {
        margin-bottom: 0;
        border: none;
        border-radius: 0;

        .menu {
            margin: 0;
            padding: 0;

            .title,
            .accordion-toggle {
                color: $menu-item-text-color;

                &::before {
                    content: '';
                    display: inline-block;
                    height: $menu-accordion-icon-height;
                    min-width: $menu-accordion-icon-min-width;
                    margin-right: $menu-accordion-icon-margin-right;
                    font-weight: $menu-accordion-icon-font-weight;
                    line-height: $menu-accordion-icon-line-height;
                    text-align: center;
                    color: $menu-accordion-icon-color;
                    transition: $menu-animation;
                }
            }

            .accordion-toggle {
                @include fa-icon($fa-var-angle-right);

                &::before {
                    transform: rotate(90deg);
                }

                &.collapsed {
                    font-weight: $menu-item-collapsed-font-weight;

                    &::before {
                        transform: rotate(0);
                    }
                }
            }

            .title {
                display: block;
                padding: $menu-mobile-item-padding;

                $menu-title-offset: 0;

                @for $i from 2 through 5 {
                    $selector: '&-level-' + $i;

                    #{$selector} {
                        padding-left: $menu-title-offset + $menu-mobile-item-level-base-padding;
                    }

                    $menu-title-offset: $menu-title-offset + $menu-item-title-level-offset-step;
                }
            }
        }
    }

    .accordion-body {
        background-color: $menu-dropdown-background-color;

        > a {
            display: none;
        }

        .accordion-group {
            background-color: transparent;
        }

        .dropdown-menu-single-item.active {
            background: $menu-background-active;
        }

        &.menu-level-1.collapse {
            border-bottom: $menu-dropdown-accordion-body-collapse-border-bottom;
        }
    }

    .title-level-1 {
        position: relative;
        padding: $menu-mobile-first-level-padding;
        font-size: $menu-item-first-level-font-size;
        color: $menu-item-first-level-text-color;
        display: block;

        .menu-icon {
            min-width: $menu-accordion-icon-min-width;
            margin-right: $menu-accordion-icon-margin-right;
            margin-left: 0;
            text-align: center;
        }
    }

    .accordion-toggle.title-level-1 {
        position: relative;
        margin: 0;
        font-weight: $menu-item-first-level-font-weight;
        border-top: 1px solid $menu-dropdown-border-color-active;
        border-bottom: 1px solid $menu-dropdown-border-color-active;
        background-color: $menu-dropdown-background-color-active;

        &.collapsed {
            font-weight: $menu-item-first-level-collapsed-font-weight;
            border-top-color: $menu-sided-first-level-collapsed-border-color;
            border-bottom-color: $menu-sided-first-level-collapsed-border-color;
            background-color: $menu-background-color;
        }

        &:hover {
            background-color: $menu-dropdown-background-color-active;
        }
    }

    .active {
        > .accordion-heading {
            .accordion-toggle {
                font-weight: $menu-item-active-font-weight;

                &.collapsed {
                    background: $menu-background-active;
                    font-weight: $menu-item-active-collapsed-font-weight;
                }

                &.title-level-1.collapsed {
                    font-weight: $menu-item-active-font-weight;
                }
            }
        }
    }

    .divider,
    .dropdown-menu-title-level-1 {
        display: none;
    }
}
