/* @theme: admin.oro; */

.main-menu-top {
    display: none;
    position: fixed;
    z-index: $oro-mobile-header-zindex;
    width: 100%;
    top: $app-header-height;
    bottom: 0;
    font-size: $menu-font-size + 2;
    background: rgba($primary-inverse, .5);
    overflow: hidden;

    @include fa-icon($fa-var-times, after, true) {
        position: absolute;
        top: 5px;
        #{$start}: $main-menu-mobile-width - 36px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 50%;
        background-color: $menu-close-botton-background-color;
        color: $menu-close-button-color;
    }

    .divider {
        height: 1px;
        border: 1px solid $menu-item-divider-color;
        border-width: 1px 0 0;
    }

    .main-menu {
        height: 100%;
        margin-bottom: 0;
        margin-#{$start}: 0;
        /* iOS 11 */
        margin-#{$start}: constant(safe-area-inset-left);
        /* iOS 11.2+ */
        margin-#{$start}: env(safe-area-inset-left);
        width: $main-menu-mobile-width;
        background-color: $menu-background-color;
        box-shadow: $menu-mobile-box-shadow;
        overflow: auto;
    }

    .accordion {
        .title {
            margin: 0;

            font-size: $menu-font-size + 2;
            font-weight: normal;

            background-color: transparent;

            @include text-line-truncate();
        }

        a {
            display: block;
        }
    }

    .accordion-group {
        margin-bottom: 0;
        border: none;
        border-radius: 0;

        .menu {
            margin: 0;
            padding: 0;

            .title,
            .accordion-toggle {
                color: $menu-item-text-color;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 16px;
                    min-width: 16px;
                    margin-#{$end}: 8px;
                    font-weight: normal;
                    line-height: 1;
                    text-align: center;
                    color: $menu-accordion-icon-color;
                    transition: $menu-animation;
                }
            }

            .accordion-toggle {
                font-weight: bold;

                @include fa-icon($fa-var-angle-right);

                &:before {
                    transform: rotate(90deg);
                }

                &.collapsed {
                    font-weight: normal;

                    &:before {
                        transform: rotate(0);
                    }
                }
            }

            .title {
                display: block;
                padding: 10px 15px;

                &:hover {
                    background-color: $menu-background-color-active;
                }

                @for $i from 1 through 5 {
                    &-level-#{$i} {
                        padding-#{$start}: $main-menu-title-mobile-offset * ($i - 1);
                    }
                }
            }
        }
    }

    .accordion-body {
        background-color: $menu-dropdown-background-color;

        & > a {
            display: none;
        }

        .accordion-group {
            background-color: transparent;
        }

        .dropdown-menu-single-item.active {
            background-color: $menu-background-color-active;
        }
    }

    // First level
    .accordion-toggle.title-level-1 {
        position: relative;
        padding: side-values(14px 22px 14px 24px);
        margin: 0;
        background-color: $menu-dropdown-background-color-active;
        color: $menu-item-first-level-text-color;

        .menu-icon {
            min-width: 16px;
            margin-#{$end}: 8px;
            margin-#{$start}: 0;
            text-align: center;
        }

        &.collapsed {
            background-color: $menu-background-color;
        }

        &:hover {
            background-color: $menu-dropdown-background-color-active;
        }
    }

    .dropdown-menu-title-level-1 {
        display: none;
    }
}
