/* @theme: admin.oro; */

.navbar-extra-right {
    padding-right: 0;
}

.pull-left-extra {
    float: left;
}

.breadcrumb-pin {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid.page-title {
    margin-bottom: 10px;

    @include safe-area-offset(padding, $content-padding);

    padding: 0 $content-padding;

    .navbar-extra {
        > .row {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: flex-end;

            &__nowrap {
                flex-wrap: nowrap;
            }

            &.inline-info {
                flex-wrap: wrap-reverse;
            }

            > .pull-left + .pull-right {
                max-width: none;
            }

            > div {
                margin: 0;
            }
        }

        .pull-left-extra {
            flex-grow: 1;
            margin-#{$start}: 0;
        }

        > .pull-right {
            flex-shrink: 0;
        }
    }
}

.page-title {
    margin-top: 19px;

    .sub-title {
        float: none;
        font-size: $base-font-size;
        display: block;
        margin-bottom: 3px;

        & + .separator {
            display: none;
        }
    }

    .oro-subtitle {
        font-size: $base-font-size--xl;
    }

    &__path {
        display: inline-block;
        padding-top: 3px;
    }

    &__entity-title {
        font-size: $base-font-size--xl;
        font-weight: normal;
        display: inline;
    }

    &__icon {
        top: 2px;
        width: $mobile-page-title-icon-offset;

        &:empty:before {
            font-size: $mobile-page-title-icon-size;
            height: $mobile-page-title-icon-size;
        }

        img {
            width: $mobile-page-title-icon-size;
        }
    }

    .title-buttons-container:not(:empty) {
        .btn-more-actions {
            @include fa-icon($page-title-btn-more-actions-icon, 'before', true) {
                display: block;
                font-size: $base-font-size--m;
                font-weight: normal;
                text-indent: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            };

            &.btn-sticky {
                background-color: $page-title-btn-more-actions-submittable-bg-color;
                border-color: $page-title-btn-more-actions-submittable-bg-color;
                color: $page-title-btn-more-actions-submittable-color;
                z-index: 4;

                @include fa-icon($page-title-btn-more-actions-submittable-icon, 'before', true) {
                    margin-top: -2px;
                };

                &:not(:disabled):not(.disabled):active,
                &:not(:disabled):not(.disabled).active {
                    background-color: $page-title-btn-more-actions-submittable-bg-color-active;
                    border-color: $page-title-btn-more-actions-submittable-bg-color-active;
                }
            }
        }
    }

    &__entity-info-state {
        display: none;
    }

    .inline li,
    .inline-decorate li {
        margin: 0 2px 4px 0;
        border-width: 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.title-buttons-container {
    .box-type1 {
        margin: 0;
    }
}
