/* @theme: admin.oro; */

.scrollspy {
    .accordion-group {
        margin-bottom: $scrollspy-mobile-accordion-group-offset;;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .accordion-toggle {
        display: flex;
        align-items: center;
        padding: $scrollspy-mobile-toggle-offset;

        border-radius: $scrollspy-mobile-border-radius;

        @include fa-icon($fa-var-angle-down, before, true) {
            margin: $scrollspy-mobile-toggle-icon-offset;

            font-size: $scrollspy-mobile-toggle-icon-font-size;
            font-weight: normal;

            color: $scrollspy-mobile-toggle-icon-color;

            vertical-align: middle;
        };

        &.collapsed {
            @include fa-icon(if-ltr($fa-var-angle-right, $fa-var-angle-left));
        }
    }
}
