/* @theme: admin.oro; */

.select2 {
    &-container {
        font-size: $mobile-select2-container-font-size;
        height: $mobile-select2-container-height;

        .select2-choice {
            height: $mobile-select2-choice-height;

            .select2-chosen {
                height: $mobile-select2-chosen-height;
                padding: $mobile-select2-chosen-inner-offset;
            }

            .select2-arrow {
                font-size: $mobile-select2-arrow-font-size;
                top: $mobile-select2-arrow-top;
            }
        }

        .input-prepend &,
        .input-append & {
            height: $mobile-select2-append-height;
        }

        &.select2-allowclear {
            .select2-arrow {
                right: $mobile-select2-allowclear-right;
            }
        }

        .select2-search-choice-close {
            height: $mobile-select2-search-choice-close-height;
            width: $mobile-select2-search-choice-close-width;
            top: $mobile-select2-search-choice-close-top;
            right: $mobile-select2-search-choice-close-right;
            color: $primary-200;

            @include fa-icon($icon: $mobile-select2-search-choice-close-icon-content) {
                top: $mobile-select2-search-choice-close-icon-top;
                right: $mobile-select2-search-choice-close-icon-right;
                position: $mobile-select2-search-choice-close-icon-position;
                transform: $mobile-select2-search-choice-close-icon-transform;
                font-size: $mobile-select2-search-choice-close-icon-size;
            }
        }
    }

    &-container-multi {
        min-height: $mobile-select2-container-multi-top-min-height;
        height: $mobile-select2-container-multi-top-height;

        .select2-search-choice {
            float: $mobile-select2-container-multi-choice-float;
            margin-right: $mobile-select2-container-multi-choice-offset-right;
        }
    }
}
