.select2-container-multi .select2-choices .select2-search-field input {
  height: 24px;
}

.select2-container {
  font-size: $field-font-size;
  .select2-choice {
    height: 36px;

    .select2-chosen {
      height: 36px;
      padding: 11px 30px 7px 10px;
    }

    .select2-arrow {
      font-size: $base-font-size--l;
      top: 10px;
    }
  }

  .input-prepend &,
  .input-append & {
    height: 40px;
  }
}
