/* @theme: admin.oro; */

@import "oroui/css/scss/variables";
@import "variables/main";

$accordion-heading-background-color:          #eaeaea;
$content-padding:                           10px;
$horizontal-padding:                        $content-padding;
$vertical-padding:                          $content-padding;
$top-padding:                               $content-padding;
$bottom-padding:                            $content-padding;
$margin-bottom-box:                          $content-padding;
$base-font-size:                             14px;

$headerHeight:                             54px;
