
.comment-form-group {
    width: 90%;
}
.comment-form-group .comment-text-field {
    width: 100%;
}

.comment-form-group {
    width: 90%;
}

.comment-form-group {
    background-color: lightgray;
}

.activity-comments {
    margin-top: 20px;
}

