<div class="table-wrapper">
    <table class="grid table-hover table table-condensed">
        <thead>
        <tr>
            <th><span><%= _.__('oro.datagrid.column_manager.column.name') %></span></th>
            <th><span><%= _.__('oro.datagrid.column_manager.column.sort') %></span></th>
            <th><span><%= _.__('oro.datagrid.column_manager.column.show') %></span></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="column-manager-no-columns"><span><%= _.__('oro.datagrid.column_manager.empty_list') %></span></div>
