<div class="column-manager-title"><%= _.__('oro.datagrid.column_manager.title') %></div>
<% if (!_.isMobile()) { %>
<span class="column-manager-hint"><%= _.__('oro.datagrid.column_manager.tooltip')%></span>
<% } %>
<div class="table-wrapper">
    <table class="grid table-hover table table-condensed">
        <thead>
        <tr>
            <th><span><%= _.__('oro.datagrid.column_manager.column.name') %></span></th>
            <th><span><%= _.__('oro.datagrid.column_manager.column.show') %></span></th>
            <th><span><%= _.__('oro.datagrid.column_manager.column.sort') %></span></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
