<% var togglerId = _.uniqueId('dropdown-') %>
<% if (useButtonGroup) { %>
    <div class="dropdown btn-group">
<% } %>
        <a href="#" role="button" id="<%- togglerId %>" class="<%= buttonClass %> dropdown-toggle<% if (!useCaret) { %> dropdown-toggle--no-caret<% } %>" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"<% if (label) { %> aria-label="<%- label %>"<% } %>>
            <span class="current-label"><%= selectedLabel %></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="<%- togglerId %>">
            <% _.each(options, function (option) { %>
                <li<% if (option.selected) { %> class="selected"<% } %>>
                    <a href="#" data-value="<%- option.value %>"<% if (option.selected) { %> aria-selected="true"<% } %>><%- option.label %></a>
                </li>
            <% }); %>
        </ul>
<% if (useButtonGroup) { %>
    </div>
<% } %>
