<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <% if (title) { %>
                <h3 id="<%- modalId %>" class="modal-title"><%- title %></h3>
            <% } %>
            <button type="button" class="close" data-dismiss="modal" aria-label="<%- _.__('Close') %>">
                <span aria-hidden="true" class="fa-close"></span>
            </button>
        </div>
        <div class="modal-body"><%= content %></div>
        <% if (allowCancel || allowOk ) { %>
            <div class="modal-footer">
                <% if (allowCancel) { %>
                    <a href="#" role="button" class="cancel <%= cancelButtonClass %>" data-dismiss="modal"><%- cancelText %></a>
                <% } %>
                <% if (allowOk) { %>
                    <a href="#" role="button" class="ok <%= okButtonClass %>"><%- okText %></a>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
