<% var togglerId = _.uniqueId('dropdown-') %>
<button class="btn btn-icon btn-zoom-in" title="<%- _.__('oro.ui.zoom.in') %>"><span class="fa-search-plus" aria-hidden="true"></span></button>
<div class="btn-group">
    <button id="<%- togglerId %>" data-toggle="dropdown" class="btn dropdown-toggle "
            aria-haspopup="true" aria-expanded="false" aria-label="<%- _.__('oro.ui.zoom.steps') %>">
        <%= Math.round(zoom * 100) %>%
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="<%- togglerId %>">
        <li><a href="#" role="button" class="btn-set-zoom" data-size="50">50%</a></li>
        <li><a href="#" role="button" class="btn-set-zoom" data-size="75">75%</a></li>
        <li><a href="#" role="button" class="btn-set-zoom" data-size="100">100%</a></li>
        <li><a href="#" role="button" class="btn-set-zoom" data-size="150">150%</a></li>
        <li><a href="#" role="button" class="btn-set-zoom" data-size="200">200%</a></li>
    </ul>
</div>
<button class="btn btn-icon btn-zoom-out" title="<%- _.__('oro.ui.zoom.out') %>"><span class="fa-search-minus" aria-hidden="true"></span></button>
<button class="btn btn-icon btn-auto-zoom" title="<%- _.__('oro.ui.zoom.auto') %>"><span class="fa-expand" aria-hidden="true"></span></button>

