{% extends 'OroUIBundle:actions:index.html.twig' %}
{% use 'OroCronBundle:Job:sidebar.html.twig' %}

{% set gridName  = 'jobs-grid' %}
{% set pageTitle = 'oro.cron.header.jobs'|trans %}

{% block content_datagrid %}
    <script type="text/javascript">
        require(['orocron/js/init-job']);
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                {{ parent() }}
            </div>
            <div class="span2">
                {{ block('sidebar') }}
            </div>
        </div>
    </div>
{% endblock %}
