/* @theme: admin.oro; */

$multi-currency-editor-single-width: 168px !default;
$multi-currency-editor-single-offset: 10px !default;
$multi-currency-editor-single-border: 2px solid $primary-750 !default;
$multi-currency-editor-single-color: $primary-830 !default;

$multi-currency-editor-multi-width: 240px !default;
$multi-currency-editor-multi-choice-offset: 52px !default;
$multi-currency-editor-multi-choice-active: $secondary !default;
$multi-currency-editor-multi-choice-active-z-index: auto !default;

$multi-currency-editor-multi-actions-color: $primary-inverse !default;
$multi-currency-editor-multi-actions-border: 2px solid $primary-750 !default;

$multi-currency-editor-multi-fields-offset: 6px !default;
