<!doctype html>
<!--[if IE 7 ]>
<html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="/css/oro.css"/>
        <style type="text/css">
            body {
                min-width: 0;
            }
        </style>
    {% endblock %}
    {% include 'OroRequireJSBundle::scripts.html.twig' with {compressed: not app.debug} %}
    {% block javascripts %}

    {% endblock %}
</head>
<body>
<div id="page">
    {% block page %} {% endblock %}
</div>
</body>
</html>
