{%- block form_row -%}
    <div class="form-row">
        <div class="form-row__label">
            {{- form_label(form, null, { 'label_attr': {'class': 'label'}}) -}}
        </div>
        <div class="form-row__content">
            {{- form_widget(form, {
                attr: {
                   'class': 'input input--full'
                }
            }) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="notifications notifications--error">
            {%- for error in errors -%}
                <li>{{ error.message|trans }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}
