{% extends "OroLayoutBundle:Layout:div_layout.html.twig" %}

{% block input_widget %}
    {% if type == 'checkbox' %}
        {% set attr = layout_attr_defaults(attr, {
        '~class': ' custom-checkbox__input'
        }) %}

        <label for="{{ id }}" class="custom-checkbox">
            {{ parent() }}
            <span class="custom-checkbox__icon"></span>
            <span class="custom-checkbox__text">{{ label|block_text(translation_domain) }} </span>
        </label>
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
        '~class': ' input'
        }) %}

        {{ parent() }}
    {% endif %}
{% endblock %}
