<div class="toolbar" data-grid-toolbar="top"></div>
<div class="other-scroll-container">
    <div class="other-scroll" aria-hidden="true"><div></div></div>
    <div class="grid-scrollable-container">
        <div class="grid-container">
            <<%- tableTagName %> class="grid-main-container table table-bordered<% if(tableClassName) { %> <%- tableClassName %><% } %>"></<%- tableTagName %>>
        </div>
    </div>
    <div class="no-data"></div>
</div>
<div class="toolbar" data-grid-toolbar="bottom"></div>
