<% let oroui = _.macros('oroui') %>
<% if (visible) {%>
<button class="btn btn--flat text-nowrap" data-role="group-toggler" type="button"<% if (!enabled) {%> disabled<% } %> aria-label="<%- ariaLabel %>"
    data-responsive-styler=""
    data-input-widget-options="<%- JSON.stringify({responsive: {'mobile-big': {classes: 'btn btn--neutral btn--icon'}}}) %>"
    >
    <%= oroui.renderIcon({
    name: isGrouped ? 'ungroup' : 'group'
    }) %>
    <span class="hide-on-tablet-small"><%- label %></span>
</button>
<% } %>
