{% for line in record.getValue('workflowStepLabel') %}
    <div class="grid-workflow-step-column">
        {% if line.workflowName is defined %}
            <div class="grid-workflow-step-column-row">{{ line.workflowName }}:</div>
        {% endif %}
        <div class="grid-workflow-step-column-row">{{ line.stepName }}</div>
    </div>
    <br>
{% endfor %}
