// @theme: default;

// Default
$button-border: 1px solid get-color('primary', 'base');
$button-background-color: get-color('primary', 'base');
$button-color: $base-ui-element-color;

// Hover
$button-border-color-hover-state: get-color('primary', 'base');
$button-color-hover-state: get-color('additional', 'ultra');;

// Focus
$button-border-color-focus-state: $button-border-color-hover-state;
