/* @theme: default; */

$catalog-switcher-btn-color: get-color('additional', 'middle') !default;
$catalog-switcher-btn-color-active: get-color('primary', 'base') !default;
$catalog-switcher-btn-background-active: get-color('additional', 'base') !default;
