// @theme: default;

// Default
$checkbox-icon-size: auto;

$checkbox-icon-font-size: 17px !default;
$checkbox-icon-font-size--l: 32px !default;
$checkbox-icon-min-width: 15px;
$checkbox-icon-border: 1px solid transparent;
$checkbox-icon-bg-color: transparent;
$checkbox-icon-checked: $fa-var-check-square;
$checkbox-icon-unchecked: $fa-var-square-o;
$checkbox-icon-indeterminate: $fa-var-minus-square;
$checkbox-icon-circle-unchecked: $fa-var-circle-thin;
$checkbox-icon-circle-checked: $fa-var-check-circle;

// Absolute state

$checkbox-icon-absolute-offset: $checkbox-icon-min-width + 8px;

// Checked
$checkbox-icon-bg-color-focus-state: transparent;
$checkbox-icon-border-focus-state: 1px solid transparent;

// Hover
$checkbox-icon-border-hover-state: 1px solid transparent;

// Checked & Focus
$checkbox-outline-checked-focus-state:  2px solid transparentize(get-color('ui', 'focus'), .47);
$checkbox-outline-offset-checked-focus-state: -2px;
