/* @theme: default; */

// Default
$custom-radio-line-height: 12px;
$custom-radio-icon-size: 13px;
$custom-radio-icon-offset: 0 8px 0 0;
$custom-radio-icon-border: 1px solid get-color('additional', 'middle');
$custom-radio-icon-bg: get-color('additional', 'ultra');

// Large size
$custom-radio-large-line-height: 15px;
$custom-radio-large-icon-size: 16px;

// Absolute state
$custom-radio-absolute-icon-offset: 0 0 0 25px;

// Checked
$custom-radio-icon-checked-bg: get-color('ui', 'focus');
$custom-radio-icon-checked-box-shadow: inset 0 0 0 2px get-color('additional', 'light');
