// Default
$checkbox-icon-size: 16px;
$checkbox-icon-border: 1px solid get-color('additional', 'middle');
$checkbox-icon-bg-color: get-color('additional', 'ultra');

// Checked
$checkbox-icon-check-width: 10px;
$checkbox-icon-check-height: 5px;
$checkbox-icon-check-thickness: 2px;
$checkbox-icon-check-position-top: 45%;
$checkbox-icon-check-position-left: 50%;
$checkbox-icon-check-transform-translate: translate(-50%, -50%);
$checkbox-icon-check-transform-rotate: rotate(-45deg);
$checkbox-icon-check-color: get-color('additional', 'ultra');
