/* @theme: default; */

// Default
$custom-radio-line-height: 14px;
$custom-radio-icon-size: 14px;
$custom-radio-icon-offset: 0 8px 0 0;
$custom-radio-icon-border: 1px solid get-color('additional', 'middle');
$custom-radio-icon-bg: get-color('additional', 'ultra');

// Absolute state
$custom-radio-absolute-icon-offset: 0 0 0 25px !default;

// Checked
$custom-radio-icon-checked-bg: get-color('ui', 'focus');
$custom-radio-icon-checked-box-shadow: inset 0 0 0 2px get-color('additional', 'ultra') !default;

// Hover
$custom-radio-icon-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus
$custom-radio-icon-border-color-focus-state: $base-ui-element-border-color-focus !default;
$custom-radio-icon-box-shadow-focus-state: $base-ui-element-focus-style !default;
