/* @theme: default; */

$floating-validation-message-top: -10px !default;
$floating-validation-message-bottom: auto !default;

$floating-validation-message-after-top: 100% !default;
$floating-validation-message-after-left: 10px !default;
$floating-validation-message-after-color: get-var-color('destructive', 'light') transparent !default;

$floating-validation-message-label-top: -24px !default;
$floating-validation-message-label-left: 0 !default;
$floating-validation-message-label-text-align: left !default;
$floating-validation-message-label-background-color: get-var-color('neutral', 'white-100') !default;
$floating-validation-message-label-color: get-var-color('destructive', 'main') !default;
$floating-validation-message-label-inner-offset: spacing('sm') spacing('md') !default;
$floating-validation-message-label-border-radius: $base-ui-element-border-radius !default;
$floating-validation-message-label-font-size: 13px !default;
$floating-validation-message-box-shadow: 0px 3px 10px 0px rgba(125, 87, 87, .16),
    0px 0px 3px 0px rgba(66, 5, 5, .1) !default;

$floating-validation-message-icon-display: none !default;
