/* @theme: default; */

$input-padding: 11px;
$input-padding--m: 10px 9px;
$input-padding--s: 7px 9px;
$input-padding--x-s: 6px 9px;
$input-date-height: 40px;

// Hover
$input-border-color-hover-state: get-color('ui', 'normal');
$input-box-shadow-hover-state: inset 0 1px 1px transparentize(get-color('additional', 'ultra'), .75),
                                     0 0 8px transparentize(get-color('ui', 'focus'), .6);

// Focus
$input-border-color-focus-state: get-color('ui', 'normal');
$input-box-shadow-focus-state: $input-box-shadow-hover-state;

// Error
$input-border-color-error-state: get-color('ui', 'error-dark');
$input-box-shadow-error-state: 0 1px 7px 0 transparentize(get-color('ui', 'error-dark'), .6);

// Disabled
$input-background-color-disabled-state: get-color('additional', 'base') !default;
