/* @theme: default; */

$select-firefox-height: null;
$select-firefox-line-height: null;
$select-firefox-inner-offset-top: null;
$select-firefox-inner-offset-bottom: null;
$select-padding: 12px 28px 12px 9px;
$select-padding--m: 10px 28px 10px 9px;
$select-padding--s: 6px 19px 6px 8px;
$select-height--s: 32px;
$select-bg: url('#{$global-url}/oroform/default/images/icons/arrow-down--gray.svg') no-repeat right 8px center get-color('additional', 'ultra');

// Hover
$select-border-color-hover-state: get-color('ui', 'normal');
$select-box-shadow-hover-state: inset 0 1px 1px transparentize(get-color('additional', 'ultra'), .75),
    0 0 8px transparentize(get-color('ui', 'focus'), .6);

// Focus
$select-border-color-focus-state: get-color('ui', 'normal');
$select-box-shadow-focus-state: $select-box-shadow-hover-state;

// Error
$select-border-color-error-state: get-color('ui', 'error-dark');
$select-box-shadow-error-state: 0 1px 7px 0 transparentize(get-color('ui', 'error-dark'), .6);
