/* @theme: default; */

@use 'sass:color';

$use-base-style-for-textarea: true !default;

// Default
$textarea-padding: $input-padding-y $input-padding-x !default;
$textarea-min-height: 100px !default;
$textarea-font-size: $base-ui-element-font-size !default;
$textarea-font-family: $base-ui-element-font-family !default;
$textarea-line-height: $base-ui-element-line-height !default;
$textarea-border: $base-ui-element-border !default;
$textarea-border-radius: $base-ui-element-border-radius !default;
$textarea-background-color: $base-ui-element-bg-color !default;
$textarea-color: $base-ui-element-color !default;
$textarea-placeholder-color: $base-ui-element-placeholder-color !default;

// Hover
$textarea-border-color-hover-state: $base-ui-element-border-color-hover !default;

// Focus
$textarea-border-color-focus-state: $base-ui-element-border-color-focus !default;

// Error
$textarea-border-color-error-state: $base-ui-element-border-color-error-state !default;
$textarea-bg-color-error-state: $base-ui-element-bg-color-error-state !default;

// Disabled

$textarea-bg-color-disabled: $base-ui-element-bg-color-disabled-state !default;
$textarea-border-color-disabled: $base-ui-element-border-color-disabled-state !default;
$textarea-color-disabled: $base-ui-element-color-disabled-state !default;
