/* @theme: default; */

$validation-failed-color: get-color('ui', 'error-dark') !default;

$input-widget-select-error-border: 1px solid get-color('ui', 'error-dark') !default;
$input-widget-select-error-box-shadow: 0 1px 7px 0 rgba(223 96 96 / 60%) !default;
