# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\UserBundle\Entity\Repository\UserRepository:
            getPrimaryEmailsQb:
                fullNameQueryPart: true
            getSecondaryEmailsQb:
                fullNameQueryPart: true
        Oro\Bundle\UserBundle\Security\UserLoginAttemptLogger:
            logItemToDb:
                fields: true
    properties:
        Oro\Bundle\UserBundle\Autocomplete\WidgetRoleSearchHandler:
            getEntitiesByIds:
                idFieldName: true
