/* @theme: admin.oro; */

.activity-list-widget {
    position: relative;

    .title {
        display: none;
    }

    .grid-toolbar {
        margin-bottom: 12px;
    }

    .filter-box {
        padding: 0;
        width: 33%;
        flex-grow: 1;
    }

    .pagination {
        margin: 0;
    }

    .actions-panel {
        width: 33%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .activity-list {
        position: relative;

        .filter-item {
            margin-#{$end}: 8px;

            &:last-child {
                margin-#{$end}: 0;
            }
        }

        .info {
            margin-top: 8px;
            margin-bottom: 20px;
        }

        .info.responsive-cell {
            .box-content {
                padding: 0;
            }
        }
    }

    .list-box {
        &:empty {
            display: none;
        }
    }

    .actions {
        position: static;
    }

    .user {
        font-style: normal;
    }

    .date {
        font-size: 12px;
    }

    .list-item:last-child {
        border-bottom: 0;
    }

    .icon {
        width: auto;
        color: $primary-550;
    }

    .icon,
    .dropdown-toggle {
        font-size: 16px;
    }

    .activity-actions {
        margin-#{$start}: 12px;

        .dropdown-toggle {
            font-size: 16px;
        }
    }
    .comment-count {
        margin: 0 20px;

        color:$primary-700;

        .count {
            margin-#{$start}: 8px;
        }
    }

    .accordion {
        padding: 0;
        margin: 0;
    }

    .accordion-heading {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 46px;
        padding: 6px 0;

        cursor: pointer;

        @include clearfix();

        .details,
        .message,
        .message-subject,
        .actions {
            @include text-line-truncate(null);
        }

        .accordion-icon {
            width: auto;
            font-size: 16px;
            font-weight: normal;

            padding: side-values(0 8px 0 16px);
            margin: 0;

            &:hover {
                color: $primary-400;
            }

            @include fa-icon($fa-var-minus-square-o);

            &.collapsed {
                @include fa-icon($fa-var-plus-square-o);
            }
        }

        .actions {
            float: #{$end};
            overflow: visible;
        }

        .details {
            max-width: 250px;

            margin: 0 26px;

            &:hover {
                width: auto;
                z-index: 1;
            }
        }

        .extra-info {
            width: calc(100% - 324px);
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        .created-at {
            color: $primary-550;
        }

        .message-item {
            color: $primary-550;

            @include text-line-truncate();
        }

        .message-subject {
            color: $primary-200;
        }
    }

    .accordion-body {
        padding: 0;

        .user-fieldset {
            margin-top: 5px;
            margin-#{$end}: 20px;
        }

        .comment {
            padding: side-values(0 20px 0 0);
        }

        .responsive-cell {
            margin-bottom: 20px;
        }
    }

    .no-data {
        padding: 4px;

        font-size: 13px;

        color: $primary-550;

        text-align: center;
    }
}

li[data-criteria="condition-activity"] {
    .btn.filter-select {
        border: none;
        background: none;
        font-weight: normal;
        padding-#{$start}: 0;
        padding-#{$end}: 0;
        color: $primary-400;
    }

    .filter-item {
        margin-#{$end}: 0;

        .fa-close {
            margin-#{$end}: 0;
        }
    }
}
