/* @theme: admin.oro; */

$activity-filter-box-width: 33% !default;
$activity-filter-box-offset: 0 !default;
$activity-filter-item-offset: 4px !default;
$activity-filter-item-size: 32px !default;

$activity-date-font-size: 12px !default;
$activity-icon-color: $primary-550 !default;

$activity-message-item-offset: 142px !default;

$activity-no-data-font-size: 13px !default;
$activity-no-data-font-offset: 4px 0 !default;

$activity-dropdown-toggle-size: 22px !default;
$activity-icon-font-size: 16px !default;
$activity-icon-size: 28px !default;

$activity-dropdown-toggle-icon: $fa-var-ellipsis-h !default;


$activity-heading-min-height: 45px !default;

$activity-actions-offset: 8px !default;

$activity-count-offset: 0 24px !default;
$activity-count-color: $primary-700 !default;

$activity-accordion-icon-offset: side-values(0 2px 0 0) !default;
$activity-accordion-icon-color-hover: $primary-400 !default;
$activity-accordion-icon-expanded: $fa-var-minus-square-o !default;
$activity-accordion-icon-collapsed: $fa-var-plus-square-o !default;

$activity-details-width: 240px !default;
$activity-details-offset: side-values(0 12px 0 20px) !default;

$activity-info-width: calc(100% - 372px) !default;

$activity-message-subject-color: $primary !default;

$activity-accordion-body-offset: 12px !default;

$activity-user-fieldset-offset: side-values(4px 20px 0 0) !default;

$activity-filter-select-color: $primary-400 !default;

$activity-short-message-offset: 0 8px !default;

$activity-item-content-padding: side-values(8px 16px 0) !default;
$activity-item-email-content-padding: 0 16px !default;
$activity-item-content-margin: 22px !default;

$activity-item-content-offset: 40px !default;
$activity-item-content-border-color: $primary-860 !default;
