{% set job = record.rootEntity %}
{% set hint = 'oro.cron.job.status.' ~ job.state|default('unknown') %}

{% if job.new or job.pending %}
    {% set class = '' %}
{% elseif job.running %}
    {% set class = 'label-info' %}
{% elseif job.canceled %}
    {% set class = 'label-inverse' %}
{% elseif job.terminated or job.failed or job.incomplete %}
    {% set class = 'label-important' %}
{% elseif job.finished %}
    {% set class = 'label-success' %}
{% else %}
    {% set class = 'label-warning' %}
{% endif %}

<span class="label {{ class }}">{{ hint|trans }}</span>
