{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'oro-theme-configuration-grid' %}
{% set pageTitle = 'oro.theme.themeconfiguration.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_theme_configuration_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_theme_configuration_create'),
                'entity_label': 'oro.theme.themeconfiguration.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
