/* @theme: admin.oro; */

@import 'role/permissions-grid';
@import 'role/capabilities';

/* mobile version */
@import 'mobile/main';

.api-block .btn {
    vertical-align: baseline;
}

.message .api-key {
    word-break: break-all;
}

form.change-password-form {
    .controls {
        position: relative;
        padding-right: $content-padding;
    }

    span.fa-eye-slash,
    span.fa-eye {
        position: absolute;
        top: 7px;
        left: $field-width + 12px;
    }

    .validation-failed {
        max-width: $field-width;
    }
}

.mobile-version {
    form.change-password-form {
        .controls {
            [class^='fa-'] {
                top: 10px;
            }
        }

        .validation-failed {
            max-width: 100%;
        }

        span.fa-eye-slash,
        span.fa-eye {
            left: calc(100% - 12px);
        }
    }
}

.form-horizontal {
    .control-group {
        &.control-group-oro_user_emailsettings,
        &.control-group-oro_imap_configuration {
            > .controls {
                margin-left: 0;
            }
        }
    }
}

.form-horizontal .control-group-oro_organizations_select .select2-choices {
    overflow: visible;
}

h1 .popover .oro-popover-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: font-weight('light');
}
