/* @theme: admin.oro; */

$role-capability-label-offset: 24px !default;
$role-capability-color: $primary-860 !default;
$role-collapse-label-width: 500px !default;
$role-collapse-expand-action-container-width: 160px !default;
$role-collapse-expand-action-container-offset: 30px !default;
$role-capability-icon-size: 16px !default;
$role-capability-icon-expand-color: $primary-550 !default;
$role-capability-icon-action: $fa-var-caret-down !default;
$role-capability-icon-action-color: $primary-100 !default;
$role-capability-item-color: $primary-200 !default;
$role-capability-item-no-access-color: $primary-700 !default;
$role-capability-item-changed-color: $primary-900 !default;
$role-capability-item-disabled: $primary-700 !default;
