.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.ui-datepicker .ui-datepicker-buttonpane button {
  border-radius: @baseBtnBorderRadius + 4px;
  padding: 0 12px;
  display: inline-block;
  box-shadow: none;
}

.btn-large {
    font-size: 14px;
    line-height: 38px;
    height: 40px;
}
