& {
  min-width: inherit;
  font-size: 18px;
  #page {
    overflow-x: hidden;
  }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.popup-box-errors {
  width: auto;
}

.form-horizontal .control-group {
  max-width: auto;
}

.form-horizontal .control-group label.control-label {
  float: none;
  text-align: left;
  width: auto;
}

.form-horizontal .control-group .controls {
  margin-left: 0px;
}

.pin-bar, #pin-button-div {
  display: none !important;
}

.navbar-extra-right {
  padding-right: 0px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}

&.error-page {
  #container {
    position: inherit;
    .popup-frame {
      position: inherit;
    }
    .popup-holder {
      position: inherit;
      margin: 0;
    }
  }
}
