& {
  min-width: inherit;
  font-size: @baseFontSize;
  #page {
    overflow-x: hidden;
  }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.popup-box-errors {
  width: auto;
}

.form-horizontal .control-group {
  max-width: auto;
}

.form-horizontal .control-group label.control-label {
  float: none;
  text-align: left;
//  something goes wrong after width:auto, font-size starts jumping (+1px)
//  width: auto;
}

.form-horizontal .control-group .controls {
  margin-left: 0px;
}

.pin-bar, #pin-button-div {
  display: none !important;
}

.navbar-extra-right {
  padding-right: 0px;
}

.scrollspy-nav, .scrollspy-nav-target {
  display: none;
}

.row {
  margin-left: @contentPadding;
  margin-right: @contentPadding;
}

.container-fluid {
  padding-right: @contentPadding;
  padding-left: @contentPadding;
  &> .responsive-section {
    margin: 0 -@contentPadding;
    padding-right: @contentPadding;
  }
}
.layout-content .responsive-section{
  padding: 0;
  .form-horizontal {
    padding: @contentPadding * 1.5 0;
  }
}
.container-fluid > .responsive-section .responsive-cell {
  padding: 0 @contentPadding;
}

&.error-page {
  #container {
    position: inherit;
    .popup-frame {
      position: inherit;
    }
    .popup-holder {
      position: inherit;
      margin: 0;
    }
  }
}
