.icon-menu-bars:before {
  content: "\f0c9";
}

#oroplatform-header {
  .logo, #main-menu-toggle {
    float: left;
    font-weight: bold;
    font-size: 17px;
    .header-button;
    &:active > [class^=icon-],
    &:focus > [class^=icon-] {
      .header-button-inactive;
    }
  }
  .logo {
    margin: 0;
    padding: 0 150px 0 52px;
    width: 100%;
    display: inline-block;
    line-height: 0;
    > span {
      padding-right: 16px;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      line-height: 54px;
    }
    a {
      text-transform: uppercase;
      color: #fff;
    }
  }
  #search-bar-search{
    width: 100%;
  }
  #main-menu-toggle {
    position: absolute;
    z-index: 1;
    left: 0;
    margin: 0;
    padding: 0 10px 10px 10px;
    &.open > [class^=icon-] {
      .header-button-active;
    }
  }
  .container {
    .divider-vertical.small-divider {
      display: none;
    }
  }
  .nav.top-search {
    position: absolute;
    z-index: 1;
    left: inherit;
    top: 54px;
    width: 100%;
    height: 0;
    overflow: visible;
    padding-right: 54px;
    .header-utility-dropdown {
      margin-left: 15px;
    }
    .dropdown{
      .dropdown-menu{
        .nav-header{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .header-dropdown-shortcut {
      float: right;
      margin: -54px 55px 0 0;
      .dropdown-menu {
        left: auto;
        right: 0;
        width: 100%;
        &:before {
          left: auto;
          right: 117px;
        }
        &:after {
          left: auto;
          right: 118px;
        }
      }
    }
    .header-dropdown-search {
      float: right;
      margin: -54px 8px 0 0;
      .dropdown-menu {
        left: auto;
        right: 0;
        width: 100%;
        .dropdown-menu {
          left: 0;
          right: auto;
          max-height: 185px;
          overflow-y: auto;
          overflow-x: visible;
        }
        &:before {
          left: auto;
          right: 70px;
        }
        &:after {
          left: auto;
          right: 71px;
        }
      }
      .search-form {
        .header-search {
          .header-search-frame {
            input[type='text'] {
              width: 114px;
            }
          }
        }
      }
    }
  }
  .nav.user-menu {
    position: absolute;
    z-index: 1;
    left: inherit;
    right: 0;
    top: 0;
    width: 54px;
    .dropdown {
      > a {
        padding: 10px
      }
      .dropdown-menu {
        left: auto;
        right: 10px;
        &:before {
          right: 13px;
        }
        &:after {
          right: 12px;
        }
      }
    }
    .dropdown.open > .dropdown-toggle > [class^=icon-] {
      .header-button-active;
    }
  }
  li {
    .help {
      display: none;
    }
  }
  .dropup, .dropdown {
    position: static;
  }

  input, textarea, .uneditable-input {
    width: 275px;
  }
  .navbar-inner{
    border-bottom: none;
    .dark{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


.navbar .nav {
  position: static;
}

#oroplatform-header .dropdown-menu {
  left: 0px;
  max-width: 320px;
}

#oroplatform-header .dropdown-toggle {
  padding-top: 0px !important;
}

#oroplatform-header .icon-user,
#oroplatform-header .icon-search,
#oroplatform-header .icon-share-sign,
#oroplatform-header .icon-menu-bars {
  font-size: 24px !important;
  line-height: 32px !important;
  margin: 0px !important;
  border: none !important;
  margin-top: 12px !important;
}

#oroplatform-header .icon-user,
#oroplatform-header .icon-search,
#oroplatform-header .icon-share-sign,
#oroplatform-header .icon-menu-bars {
  text-align: center;
  width: 32px !important;
  height: 32px !important;
}

#oroplatform-header .logo {
  font-size: 18px !important;
}
