.mobile-hide{
  display:none;
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
&, #page, #top-page {
  overflow: hidden;
  height: 100%;
}
#top-page {
  position: relative;
  padding-top: @headerHeight;
}
#oroplatform-header {
  position: fixed;
  width: 100%;
  height: @headerHeight;
  margin-top: -@headerHeight;
}
#main {
  height: 100%;
  #container {
    overflow: auto;
    height: 100%;
  }
}

.row {
  margin-left: @contentPadding;
  margin-right: @contentPadding;
}

.container-fluid {
  padding-right: @contentPadding;
  padding-left: @contentPadding;
  &> .responsive-section {
    margin: 0 -@contentPadding;
    padding-right: @contentPadding;
  }
}
.layout-content .responsive-section{
  padding: 0;
  .form-horizontal {
    padding: @contentPadding 0;
  }
}
.container-fluid > .responsive-section .responsive-cell {
  padding: 0 @contentPadding;
}
.responsive-cell .box-type1{
  .filter-box {
    .btn-group {
      margin-bottom: 0px;
    }
  }
}

.responsive-section {
  .inner-grid {
    margin:-@contentPadding -@contentPadding @contentPadding -@contentPadding;
  }
}
.controls{
  .selector{
    width: 100% !important;
    span{
      width: 100% !important;
    }
    select{
      width: 100% !important;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }

  input[type="text"],
  input[type="search"],
  input[type="email"]{
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
  }
  textarea{
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}
.form-horizontal{
  .controls{
    .control-label{
      padding-top: 0;
    }  
  }
  .select2-container{
    width: 100%;
    max-width: 100%;
  }
}
.oro-multiselect-holder{
  input[type="email"],
  input[type="text"]{
    width: 225px !important;
  }
}
#magento-without-border-tabs{
  min-width: 280px;
  padding-right: 0;
}
.tab-content{
  .oro-tabs{
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    .nav-tabs{
      & > li{
        & > a{
          border-top-width: 1px;
        }
      }
    }
  }
}
.dashboard-container{
  .responsive-cell{
    .box-type1{
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
.responsive-cell{
  .tab-content{
    .box-type1{
      margin-bottom: 0;
      .container-fluid{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .box-type1{
    margin-right: 0;
    margin-left: 0;
    .pagination-container{
      .page-size{
        label{
        }
      }
      .separator{
        display: none;
      }
    }
    .filter-box {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .container-fluid,
    .grid-toolbar{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.chart-container {
  &>.clearfix {
    .pie-chart-legend {
      height: auto !important;
      float: none;
      padding-bottom: 20px;
      & > table{
        width: 100%;
        position: relative;
      }
    }
  }
}
