@accordionHeadingBackgroundColor:          #eaeaea;
@contentPadding:                           10px;
@baseFontSize:                             14px;

@fontSizeLarge:                            @baseFontSize * 1.25; // ~18px
@fontSizeSmall:                            @baseFontSize * 0.85; // ~12px
@fontSizeMini:                             @baseFontSize * 0.75; // ~11px
