{% extends 'OroDashboardBundle:Dashboard:tabbedWidget.html.twig' %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

{% if unreadMailCount > 10 %}
    {% set unreadMailCount %}
        <div class="email-mail-count-circle">10+</div>
    {% endset %}
{% else %}
    {% set unreadMailCount %}
        <div class="email-mail-count-circle">{{ unreadMailCount }}</div>
    {% endset %}
{% endif %}

{% block content %}
    {% set tabs = [{
        'url': path(
            'oro_email_dashboard_recent_emails',
            {'widget': widgetName, 'activeTab': 'inbox', 'contentType': 'tab'}
        ),
        'name': 'inbox',
        'label': 'oro.dashboard.recent_emails.inbox'|trans
    },
    {
        'url': path(
            'oro_email_dashboard_recent_emails',
            {'widget': widgetName, 'activeTab': 'sent', 'contentType': 'tab'}
        ),
        'name': 'sent',
        'label': 'oro.dashboard.recent_emails.sent'|trans
    },
    {
        'url': path(
            'oro_email_dashboard_recent_emails',
            {'widget': widgetName, 'activeTab': 'new', 'contentType': 'tab'}
        ),
        'name': 'unread',
        'label': 'oro.dashboard.recent_emails.unread'|trans,
        'afterHtml': unreadMailCount
    }] %}

    {{ parent() }}
{% endblock %}

{% block actions %}
    {% set actions = [{
        'url': path('oro_email_user_emails', {'id': loggedUserId}),
        'type': 'link',
        'label': 'oro.dashboard.recent_emails.view_all'|trans
    }] %}

    {{ parent() }}
{% endblock %}
