@import "../../../oroui/css/less/mixins";

@spacerHeight: 10px;

.drop-area-marker {
  position: absolute;
  border: dashed 3px #ddd;
  width: 100%;
  background-color: rgba(255,255,255,0.65);
  z-index: 1;
  box-sizing: border-box;
  margin-top: @spacerHeight;
  > span {
    text-transform: uppercase;
    font-size: 112%;
    font-weight: bold;
    display: block;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #363946;
  }
}
.drop-area-over .drop-area-marker {
  display: none;
}
.conditions-group {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 199px;
  box-sizing: border-box;
  &:before, &:after {
    content: "";
    display: block;
    height: @spacerHeight;
  }
  .sortable-placeholder {
    background-color: transparent;
    min-height: 50px;
    border: dashed 3px #E1E1E1;
    margin: 34px 0 0 0;
    position: relative;
    &:nth-child(1) {
      margin-top: 0;
      margin-bottom: 34px;
    }
  }
  &.drag-start-from-first {
    > li.sortable-placeholder:nth-child(2) {
        margin-top: 0;
        margin-bottom: 34px;
    }
  }
  .hide-operator > .operator{
    display: none;
  }
  .condition {
    position: relative;
    &.controls {
      margin-left: 0;
    }
    .operator {
      margin: 6px 0;
      text-transform: uppercase;
      .btn{
        font-weight: bold;
        padding: 0 6px;
        height: auto;
        line-height: 20px;
      }
      .btn-mini .caret {
        margin-top: 9px;
      }
      .dropdown-menu {
        min-width: initial;
        .selected > a {
          font-weight: bold;
        }
      }
    }
    .conditions-group {
      min-height: 138px;
    }
    .condition-item {
      border: 1px solid #e1e1e1;
      .border-radius(4px);
      padding: @horizontalPadding * .5 @verticalPadding * .8;
      input[type=text] {
        margin-bottom: 0;
      }
    }
    & > .conditions-group {
      border-left: 3px solid #efefef;
      padding-left: @verticalPadding * .8;
    }
    & > .close {
      margin-right: 4px;
    }
    &[data-criteria=conditions-group] {
      & > .close {
        background-color: white;
        color: #ccc;
        opacity: 1;
        float: left;
        position: absolute;
        top: 50%;
        margin: -7px 0 0 -4px;
        height: 14px;
        line-height: 14px;
        z-index: 1;
        &:hover {
          color: #999;
        }
      }
      &.validation-error > .close {
        margin-top: -17px;
      }
      &:not(:first-child) {
        & > .close {
          margin-top: 7px;
        }
        &.validation-error > .close {
          margin-top: -2px
        }
      }
    }
  }
}

.filter-criteria {
  padding: 0 @contentPadding*0.5 @contentPadding*0.5-4;
  .hint {
    text-transform: uppercase;
    margin: 5px 0 3px 0;
    font-size: @fontSizeMini;
    text-align: center;
  }
  .criteria-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .sortable-placeholder {
      display: none;
    }
  }
  .option[data-criteria] {
    background-color: #e6eaee;
    border: 1px solid #d3dbe3;
    .border-radius(3px);
    padding: 3px 8px;
    margin-bottom: 5px;
    .cursor(grab);
    &.disabled{
      cursor: auto;
      color: #909090;
    }
    &.ui-grabbing {
      .box-shadow(2px 2px 5px 0px rgba(50, 50, 50, 0.7));
      .cursor(grabbing);
      z-index: 1200;
    }
  }
}

.condition-item {
  .select2-container,
  .select2-choice,
  .select2-chosen {
    background: none;
    border: none;
  }
  .select2-container {
    width: auto;
    max-width: none;
    vertical-align: initial;
    display: block;
    margin-bottom: 4px;
    .select2-choice {
      box-shadow: none;
      border: none;
      padding: 0;
      color: @linkColor;
      height: auto;
      &:hover, &:focus {
        color: @linkColorHover;
      }
      .select2-arrow {
        display: none;
      }
    }
    .select2-choice,
    .select2-chosen {
      line-height: 20px;
      display: inline;
      white-space: normal;
      span {
        display: inline;
        white-space: normal;
      }
      .entity-field-path > span:after {
        content: ' ';
        font-size: 0;
      }
    }
  }
  .datetime-visual-element {
    width: 120px;
  }
  .filter-item {
    padding-left: 0;
    vertical-align: baseline;
  }
  .open-filter .filter-criteria-selector{
    background: none;
  }
  button.select-filter-widget {
    font-weight: normal;
    vertical-align: baseline;
    line-height: inherit;
    padding: 0;
    color: @linkColor;
    &:hover, &:focus {
      color: @linkColorHover;
    }
  }
  .active-filter {
    display: inline;
    & > div, .dropdown, .filter-select{
      display: inline;
    }
    .datefilter{
      display: inline-block;
      input[type="text"]{
        margin-bottom: 11px;
      }
    }
    .caret {
      display: none;
    }
  }
  .ui-timepicker-input {
    vertical-align: top;
  }
}

.condition-builder{
  border: 1px solid #c9c9c9;
  min-width: 582px;/* @TODO temporary solution, will be fixed in CRM-2025 */
  background-color: #eff2f5;
  .left-area {
    width: 150px;
    float: left;
  }
  .right-area {
    width: calc(~"100% - 150px");
    float: left;
    padding: 0 10px;
    border-left: 1px solid #c9c9c9;
    background-color: white;
    > div {
      position: relative;
    }
  }
}

.deleted-field {
  color: @errorText;
}
