{#
    Renders javascript for integration form
    params:
        form - Symfony\Component\Form\FormView object
        formSelector - jQuery selector of main form needed in order to replace form during ajax reload
        csrfTokenSelector - Field full name of CSRF token needed to send if form is secured
#}
{% macro renderIntegrationFormJS(form, formSelector, csrfTokenFieldFillName) %}
    {% set fieldsToSendOnTypeChange = [
        form.type.vars.full_name,
        form.name.vars.full_name
    ] %}
    {% if csrfTokenFieldFillName is defined %}
        {% set fieldsToSendOnTypeChange = fieldsToSendOnTypeChange|merge([csrfTokenFieldFillName]) %}
    {% elseif form._token is defined %}
        {% set fieldsToSendOnTypeChange = fieldsToSendOnTypeChange|merge([form._token.vars.full_name]) %}
    {% endif %}

    {% set fieldsToSendOnTransportTypeChange = fieldsToSendOnTypeChange|merge([form.transportType.vars.full_name]) %}

    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        view: 'orointegration/js/channel-view',
        options: {
            formSelector: '#' ~ formSelector|default(form.vars.id),
            typeSelector: '#' ~ form.type.vars.id,
            transportTypeSelector: '#' ~ form.transportType.vars.id,
            fieldsSets: {
                type: fieldsToSendOnTypeChange,
                transportType: fieldsToSendOnTransportTypeChange
            }
        }
    }) }}></div>
{% endmacro %}
