.tags-view-form-container {
  margin-top: -5px;
  margin-left: -2px;
  min-height: 27px;
  display: inline-block;
  padding-right: 30px;
  .inline-editable-wrapper {
    padding-left: 2px;
  }
}
.tags-select-editor {
  .select2-container {
    width: calc(~"100% - 62px") !important;
  }
}
