.tags-container {
  line-height: 27px;
}
.tags-container__tag-entry {
  border: 1px solid #ddd;
  background: white;
  border-radius: 4px;
  margin-right: 3px;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 6px;
  display: inline-block;
  vertical-align: baseline;
}
.tags-container__tag-entry_is-my {
  border-color: #bbbbee;
  background: #fafaff;
}
