/* @theme: admin.oro; */

.main-menu-sided {
    position: relative;

    float: left;
    width: $menu-side-width;
    height: 100%;
    padding-bottom: 45px;

    background-color: $menu-background-color;

    .accordion {
        margin: 0;

        .title {
            @include text-line-truncate();
            display: block;
        }

        a {
            display: block;
        }
    }

    .accordion-group {
        width: $menu-side-width;
        margin-bottom: 0;

        border: none;
        border-radius: 0;

        .menu {
            margin: 0;
            padding: 0;

            .title,
            .accordion-toggle {
                color: $menu-item-text-color;

                &:before {
                    content: '';

                    display: inline-block;
                    height: 16px;
                    min-width: 16px;
                    margin-#{$end}: 8px;

                    font-weight: normal;
                    line-height: 1;
                    text-align: center;

                    color: $menu-accordion-icon-color;

                    transition: $menu-animation;
                }
            }

            .accordion-toggle {
                font-weight: bold;

                @include fa-icon(if-ltr($menu-icon-right, $menu-icon-left), before, true) {
                    transform: if-ltr(rotate(90deg), rotate(-90deg));
                }

                &.collapsed {
                    font-weight: normal;

                    &:before {
                        transform: rotate(0);
                    }
                }
            }

            .title {
                display: block;
                padding: 8px 15px;

                &:hover {
                    background-color: $menu-background-color-active;
                }

                $menu-title-offset: 0;
                @for $i from 1 through 5 {
                    $selector: '&-level-' + $i;

                    #{$selector} {
                        padding-#{$start}: $menu-title-offset *1px;
                    }

                    $menu-title-offset: $menu-title-offset + 24;
                }
            }
        }

        li {
            display: block;
        }
    }

    .accordion-body {
        background-color: $menu-dropdown-background-color;

        & > a {
            display: none;
        }

        .active {
            background-color: $menu-background-color-active;
        }

        .accordion-group {
            background-color: transparent;
        }
    }

    // First level
    .accordion-toggle.title-level-1 {
        position: relative;
        padding: side-values(12px 22px 12px 24px);

        background-color: $menu-dropdown-background-color-active;
        color: $menu-item-first-level-text-color;

        .menu-icon {
            min-width: 16px;
            margin-#{$end}: 8px;
            margin-left: 0;

            text-align: center;
        }

        &.collapsed {
            background-color: $menu-background-color;
        }

        &:hover {
            background-color: $menu-dropdown-background-color-active;
        }
    }

    .scroller {
        position: relative;

        height: calc(100% - #{$menu-header-height});

        overflow: hidden;
    }

    &.minimized {
        width: $menu-side-width-minimized;

        .unclickable {
            display: block;
        }

        .dropdown {
            position: static;
        }

        // First level
        .dropdown-level-1 {
            text-align: center;

            width: $menu-side-width-minimized;

            .dropdown-menu {

                display: none;
            }

            &:hover {
                background-color: $menu-dropdown-background-color-active;

                .unclickable {
                    color: $menu-item-first-level-text-color-active;
                }
            }

            &.active {
                background-color: $menu-dropdown-background-color;

                > .unclickable .title {
                    color: $menu-minimized-item-first-level-text-color-active;
                }
            }
        }

        .title-level-1 {
            display: block;
            padding: 13px 8px;

            font-size: 11px;
            line-height: 1.2;

            color: $menu-item-first-level-text-color;

            word-break: break-word;

            .menu-icon {
                display: block;
                width: 100%;
                margin: 0 0 5px;

                font-size: 24px;
            }
        }
    }

    .main-menu {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100%;
        padding-#{$end}: 25px;

        box-sizing: content-box;

        overflow-y: auto;
    }

    &__scroll {
        position: absolute;
        #{$start}: 0;
        z-index: 1;

        width: 100%;
        height: $menu-placeholder-size;

        background-color: $menu-dropdown-background-color-active;

        opacity: .85;

        @extend %main-menu-trigger;

        &:first-child {
            top: 0;

            @include fa-icon($menu-icon-up);
        }

        &:last-child {
            bottom: 0;

            @include fa-icon($menu-icon-down);
        }

        &:hover,
        &:focus {
            background-color: $menu-dropdown-background-color-light-active;

            opacity: 1;
        }
    }
}
