/* @theme: admin.oro; */

.main-menu-toggler {
    position: absolute;
    inset: auto 24px 4px auto;

    width: 40px;
    height: 40px;

    background: none;

    @extend %main-menu-trigger;

    @include fa-icon($menu-icon-toggler, before, true, true) {
        display: inline-block;
        transform: rotate($menu-icon-toggler-transform);
    }

    &:active,
    &:hover {
        background-color: $primary-main-light;
    }
}

.minimized {
    .main-menu-toggler {
        &::before {
            transform: rotate($menu-icon-toggler-transform-active);
        }
    }
}
