/* @theme: admin.oro; */

%main-menu-trigger {
    font-size: $menu-toggler-font-size;
    line-height: 1;

    text-align: center;

    border: 0;
    color: $menu-toggler-color;

    cursor: pointer;

    &:hover,
    &:focus {
        color: $menu-item-first-level-text-color-active;
    }

    &::before {
        transition: $menu-animation;
    }
}

// common decoration
@import "main-menu";

// menu top decoration
@import "main-menu-top";

// sided menu decoration
@import "main-menu-sided";
@import "side-menu-overlay";

@import "main-menu-toggler";
