/* @theme: admin.oro; */

.main-menu-toggler {
    position: absolute;
    inset: auto 24px 4px auto;

    width: 40px;
    height: 40px;

    background: none;

    @extend %main-menu-trigger;

    @include fa-icon($menu-icon-toggler, before, true, true) {
        display: inline-block;
        transform: rotate($menu-icon-toggler-transform);
    }

    &:hover {
        background-color: $primary-main-light;
    }

    &:focus,
    &:active {
        background: $neutral-white;
        box-shadow: 0 0 0 2px $text-inverse, 0 0 0 4px $secondary-focus;
    }
}

.minimized {
    .main-menu-toggler {
        &::before {
            transform: rotate($menu-icon-toggler-transform-active);
        }
    }
}
