/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity, selector-max-compound-selectors, max-nesting-depth */

.main-menu-top {
    @include clearfix();

    border-top: $menu-top-border-top;
    border-image: $menu-top-border-image;

    .main-menu {
        background: none;
        display: flex;
        align-items: center;
        float: left;
        padding-left: $menu-top-main-menu-padding-left;

        @include clearfix();
    }

    .dropdown-menu {
        margin: 0;
        min-width: $menu-top-dropdown-min-width;
        padding: $menu-top-dropdown-padding;
        background: $menu-top-dropdown-background-color;
        border: $menu-top-dropdown-border;
        border-radius: $menu-dropdown-border-radius;
        box-shadow: $menu-dropdown-box-shadow;

        .dropdown-menu-level-2 {
            border-radius: $menu-dropdown-dropdown-menu-level-2-border-radius;
        }
    }

    .dropdown-menu,
    .dropdown-toggle {
        &::before,
        &::after {
            content: none;
        }
    }

    .title {
        display: block;
        padding: $menu-item-offset;
        font-size: $menu-item-font-size;
        color: $menu-item-text-color;

        white-space: nowrap;

        &-level-1 {
            padding: $menu-top-first-level-padding;
            font-size: $menu-item-first-level-font-size;
            line-height: $menu-top-first-level-line-height;
            font-weight: $menu-top-first-level-font-weight;

            color: $menu-item-first-level-text-color;

            .menu-icon {
                display: none;
            }
        }
    }

    .dropdown-menu-single-item.active {
        background: $menu-background-active;
    }

    .dropdown-menu-level-last {
        border-radius: $menu-top-dropdown-level-last-border-radius;
        overflow: $menu-top-dropdown-level-last-overflow;
    }

    .dropdown-menu-title {
        &-level-1 {
            display: none;

            + .divider {
                display: none;
            }
        }
    }

    .dropdown {
        > .dropdown-menu {
            top: 0;
            left: 100%;

            display: block;

            visibility: hidden;
        }

        &-level-1 {
            float: left;

            &.active {
                background: $menu-background-active;

                &:hover {
                    background: $menu-top-dropdown-background-color-active;
                }

                .title-level-1 {
                    color: $menu-item-first-level-text-color-active;
                    font-weight: $menu-top-first-level-active-font-weight;
                }
            }

            // Open menu
            &.show,
            &:hover {
                .title {
                    &:hover {
                        background: $menu-background-hover;
                    }

                    &-level-1 {
                        position: relative;

                        background-color: $menu-top-dropdown-background-color;
                        color: $menu-item-text-color;

                        // Hide box-shadow from dropdown-menu
                        &::after {
                            content: '';

                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            z-index: $zindex-dropdown + 2;

                            height: $menu-top-dropdown-cover-height;

                            background: $menu-top-dropdown-background-color;
                        }

                        &:hover {
                            background: $menu-top-dropdown-background-color;
                        }
                    }
                }

                .dropdown-menu-wrapper {
                    z-index: $zindex-dropdown + 1;

                    &__placeholder {
                        height: auto;

                        overflow: inherit;
                    }
                }
            }
        }

        &.active {
            .dropdown.active {
                > .dropdown-toggle {
                    background: $menu-background-active;
                }
            }
        }

        &.show,
        &:hover {
            > .dropdown-menu,
            > .dropdown-menu-wrapper__child,
                /* Opens on hover for all 2+ levels */
            .dropdown-menu-wrapper__scrollable {
                visibility: visible;
            }
        }
    }

    .dropdown,
    .dropdown-menu-single-item {
        // reset global styles .dropdown-menu > li > a
        > a {
            padding: 0;
            line-height: $menu-item-line-height;
        }

        // reset global styles .dropdown-menu > li > div
        > .dropdown-menu-wrapper {
            padding: 0;
        }

        // reset global styles .dropdown-menu li.dropdown:after
        &::after {
            content: none;
        }

        &:hover {
            // reset global styles .dropdown-menu > li > a:hover
            > a {
                background: $menu-background-hover;
                color: inherit;
            }
        }
    }

    .dropdown-menu-wrapper {
        > .dropdown-menu {
            position: relative;
            top: 0;
            left: 0;

            display: block;
        }

        &__child {
            position: absolute;
            left: 100%;

            visibility: hidden;

            .first > .dropdown-toggle {
                &,
                .title:hover {
                    border-top-left-radius: $menu-top-dropdown-first-last-item-border-radius;
                    border-top-right-radius: $menu-top-dropdown-first-last-item-border-radius;
                }
            }

            .last > .dropdown-toggle {
                &,
                .title:hover {
                    border-bottom-left-radius: $menu-top-dropdown-first-last-item-border-radius;
                    border-bottom-right-radius: $menu-top-dropdown-first-last-item-border-radius;
                }
            }
        }

        &__scrollable {
            box-shadow: $menu-dropdown-scrolable-box-shadow;
            border-radius: $menu-dropdown-border-radius;

            visibility: hidden;

            > .dropdown-menu {
                position: static;

                > .dropdown {
                    position: static;
                }
            }
        }

        &__placeholder {
            position: absolute;

            height: 0;
            overflow: hidden;
        }
    }

    &.narrow-mode {
        .menu-icon {
            display: block;
            margin-bottom: $menu-icon-narrow-margin-bottom;

            font-size: $menu-icon-narrow-font-size;
            text-align: $menu-icon-text-align;
        }

        .title-level-1 {
            padding: $menu-top-narrow-title-padding;
            max-width: $menu-top-narrow-title-max-width;

            font-size: $menu-item-minimized-font-size;
            line-height: $menu-top-narrow-title-line-height;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .align-menu {
        &-start {
            > .dropdown-menu-wrapper__placeholder {
                right: 0;
            }

            > .dropdown-menu-wrapper__child,
            > .dropdown-menu {
                right: 100%;
                left: auto;

                margin-right: -#{$menu-top-align-menu-margin};
            }
        }

        &-end {
            > .dropdown-menu-wrapper__placeholder {
                left: 0;
            }

            > .dropdown-menu-wrapper__child,
            > .dropdown-menu {
                left: 100%;

                margin-left: -#{$menu-top-align-menu-margin};
            }
        }
    }

    .menu-level-1 {
        .align-menu {
            &-start,
            &-end {
                .unclickable {
                    position: relative;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 50%;

                        margin-top: -($menu-font-size * .5);

                        line-height: $menu-top-align-menu-line-height;

                        color: $menu-item-text-color;

                        content: none;

                        @include reset-caret();
                    }
                }

                > .unclickable {
                    @include fa-icon($menu-top-icon-end, after, true, true) {
                        right: $menu-top-align-end-menu-icon-offset;
                    }

                    .title:not(.title-level-1) {
                        padding-right: $menu-top-align-end-menu-title-padding;
                        padding-left: $menu-top-align-start-menu-title-padding;
                    }
                }
            }
        }
    }

    .align-single-item {
        &-start {
            > .dropdown-menu-wrapper__placeholder,
            > .dropdown-menu-wrapper__child,
            > .dropdown-menu {
                .dropdown-menu-single-item .title {
                    padding-left: $menu-top-align-start-menu-title-padding;
                }
            }
        }

        &-end {
            > .dropdown-menu-wrapper__placeholder,
            > .dropdown-menu-wrapper__child,
            > .dropdown-menu {
                .dropdown-menu-single-item .title {
                    padding-right: $menu-top-align-end-menu-title-padding;
                }
            }
        }
    }
}
