/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity */

.side-menu-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: -1;

    width: calc(100vw - #{$menu-side-width-minimized + $content-padding * 2});
    height: 100vh;
    max-width: calc(100vw - #{$menu-side-width-minimized + $content-padding * 2});
    min-width: $width-body-page;

    overflow: hidden;

    opacity: 0;

    transition: $side-menu-overlay-transition;

    visibility: hidden;

    &.open {
        z-index: $zindex-modal;

        visibility: visible;

        opacity: 1;
    }

    &__header {
        position: relative;

        padding: 24px $side-menu-overlay-header-offset-start 24px $side-menu-overlay-header-offset-end;
        height: $side-menu-overlay-header-height;
    }

    &__search {
        position: relative;

        width:
            calc(
                #{$side-menu-overlay-menu-item-width} -
                #{$side-menu-overlay-header-offset-start} -
                #{$side-menu-overlay-header-offset-end}
            );
    }

    &__search-icon {
        position: absolute;
        top: 0;
        right: $side-menu-overlay-search-icon-right;
        padding: $side-menu-overlay-search-icon-padding;

        background-color: transparent;
        border-width: 0;
        color: $menu-item-text-color;

        transition: $menu-animation;

        &--interactive {
            &:hover,
            &:focus {
                color: $menu-full-screen-button-color;
                outline: none;
            }
        }
    }

    &__field {
        width: 100%;
        padding-right: $side-menu-overlay-field-padding-right;
        margin: 0;

        box-sizing: border-box;
    }

    &__title {
        width:
            calc(
                #{$side-menu-overlay-menu-item-width} -
                #{$side-menu-overlay-header-offset-start} -
                #{$side-menu-overlay-header-offset-end}
            );
        margin-bottom: $side-menu-overlay-title-margin-bottom;

        font-size: $side-menu-overlay-title-font-size;
        font-weight: $side-menu-overlay-title-font-weight;
        letter-spacing: $side-menu-overlay-title-letter-spacing;
        line-height: $side-menu-overlay-title-line-height;

        @include text-truncate();
    }

    &__content {
        max-width: calc(100vw - #{$menu-side-width-minimized});
        height: calc(100vh - #{$side-menu-overlay-header-height});
        max-height: calc(100vh - #{$side-menu-overlay-header-height});
        padding-bottom: $side-menu-overlay-content-padding-bottom;
    }

    &__button {
        position: absolute;
        top: $side-menu-overlay-button-top;
        z-index: 1;

        margin-left: $side-menu-overlay-button-offset;
        font-size: $side-menu-overlay-button-font-size;
        background-color: transparent;
        border: none;
        color: $menu-full-screen-button-color;

        transition: $menu-animation;

        &:hover,
        &:focus {
            color: $side-menu-overlay-button-hover;
            outline: none;
        }
    }

    &__fill,
    &__fill-blur,
    &__fill-blur-inner {
        text-align: $side-menu-overlay-ui-helper-text-align;

        color: transparent;

        &::after,
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;

            width: 100%;

            content: '';
        }
    }

    &__fill::after {
        z-index: -1;

        width: $side-menu-overlay-ui-fill-width;

        background-color: $menu-dropdown-background-color;

        transform: $side-menu-overlay-ui-fill-transform;
    }

    &__fill-blur::after {
        width: $side-menu-fill-blur-width;

        background-color: $menu-dropdown-background-color;
        box-shadow: $side-menu-overlay-ui-fill-blur-box-shadow;
        margin-left: $side-menu-overlay-fill-blur-gap;
    }

    &__fill-blur::before {
        width: $side-menu-overlay-fill-blur-gap;

        background-color: $menu-dropdown-background-color;
        z-index: -1;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;

        max-height: inherit;
        max-width: inherit;
        min-height: $side-menu-overlay-menu-min-height;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        overflow-x: auto;
        overflow-y: hidden;
    }

    .menu-item {
        width: $side-menu-overlay-menu-item-width;
        padding: $side-menu-overlay-menu-item-padding;

        line-height: $side-menu-overlay-menu-item-line-height;

        &:not(.ui-helper) {
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: $side-menu-overlay-menu-item-divider-bottom;

                width: 1px;

                background-color: $menu-item-divider-color;

                content: '';
            }
        }

        > a {
            display: inline-block;
            width: 100%;
            outline: none;
        }
    }

    .title {
        position: relative;

        display: block;
        padding: $side-menu-overlay-item-padding;
        margin-left: -#{$side-menu-overlay-title-inline-gap};
        margin-right: -#{$side-menu-overlay-title-inline-gap};
        padding-left: $side-menu-overlay-title-inline-gap;
        padding-right: $side-menu-overlay-title-inline-gap;

        font-size: $side-menu-overlay-item-font-size;

        color: $menu-full-screen-title-color;

        &:hover,
        &:focus {
            background: $menu-background-hover;
        }

        &-level-2 {
            font-size: $side-menu-overlay-title-level-2-font-size;
            padding: $side-menu-overlay-title-level-2-padding;
            margin-top: $side-menu-overlay-title-level-2-margin;
            margin-bottom: $side-menu-overlay-title-level-2-margin;
        }

        &-level-3 {
            font-weight: $side-menu-overlay-title-level-3-font-weight;
        }

        &-level-4 {
            color: $side-menu-overlay-title-level-4-color;
        }

        $menu-overlay-title-offset: $side-menu-overlay-item-level-offset;

        @for $i from 2 through 5 {
            $selector: '&-level-' + $i;

            #{$selector} {
                padding-left: $menu-overlay-title-offset;
            }

            $menu-overlay-title-offset: $menu-overlay-title-offset + $side-menu-overlay-item-level-offset-step;
        }
    }

    .active {
        .title {
            background: $menu-background-active;
        }

        &.dropdown {
            .title {
                background: $menu-item-reset-background;
            }
        }
    }

    .unclickable {
        cursor: default;

        &:hover,
        &:focus {
            .title {
                background: $menu-item-reset-background;
            }
        }

        .highlight {
            text-decoration: initial;
        }
    }

    .focus-visible .title {
        outline: $input-focus-border-color auto 1px;
    }

    .highlight {
        text-decoration: underline;
        background-color: $menu-item-text-highlight-color;
    }

    .divider {
        display: none;
    }

    .tree-boundary > a {
        border-bottom: $side-menu-overlay-tree-boundary-border-bottom;
    }

    .last-item-in-group > a {
        padding-bottom: $side-menu-overlay-last-item-in-group-padding-bottom;
    }
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    .side-menu-overlay__content {
        /* The hack for Safari */
        padding-bottom: 32px;
    }
}
