<div class="pull-right title-buttons-container">
    {% block navButtonContainer %}
        {% placeholder view_navButtons_before with {entity: entity} %}
        {% block navButtons %}{% endblock navButtons %}
        {% placeholder view_navButtons_after with {entity: entity} %}
    {% endblock navButtonContainer%}
</div>
<div class="pull-right user-info-state">
    <div class="inline-decorate-container">
        <ul class="inline-decorate">
            {% block pageActions %}
                {% placeholder view_pageActions_before with {entity: entity} %}

                {% block ownerLink %}
                    {% if isDesktopVersion() %}
                        {% set ownerLink = UI.entityOwnerLink(entity) %}
                        {% if ownerLink %}
                            <li>{{ ownerLink }}{% placeholder additional_owner_info with {entity: entity} %}</li>
                        {% endif %}
                    {% endif %}
                {% endblock ownerLink %}

                {% set audit_entity_id = audit_entity_id is defined ? audit_entity_id : entity.id|default %}
                {% if audit_entity_id %}
                    {% placeholder change_history_block with {
                    'entity': entity,
                    'entity_class': audit_entity_class|default(null),
                    'id': audit_entity_id,
                    'title': audit_title|default(entity.__toString is defined ? entity : null),
                    'audit_path': audit_path|default('oro_dataaudit_history'),
                    'audit_show_change_history': audit_show_change_history|default(false)
                    } %}
                {% endif %}

                {% placeholder view_pageActions_after with {entity: entity} %}
            {% endblock pageActions %}
        </ul>
    </div>
</div>
