{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set buttonsPlaceholderData = {} %}
{% block content %}
    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                <div class="span9">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{{ (pageTitle is defined ? pageTitle : '')|trans }}</h1>
                    </div>
                </div>
                <div class="pull-right title-buttons-container">
                    {% placeholder index_navButtons_before with buttonsPlaceholderData %}
                    {% block navButtons %}{% endblock navButtons %}
                    {% placeholder index_navButtons_after with buttonsPlaceholderData %}
                </div>
            </div>
        </div>
    </div>
    {% block content_datagrid %}
        {% if gridName is defined %}
            {% if params is defined %}
                {{ dataGrid.renderGrid(gridName, params) }}
            {% else %}
                {{ dataGrid.renderGrid(gridName) }}
            {% endif %}
            {# Only grids on index pages will be tagged #}
            <script type="text/javascript">
                require(['oronavigation/js/content/grid-builder'], function (GridTagBuilder) {
                    GridTagBuilder.allowTracking({{ gridName|json_encode|raw }});
                });
            </script>
        {% endif %}
    {% endblock content_datagrid %}
{% endblock content %}
