{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set buttonsPlaceholderData = {} %}
{% if entity_class is defined %}
    {% set buttonsPlaceholderData = {'entity_class': entity_class} %}
{% endif %}

{% block before_content_addition %}
    {% placeholder index_before_content_addition %}
{% endblock before_content_addition %}

{% block content %}
    <div class="container-fluid page-title">
        <div class="navigation navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{{ pageTitle is defined ? pageTitle : '' }}</h1>
                    </div>
                </div>
                <div class="pull-right title-buttons-container invisible"
                         data-page-component-module="oroui/js/app/components/view-component"
                         data-page-component-options="{{ {'view': 'oroui/js/app/views/hidden-initialization-view'}|json_encode }}"
                         data-layout="separate">
                    {% placeholder index_navButtons_before with buttonsPlaceholderData %}
                    {% block navButtons %}{% endblock navButtons %}
                    {% placeholder index_navButtons_after with buttonsPlaceholderData %}
                </div>
                <div class="page-title-center"
                     data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ {'view': 'oroui/js/app/views/page-center-title-view'}|json_encode }}">
                    <div class="filters-state-view-container"></div>
                </div>
            </div>
        </div>
    </div>
    {% block content_datagrid %}
        {% if gridName is defined %}
            {% if gridScope is defined %}
                {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
            {% endif %}
            {% set renderParams = {
                'enableFullScreenLayout': true,
                'enableViews': true,
                'showViewsInNavbar': true,
                'filtersStateElement': '.filters-state-view-container'
            }
            |merge(renderParams|default({})) %}
            {{ dataGrid.renderGrid(gridName, params|default({}), renderParams) }}

            {# Only grids on index pages will be tagged #}
            {% import 'OroUIBundle::macros.html.twig' as UI %}

            <div {{ UI.renderPageComponentAttributes({
                module: 'orodatagrid/js/app/components/datagrid-allow-tracking-component',
                options: {
                    gridName: gridName
                }
            }) }}></div>
        {% endif %}
    {% endblock content_datagrid %}
{% endblock content %}
