.table.entity-merge-table input[type="radio"]{
    margin-top: 0;
}
.table.entity-merge-table .merge-first-column{
    padding-left: 20px;
}
.table.entity-merge-table thead td{
    padding: 9px 8px 9px 12px;
    vertical-align: middle;
}
.table.entity-merge-table tbody td{
    vertical-align: top;
    padding: 6px 8px 6px 12px;
    cursor: pointer;
}
.entity-merge-fields-blocks-wrapper label{
    margin-bottom: 0;
}
.table.entity-merge-table tbody .merge-first-column{
    background-color: #FCFCFC;
    width: 245px;
}
.table thead td{
    background-color: #F0F0F0;
}
.entity-merge-uppercase{
    text-transform: uppercase;
}
.entity-merge-table thead label.entity-merge-inline{
    line-height: normal;
}
.entity-merge-table thead .entity-merge-inline input[type="radio"]{
    margin: -2px 5px 0 0;
}
.entity-merge-inline-label{
    float: left;
    padding-left: 10px;
}
.entity-merge-inline{
    float: left;
}
.entity-merge-table ul{
    list-style: none outside none;
    margin: 0;
}
.entity-merge-strategy-label{
    padding: 3px 15px 0 0;
}
.entity-merge-strategy-wrapper{
    padding-top:10px;
}
.entity-merge-fields-blocks-wrapper {
    overflow: hidden;
}
.entity-merge-header-wrapper{
    position: relative;
    padding-bottom: 12px;
}
tbody .entity-merge-fields-blocks-wrapper .entity-merge-inline-label{
    width: calc(100% - 20px);
    font-weight: bold;
}
tbody .entity-merge-fields-blocks-wrapper .entity-merge-inline-label.entity-merge-not-selected{
    font-weight: normal;
}
.entity-merge-small-select{
    width: 100px;
}
tbody tr:hover{
    background-color: #F5F8FF;
}
.entity-merge-strategy-label em, .merge-first-column label em{
    display: none;
}
.entity-merge-table .icon-info-sign{
    margin: 0 5px 0 0;
}
.entity-merge-select-all{
    font-size: 11px;
    padding-left: 21px;
    line-height: normal;
}
thead .merge-first-column label{
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
thead .merge-first-column label .popover-content{
    font-weight: normal;
    text-transform: none;
}
