.mce-tinymce {
  &.mce-panel{
    border:1px solid #ccc;
    border-radius: 3px;
  }
  &.mce-fullscreen {
    width: 100% !important;
    max-width: none !important;
  }
  .mce-toolbar-grp {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .mce-edit-area {
    border-top-color: #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.entities.list-group {
  .list-group-item {
    padding: 5px 7px;
    margin-left: 0;
    margin-right: 1.5%;
    width: 297px;
    border-top-style: none;
  }

  .list-group-item h4 {
    margin: 3px 0;
  }

  .default-selector {
    margin-right: 10px;
  }
}

.controls {
  .entities.list-group {
    width: 297px;
  }
}

.expanded-text-field textarea, .expanded-text-field .mce-tinymce {
  width: 100%
}
