.inline-editable-wrapper {
  &.save-success .inline-actions-element {
    background: #F4FEE2;
    .inline-actions-element-outline(#F4FEE2);
    .inline-actions-element_actions {
      visibility: visible;
    }
  }
  &.save-fail .inline-actions-element {
    background: #FFEEEE;
    .inline-actions-element-outline(#FFEEEE);
    .inline-actions-element_actions {
      visibility: visible;
    }
  }
  &.loading .inline-actions-element {
    background: #f5f5f5;
    .inline-actions-element-outline(#f5f5f5);
    &:after {
      background: url('../../../../bundles/oroui/img/loader-16.gif') no-repeat center center rgba(245,245,245,0.7);
      display: block !important;
      content: "";
      position: absolute;
      top: 0;
      right: 1px;
      width: 24px;
      height: 24px;
    }
    &:hover .inline-actions-element_actions {
      visibility: hidden !important;
    }
  }
}
