{% block genemu_jqueryselect2_translatable_entity_widget %}
    {% spaceless %}
        {{ block('genemu_jqueryselect2_entity_widget') }}
    {% endspaceless %}
{% endblock %}

{#
    This form field are rendered on System configuration form
#}
{% block oro_translation_available_translations_widget %}
    {{ form_widget(form) }}
    <div class="available-translation-widget-container">
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_translation_available_translations')
        }) }}
    </div>
    <script type="text/javascript">
        require(['jquery'], function($) {
            $('.available-translation-widget-container')
                .parents('.controls.control-subgroup')
                .removeClass('controls')
                .removeClass('control-subgroup')
            ;
        });
    </script>
{% endblock %}
