{% block _style_book_grid_element_notification_flash_widget %}
    <div class="notification-flash notification-flash--error">
        <div class="notification-flash__badge">
            <i class="fa-exclamation-triangle"></i>
        </div>
        <div class="notification-flash__text">
            Google calendar cannot by synchronized, as Google integration is not yet configured. Please contact system administrator.
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_flash_success_widget %}
    <div class="notification-flash notification-flash--success">
        <div class="notification-flash__badge">
            <i class="fa-check"></i>
        </div>
        <div class="notification-flash__text">
            The shopping list 'PO1463' was successfully created.
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_flash_warning_widget %}
    <div class="notification-flash notification-flash--warning">
        <div class="notification-flash__badge">
            <i class="fa-exclamation-circle"></i>
        </div>
        <div class="notification-flash__text">
            The connection cannot be established at the moment. Please check your internet connection.
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_widget %}
    <div class="notification notification--error">
        <div class="notification__item">
            <i class="fa-exclamation-triangle"></i>
            <span class="notification__text">Please reassign the tasks to a new responsible user before deleting the user with the sales role.</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_success_widget %}
    <div class="notification notification--success">
        <div class="notification__item">
            <i class="fa-check"></i>
            <span class="notification__text">The customer information was updated.</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_warning_widget %}
    <div class="notification notification--warning">
        <div class="notification__item">
            <i class="fa-exclamation-circle"></i>
            <span class="notification__text">Please fill in the shipping address in order to proceed with the checkout.</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_info_widget %}
    <div class="callout-block">
        <h2 class="callout-block__title">Information</h2>
        <p class="callout-block__text">It is important to keep at least one consumer running.</p>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_warning_widget %}
    <div class="callout-block warning">
        <h2 class="callout-block__title">Warning!</h2>
        <p class="callout-block__text">Beware of the planned system maintenance on March 03, 2017 from 00:00 UTC to 00:30 UTC.</p>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_danger_widget %}
    <div class="callout-block danger">
        <h2 class="callout-block__title">Danger!</h2>
        <p class="callout-block__text">This operation is irreversible. Ensure you have backed up the data before you trigger it.</p>
    </div>
{% endblock %}
