{% block oro_tag_select_row %}
    {% if resource_granted('oro_tag_view') %}
        {% if resource_granted('oro_tag_assign_unassign') %}
            <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}">
                <div class="control-label wrap">
                    {{ form_label(form, '' , { label_attr: label_attr}) }}
                </div>
                <div class="controls tags-form-select-editor">
                    {{ form_widget(form) }}
                    {{ form_javascript(form) }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
