# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    safe_methods:
        Oro\Bundle\DashboardBundle\Helper\DateHelper:
            getTimeZoneOffset: true
    check_methods_safety:
        Oro\Bundle\DashboardBundle\Helper\DateHelper:
            getEnforcedTimezoneFunction: true
