/* @theme: default; */

$ui-timepicker-list-border: 1px solid get-color('neutral', 'grey2') !default;
$ui-timepicker-list-box-shadow: 0 5px 10px rgba(0 0 0 / 20%) !default;
$ui-timepicker-list-background: get-color('neutral', 'white-100') !default;

$ui-timepicker-list-item-color: get-color('neutral', 'dark') !default;
$ui-timepicker-list-item-hover-background: get-color('neutral', 'focus') !default;
$ui-timepicker-list-item-hover-color: get-color('neutral', 'white-100') !default;
