/* @theme: default; */

$ui-timepicker-list-border: 1px solid get-color('additional', 'middle') !default;
$ui-timepicker-list-box-shadow: 0 5px 10px rgba(0 0 0 / 20%) !default;
$ui-timepicker-list-background: get-color('additional', 'ultra') !default;

$ui-timepicker-list-item-color: get-color('additional', 'darker') !default;
$ui-timepicker-list-item-hover-background: get-color('ui', 'focus') !default;
$ui-timepicker-list-item-hover-color: get-color('additional', 'ultra') !default;
