{% set models = {
    "sidebar": {
        "widgets": [
            {
                "title": "Hello world",
                "icon": "/bundles/orosidebar/img/hello-world.ico",
                "module": "oro/sidebar/widget/hello-world"
            },
{
"title": "Hello world",
"icon": "/bundles/orosidebar/img/hello-world.ico",
"module": "oro/sidebar/widget/hello-world"
},
{
"title": "Hello world",
"icon": "/bundles/orosidebar/img/hello-world.ico",
"module": "oro/sidebar/widget/hello-world"
},
{
"title": "Hello world",
"icon": "/bundles/orosidebar/img/hello-world.ico",
"module": "oro/sidebar/widget/hello-world"
},
{
"title": "Hello world",
"icon": "/bundles/orosidebar/img/hello-world.ico",
"module": "oro/sidebar/widget/hello-world"
},
{
"title": "Hello world",
"icon": "/bundles/orosidebar/img/hello-world.ico",
"module": "oro/sidebar/widget/hello-world"
}

        ]
    },
    "widgets": [
        {
            "id": 1,
            "title": "Hello world",
            "icon": "/bundles/orosidebar/img/hello-world.ico",
            "module": "oro/sidebar/widget/hello-world",
            "settings": {
                "content": "Hello, World!!!"
            }
        }
    ]
} %}
<div id="sidebar-left" class="sidebar sidebar-left" data-models="{{ models|json_encode }}">
</div>
