{% set models = {
    "sidebar": {
        "widgets": [
            {
                "title": "Hello world",
                "icon": "http://i50.photobucket.com/albums/f322/aldemirsilva/bluefeedicon.gif",
                "module": "oro/widget/helloWorld"
            },
            {
                "title": "Bar",
                "icon": "http://i50.photobucket.com/albums/f322/aldemirsilva/bluefeedicon.gif",
                "module": "oro/widget/helloWorld"
            }
        ]
    },
    "widgets": [
        {
            "title": "Hello world",
            "icon": "http://i50.photobucket.com/albums/f322/aldemirsilva/bluefeedicon.gif",
            "module": "oro/widget/helloWorld",
            "settings": {
                "content": "Hello, World!!!"
            }
        }
    ]
} %}
<div id="sidebar-left" class="sidebar sidebar-left" data-models="{{ models|json_encode }}">
</div>