{% set models = {
    "sidebar": {
        "widgets": [
            {
                "title": "Hello world",
                "icon": "/bundles/orosidebar/img/hello-world.ico",
                "module": "oro/sidebar/widget/hello-world"
            }
        ]
    },
    "widgets": [
        {
            "id": 2,
            "title": "Hello world",
            "icon": "/bundles/orosidebar/img/hello-world.ico",
            "module": "oro/sidebar/widget/hello-world",
            "settings": {
                "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar."
            }
        }
    ]
} %}
<div id="sidebar-right" class="sidebar sidebar-right" data-models="{{ models|json_encode }}">
</div>