/* @theme: blank; */

.buttons-equal {
    display: flex;

    padding-top: $offset-y;

    .btn {
        flex-basis: 50%;

        &:first-child {
            margin-right: $offset-x-m;
        }
    }
}
