/* @theme: blank; */

.custom-checkbox {
    position: relative;

    display: inline-block;
    vertical-align: middle;

    &__input {
        position: absolute;
        z-index: -1;
        margin: 0;

        opacity: 0;

        &:hover {
            ~ .custom-checkbox__icon {
                border: $checkbox-icon-border-hover-state;
            }
        }

        &:focus {
            ~ .custom-checkbox__icon {
                border: $checkbox-icon-border-focus-state;
            }
        }

        &:checked {
            ~ .custom-checkbox__icon {
                border: $checkbox-icon-border-focus-state;
                background-color: $checkbox-icon-bg-color-focus-state;
            }
        }

        &:indeterminate {
            ~ .custom-checkbox__icon {
                border: $checkbox-icon-border-focus-state;
                background-color: $checkbox-icon-bg-color-focus-state;
            }
        }
    }

    &__icon {
        display: inline-block;

        height: $checkbox-icon-size;
        width: $checkbox-icon-size;

        border: $checkbox-icon-border;
        background-color: $checkbox-icon-bg-color;

        border-radius: $checkbox-icon-border-radius;

        cursor: pointer;

        vertical-align: middle;
    }

    &__text {
        vertical-align: middle;
    }
}
