/* @theme: blank; */

.custom-checkbox {
    position: relative;

    display: inline-block;
    vertical-align: middle;

    &__input {
        position: absolute;
        top: $checkbox-icon-size / 2;
        left: $checkbox-icon-size + 2px;

        height: 2px;
        width: 2px;
        margin: 0;

        opacity: 0;
        appearance: none;

        &:hover {
            ~ .custom-checkbox__icon {
                border-color: $checkbox-icon-border-color-hover-state;
            }
        }

        &:focus {
            ~ .custom-checkbox__icon {
                border-color: $checkbox-icon-border-color-focus-state;
                box-shadow: $checkbox-icon-box-shadow-focus-state;
            }
        }

        &:checked {
            ~ .custom-checkbox__icon {
                border-color: $checkbox-icon-border-color-focus-state;
                background-color: $checkbox-icon-bg-color-focus-state;
            }
        }

        &:indeterminate {
            ~ .custom-checkbox__icon {
                border-color: $checkbox-icon-border-color-focus-state;
                background-color: $checkbox-icon-bg-color-focus-state;
            }
        }

        @include element-state('disabled') {
            ~ .custom-checkbox__icon {
                color: $checkbox-icon-color-disabled-state;

                @include base-disabled-style(.55);
            }
        }
    }

    &__icon {
        display: inline-block;

        height: $checkbox-icon-size;
        width: $checkbox-icon-size;

        border: $checkbox-icon-border;
        background-color: $checkbox-icon-bg-color;

        border-radius: $checkbox-icon-border-radius;

        cursor: $base-ui-element-cursor;

        vertical-align: middle;
    }

    &__text {
        vertical-align: middle;
    }
}
