.input {
    @include base-ui-element($use-base-style-for-input,
                             $input-padding,
                             $input-font-size,
                             $input-font-family,
                             $input-line-height,
                             $input-border,
                             $input-border-radius,
                             $input-background-color,
                             $input-color
                            );

    @include element-state('hover') {
        text-decoration: none;

        border-color: $input-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $input-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $input-border-color-error-state;
    }
}
