// @theme: blank;

.oro-select2 {
    &--size {
        &-m {
            a.select2-choice {
                padding: $select2-container-size-m;

                .select2-arrow {
                    right: $select2-container-size-m;
                }
            }
            .select2-chosen {
                padding-right: 16px !important;
            }
        }

        &-s {
            a.select2-choice {
                padding: $select2-container-size-s;

                .select2-arrow {
                    right: $select2-container-size-s;
                }
            }
            .select2-chosen {
                padding-right: 16px !important;
            }
        }
    }
}

.select2-container {
    display: inline-block;
    width: 100%;

    background: get-color('additional', 'ultra');

    font-size: $base-font-size;
    line-height: 1;

    border: 1px solid get-color(additional, 'light');
    border-radius: $select2-container-border-radius;

    outline: none;
    vertical-align: middle;

    &.input {
        padding: 0;
    }

    .form-horizontal & {
        width: auto;
    }

    .select2-choice {
        position: relative;
        display: block;
        padding: $select2-container-size-l;

        color: get-color('additional', 'dark');
        text-decoration: none;

        white-space: nowrap;

        overflow: hidden;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .action-selectbox_custom_in-pager & {
            padding: 8px;
        }

        .select2-arrow {
            position: absolute;
            top: 50%;
            right: 8px;

            height: $select2-container-arrow-height;
            width: $select2-container-arrow-size * 2;

            margin-top: -($select2-container-arrow-height / 2);

            overflow: inherit;

            transition: transform .2s linear;

            &:before {
                top: 50%;

                margin-top: -($select2-container-arrow-size - 2);

                border-top: ($select2-container-arrow-size + 1) solid get-color('additional', 'dark');
                border-left: $select2-container-arrow-size solid transparent;
                border-right: $select2-container-arrow-size solid transparent;

                @include after;
            }
        }

        .select2-chosen {
            max-width: inherit;

            margin-right: 10px;
            padding: 0;
        }

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .select2-choices {
        min-height: 18px;
    }

    .select2-search-choice {
        margin: 3px 5px 3px 5px;
    }

    .select2-search-field input {
        padding: 0;
    }

    .select2-search input {
        padding: 11px 9px;
        font-size: $base-font-size;
        line-height: 1;
        border: 1px solid get-color('additional', 'light');
        border-radius: $select2-container-border-radius;
    }

    .select2-search-choice-close {
        display: none;
    }

    &--size {
        &-m {
            a.select2-choice {
                padding: $select2-container-size-m;

                .select2-arrow {
                    right: $select2-container-size-m;
                }
            }
            .select2-chosen {
                padding-right: 16px !important;
            }
        }

        &-s {
            a.select2-choice {
                padding: $select2-container-size-s;

                .select2-arrow {
                    right: $select2-container-size-s;
                }
            }
            .select2-chosen {
                padding-right: 16px !important;
            }
        }
    }

    &.error {
        border-color: get-color('ui', 'error-dark');;

        color: get-color('additional', 'dark');
    }

    // Open select
    &.select2-container-active {
        border: 1px solid get-color(additional, 'light');
        box-shadow: 0 1px 5px rgba(0, 0, 0,.15);
    }

    &.select2-dropdown-open {
        .select2-arrow {
            transform: rotate(180deg);
        }
    }

    &.select2-container-multi .select2-choices {
        padding: 5px 9px 5px 4px;

        .select2-search-field {
            margin-left: $offset-x-s;

            input {
                margin: 3px 0;
                padding: 3px 0;

                font-family: $base-font;
                color: get-color('additional', 'darker');
            }
        }

        .select2-search-choice {
            line-height: 12px;
        }
    }
}

.select2-drop {
    width: auto;
    margin-top: -4px;
    position: absolute;
    z-index: 9999;

    background: get-color('additional', 'ultra');
    border-radius: $select2-drop-border-radius;

    font-size: 13px;
    border: 1px solid get-color('additional', 'light');
    border-top-color: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15);

    &.select2-drop-auto-width {
        width: auto;

        .select2-search {
            padding-top: 4px;
        }
    }

    &.select2-drop-above {
        border-top-color: get-color(additional, 'light');
        border-bottom-color: transparent;
        box-shadow: $select2-container-drop-above-box-shadow;

        margin-top: 1px;
        border-radius: $select2-drop-above-border-radius;

        .select2-search {
            input {
                margin-top: 4px;
            }
        }
    }

    .select2__result-entry-info {
        font-style: italic;
        color: #999;
    }

    .select2-highlighted {
        background-color: get-color('ui', 'focus');
        color: get-color('additional', 'ultra');

        .select2__result-entry-info {
            color: lightblue;
            font-style: italic;
        }
    }
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0 0 ($offset-y-m /2);
    padding: 0 ($offset-x-m / 2) ($offset-y-m / 2);

    border-bottom: 1px solid get-color('additional', 'light');

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-input {
    width: 100%;

    font-size: $base-font-size;
    line-height: 1;

    border: $select2-container-input-border;
    border-radius: $select2-container-border-radius;

    margin: 0;
    padding: $select2-container-input-inner-offset;

    @include element-state('focus') {
        border-color: $select2-container-input-focus-border;
        box-shadow: $select2-container-input-focus-box-shadow;

        outline: 0;
    }

    @include element-state('error') {
        border: $select2-container-input-error-border;
        box-shadow: $select2-container-input-error-box-shadow;
    }

    @include element-state('warning') {
        border: $select2-container-input-warning-border;
        box-shadow: $select2-container-input-warning-box-shadow;
    }

    @include element-state('success') {
        border: 1px solid get-color('secondary', 'light');
    }
}

.select2-no-results,
.select2-searching {
    padding: 0 ($offset-x-m / 2) ($offset-y-m / 2);
    background: none;
}

.select2-result-label {
    display: block;

    padding: 5px 14px;

    text-decoration: none;
    line-height: 24px;

    color: inherit;

    white-space: nowrap;
}

.select2-drop-undermask,
.select2-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
}

.select2-results {
    max-height: 300px;
    margin: 0;
    padding: 0;
    color: get-color('additional', 'dark');
    overflow-x: hidden;
    overflow-y: auto;
}

.select2-more-results {
    background: get-color('additional', 'base');
}

.select2-offscreen,
.select2-offscreen:focus {
    clip: rect(0 0 0 0);
    border: none !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    position: absolute !important;
    outline: 0;
    left: 0px;
}

.select2-display-none {
    display: none;
}

@include breakpoint('mobile') {
    .oro-select2 {
        &--size-s {
            .select2-chosen {
                padding-right: 8px;
            }
        }
    }

    .select2-result-label {
        white-space: normal;
    }
}
