/* @theme: blank; */

.select {
    @include base-ui-element($use-base-style-for-select,
                             $select-padding,
                             $select-font-size,
                             $select-font-family,
                             $select-line-height,
                             $select-border,
                             $select-border-radius,
                             $select-background-color,
                             $select-color,
                             $select-disable-platform-style
                            );

    background: $select-bg;

    /* Hide expand button of select in IE11
     * Remove when stop supporting IE11
     */
    &::-ms-expand {
        display: none;
    }

    @include element-state('hover') {
        text-decoration: none;

        border-color: $select-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $select-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $select-border-color-error-state;
    }
}

@-moz-document url-prefix() {
    .select {
    /**
     * Set fixed height for Firefox
     */
        height: $select-firefox-height;
        line-height: $select-firefox-line-height;
        padding-top: $select-firefox-inner-offset-top;
        padding-bottom: $select-firefox-inner-offset-bottom;
    }
}
