/* @theme: blank; */

.textarea {
    resize: vertical;

    @include base-ui-element($use-base-style-for-textarea,
                             $textarea-padding,
                             $textarea-font-size,
                             $textarea-font-family,
                             $textarea-line-height,
                             $textarea-border,
                             $textarea-border-radius,
                             $textarea-background-color,
                             $textarea-color
                            );

    @include element-state('hover') {
        text-decoration: none;

        border-color: $textarea-border-color-hover-state;
    }

    @include element-state('focus') {
        border-color: $textarea-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $textarea-border-color-error-state;
    }
}
