{% import '@OroUI/macros.html.twig' as UI %}

{# Template data provided by Oro\Bundle\EntityConfigBundle\EventListener\AttributesDatagridListener #}
{% set attributeFamilies = record.getValue('attributeFamiliesViewData') %}
{% if attributeFamilies is not empty %}
<ul class="extra-list">
{% for attributeFamily in attributeFamilies %}
    <li class="extra-list-element">
    {% if attributeFamily.viewLink %}
        {{ UI.renderUrl(attributeFamily.viewLink, attributeFamily.label) }}
    {% else %}
        {{ attributeFamily.label }}
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
