/* @theme: admin.oro; */

.form-horizontal {
    .query-designer-form {
        margin-bottom: $query-designer-controls-group-margin-start;
    }

    .query-designer-row {
        display: flex;
        flex-wrap: wrap;

        /* stylelint-disable selector-max-compound-selectors */
        .select2-container,
        input.label-text,
        .function-selector .controls select,
        .function-selector .controls .selector {
            width: 100%;
            max-width: 100%;
        }
        /* stylelint-enable selector-max-compound-selectors */

        .control-group {
            float: left;
            flex-direction: column;
            margin-right: $query-designer-controls-group-margin-start;
            margin-bottom: $query-designer-controls-group-margin-start;

            .control-label {
                width: auto;
                padding-top: 0;
                padding-bottom: $form-horizontal-control-label-offset;

                text-align: left;
            }

            .controls {
                float: left;
                margin-left: 0;
                min-width: 0;

                // stylelint-disable-next-line selector-max-compound-selectors
                .select2-container {
                    order: -1;
                }
            }
        }

        .control-group-hidden,
        .control-group-text,
        .control-group-choice {
            width: $query-designer-control-group-width;
        }

        .control-group-choice {
            max-width: $query-designer-control-group-width;
        }

        .control-group-hidden {
            .controls {
                display: flex;
                flex-direction: column;
                float: none;
            }
        }

        // stylelint-disable-next-line selector-max-compound-selectors
        .sorting-selector .controls select {
            width: $query-designer-sorting-selector-width;
        }

        @include selector-width($query-designer-sorting-selector-width);

        .submit-cancel-buttons {
            margin-left: auto;
            margin-bottom: $query-designer-controls-group-margin-start;

            @include clearfix();

            &::before {
                display: block;
                height: $form-horizontal-control-label-line-height + $form-horizontal-control-label-offset;

                content: '';
            }

            .btn-group {
                float: none;
            }

            .btn {
                margin-left: $query-designer-submit-cancel-buttons-margin-start;
            }
        }

        .filter-box {
            padding: $query-designer-filter-box-padding;
            background: $query-designer-filter-box-background;

            > .btn-group {
                margin: 0;
            }

            .filter-item {
                padding: 0;

                /* stylelint-disable selector-max-compound-selectors */
                > .btn {
                    border-top-right-radius: $query-designer-filter-item-border-radius;
                    border-bottom-right-radius: $query-designer-filter-item-border-radius;
                }

                .filter-select .select-filter-widget,
                .filter-criteria-hint {
                    font-weight: font-weight('light');
                }
                /* stylelint-enable selector-max-compound-selectors */
            }
        }
    }

    .query-designer-grouping-form {
        .control-group {
            float: none;
        }
    }
}

.query-designer-grid-container {
    .grid {
        th {
            font-size: $query-designer-grid-th-font-size;
        }

        td {
            padding-top: $query-designer-grid-td-offset-top;
            vertical-align: top;
        }

        .label-column,
        .label-cell {
            width: $query-designer-grid-label-cell-width;
        }

        .label-cell {
            word-break: break-all;
        }

        .function-column,
        .function-cell {
            width: $query-designer-grid-function-cell-width;
        }

        .sorting-column,
        .sorting-cell {
            width: $query-designer-grid-sorting-cell-width;
        }

        .index-column,
        .index-cell {
            width: $query-designer-grid-index-cell-width;
        }

        .action-column {
            text-align: right;
        }

        .action-cell {
            padding-top: $table-tbody-td-offset;
            padding-right: 0;

            white-space: nowrap;
        }
    }
}
