{% if record.getValue('translationInstalled') %}
    <div class="translation-status">
        {% if record.getValue('translationAvailableUpdate') %}
            <span class="status-needs-update">{{ 'oro.translation.language.translation_status.update_needed'|trans }}</span>
        {% else %}
            <span class="status-up-to-date">{{ 'oro.translation.language.translation_status.up_to_date'|trans }}</span>
        {% endif %}
    </div>
{% endif %}
