<div class="translation-status">
    <span class="status-{{ record.getValue('translationStatus') }}">
        {{ ('oro.translation.language.translation_status.' ~ record.getValue('translationStatus'))|trans }}
    </span>
</div>
