{% set translationCompleteness = record.getValue('translationCompleteness') %}

{% if translationCompleteness is not null %}
    <div class="translation-completeness">
        <div class="progress">
            <div class="bar bar-success" style="width: {{ translationCompleteness * 100 }}%;"></div>
        </div>
        <b>{{ translationCompleteness|oro_format_percent }}</b>
    </div>
{% else %}
    {{ 'N/A'|trans }}
{% endif %}
