/* @theme: admin.oro; */

.comments-view-header {
    padding: $comment-view-header-offset;

    @include clearfix();
}

.comment-list {
    padding: $comment-view-list-offset;

    .comments-view-header {
        padding-top: 0;
    }
}

.comments-header-view-title {
    margin: 0;

    font-size: $comment-view-title-font-size;
    font-weight: $comment-view-title-font-weight;
}

.comments-view-footer {
    display: flex;
    justify-content: flex-end;
}

.comment-form-container {
    .comment-form {
        padding-bottom: $comment-view-content-offset;

        .comment-text-field {
            width: 100%;
        }

        .attachment-item {
            margin-top: $comment-view-attachment-item-offset;
        }

        .pull-left,
        .pull-right {
            max-width: 100%;
        }

        .control-group {
            .controls:first-child {
                margin-left: 0;
            }
        }
    }
}

.comments-block {
    margin-bottom: $comments-block-offset;
    min-width: inherit;

    color: $comments-block-color;

    .comment-content {
        flex-grow: 1;
        padding: $comments-block-content-offset;

        p {
            margin: $comments-block-paragraph-offset;

            &:last-child {
                margin: $comments-block-paragraph-last-offset;
            }
        }
    }

    .comment-item {
        display: flex;
        align-items: flex-start;
    }

    .comment-item:last-child {
        .comment-content {
            padding-bottom: 0;
        }
    }

    .comment-author-info {
        margin-bottom: $comments-block-author-info-offset;
    }

    .comment-title {
        width: $comments-block-title-size;
        position: relative;

        .comment-title-avatar {
            width: $comments-block-title-size;
            height: $comments-block-title-size;

            border-radius: $comments-block-avatar-radius;
        }

        .no-avatar {
            line-height: 1;

            @include fa-icon($comments-avatar-placeholder-icon, before, true) {
                font-size: $comments-block-title-size;
                color: $comments-avatar-placeholder-color;
            }
        }
    }

    .comment-body {
        color: $comments-block-body-color;

        word-break: break-all;

        .scrollspy-title {
            display: none;
        }
    }

    .comment-attachments {
        .thumbnail {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $comments-thumbnail-width;
            height: $comments-thumbnail-height;

            background: $comments-thumbnail-background;
            border-radius: $comments-thumbnail-border-radius;
        }

        .link-to-record {
            max-width: 100%;
            padding-top: $comment-view-base-offset;

            .dropdown-toggle {
                display: inline-block;
            }

            .view-image {
                display: none;
            }

            .fa {
                color: $comments-thumbnail-icon-record-color;
                font-size: $comments-thumbnail-icon-record-font-size;
            }
        }
    }

    .attachment-icon.accordion-toggle {
        display: none;

        &.collapsed {
            display: inline-block;
        }
    }
}

.ui-dialog {
    .comment-form {
        .comment-message-label {
            width: 100%;
        }
    }
}
