/* @theme: admin.oro; */

.comments-view-header,
.comments-view-body,
.comments-view-footer {
    margin: 16px 0 12px;

    @include clearfix();
}

.comments-header-view-title {
    margin: 0;

    font-size: 14px;
    font-weight: bold;
}

.comments-view-header {
    .load-more {
        display: inline-block;

        width: 100%;

        &.process {
            .load-more-label {
                display: inline-block;
                width: 100%;
                padding: 0 8px;

                text-align: center;

                &:before {
                    display: inline-block;

                    content: '';

                    @include loader(14px, 2px);
                }
            }
        }
    }
}

.comments-view-footer {
    margin-top: 10px;
}

.comment-form-container {
    .comment-form {
        padding-bottom: 10px;

        .comment-text-field {
            width: 100%;
            box-sizing: border-box;
        }

        .attachment-item {
            margin-top: 5px;
        }
    }

    .attachment-item {
        .remove-attachment {
            text-decoration: none;
            border: none;
            background: transparent;
            font-family: FontAwesome !important;
        }
    }
}

.add-comment-dialog {
    .comment-text-field {
        height: 165px;
    }

    label {
        margin-bottom: 8px;
    }
}

.responsive-section {
    .email-content .responsive-cell .comment-list {
        padding-#{$start}: $horizontal-padding;
    }

    &.responsive-small .email-content .responsive-cell .comment-list {
        padding-#{$start}: 0;
    }
}

.email-content {
    .responsive-cell {
        .comment-list {
            padding-#{$start}: $horizontal-padding;
        }
    }
}

.comments-block {
    color: #888;
    margin: 0;
    min-width: inherit;

    .comment-item {
        display: flex;
        align-items: flex-start;
    }

    .comment-title {
        width: 32px;
        position: relative;
    }

    .comment-author-info {
        margin-bottom: 8px;
    }

    .comment-content {
        flex-grow: 1;
        padding: 16px;
    }

    .comment-item:first-child {
        .comment-content {
            padding-top: 0;
        }
    }

    .comment-item:last-child {
        .comment-content {
            padding-bottom: 0;
        }
    }

    .comment-title {
        .comment-title-avatar {
            width: 32px;
            height: 32px;

            border-radius: 50%;
        }

        .no-avatar {
            background: url(../../../oroui/img/info-user.png);
            background-size: 32px 32px;
        }
    }

    .comment-body {
        line-height: 1.57;

        color: $primary-200;

        word-break: break-all;

        .scrollspy-title {
            display: none;
        }
    }

    .comment-attachments {

        .thumbnail {
            display: block;
            width: 110px;
            height: 80px;

            text-align: center;

            background: $primary-830;
            border-radius: 4px;

            @media only screen and (max-width: 500px) {
                display: none; // hide thumbnails on mobile
            }

            .fa {
                padding-top: 20px;
                color: #fff;
            }
        }

        .link-to-record {
            padding-top: 10px;

            .dropdown-toggle {
                display: inline-block;

                &:focus {
                    font-weight: normal;
                }
            }

            .dropdown-menu {
                white-space: nowrap;
                padding: 5px 15px;

                a {
                    span {
                        margin-left: 7px;
                        color: #777;
                    }

                    &:hover {
                        span {
                            color: #777;
                        }
                    }
                }

                .view-image {
                    display: none;
                }

                @media only screen and (max-width: 500px) {
                    a {
                        display: block;
                        text-align: left;
                    }

                    .view-image {
                        display: block;
                    }
                }
            }

            .fa {
                color: $primary-200;
                font-size: 15px;
                margin-right: 1px;
                margin-left: 0;
            }
        }
    }

    .attachment-icon.accordion-toggle {
        display: none;

        &.collapsed {
            display: inline-block;
        }
    }
}

.ui-dialog .comment-form textarea,
.ui-dialog .comment-form .mce-tinymce {
    width: 100%;
    box-sizing: border-box;
}
