<% var labelId = _.uniqueId('label-') %>
<% var regionId = _.uniqueId('collapse-region-') %>
<td class="grid-body-cell" colspan="3">
    <div class="entity-permission-container <% if (fields.length === 0) {%> field-less<% } %>">
        <div class="collapse-expand-action-container">
            <a href="#" class="collapse-action collapsed" role="button" title="<%- _.__('Expand') %>"
                data-collapsed-title="<%- _.__('Expand') %>" data-expanded-title="<%- _.__('Collapse') %>"
                data-toggle="collapse" data-target="#<%- regionId %>"
                aria-controls="<%- regionId %>" aria-expanded="false"
                aria-label="<%- _.__('Expand') + '/' + _.__('Collapse') %>"></a>
            <div id="<%- labelId %>" class="entity-name"><%- label %></div>
        </div>
        <ul data-name="action-permissions-items" class="action-permissions"></ul>
        <div class="entity-row-action more-bar-holder" data-name="row-action"></div>
    </div>
    <div id="<%- regionId %>" class="collapse" data-name="fields-list"
         role="region" aria-labelledby="<%- labelId %>"></div>
</td>
