<td colspan="3">
    <div class="entity-permission-container<% if (fields.length === 0) {%> field-less<% } %>">
        <div class="pull-left collapse-expand-action-container">
            <a class="collapse-action" href="#" data-collapsed-title="Expand" data-expanded-title="Collapse" title="Collapse"></a>
        </div>
        <div class="entity-name"><%- entity %></div>
        <div class="entity-row-action more-bar-holder" data-name="row-action"></div>
        <ul data-name="action-permissions-items" class="action-permissions clearfix"></ul>
        <% if (fields.length > 0) {%><div class="fields-list clearfix" data-name="fields-list"></div><% } %>
    </div>
</td>
