/* @theme: default; */

[data-blank-content] {
    &::after {
        display: inline-flex;
        vertical-align: $datagrid-blank-content-vertical-align;
        // To display text "content: attr(data-blank-content);"
        content: '';
        height: $datagrid-blank-content-height;
        width: $datagrid-blank-content-width;
        border-radius: $datagrid-blank-content-radius;
        background-color: $datagrid-blank-content-color;
    }
}
