/* @theme: default; */

.launchers-list {
    display: flex;

    &.nav {
        display: flex;
        flex-wrap: nowrap;
    }

    &:has(.mode-icon-text) {
        column-gap: spacing('base');
    }
}
