/* @theme: default; */

.launchers-dropdown-menu {
    .launchers-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .launcher-item {
        width: 100%;
    }

    .action {
        justify-content: flex-start;
        padding: $dropdown-item-padding-y $dropdown-item-padding-x;

        color: inherit;

        &:hover,
        &:focus {
            color: inherit;
        }
    }
}
