/* @theme: default; */

.no-data {
    margin: $no-data-offset;
    padding: $no-data-inner-offset;

    text-align: $no-data-text-align;
    color: $no-data-color;

    &:not(.show) {
        display: none;
    }
}
