/* @theme: default; */

.oro-datagrid {
    margin-bottom: spacing('base') * 2;

    &.no-data-visible {
        .no-data {
            display: block;
        }

        .grid-scrollable-container {
            display: none;
        }
    }
}

.mobile-version {
    .oro-datagrid {
        .thead-sizing {
            display: none;
        }
    }
}
