{% macro renderDynamicFields(entity, entity_class) %}
    {% set dynamicFields = oro_get_dynamic_fields(entity, entity_class) %}
    {% import 'OroUIBundle::macros.html.twig' as ui %}
    {% if dynamicFields is defined and dynamicFields|length %}
        {% for label, item in dynamicFields %}
            {% if item is iterable %}
                {% set data = '' %}
                {% for value in item.values %}
                    {% if value.link is defined and value.link != false  %}
                        {% set data = data ~ '<a href="' ~ value.link ~ '">' ~ value.title ~ '</a>' %}
                    {% else %}
                        {% set data = data ~ value.title %}
                    {% endif %}
                    {% if not loop.last %}
                        {% set data = data ~ ', ' %}
                    {% endif %}
                    {% set item = data %}
                {% endfor %}
            {% endif %}
            {{ ui.renderProperty(label|trans, item) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

