html, body, #page, #top-page {
  height: 100%;
  overflow: hidden; // prevents scroll bar appearance
}
html{
  overflow-x: auto;
}

.responsive-inline-position () {
  float: left;
  width: 50%;
}
.responsive-block-position () {
  float: none;
  width: 100%;
}

.responsive-section {
  .inner-grid {/* todo: need delete negative margins - ask Vova Eremenko for details*/
    margin:-@contentPadding -@contentPadding @contentPadding -@contentPadding;
  }
}

// by default, huge screen, cells: inline, blocks: inline
.responsive-section {
  .responsive-cell {
    margin-bottom: 35px;
    .responsive-inline-position();
  }
  .responsive-block {
    .responsive-inline-position();
  }
}

// big screen, cells: inline, blocks: wrapped
.responsive-section.responsive-big {
  .responsive-block {
    .responsive-block-position();
  }
}

// medium screen, cells: wrapped (if there are blocks), blocks: inline
.responsive-section.responsive-medium {
  &:not(.responsive-section-no-blocks) {
    .responsive-cell {
      .responsive-block-position();
    }
    // remove horizontal separator if cells are wrapped
    .row-fluid.row-fluid-divider {
      background: none;
    }
  }
  .responsive-block {
    .responsive-inline-position();
  }
}

// small screen, cells: wrapped, blocks: wrapped
.responsive-section.responsive-small {
  .responsive-cell,
  .responsive-block {
    .responsive-block-position();
  }
  // remove horizontal separator if cells are wrapped
  .row-fluid.row-fluid-divider {
    background: none;
  }
}

// the only cell and the only block -- with 100%;
.responsive-section {
  .responsive-cell:only-child,
  .responsive-block:only-child {
    .responsive-block-position();
  }
}

.container-fluid > .responsive-section {
  margin: 0 -@horizontalPadding;
  padding-right: @horizontalPadding;
  .scrollspy-title {
    margin-left:0;
  }
  .responsive-cell {
    padding-left: @horizontalPadding;
  }
  .responsive-cell:first-child {
    padding-right: @horizontalPadding;
  }
  &.responsive-medium:not(.responsive-section-no-blocks) .responsive-cell,
  &.responsive-small .responsive-cell,
  .responsive-cell:only-child {
    margin-top: 7px;
    padding-right: 0;
  }
}

body.backdrop:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  z-index: 9999;
}
body.backdrop {
  .select2-drop, #ui-datepicker-div{
    z-index: 10001 !important;
  }
}

.ui-dialog {
  max-width: 100%;
  .row-fluid.row-fluid-divider {
    background: none;
  }
}

.oro-page-menu-items {
  list-style: none;
  margin: 0;
  line-height: 21px;
  > li {
    min-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    a {
      display: block;
      padding-top: 5px;
      padding-bottom: 4px;
    }
    i[class^="icon-"] {
      color: #444;
      &.pull-right{
        margin: 0 -14px 0 0;
        line-height: 22px;
      }
    }
    &.selected {
      a{
        font-weight: bold;
        background-color: #e8e8e8 !important;
        color: #444;
      }
    }
  }
}
.oro-page {
  border-top: 1px solid @pageBorderColor;
  background: @pageSidebarBackgroundColor;
  border-bottom: 1px solid @pageBorderColor;
  .oro-page-sidebar {
    width: 236px;
    margin-right: -1px;
    float: left;
    border-right: 1px solid @pageBorderColor;
    border-bottom: 1px solid @pageBorderColor;
    background: @pageSidebarBackgroundColor;
  }
  .oro-page-body {
    float: right;
    width: calc(~"100% - 235px");
    border-left: 1px solid @pageBorderColor;
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
  }
  &.collapsible-sidebar {
    .oro-page-sidebar {
      > .dropdown-toggle {
        display: none;
      }
      > .dropdown-menu {
        .oro-page-menu-items;
        top: none;
        left: none;
        position: relative;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        background: transparent;
        width: 235px;
      }
    }
  }
}
