@import "../../lib/bootstrap/variables";
@import "../../lib/bootstrap/mixins";
@import "variables";

.box-sizing(@sizing: content-box ) {
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  box-sizing: @sizing;
}

.forScreen (@size; background; @value: none) {
  @media only screen and (max-width: @size) {
    background: @value;
  }
}
.forScreen (@size; float; @value: none) {
  @media only screen and (max-width: @size) {
    float: @value;
  }
}
.forScreen (@size; width; @value: 100%) {
  @media only screen and (max-width: @size) {
    width: @value;
  }
}
.forScreen (@size; height; @value: auto) {
  @media only screen and (max-width: @size) {
    height: @value;
  }
}
.forScreen (@size; min-height; @value: initial) {
  @media only screen and (max-width: @size) {
    min-height: @value;
  }
}
.forScreen (@size; margin; @value: 0) {
  @media only screen and (max-width: @size) {
    margin: @value;
  }
}
.forScreen (@size; padding; @value: 0) {
  @media only screen and (max-width: @size) {
    padding: @value;
  }
}
.forScreen (@size; padding-right; @value: 0) {
  @media only screen and (max-width: @size) {
    padding-right: @value;
  }
}
.forScreen (@size; @_; @value) {}

.cursor (grab) {
  cursor: url(../../../oroui/img/cursor/grab.cur), move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.cursor (grabbing) {
  cursor: url(../../../oroui/img/cursor/grabbing.cur), move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
