div.uploader, div.selector {
    position: relative;
    overflow: hidden;
    cursor: default;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    margin: 0;
}

div.uploader input, div.selector select {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    cursor: default;
}
