/* @theme: admin.oro; */

$select2-organization-switcher-mobile-background: transparent !default;

$select2-organization-switcher-dropdown-mobile-transform: translateY(2px) !default;

$select2-organization-switcher-select2-chosen-mobile-font-size: 17px !default;
$select2-organization-switcher-select2-chosen-mobile-font-weight: font-weight('bold') !default;
$select2-organization-switcher-select2-chosen-mobile-padding-inline-start: 0 !default;

$select2-organization-switcher-select2-choice-mobile-color: $primary-inverse !default;

$select2-organization-switcher-select2-results-mobile-margin-top: 8px !default;
