/* @theme: blank; */

$animation-duration: .3s !default;

$fade-in-duration: $animation-duration !default;
$fade-out-duration: $animation-duration !default;

$fade-in-down-duration: $animation-duration !default;
$fade-in-up-duration: $animation-duration !default;

$slide-in-down-duration: $animation-duration !default;
$slide-in-up-duration: $animation-duration !default;
