/* @theme: blank; */

$use-basic-styles: true !default;
$enable-safe-area: true !default;

$body-bg-color: get-color('additional', 'ultra') !default;
$body-color: get-color('additional', 'darker') !default;
$body-min-width: 320px !default;

