/* @theme: blank; */

$loader-mask-overlay-bg: get-color('additional', 'darker') !default;
$loader-mask-view-loading-height: 200px !default;
$loader-mask-loader-content-align: center !default;
$loader-mask-frame-bg: get-color('additional', 'ultra') !default;
$loader-mask-frame-width: 180px !default;
$loader-mask-frame-offset-inner: $offset-y !default;
$loader-mask-frame-border: null;
$loader-mask-frame-border-radius: null;
$loader-mask-frame-box-shadow: null;

