/* @theme: blank; */

$loading-bar-display: none !default;
$loading-bar-background: #ff5507 !default;
$loading-bar-box-shadow: 0 0 10px $loading-bar-background !default;
$loading-bar-border-radius: 3px !default;
$loading-bar-position: fixed !default;
$loading-bar-z-index: z('popup') + 1 !default;
$loading-bar-top: 0 !default;
$loading-bar-left: 0 !default;
$loading-bar-height: 2px !default;
$loading-bar-transition: width 300ms ease-out, opacity 300ms linear !default;
$loading-bar-animation-name: line-loader !default;
$loading-bar-animation: $loading-bar-animation-name 5s forwards !default;
$loading-bar-overflow: hidden !default;

$loading-bar-point-background: lighten($loading-bar-background, 20%) !default;
$loading-bar-point-box-shadow: 0 0 50px 50px $loading-bar-point-background !default;
$loading-bar-point-width: 15% !default;
$loading-bar-point-height: 100% !default;
$loading-bar-point-position: absolute !default;
$loading-bar-point-top: 0 !default;
$loading-bar-point-animation-name: line-point !default;
$loading-bar-point-animation: $loading-bar-point-animation-name 800ms ease-in-out infinite !default;
