/* @theme: blank; */

$logo-display: block !default;
$logo-width: 190px !default;
$logo-height: 35px !default;

$logo-img-display: block !default;
$logo-img-width: 100% !default;
$logo-img-height: 100% !default;

$logo-display-print: block !default;
