/* @theme: blank; */

$logo-display: block !default;
$logo-width: 190px !default;
$logo-height: 35px !default;

$logo-img-display: block !default;
$logo-img-max-width: 100% !default;
$logo-img-width: auto !default;
$logo-img-height: 100% !default;

$logo-link-opacity: .8 !default;
