/* @theme: blank; */

$mCSB-scrollTools-z-index: z('dropdown') - 1 !important; // Break inline styles
$mCSB-dragger-bar-background-color: rgba(119,119,119,.45);
$mCSB-dragger-bar-background-color-hover: rgba(119,119,119,.7);
$mCSB-dragger-bar-background-color-active: rgba(119,119,119,.8);
