/* @theme: blank; */

$notifications-color: get-color('additional', 'middle') !default;
$notifications-text-color: get-color('additional', 'dark') !default;
$notifications-error-color: get-color('ui', 'error') !default;
$notifications-error-text-color: get-color('ui', 'error-dark') !default;
$notifications-success-color: get-color('ui', 'success') !default;
$notifications-success-text-color: get-color('ui', 'success-dark') !default;
$notifications-warning-color: get-color('ui', 'warning') !default;
$notifications-warning-text-color: get-color('ui', 'warning-dark') !default;

$notifications-offset: 5px 0 10px 0 !default;
$notifications-inner-offset: 6px 9px !default;
