/* @theme: blank; */

$page-title-font-size: $base-font-size--l !default;
$page-title-line-height: 1.1 !default;
$page-title-font-family: $base-font !default;
$page-title-offset-end-s: 8px !default;
$page-title-offset-text-transform: null !default;
$page-title-offset-text-vertical-align: middle !default;
$page-title-offset-end-s: 8px !default;
