/* @theme: blank; */

$page-container-config-max-width: 1100px !default;
$page-container-config-min-height: 100vh !default;
$page-container-config-offset: 0 auto !default;
$page-container-config-inner-offset: 0 $offset-x-m !default;
