$page-sidebar-width: 255px !default;
$page-sidebar-inner-offset: 0 $offset-x 0 0 !default;
$page-sidebar-order: 1 !default;
$page-sidebar-flex: none !default;

// Mobile
$page-sidebar-mobile-inner-offset: 0 !default;
$page-sidebar-mobile-width: 100% !default;
