/* @theme: blank; */

$page-sidebar-width: 280px !default;
$page-sidebar-order: 1 !default;
$page-sidebar-display: flex !default;
$page-sidebar-flex-direction: column !default;
$page-sidebar-flex: none !default;

// tablet-small
$page-sidebar-tablet-s-width: 100% !default;
