// @theme: blank;

$page-footer-container-base-width: 75% !default;
$page-footer-container-side-width: 25% !default;

$page-footer-container-base-tablet-small-width: 50% !default;
$page-footer-container-side-tablet-small-width: 50% !default;
