/* @theme: blank; */

$page-sidebar-width: 255px !default;
$page-sidebar-inner-offset: 0 $offset-x 0 0 !default;
$page-sidebar-order: 1 !default;
$page-sidebar-flex: none !default;

$page-sidebar-right-inner-offset: 0 0 0 $offset-x !default;
$page-sidebar-right-order: 3 !default;

// tablet-small
$page-sidebar-tablet-s-inner-offset: 0 !default;
$page-sidebar-tablet-s-width: 100% !default;
