/* @theme: blank; */

$primary-menu-link-color: get-color('ui', 'normal') !default;
$primary-menu-link-color-hover: get-color('ui', 'focus') !default;
$primary-menu-link-color-current: get-color('ui', 'focus') !default;
$primary-menu-item-inner-offset: 3px !default;
$primary-menu-link-font-weight-current: bold !default;
