/* @theme: blank; */

$responsive-video-position: relative !default;
$responsive-video-padding-bottom: 56.25% !default;
$responsive-video-padding-top: 30px !default;
$responsive-video-height: 0 !default;
$responsive-video-overflow: hidden !default;

$responsive-video-container-position: absolute !default;
$responsive-video-container-top: 0 !default;
$responsive-video-container-left: 0 !default;
$responsive-video-container-width: 100% !default;
$responsive-video-container-height: 100% !default;
