/* @theme: blank; */

$scrollbar-color: get-color('additional', 'dark', 40%) !default;
$scrollbar-color-bg: get-color('additional', 'light') !default;

$scrollbar-size: 10px !default;
$scrollbar-thumb-radius: 8px !default;
$scrollbar-thumb-border: 2px solid $scrollbar-color-bg !default;
