/* @theme: blank; */

$scrollbar-color: rgba(get-color('additional', 'dark'), 0.4) !default;
$scrollbar-color-bg: get-color('additional', 'light') !default;

$scrollbar-size: 10px !default;
$scrollbar-thumb-radius: 8px !default;
$scrollbar-thumb-border: 2px solid $scrollbar-color-bg !default;
