/* @theme: blank; */

$section-title-font-size: $base-font-size--m !default;
$section-title-font-size-m: 16px !default;
$section-title-font-family: $base-font !default;
$section-title-offset: 0 0 12px 0 !default;
