<script type="text/html" id="template-addressbook-item">
    <div class="address-book-item">
        {% if address_edit_acl_resource is not defined or is_granted(address_edit_acl_resource) %}
        <div class="address-book-item__actions">
            <% if (!_.isMobile()) { %>
                <button class="btn btn-icon btn-light item-edit-button address-book-item__action" title="<%= _.__('Edit') %>">
                    <span class="fa-pencil-square-o hide-text" aria-hidden='true'><%- _.__('Edit') %></span>
                </button>
                <% if (!primary) { %>
                    <button class="btn btn-icon btn-light item-remove-button address-book-item__action" title="<%= _.__('Remove') %>"><span class="fa-trash-o hide-text"><%= _.__('Remove') %></span></button>
                <% } %>
            <% } else { %>
                <div class="dropdown">
                    <% var togglerId = _.uniqueId('dropdown-') %>
                    <button id="<%- togglerId %>"
                        class="dropdown-toggle dropdown-toggle--no-caret btn btn-icon btn-light address-book-item__action"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-label="<%- _.__('Address actions')%>"
                        title="<%- _.__('Address actions') %>"
                        data-placement="bottom-end"
                        data-modifiers="<%- JSON.stringify({preventOverflow: {enabled: false}, hide: {enabled: false}}) %>"
                    >
                        <span class="fa-ellipsis-h hide-text" aria-hidden="true"><%- _.__('More') %></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="<%- togglerId %>">
                        <li>
                            <button class="dropdown-item item-edit-button address-book-item__action">
                                <span class="fa-pencil-square-o" aria-hidden='true'></span>
                                <%- _.__('Edit') %>
                            </button>
                        </li>
                        <li>
                            <% if (!primary) { %>
                                <button class="dropdown-item item-remove-button">
                                    <span class="fa-trash-o" aria-hidden='true'></span>
                                    <%- _.__('Remove') %>
                                </button>
                            <% } %>
                        </li>
                    </ul>
                </div>
            <% } %>
            </div>
         {% endif %}
        <div class="address-book-item__title"><%= _.escape(label) %></div>
        <ul class="address-book-item__labels">
            <% if (primary) { %> <li class="address-book-item__label-container"><span class="address-book-item__label label-info"><%- _.__('Primary') %></span></li> <% } %>
            <% _.each(types, function(type) { %>
                <li class="address-book-item__label-container"><span class="address-book-item__label"><%= _.escape(type.label) %></span></li>
            <% }) %>
        </ul>
        <address class="address-book-item__address">
            <%= _.escape(formatted_address).replace(/\n/g, "<br/>") %>
        </address>
    </div>
</script>
