<script type="text/html" id="template-addressbook-item">
    <div class="actions">
        {% if address_edit_acl_resource is not defined or resource_granted(address_edit_acl_resource) %}
        <button class="btn item-edit-button" title="<%= _.__('Edit') %>"><i class="icon-edit hide-text"><%= _.__('Edit') %></i></button>
        <% if (!primary) { %><button class="btn item-remove-button" title="<%= _.__('Remove') %>"><i class="icon-trash hide-text"><%= _.__('Remove') %></i></button><% } %>
        {% endif %}
    </div>
    <div class="title-item"><%= _.escape(label) %></div>
    <ul class="inline">
        <% if (primary) { %> <li><span class="label label-info"><%= _.__('Primary') %></span></li> <% } %>
        <% _.each(types, function(type) { %>
        <li><span class="label"><%= _.escape(type.label) %></span></li>
        <% }) %>
    </ul>
    <address>
        <%= _.escape(formatted_address).replace(/\n/g, "<br/>") %>
    </address>
</script>
