# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\IntegrationBundle\Command\CleanupCommand:
            processDeletion:
                className: true
