.system-configuration-container {
  .jstree {
    i {
      &.jstree-icon {
        display: none;
      }
      &.jstree-icon.jstree-ocl {
        display: inline-block;
      }
      &[class^="fa-"], &[class*=" fa-"] {
        display: inline-block;
      }
    }
  }
  .jstree-actions {
    &__menu {
      &--inline {
        float: left;

        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}
