{% block __oro_breadcrumbs__breadcrumbs_widget %}
    {% set title = blocks.title.vars.value %}
    {% set pages = title|split(' - ')|reverse %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' breadcrumbs'
    }) %}
    <div {{ block('block_attributes') }}>
        <span class="breadcrumbs__item">
            {% for page in pages %}
                {{ loop.index > 1 ? ' / ' }}{{ page }}
            {% endfor %}
        </span>
    </div>
{% endblock %}
