.text-align-r {
    text-align: right;
}

.text-align-l {
    text-align: left;
}

.font-w-600 {
    font-weight: 600;
}

.font-w-500 {
    font-weight: 500;
}

.page-break-before {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
}

.avoid-break-inside {
    page-break-inside: avoid;
}
