{% set emailBodyViewOptions = {} %}

<li class="email-notification-menu dropdown "
    data-page-component-module="oroemail/js/app/components/email-notification-component"
    data-page-component-options="{{ emailBodyViewOptions|json_encode }}">
    <a href="#" class="oro-dropdown-toggle">
        <i class="icon-envelope"></i>
    </a>
    <div class="dropdown-menu pull-right" tabindex="0">
        <div class="header row-fluid">
            <a class="my-emails pull-left">My Emails</a>
            <a class="mark-as-read pull-right">mark all as read</a>
        </div>
        <ul class="items">
            <li class="new">
                <div class="body">
                    <div class="title">opportunities with MVP sports</div>
                    <div class="description">Hi, it was great to meet up and discuss ways we can</div>
                </div>
                <i class="icon-envelope new"></i>
                <div class="footer row-fluid">
                    <span class="pull-left">John Doe</span>
                    <span class="pull-right">Replay</span>
                </div>
            </li>
            <li class="new">
                <div class="body">
                    <div class="title">opportunities with MVP sports</div>
                    <div class="description">Hi, it was great to meet up and discuss ways we can</div>
                </div>
                <i class="icon-envelope new"></i>
                <div class="footer row-fluid">
                    <span class="pull-left">John Doe</span>
                    <span class="pull-right">Replay</span>
                </div>
            </li>
        </ul>
    </div>
</li>