{% macro notifyRecurringEventEditComponent() %}
    <div style="display: none"
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {'view': 'orocalendar/js/app/views/recurring-event-notifier-view'}|json_encode }}">
    </div>
{% endmacro %}