.form-horizontal .query-designer-form .control-group {
    float: left;
}
.form-horizontal .query-designer-grouping-form .control-group {
    float: none;
    max-width: none;
}
.form-horizontal .query-designer-form .control-group label.control-label {
    width: auto;
    margin-left: 10px;
}
.form-horizontal .query-designer-form .control-group .controls {
    margin-left: 10px;
    float: left;
}
.form-horizontal .query-designer-grouping-form .control-group .controls {
    margin-left: 140px;
    float: none;
}
.form-horizontal .query-designer-form .select2-container {
    width: 140px !important;
}
.form-horizontal .query-designer-grouping-form .select2-container {
    width: 100% !important;
    max-width: none;
}
.form-horizontal .query-designer-form input.label-text {
    width: 90px;
}
.form-horizontal .query-designer-form .function-selector .controls select {
    width: 120px;
}
.form-horizontal .query-designer-form .sorting-selector .controls select {
    width: 50px;
}
.form-horizontal .query-designer-form .filter-box {
    padding: 0;
    border: 0;
    background: #FFF;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.form-horizontal .query-designer-form .filter-box>.btn-group {
    margin: 0;
}
.form-horizontal .query-designer-form .filter-box .filter-item {
    padding: 0;
}
.form-horizontal .query-designer-form .filter-box .filter-item>.btn {
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}
.form-horizontal .query-designer-form .filter-box .filter-item .filter-select .select-filter-widget,
.form-horizontal .query-designer-form .filter-box .filter-item .filter-criteria-hint {
    font-weight: normal;
}
.form-horizontal .query-designer-form .sorting-selector,
.form-horizontal .query-designer-form .filter-box {
    padding-right: 5px;
}
.form-horizontal .query-designer-form>.btn-group {
    margin-left: 10px;
}
.query-designer-grid-container {
    font-size: 13px;
}
.query-designer-grid-container .grid .label-column,
.query-designer-grid-container .grid .label-cell {
    width: 150px;
}
.query-designer-grid-container .grid .function-column,
.query-designer-grid-container .grid .function-cell {
    width: 140px;
}
.query-designer-grid-container .grid .sorting-column,
.query-designer-grid-container .grid .sorting-cell {
    width: 60px;
}
.query-designer-grid-container .grid .label-cell {
    text-transform: uppercase;
    font-weight: bold;
}
.query-designer-grid-container .grid .index-column,
.query-designer-grid-container .grid .index-cell {
    width: 36px;
}
.query-designer-grid-container .grid .action-cell {
    white-space: nowrap;
}
.query-designer-grid-container .grid .action-column,
.query-designer-grid-container .grid .action-cell {
    width: 60px;
}
.query-designer-columns-grid-container .grid .action-column,
.query-designer-columns-grid-container .grid .action-cell {
    width: 86px;
}
.form-horizontal .query-designer-filter-logic-form input[type=text] {
    width: 400px;
}
.query-designer-columns-grid-container tbody tr {
    cursor: default;
}
.query-designer-grid-container i.icon-list {
    cursor: pointer;
    font-size: 14px;
}
