@import '_config.scss';

.checkbox {
    position: relative;

    display: inline-block;
    margin: 0;

    &__input {
        position: absolute;
        z-index: -1;

        margin: 0;

        opacity: 0;

        &:focus {
            ~ .checkbox__icon {
                &::before {
                    outline-offset: -2px;
                }
            }
        }

        &:checked {
            ~ .checkbox__icon {
                &::before {
                }
            }
        }
    }

    &__icon {
        cursor: pointer;

        &::before {
            display: inline-block;

            font-family: 'Icon';
        }
    }

    &__text {
        vertical-align: middle;
    }
}
