// @theme: default;
/* Refactor this file in scope BB-7172 */
//Filter
.filter-box {
    position: relative;

    margin: 10px 0;
    padding: 10px 10px 5px;
    border: 0;

    background: get-color('additional', 'base');

    box-shadow: none;
  
    @include clearfix();
  
    .toolbar-sticky-container & {
        margin: auto;

        max-width: $site-width;
    }

    &__dropdown {
        padding: $offset-x-m;

        width: 100%;
    }

    .filter-list {
        @media (max-width: $screen-md) {
            float: none;
        }
    }

    .filter-list-container {
        position: absolute !important;
        top: 14px;
        left: 10px;

        > button {
            margin: 0;
            padding: 0;
            border: 0;
            box-shadow: none;

            background: transparent;

            .add-filter-button {
                color: get-color('primary', 'dark');
            }
        }
    }

    .filter-item {
        margin: 0 5px 0 0;
        padding: 0 0 5px 0;

        &.open-filter {
            &:before, &:after {
                display: none;
            }
        }
    }

    .oro-drop {
        position: relative;

        flex-basis: 225px;

        > .btn {
            position: relative;

            display: block;
            width: 100%;
            height: 37px;
            overflow: hidden;
            padding: 6px 20px 5px 14px;
            border: 1px solid get-color('additional', 'light');
            border-radius: 5px;
            box-shadow: none;

            background: get-color('additional', 'ultra');
            color: get-color('additional', 'dark');
            line-height: 24px;
            box-sizing: border-box;
            text-align: left;
            text-decoration: none;

            @include ellipsis();

            cursor: pointer;
        }

        .filter-criteria-selector {
            .caret {
                position: absolute;
                top: 50%;
                right: 10px;

                height: 0;
                margin: -3px 0 0 -5px;

                border-top: 6px solid get-color('additional', 'dark');
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }

        .filter-criteria {
            min-width: 340px !important;
            margin-top: 5px;
            padding: 20px;

            &:not([style]),
            &[style*=hidden] {
                right: 0;
                left: auto;
            }

            .btn-group,
            .btn {
                transition: none;
            }

            > div {
                .horizontal {
                    + div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @media (max-width: $screen-md) {
                            display: block;
                        }
                    }
                }
            }

            .btn_close {
                color: get-color('ui', 'normal');
                line-height: 18px;

                opacity: 1;

                [class^="fa-"] {
                    font-size: $base-font-icon-button;

                    &:before{
                        font-size: $base-font-icon-button;
                    }
                }
            }

            .oro-oq__filter__label {
                font-size: $base-font-size;
            }

            .choice-filter {
                .btn-group {
                    &.btn-block {
                        float: none;

                        .dropdown-toggle {
                            height: auto;
                            padding: 0;
                            box-shadow: none;
                            border: 0;

                            background: none;
                            color: get-color('primary', 'dark');
                        }
                    }
                }

                .value-field-frame {
                    width: 100%;
                    margin: 0 !important;

                    input[type=text] {
                        @include base-ui-element(
                            $use-base-style: true,
                            $padding: 8px 9px,
                            $line-height: 1.36
                        );

                        display: block;
                        margin: 0 0 15px;
                        height: auto;
                        width: 100% !important;

                        @include element-state('hover') {
                            border-color: $input-border-color-hover-state;
                            box-shadow: $input-box-shadow-hover-state;
                        }

                        @include element-state('focus') {
                            border-color: $input-border-color-focus-state;
                            box-shadow: $input-box-shadow-focus-state;
                        }
                    }

                    .filter-widget__clear-link {
                        margin-left: 10px;

                        font-size: 13px;
                    }

                    .filter-update {
                        position: static;

                        display: inline-block;
                        height: auto;
                        padding: 0 26px;
                        vertical-align: middle;
                        border-radius: $btn-border-radius;

                        background: get-color('additional', 'darker');
                        color: get-color('additional', 'ultra');
                        line-height: 40px;
                    }
                }
            }

            .oro-action  {
                &.btn-group {
                    float: none;
                }

                .btn-group {
                    float: none;
                    margin: 0;

                    .filter-update {
                        position: static;

                        float: none;
                        display: inline-block;
                        vertical-align: middle;
                        height: auto;
                        padding: 0 26px;
                        border-radius: $btn-border-radius !important;

                        background: get-color('additional', 'darker');
                        color: get-color('additional', 'ultra');
                        line-height: 40px;
                    }

                    .filter-widget__clear-link {
                        margin-left: 10px;

                        font-size: 13px;
                    }
                }
            }

            .filter-separator {
                position: relative;
                top: -5px;

                margin: 0 10px;
                padding: 0;

                font-size: $base-font-size;
            }

            .filter-start-date,
            .filter-end-date {
                position: relative;

                @media (max-width: $screen-md) {
                    display: block;
                }

                i {
                    font-family: 'FontAwesome' !important;
                    font-style: normal;
                    font-size: 21px;
                }

                .fields-row {
                    display: flex;
                    min-width: 225px;
                    align-items: center;

                    .timepicker-input {
                        flex-basis: 90px;
                        padding-left: 9px;

                        @media (max-width: $screen-md) {
                            flex-basis: 105px;
                        }
                    }
                }

                input[type="text"] {
                    @include base-ui-element(
                        $use-base-style: true,
                        $padding: 8px 9px,
                        $line-height: 1.36
                    );

                    max-width: 140px;
                    width: 100%;

                    @include element-state('hover') {
                        border-color: $input-border-color-hover-state;
                        box-shadow: $input-box-shadow-hover-state;
                    }

                    @include element-state('focus') {
                        border-color: $input-border-color-focus-state;
                        box-shadow: $input-box-shadow-focus-state;
                    }
                }

                .datefilter {
                    display: block;

                    .datepicker-input {
                        padding-left: 30px;
                    }


                    &:before {
                        position: absolute;

                        pointer-events: none;

                        margin: $offset-y-m 0 0 12px;

                        color: get-color('additional', 'middle');
                    }
                    @include fa-icon($fa-var-calendar);
                }

            }

            .number-range-filter {
                vertical-align: top;

                .filter-start {
                    display: inline-block;
                    vertical-align: middle;

                    input[type=text] {
                        width: 100px !important;
                        border-right-width: 1px !important;
                    }
                }
                .filter-end {
                    display: inline-block;
                    vertical-align: middle;

                    input[type=text] {
                        width: 100px !important;
                        border-left-width: 1px !important;
                    }
                }
                .filter-separator {
                    position: static;

                    display: inline-block;
                    margin-bottom: 15px;

                    vertical-align: middle;
                }
            }

            @media (max-width: $screen-md) {
                .number-range-filter {
                    .filter-start {
                        input[type=text] {
                            width: 50px !important;
                        }
                    }
                    .filter-end {
                        input[type=text] {
                            width: 50px !important;
                        }
                    }
                    .value-field-frame {
                        padding-right: 0 !important;
                    }
                    .filter-value {
                        white-space: nowrap;
                    }
                    .product-price-filter {
                        display: inline-block;
                    }
                }
            }
        }

        @media (max-width: $screen-md) {
            .filter-criteria {
                min-width: 0 !important;
            }
        }
    }

    .filter-select-oro {
        display: block;
        width: 100% !important;
        height: auto;
        padding: 8px 9px;
        border: .1rem solid get-color('additional', 'light');
        border-radius: 5px;

        background: get-color('additional', 'ultra');
        font-size: $base-font-size;
        line-height: 1.36;

        &:focus {
            outline: 0;
            border-color: get-color('ui', 'normal');
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
            0 0 8px rgba(102,175,233,.6);
        }
    }
}

.mobile-version .filter-box {
    padding: 7px 11px;
}

.filter-container {
    .filter-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        @include breakpoint('tablet') {
            margin: 10px 0 0;
        }
    }

    .filter-items-hint {
        position: relative;

        padding: 0 130px 5px 10px;
        margin: 5px -10px -5px;

        background: get-color('additional', 'light');
        line-height: 20px;

        clear: both;

        .reset-filter-button {
            top: 5px;
            right: 5px;

            @include fa-icon($fa-var-close);
        }

        > span {
            position: relative;

            display: inline-block;
            vertical-align: middle;
            margin: 5px 5px 0 0;
            padding: 3px 7px 2px 10px;
            border-radius: 2px;

            background: get-color('additional', 'middle');
            font-size: 13px;
            line-height: 1.08;
            color: get-color('additional', 'ultra');

            cursor: pointer;

            .filter-criteria-hint {
                max-width: 250px;
                margin: 0 5px 2px 0;

                display: inline-block;
                vertical-align: middle;

                font-weight: 400;

                @include ellipsis();
            }

            .reset-filter {
                position: relative;
                top: -1px;
                display: inline-block;
                width: 12px;

                color: get-color('additional', 'ultra');

                cursor: pointer;

                i {
                    vertical-align: middle;

                    &:before {
                        color: get-color('additional', 'ultra');
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .ui-multiselect {
        &.select-filter-widget {
            float: right;

            border-width: 1px;
            border-style: solid;
            border-color: get-color('additional', 'light');
            background-color: get-color('additional', 'ultra');
            color: lighten(get-color('additional', 'dark'), 21%);

            padding: 0 10px;
            margin-bottom: $offset-x-s;

            font-size: $base-font-size;
            line-height: 30px;

            a,
            .add-filter-button {
                color: get-color('primary', 'dark');
                font-weight: 400;

                @mixin hover-focus-active {
                    color: get-color('primary', 'dark');
                }
            }
        }
    }
}

.ui-multiselect-menu {
    &.select-filter-widget {
        min-width: 320px !important;
        padding: 20px 20px 10px;

        @media (max-width: $screen-md) {
            min-width: 0 !important;
        }

        .ui-multiselect-header {
            padding: 0;

            > div {
                padding: 10px;
                margin: -20px -20px 0;
                border-bottom: 1px solid get-color('additional', 'light');

                input[type="search"] {
                    @include base-ui-element(
                        $use-base-style: true,
                        $padding: 8px 9px,
                        $line-height: 1.36
                    );

                    width: 100% !important;

                    @include element-state('hover') {
                        border-color: $input-border-color-hover-state;
                        box-shadow: $input-box-shadow-hover-state;
                    }

                    @include element-state('focus') {
                        border-color: $input-border-color-focus-state;
                        box-shadow: $input-box-shadow-focus-state;
                    }
                }
            }
        }

        .ui-multiselect-checkboxes  {
            margin: 10px 0 0;

            input[type="checkbox"] {
                margin: 0 8px 5px 0;
            }

            input[type="radio"] {
                position: static !important;

                vertical-align: middle;
                margin: 3px 8px 2px 0;

                text-indent: 0;
            }

            li {
                label {
                    padding: 3px 0;

                    cursor: pointer;

                    span {
                        padding-top: 1px;

                        display: block;
                        overflow: hidden;

                        font-weight: 400;
                        white-space: normal;
                    }

                    input {
                        float: left;
                    }

                    &.ui-state-hover {
                        background: transparent;
                    }
                }
            }
        }

        &.ui-multiselect-single {
            .ui-multiselect-checkboxes  {
                li {
                    label {
                        padding: 3px 0;

                        cursor: pointer;

                        &.ui-state-hover {
                            background: transparent;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}

.ui-multiselect-menu {
    &.select-filter-widget {
        margin: 0;
    }
}

.ui-timepicker-wrapper {
    z-index: 10001;

    height: 150px;
    width: 6.5em;
    overflow-y: auto;
    margin: 0;
    outline: none;
    border: 1px solid get-color('additional', 'middle');
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 4px;

    background: get-color('additional', 'ultra');
}

.ui-timepicker-list {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
        margin: 0;
        padding: 3px 0 3px 5px;


        color: get-color('additional', 'darker');

        white-space: nowrap;
        list-style: none;

        cursor: pointer;

        &:hover {
            background: get-color('ui', 'focus');;
            color: get-color('additional', 'ultra');
        }

        &.ui-timepicker-selected {
            &:hover {
                background: get-color('ui', 'focus');;
                color: get-color('additional', 'ultra');
            }
        }
    }
}

@include breakpoint('mobile') {
    .ui-multiselect-menu {
        &.select-filter-widget {
            width: calc(100% - 30px) !important;
        }
    }
}
