/* @theme: default; */

.ui-timepicker-wrapper {
    z-index: z('dropdown') + 1;

    max-height: 158px;

    overflow-y: auto;

    border: $ui-timepicker-list-border;
    box-shadow: $ui-timepicker-list-box-shadow;
    border-radius: $base-ui-element-border-radius;

    background: $ui-timepicker-list-background;
}

.ui-timepicker-list {
    li {
        padding: 4px 9px;

        color: $ui-timepicker-list-item-color;

        white-space: nowrap;

        cursor: pointer;

        &.ui-timepicker-selected,
        &:hover {
            background: $ui-timepicker-list-item-hover-background;
            color: $ui-timepicker-list-item-hover-color;
        }
    }
}
