/* @theme: admin.oro; */

$app-header-height:                  32px !default;
$app-header-thick-height:            48px !default;
$app-header-font-size:               14px !default;
$app-header-icon-font-size:          16px !default;
$app-header-bg-color:                $primary-900 !default;
$app-header-logo-text-color:         $primary !default;
$app-header-text-color:              $primary-500 !default;
$app-header-text-hover-color:        $primary-400 !default;
$app-header-divider-color:           $primary-800 !default;
