/* @theme: admin.oro; */

$form-item-collection-field-width: 261px !default;
$form-item-collection-field-append-width: $input-append-width !default;
$form-item-collection-field-append-sortable-width: 234px !default;

$form-item-collection-element-offset-bottom: 5px !default;
$form-item-collection-element-width: 259px !default;

$form-item-collection-selector-width: 262px !default;
$form-item-collection-selector-offset-left: 0 !default;
$form-item-collection-select2-width: 271px !default;

$form-item-collection-removable-field-width: 280px !default;
$form-item-collection-removable-append-field-width: 257px !default;
$form-item-collection-removable-append-sortable-field-width: 226px !default;

$form-item-collection-datepicker-field-min-width: 120px !default;
