/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity */

/* Login + Forgot Password */
.login-page {
    background: url('#{$global-url}/oroui/img/background.jpg') no-repeat 50% 50% $primary-inverse;
    background-size: cover;
    height: 100%;
    min-height: 280px;
    overflow: visible;

    .app-page {
        &__central-panel {
            > .container {
                width: auto;
                display: flex;
            }
        }
    }
}

.form-wrapper {
    width: 515px;
    max-width: 515px;
    min-height: 100vh;
    background: rgba($primary-inverse, .8);
    padding: 30px 0;
    display: flex;
    flex-direction: column;

    &__title {
        display: none;
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin: 0 auto;
        padding: 0 65px;
        min-width: 100%;
    }
}

.form-signin {
    margin: 0 auto;

    &__footer {
        display: flex;
        align-items: center;

        &--forgot {
            padding-right: 0;
        }
    }

    &__oauth {
        padding: 24px 0 0;
    }

    &__section {
        max-width: 380px;
        margin: 0 auto;
    }

    &__roles {
        margin-bottom: 30px;
        text-align: center;
    }

    &__roles-item {
        display: inline-block;
        margin: 8px 0;
    }

    &__info {
        margin: 30px 0;

        .alert {
            padding: 8px 35px;
        }
    }

    .title-box {
        color: $primary-200;
        margin: 0 0 16px;
        text-align: left;

        .divider-vertical {
            float: left;
            background: url('#{$global-url}/oroui/img/vertical-divider.png') no-repeat;
            width: 2px;
            height: 28px;
            margin: 0 10px;
        }

        .oro-title {
            float: left;
            font-size: 22px;
            line-height: 28px;
            margin: 0;
            text-shadow: 1px 1px 1px $primary;

            a {
                color: $primary-inverse;
            }
        }

        .title {
            font: font-weight('bold') 18px/1 $font-family-sans-serif;
            color: $primary-200;
            margin: 0;
        }
    }

    .input-field-group {
        margin-bottom: 5px;
    }

    .input-prepend {
        width: 100%;
        display: flex;
        align-items: baseline;
    }

    .oro-hint {
        margin: 0 0 $form-container-control-row-space;

        opacity: .9;
    }

    .add-on {
        background: none;
        text-align: right;
        color: $primary-200;
        padding: 0 25px 0 0;
        border: none;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    select {
        // stylelint-disable-next-line selector-no-vendor-prefix
        &:-ms-input-placeholder {
            color: $primary-600;
        }
    }

    .organization-selector-arrow {
        position: relative;
        top: 8px;
        left: -15px;
        margin-right: -9px;
        z-index: 5;
    }

    .forgot-pass {
        float: left;
        font-weight: font-weight('bold');
        margin: 9px 10px 0 0;
    }

    &__fieldset {
        max-width: $field-width;
        min-width: $field-width;

        input {
            width: 100%;
        }
    }

    .oro-remember-me {
        margin-bottom: 14px;

        line-height: 1.2;
    }

    .extra-btn-large {
        height: 32px;
        line-height: 32px;
        min-width: 95px;
        float: left;
    }

    .extra-submit {
        display: inline-block;

        @include text-line-truncate(100%, true);
    }

    fieldset {
        margin: 0 0 25px;
    }

    .form-row {
        margin-left: 0;
        margin-right: 0;
    }

    .form-text {
        width: $field-width;
        margin-bottom: 8px;
        margin-top: 0;
    }

    &.form-row-layout {
        .oro-remember-me {
            padding-left: 91px;
        }

        .form-signin__oauth {
            padding-left: 91px;
        }

        .form-signin__footer {
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }

        .add-on {
            width: 93px;
        }
    }

    &.form-column-layout {
        .form-signin__footer {
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .input-prepend {
            flex-direction: column;
        }

        .input-field-group {
            margin-bottom: 8px;

            .input {
                margin-bottom: 0;
            }
        }

        .add-on {
            width: 100%;
            height: auto;

            padding-right: 0;
            padding-bottom: 4px;

            text-align: left;
            line-height: 1.5;
        }

        .extra-submit {
            margin-bottom: 4px;
        }

        .field-set,
        .title-box {
            margin-left: auto;
            margin-right: auto;

            width: $field-width;
        }

        .title-box {
            margin-bottom: 16px;
        }
    }

    &--reset {
        .title-box {
            margin-bottom: $form-container-control-row-space;
        }

        .form-buttons {
            margin-top: 10px;
        }

        .add-on {
            width: 155px;

            + input[type='text'],
            + input[type='password'],
            + select {
                width: calc(100% - 178px);
            }
        }

        .form-signin__footer {
            margin-top: $form-container-control-row-space * .5;
        }
    }

    &--login.form-row-layout {
        .form-signin__footer {
            padding-left: 91px;
        }
    }
}

.login-copyright {
    font-size: 12px;
    color: $additional-lighten;
    text-align: center;
    padding: 0 16px;
}
