.sidebar-widgets-wrapper {
  width: 600px;
  .sidebar-widget-container {
    border-bottom: 2px solid #f5f5f5;
    padding: 5px 0;
    width: 100%;
    table {
      width: 100%;
    }
    .sidebar-widget-small-column {
      width: 36px;
    }
    .sidebar-picker-collapse {
      text-align: center;
      color: #000000;
      display: block;
      background: transparent url('../../images/expanded.png') no-repeat center center;
      height: 35px;
    }
    .sidebar-picker-collapse.collapsed-state {
      background: transparent url('../../images/collapsed.png') no-repeat center center;
    }

    .sidebar-widget-title {
      height: 35px;
    }
    .sidebar-widget-large-column {
      width: 445px;
      padding: 5px 24px 5px 5px;
    }
    .sidebar-widget-icon {
      width: 28px;
      height: 28px;
    }
    &.loading-widget-content {
      .add-widget-button {
        display: none;
      }
      .sidebar-widgets-pick-wrapper {
        background: transparent url('../../images/loader.gif') no-repeat 10px center;
      }
    }
  }
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    a.ok {
      display: none;
    }
  }
  div.sidebar-widgets-pick-wrapper {
    width: 32px;
    height: 52px;
  }
}
