/* @theme: admin.oro; */

.actions-panel {
    margin-left: $oro-datagrid-actions-panel-offset;

    .action {
        margin-right: $oro-datagrid-actions-panel-action-offset;

        &:last-child {
            margin-right: 0;
        }

        &.pressed {
            background-color: $oro-datagrid-actions-panel-action-pressed-background-color;
            box-shadow: $oro-datagrid-actions-panel-action-pressed-box-shadow;
        }
    }
}
