/* @theme: admin.oro; */

.board {
    margin: 10px 20px 0;
    border: $board-border;
    border-radius: 4px;

    .board-column-header,
    .board-column {

        /* these items should have same min-width and margins */
        min-width: 170px;
    }

    .board-header-container {
        overflow: hidden;
    }

    .board-header {
        display: flex;
        background: linear-gradient(#f5f5f5, #eee);
    }

    .no-data {
        display: none;
    }

    &.no-data-visible {
        border: none;

        .no-data {
            display: block;
        }

        .board-header,
        .board-body {
            display: none;
        }
    }

    .board-column-header {
        flex: 1;
        text-transform: uppercase;
        text-align: center;
        line-height: 12px;
        padding: 11px 10px 9px;
        font-size: 11.05px;
        font-weight: bold;
        color: #5e5e5e;
        text-shadow: 0 1px 0 #f2f2f2;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(:last-child) {
            border-right: $board-column-header-border-right;
        }
    }

    .board-body {
        overflow: auto;
        padding: 0;

        .board-columns-container {
            display: flex;
        }

        .board-body-loading-message {
            display: none;
        }

        &.loading-more {
            .board-body-loading-message {
                display: block;
                background: url(../../../images/preloader.gif) repeat;
                height: 40px;
                text-align: center;
                font-size: 16px;
                color: #aaa;
                line-height: 42px;
            }
        }
    }

    .board-column {
        flex: 1;
        padding: 6px 0 8px;
        min-height: 45px;

        &.drag-over {
            background: #f7f7f7;

            .card-view {
                border-color: #e0e0e0;
            }
        }

        > .card-view {
            box-sizing: border-box;
            margin: $board-column-card-view-offset;
            padding: $board-column-card-view-inner-offset;
            transition: box-shadow .2s, border-color .2s;

            &.ui-sortable-helper {
                box-shadow: 3px 3px 20px rgba(0, 0, 0, .075);
            }
        }

        &:not(:last-child) {
            border-right: $board-column-border-right;
        }
    }

    .board-card-placeholder {
        border: $board-card-placeholder-border;
        background: #f5f5f5;
        border-radius: 3px;
        margin: $board-card-placeholder-offset;
        padding: $board-card-placeholder-inner-offset;
    }
}

.grid-toolbar > .sorting {
    display: none;
}

.board-appearance .grid-toolbar > .sorting {
    display: block;
}

@media print {
    .board-body {
        max-height: none !important;
    }
}
