/* @theme: admin.oro; */

.grid-views {
    display: flex;
    align-items: center;

    .inner-grid & {
        margin: $oro-datagrid-inner-grid-views-offset;
    }

    .grid-views-toogler {
        display: flex;
        align-items: center;
    }

    .grid-view-title {
        margin: $oro-datagrid-grid-views-title-offset;

        font-size: $oro-datagrid-grid-views-title-font-size;
        font-weight: $oro-datagrid-grid-views-title-font-weight;
        line-height: $oro-datagrid-grid-views-title-line-height;
    }

    .edited-label {
        font-size: $font-size-base - 1px;

        color: $oro-datagrid-grid-views-color;
    }

    .grid-view-btn {
        font-size: $oro-datagrid-grid-view-btn-font-size;
        font-weight: $oro-datagrid-grid-view-btn-font-weight;
        padding: $oro-datagrid-grid-view-btn-inner-offset;
        text-transform: $oro-datagrid-grid-view-btn-text-transform;
    }

    .actions-group,
    .views-group {
        position: relative;
    }

    .views-group {
        cursor: pointer;
    }

    .grid-view-icon {
        margin: $oro-datagrid-grid-views-icon-offset;

        @include fa-icon($oro-datagrid-grid-views-icon-close);
    }

    .grid-views-dropdown {
        max-width: $oro-datagrid-grid-views-dropdown-width;
    }

    .grid-views-item {
        padding: $oro-datagrid-grid-views-item-offset;

        @include clearfix();
    }

    .grid-views-choice-icon {
        float: #{$start};

        line-height: $font-size-base * $line-height-base;
    }

    .grid-views-choice {
        display: inline-block;
        max-height: ($font-size-base * $line-height-base) * 2; // two rows

        font-size: $font-size-base;
        line-height: $line-height-base;

        overflow: hidden;

        white-space: normal;
    }

    @at-root .has-icons {
        .grid-views-choice {
            margin-#{$start}: $dropdown-item-icon-fa-size + $dropdown-item-icon-fa-offset;
        }

        .grid-views-choice-icon + .grid-views-choice {
            margin-#{$start}: 0;
        }
    }

    @supports (-webkit-line-clamp: 2) {
        .grid-views-choice {
            display: -webkit-box;
            max-height: inherit;

            text-overflow: ellipsis;

            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .oro-subtitle {
        @include text-line-truncate($oro-datagrid-grid-views-title-width, true);
    }
}
