<div class="pull-left btn-group icons-holder">
    <a href="{{ path('oro_navigation_menu_update_index') }}" class="btn back icons-holder-text " title="Menus Configuration"><i class="icon-cog hide-text">Menus Configuration</i>Menus Configuration</a>
</div>