/* @theme: admin.oro; */

#flash-messages .alert.alert-reminder,
.flash-messages .alert.alert-reminder {
    background-image: none;
    padding-left: 0;

    i.fa-bell-o {
        float: left;
        font-size: 1.4em;
        padding: 0 9px 0 8px;
    }
}
