/* @theme: admin.oro; */

@import "oroui/css/scss/mixins/direction";

.reminders-collection,
.ui-dialog .form-horizontal .control-group .controls .reminders-collection {
    .inline-field {
        float: #{$start};

        &:not(:last-child) {
            margin-#{$end}: 5px;
        }
    }

    .validation-failed {
        margin-#{$start}: -139px;
        font-size: .8em;
    }

    .inline-field .selector {
        margin-left: 0;
    }

    input.number {
        width: 50px;
    }

    select.unit {
        width: 80px;
    }

    select.method {
        width: 124px;
    }

    .oro-multiselect-holder {
        padding-#{$end}: 32px;
    }

    .removeRow {
        position: absolute;
        top: 0;
        #{$end}: 0;
    }
}
