@import '_config.scss';

.input {
    display: inline-block;
    margin: 0;
    padding: 8px 12px 6px 12px;

    font: 400 #{$input-font-size}/#{$input-line-height} $input-font-family;
    vertical-align: middle;

    color: #000;
    border-radius: 4px;
    border: 0;
    background: transparent;
    box-shadow: inset 1px 0 0 0 $input-color,
                inset 0 1px 0 0 $input-color,
                inset -1px 0 0 0 $input-color,
                0 1px $input-color;
    appearance: none;

    &:focus {
        outline: none;
        box-shadow: inset 2px 0 0 0 $input-color,
                    inset 0 2px 0 0 $input-color,
                    inset -2px 0 0 0 $input-color,
                    0 2px $input-color; }

    &::placeholder {
        color: #000;
    }
}
