<div class="help-slide">
    <div class="help-slide__block">
        <img src="/bundles/oroviewswitcher/img/phone-email.svg" class="help-slide__image" alt="Request personal Demo" />
    </div>
    <div class="help-slide__block">
        <p>Please be aware that not all available features are enabled<br />in the demo version.</p>
        <p>If you are interested in getting a complete demo of <%- projectName %> and its capabilities, <strong>contact us</strong> and <strong>schedule a demo</strong><br>with one of our solution experts.</p>
    </div>
    <div class="help-slide__block"><a href="<%- personalDemoUrl %>" class="help-slide__btn" target="_blank">Schedule Your Demo</a></div>
</div>
