<div class="help-slide">
    <div class="help-slide__block">
        <img src="/bundles/oroviewswitcher/img/phone-email.svg" class="help-slide__image" alt="<%- _.__('oro_viewswitcher.help_slide.about_personal_demo.image_alt') %>" />
    </div>
    <div class="help-slide__block">
        <%= _.__('oro_viewswitcher.help_slide.about_personal_demo.block_text', {projectName: projectName}) %>
    </div>
    <div class="help-slide__block"><a href="<%- personalDemoUrl %>" class="help-slide__btn" target="_blank"><%- _.__('oro_viewswitcher.help_slide.about_personal_demo.button_label') %></a></div>
</div>
