<div class="demo-popup__content">
    <a class="demo-popup__link" href="<%- url %>" target="_blank" rel="noopener">
        <div class="demo-popup__col">
            <span class="demo-popup__title">Want a Private Demo?</span>
        </div>
        <div class="demo-popup__col">
            <span class="demo-popup__text">Our Oro Experts can help guide you through all of our B2B Features</span>
        </div>
        <div class="demo-popup__col">
            <span class="demo-popup__btn">Schedule Now</span>
        </div>
    </a>
    <button class="demo-popup__close" data-role="close" aria-label="close pop up"></button>
</div>
