<div class="help-carousel__backdrop" data-role="close"></div>
<div class="help-carousel__popup">
    <a href="#" role="button" class="help-carousel__close" data-role="close" aria-label="Close help popup" tabindex="-1"></a>
    <div class="help-carousel__body">
        <div class="help-carousel__title">
            <%- _.__('oro_viewswitcher.help_carousel.title', {projectName: projectName}) %>
        </div>
        <div class="help-carousel__content">
            <div class="help-carousel__slides" data-role="slides-container"></div>
        </div>
    </div>
</div>
