<div class="demo-popup__content">
    <a class="demo-popup__link" href="<%- url %>" target="_blank" rel="noopener">
        <div class="demo-popup__col">
            <span class="demo-popup__title"><%- _.__('oro_viewswitcher.demo_popup.title') %></span>
        </div>
        <div class="demo-popup__col">
            <span class="demo-popup__text"><%- _.__('oro_viewswitcher.demo_popup.text') %></span>
        </div>
        <div class="demo-popup__col">
            <span class="demo-popup__btn"><%- _.__('oro_viewswitcher.demo_popup.button_label') %></span>
        </div>
    </a>
    <button class="demo-popup__close" data-role="close" aria-label="close pop up"></button>
</div>
