{% if value is not empty %}
    {% set sortedValues = value|sort_enum %}
    {% if sortedValues is not empty %}
        <ul class="list-unstyled options">
            {% for id in sortedValues %}
                <li>{{ id|trans_enum }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
