{# comments form template #}
<script type="text/html" id="{{ (id ~ '-form')|e('html_attr')|raw }}">
    {{ render(path('oro_comment_form'))|oro_js_template_content|raw }}
</script>

{# comments list template #}
<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <fieldset class="form-horizontal form-horizontal-large comments-block">
        <h5 class="user-fieldset">
            <span>{{ 'oro.comment.plural_label'|trans }}</span>
        </h5>
        <div class="form-container"></div>
        <ul class="unstyled accordion comments-list" id="<%= accordionId %>"></ul>
    </fieldset>
</script>
