/* @theme: admin.oro; */

$quick-launchpad-container-padding-bottom: 16px !default;
$quick-launchpad-item-width: 340px !default;
$quick-launchpad-item-margin: 16px 8px 0 !default;
$quick-launchpad-item-min-height: 140px !default;
$quick-launchpad-item-start-padding: 8px;
$quick-launchpad-item-padding: side-values(24px 24px 10px $quick-launchpad-item-start-padding) !default;
$quick-launchpad-item-background-color: $primary-inverse !default;
$quick-launchpad-item-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05) !default;
$quick-launchpad-item-title-width: 110px !default;
$quick-launchpad-item-icon-size: 64px !default;
$quick-launchpad-item-icon-padding-top: 16px !default;
$quick-launchpad-item-icon-font-size: 32px !default;
$quick-launchpad-item-label-padding: 12px 8px 0 !default;
$quick-launchpad-item-list-item-padding: 4px 8px !default;
$quick-launchpad-item-list-item-border-bottom: solid 1px $primary-860 !default;
