/* @theme: admin.oro; */

.activity-list-widget {
    .grid-toolbar {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    .filter-box {
        padding: 0;
        width: 100%;
        flex-grow: 1;
    }

    .filter-item {
        margin-bottom: 8px;
    }

    .pagination {
        margin: 0;
    }

    .actions-panel {
        width: auto;
    }
}


@media only screen and (max-width: $small-devices-media-breakpoint) {
}
