/* @theme: admin.oro; */

$activity-mobile-accordion-body-offset: 16px !default;

$activity-mobile-toolbar-item-offset: 8px !default;

$activity-mobile-icon-size: $btn-icon-width !default;

$activity-mobile-accordion-heading-offset: 8px !default;

$activity-mobile-item-content-padding: side-values(8px 0 0 0) !default;

$activity-mobile-item-email-content-padding: 0 !default;

$activity-mobile-details-offset: side-values(0 0 0 8px) !default;
$activity-mobile-details-small-width: 420px !default;
$activity-mobile-details-xs-width: 164px !default;
