/* @theme: admin.oro; */

$activity-mobile-toolbar-offset: 16px !default;
$activity-mobile-toolbar-item-offset: 8px !default;

$activity-mobile-details-offset: side-values(0 0 0 8px) !default;
$activity-mobile-details-small-width: 180px !default;
