/* @theme: admin.oro; */

.fa-google {
    margin: 0 5px;
}

.btn-brand {
    &-google {
        @include button-custom-variant($btn-brand-google...);

        border-width: 2px;
        padding: 0 40px;
        position: relative;

        &::before {
            content: '';
            height: 16px;
            width: 16px;
            background: url('#{$global-url}/orogoogleintegration/img/google-logo.svg') no-repeat;
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translate(0, -50%);
        }
    }
}
