/* @theme: admin.oro; */

.fa-google {
    margin: 0 5px;
}

.btn-brand {
    &-google {
        @include button-custom-variant($btn-brand-google...);

        padding-left: 40px;
        position: relative;

        &::before {
            content: '\f0d5';
            font-family: $fa-font-family;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translate(0, -50%);
        }
    }
}
