<div class="widget-content">
	<div data-page-component-module="oroaction/js/app/components/buttons-component">
		{% if buttons|length %}
			{% for button in buttons %}
				{% include button.template with button.templateData %}
			{% endfor %}
		{% endif %}
	</div>
</div>
