// @theme: blank;

.collapse-mode {
    .filter-items-hint {
        padding: $filter-collapse-mode-items-hint-offset-inner;

        line-height: $filter-collapse-mode-items-hint-line-height;
        font-size: $filter-collapse-mode-items-hint-font-size;
        text-align: $filter-collapse-mode-items-hint-text-align;

        clear: both;
    }

    .filter-criteria-hint-item {
        display: inline-block;
        vertical-align: middle;
        margin: $filter-collapse-mode-criteria-hint-item-offset;
        padding: $filter-collapse-mode-criteria-hint-item-offset-inner;

        border-radius: $filter-collapse-mode-criteria-hint-item-border-radius;
    }

    .reset-filter-button {
        position: absolute;
        left: $filter-collapse-mode-reset-filter-button-right-pos;
        bottom: $filter-collapse-mode-reset-filter-button-top-pos;
        transform: $filter-collapse-mode-reset-filter-transform;
    }
}
