// @theme: blank;

.filters-box-collapse {
    &__trigger {
        background: $filters-box-collapse-trigger-background;
        text-transform: $filters-box-collapse-text-transform;
        padding: $filters-box-collapse-inner-offset;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: $filters-box-collapse-icon-top;
        right: $filters-box-collapse-icon-right;

        .fa-plus {
            display: block;
        }
        .fa-minus {
            display: none;
        }
    }

    &__container {
        display: none;

        background: $filters-box-collapse-container-background;
    }

    .init {
        .filters-box-collapse__container {
            display: block;
        }
    }

    &.expanded {
        .filters-box-collapse__icon {
            .fa-plus {
                display: none;
            }
            .fa-minus {
                display: block;
            }
        }
    }
}
