// @theme: blank;

@if ($apply-filters-dropdown-mode-design) {
    @import "filters-dropdown-mode";
}

@if ($apply-filters-toggle-mode-design) {
    @import "filters-toggle-mode";
}

.filter-criteria-selector {
    position: relative;
}

.filter-criteria-selector-icon-wrap {
    position: absolute;
}

.filter-criteria-selector-icon {
    transition: all linear 250ms;
    color: $filter-criteria-selector-icon-color;
}

.filter-date-range {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: $filter-date-range-offset;

    .fields-row {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }
}

.filter-start-date,
.filter-end-date {
    position: relative;

    display: flex;
    align-items: center;
}

.filter-box {
    position: relative;
    @include clearfix();

    .filter-container {
        margin: auto;

        max-width: $site-width;
    }

    .filter-items-hint {
        position: relative;

        clear: both;
    }

    .filter-criteria-hint-item {
        position: relative;

        background: $filter-criteria-hint-item-bg;
        color: $filter-criteria-hint-item-color;

        cursor: pointer;
    }

    .filter-criteria-hint-label {
        vertical-align: middle;
    }

    .filter-criteria-hint {
        max-width: $filter-criteria-hint-max-width;

        display: inline-block;
        vertical-align: middle;

        @include ellipsis();
    }

    .filter-trigger-wrapper {
        position: relative;

        display: $filter-trigger-wrapper-display;
        vertical-align: middle;

        .dropdown-toggle {
            color: $filter-trigger-wrapper-dropdown-toggle-color;
        }

        .active {
            .dropdown-item {
                font-weight: $filter-dropdown-item-active-weight;
            }
        }

        @if ($align-filter-dropdown-to-right-side) {
            &.open {
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    .filter-separator {
        min-width: $filter-separator-width;

        text-align: $filter-separator-text-align;
    }

    .filter-select-oro-wrapper {
        padding-top: $filter-select-oro-wrapper-offset-inner-top;
        margin-bottom: $filter-select-oro-wrapper-offset-inner-top;
    }

    .reset-filter {
        color: $filter-reset-color;

        vertical-align: baseline;

        @include element-state('hover') {
            color: $filter-reset-hover-color;
        }
    }

    .filter-start,
    .filter-end {
        display: $filter-start-end-display;
        max-width: $filter-start-end-max-width;
    }

    .filter-action-row {
        margin-top: $filter-action-row-offset-top;
    }

    .dropdown-menu-calendar {
        min-width: $filter-dropdown-menu-calendar-max-width;
    }

    @if ($apply-filters-dropdown-mode-design) {
        &.dropdown-mode {
            margin: $filter-box-dropdown-mode-offset;
            padding: $filter-box-dropdown-mode-inner-offset;

            background: $filter-box-dropdown-mode-background;

            @if ($filter-box-dropdown-mode-use-corner) {
                &:before {
                    content: '';

                    position: absolute;
                    right: $filter-box-dropdown-mode-corner-position-r;
                    bottom: $filter-box-dropdown-mode-corner-position-b;

                    border-left: $filter-box-dropdown-mode-corner-size solid transparent;
                    border-right: $filter-box-dropdown-mode-corner-size solid transparent;
                    border-bottom: $filter-box-dropdown-mode-corner-size solid $filter-box-dropdown-mode-background;
                }
            }
        }
    }

    &.in-sticky {
        margin: $filter-box-dropdown-mode-in-sticky-offset;
    }

    @if ($apply-filters-toggle-mode-design) {
        &.toggle-mode {
            padding-bottom: $offset-y-m;
        }
    }
}
