/* @theme: blank; */

.ui-timepicker-wrapper {
    z-index: z('dropdown') + 1;
}

.ui-timepicker-list {
    height: 158px;
    overflow-y: auto;

    border: 1px solid get-color('additional', 'middle');
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 4px;

    background: get-color('additional', 'ultra');

    li {
        padding: 4px 9px;

        color: get-color('additional', 'darker');

        white-space: nowrap;

        cursor: pointer;

        &:hover {
            background: get-color('ui', 'focus');;
            color: get-color('additional', 'ultra');
        }
    }
}
