/* @theme: blank; */

.ui-timepicker-wrapper {
    z-index: z('dropdown') + 1;
}

.ui-timepicker-list {
    height: 158px;
    overflow-y: auto;

    border: $ui-timepicker-list-border;
    box-shadow: $ui-timepicker-list-box-shadow;
    border-radius: 4px;

    background: $ui-timepicker-list-background;

    li {
        padding: 4px 9px;

        color: $ui-timepicker-list-item-color;

        white-space: nowrap;

        cursor: pointer;

        &:hover {
            background: $ui-timepicker-list-item-hover-background;
            color: $ui-timepicker-list-item-hover-color;
        }
    }
}
