html,
body {
    margin: 0;
    padding: 0;
}

.plain-text {
    white-space: pre-line;
}

.email-extra-body {
    display: none;
}

.email-extra-body.in {
    display: block;
}

.email-extra-body-toggle {
    cursor: pointer;
    margin: 10px 0;
    width: 22px;
    height: 10px;
    text-align: center;
    line-height: 1px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #888;
}

.email-extra-body-toggle:hover {
    background-color: #d8d8d8;
    border-color: #cdcdcd;
    color: #000;
    font-weight: bold;
}

.email-extra-body-toggle:before {
    content: '...';
}

.moz-forward-container blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #000;
}
