.emailtemplate-translatation .tab-content .tab-pane input,
.emailtemplate-translatation .tab-content .tab-pane textarea {
    width: 100%;
}
.emailtemplate-translatation .tab-content {
    padding-top: 20px;
    padding-bottom: 10px;
}
.emailtemplate-variables .tab-content {
    padding-top: 12px;
    padding-bottom: 10px;
}
.emailtemplate-variables .breadcrumb {
    float: none;
    padding-left: 15px;
    padding-bottom: 10px;
}
.emailtemplate-variables .breadcrumb>li,
.emailtemplate-variables .breadcrumb>li.active {
    text-transform: none;
    font-size: 13px;
}
.emailtemplate-variables .variables .groups {
    padding-left: 15px;
}
.emailtemplate-variables .variables .group-label {
    font-weight: bold;
}

.emailtemplate-variables .variables .nav-list > li > a {
    display: inline-block;
}

.emailtemplate-variables ul.caption {
    float: none;
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.emailtemplate-variables ul.caption > li {
    display: inline-block;
}

.modal-body .loading-content {
    background: #fff url('../img/loader.gif') no-repeat center left;
    padding-left: 30px;
}

/* FE refactoring */
.ui-dialog pre.email-body,
.ui-dialog iframe.email-body,
.ui-dialog .email-form textarea {
    height: 200px;
}
.ui-dialog .email-form input,
.ui-dialog .email-form textarea,
.ui-dialog .email-form .uneditable-input {
    width: 97%;
}

.ui-dialog .email-form .mce-tinymce {
    width: calc(~"97% + 12px");
}
.ui-dialog .email-form .form-horizontal .control-group .controls .validation-failed {
    margin-left: 14px;
}
.ui-dialog .email-form input[type=radio] {
    width: auto;
}
.ui-dialog .email-form .form-horizontal .control-group {
    max-width: none;
}
.select2-container.select2-container-multi.taggable-email {
    width: calc(~"97% + 12px");
    max-width: none;
    position: relative;
}
.select2-container.select2-container-multi.taggable-email ul.select2-choices {
    padding-right: 60px;
}
#cc-bcc-holder {
    position: absolute;
    top: 5px;
    right: 0;
}
#showCc, #showBcc {
    cursor:pointer;
    padding: 0 5px;
}
#showCc:hover, #showBcc:hover {
    text-decoration: underline;
}
.thread-view .email-head {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
}
.thread-view .email-head a.subject {
    font-size: 16px;
}
.thread-view .email-body {
    margin: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.thread-view .email-body .quote, .thread-view .email-body .gmail_quote {
    background-color: #eee;
    padding: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.accordion-group .accordion-heading .title-item span.icon.head {
    position: relative;
    left: 2px;
}
.accordion-group .accordion-heading .title-item span.icon  i.icon-envelope {
    background: white;
}
.accordion-group .accordion-heading .title-item span.icon.head-alt {
    position: absolute;
}
.accordion-group .accordion-heading .title-item span.icon  i.icon-envelope-alt {
    position: absolute;
    top: 6px;
    left: -32px;
    background: white;
    line-height: 16px;
    border-radius: 2px;
}
.thread-icon span.icon.head {
    position: relative;
    left: 2px;
}
.thread-icon span.icon  i.icon-envelope {
    background: white;
}
.thread-icon span.icon.head-alt {
    position: absolute;
}
.thread-icon span.icon  i.icon-envelope-alt {
    position: absolute;
    top: 6px;
    left: -20px;
    background: white;
    line-height: 12px;
    border-radius: 2px;
}
.attachment-item {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 8px;
}
.attachment-item span.filename-label {
    color: #006acc;
}
.attachment-item i.icon-remove {
    cursor: pointer;
    opacity: 0.2;
}
.attachment-item input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0 !important;
    height: 0 !important;
    border: none;
    z-index: -1;
}
a.attachment .icon .icon-link {
    color: #999;
}
.control-group .email-body-action {
    margin-right: 15px;
}
.attachment-list-popup {
    width: 350px;
}

.email-body-actions #attach-file {
    font-weight: normal !important;
}

.attachment-list-popup .attachment-list-content {
    padding: 10px 10px 0 10px;
}

.attachment-list-popup .attachment-actions {
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: -5px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(229, 229, 229);
}

.attachment-list-popup .attachment-actions .pull-left {
    margin-top: 4px;
}

.attachment-list-popup input.filter {
    width: 96%;
}
