.filter-business-unit {
  .list {
    height: 200px;
    max-height: 200px;
    overflow: auto;
    ul {
      list-style-type: none;
      input {
        margin-right: 5px;
        margin-top: 0;
      }
    }
  }
}
