.filter-business-unit {
  .list {
    height: 200px;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid  rgb(204, 204, 204);
    ul {
      list-style-type: none;
      margin-right: 25px;
      input {
        margin-right: 5px;
        margin-top: 0;
      }
    }
  }
  input[name="value"] {
    display: none;
  }
}
