.accordion.organization-structure {
    label {
        display: inline-block;
    }

    .accordion-group {
        border: none;
    }

    .accordion-inner {
        border: 0;
        padding: 0 0 15px 35px;
    }

    .accordion-toggle {
        width: 12px;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 18px;
        margin-right: 5px;
        text-align: center;

        &:after {
            content: '-';
        }

        &.collapsed:after {
            content: '+';
        }
    }

    &.disabled {
        .accordion-toggle {
            visibility: hidden;
        }
    }
}
