/*
  Added during the fix of the bug: https://magecore.atlassian.net/browse/BB-7435
  Should be refactor after closed https://magecore.atlassian.net/browse/BAP-13952
*/

.oro-workflow-transition-form {
    display: block;

    width: 395px;
    height: 120px;

    resize: none;

    textarea {
        @extend .textarea;
    }

    .controls {
        &.validation-error {
            padding: 0;
        }
    }

    .control-label {
        label {
            display: block;
            margin-bottom: 12px;

            font-size: $base-font-size;
        }

        &.validation-error {
            background: none;

            min-height: 10px;
            padding: 0;

            line-height: initial;

            &::before {
                display: none;
            }

            label {
                font-size: $base-font-size;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .oro-workflow-transition-form {
        textarea {
            width: 100%;
        }
    }
}
