{% import 'OroChartBundle::macros.html.twig' as chart %}

{% if data|length>0  %}
    {{ chart.renderChart(data, options, config, isMobileVersion()) }}
{% else %}
    <div class="no-data">
        {{ 'oro.dashboard.no_data_found'|trans }}
    </div>
{% endif %}
