{% import 'OroChartBundle::macros.html.twig' as chart %}

{% if data|length>0  %}
    {{ chart.renderChart(data, options, config, isMobileVersion()) }}
{% else %}
    <div class="clearfix no-data">
        <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
    </div>
{% endif %}
