// e.g. inside a page header
.activity-context-activity-block {
  .activity-context-activity {
    width: 100%;
    .activity-context-activity-label,
    .activity-context-activity-items {
      font-size: inherit;
      line-height: inherit;
    }
    .activity-context-activity-items .context-item {
      font-size: inherit;
    }
  }
}

// e.g. inside activity list widget
.activity-context-activity-list {
  margin-bottom: 7px;
  .activity-context-activity-label,
  .activity-context-activity-items {
    font-size: 12px;
    line-height: 1.2em;
  }
  .activity-context-activity-label {
    margin-bottom: 5px;
    color: #777;
    float: none;
    text-align: left;
  }
  .activity-context-activity-items {
    margin-left: 0;
    padding-left: 0;
    .context-item {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.activity-list-widget {
  .activity-context-activity-list {
    padding: 0 @contentPadding;
  }
  .responsive-cell {
    .activity-context-activity-list {
      padding: 0;
    }
  }
}
