{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% set params = {
    workflowName: workflow.name,
    transitionName: transition.name,
    entityClass: context.entityClass,
    entityId: context.entityId,
    route: context.routeName,
    datagrid: context.datagridName,
    group: context.group,
} %}

{% if transition.displayType == 'dialog' %}
    {% if transition.hasForm() %}
        {% set transitionData = transitionData|merge({'dialog-url': path(transitionData['dialog-route'], params) }) %}
    {% endif %}
    {% set transitionData = transitionData|merge({'transition-url': path(transitionData['transition-route'], params) }) %}
{% else %}
    {% set transitionData = transitionData|merge({'transition-url': path(transitionData['page-route'], params) }) %}
{% endif %}

<div class="pull-left btn-group icons-holder">
    {{ workflowMacros.renderTransitionButton(workflow, transition, null, transitionData) }}
</div>
