{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{# Show button for start or transit workflow #}
{% set transitionMessage = transition.message|trans({}, translationDomain) %}
{% if transitionMessage == transition.message %}
    {# if no translation for message then do not show message #}
    {% set transitionMessage = '' %}
{% endif %}

{% set transitionData = {
    'transition-label': transition.label|trans({},'workflows'),
    'message': transitionMessage|nl2br,
    'transition-condition-messages': context.errors,
    'enabled': context.enabled,
    'transition-url': path(executionRoute, routeParams),
} %}

{% if hasForm and showDialog %}
    {% set transitionData = transitionData|merge({'dialog-url': path(dialogRoute, routeParams) }) %}
{% endif %}

<div class="pull-left btn-group icons-holder">
    {{ workflowMacros.renderTransitionButton(workflow, transition, null, transitionData) }}
</div>
