/* @theme: admin.oro; */

.digital-asset {
    &-item {
        display: flex;
        align-items: center;
    }

    &-thumbnail {
        width: $dam-thumbnail-width;
        height: $dam-thumbnail-height;
    }

    &-dialog {
        .widget-actions {
            .btn {
                min-width: 76px;
            }
        }

        .form-source-file {
            .validation-failed {
                max-width: $field-width;
            }
        }
    }

    &-image-grid {
        .grid-body-cell-originalFilename {
            [class*='fa-'] {
                display: none;
            }
        }
    }

    &-value {
        width: $dam-section-width;
        padding: 0 10px;
        display: flex;

        &:empty {
            display: none;
        }
    }

    &-controls {
        white-space: nowrap;
    }
}

.digital-asset-filename {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &__preview {
        width: 16px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__text {
        // ~18px Special value for correct vertical align
        line-height: 1.286;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    picture {
        display: block;
    }

    img {
        display: block;
        width: 16px;
        height: 16px;
        overflow: hidden;
    }
}
