/* @theme: admin.oro; */
$dam-offset-global: $content-padding-small / 2 !default;
$dam-section-width: $field-width !default;

$dam-file-offset-top: $dam-offset-global !default;
$dam-file-inner-offset: $dam-offset-global 0 0 0 !default;

$dam-item-fa-right: $content-padding-small !default;

$dam-thumbnail-width: 82px !default;
$dam-thumbnail-height: 82px !default;
