{% block _style_book_button_element_widget %}
    <button class="btn btn-default" type="button">Button</button>

    <button class="role-submit btn btn--info" type="submit">Save</button>

    <button class="add-on btn entity-select-btn"><i class="fa-bars"></i></button>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>

        <button type="button" class="btn btn-default">Middle</button>

        <button type="button" class="btn btn-default">Right</button>
    </div>

    <button class="dropdown-toggle" data-toggle="dropdown">
        <span class="share-with-entity-current-item"></span>
        <span class="fa-caret-down"></span>
        text text
    </button>

{% endblock %}
