@name =  datagrid_export_result
@subject = Grid export result for job {{ jobName }}
@isSystem = 1
@isEditable = 1
{% spaceless %}
<style>
    @media (max-width: 480pt) {
        .wrapper{
            width: 100% !important;
        }
    }
    a:hover {
        text-decoration: underline;
    }
</style>
<div class="wrapper">
    {% if exportResult['success'] %}
        <p>
            Grid export performed successfully. <a href="{{ exportResult['url'] }}" target="_blank">Download</a>
        </p>
    {% else %}
        <p>
            Grid export operation fails.
        </p>
    {% endif %}
</div>
{% endspaceless %}
