<h4>Output</h4>
<table class='fullwidth output'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
        <tbody>
        {% for name, infos in data %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ infos.dataType is defined ? infos.dataType ~ (infos.subType is defined and infos.subType ? ' (' ~ infos.subType ~ ')': '') : '' }}</td>
                <td>{{ infos.description is defined ? infos.description|extra_markdown : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
