{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty("oro.workflow.workflowdefinition.label.label"|trans, entity.label) }}

            {% set entityConfig = oro_entity_config(entity.relatedEntity) %}
            {% set relatedEntityLabel = entityConfig.label|default('')|trans %}
            {{ ui.renderProperty("oro.workflow.workflowdefinition.related_entity.label"|trans, relatedEntityLabel) }}
            {{ ui.renderProperty("Default step"|trans, entity.startStep ? entity.startStep.label : '') }}
            {{ ui.renderProperty("oro.workflow.workflowdefinition.steps_display_ordered.label"|trans, entity.stepsDisplayOrdered ? 'Yes' : 'No') }}
        </div>
    </div>
</div>
