{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.workflow.workflowdefinition.label.label'|trans, entity.label) }}

            {{ ui.renderProperty(
                'oro.workflow.workflowdefinition.related_entity.label'|trans,
                oro_entity_config_value(entity.relatedEntity, 'label')|trans
            ) }}
            {{ ui.renderProperty(
                'oro.workflow.block.view.workflow.default_step'|trans,
                entity.startStep ? entity.startStep.label : ''
            ) }}
            {{ ui.renderProperty(
                'oro.workflow.workflowdefinition.steps_display_ordered.label'|trans,
                entity.stepsDisplayOrdered ? 'Yes'|trans : 'No'|trans
            ) }}
        </div>
    </div>
</div>
