{% block _nosctipt_widget %}
    <noscript>
        <div class="notification-flash notification-flash--error" role="alert">
            <div class="notification-flash__content">
                <div class="notification-flash__text">
                    {{ 'oro.ui.disabled_js'|trans }}
                </div>
            </div>
        </div>
    </noscript>
{% endblock %}
