{% block _nosctipt_widget %}
    <noscript>
        <div class="notification-flash notification-flash--error" role="alert">
            <div class="notification-flash__text notification-flash__text--center">
                {{ 'oro.ui.disabled_js'|trans }}
            </div>
        </div>
    </noscript>
{% endblock %}
