._jsPlumb_drag_select *, .jsplumb-box, [data-role=transition-overlay], .workflow-flowchart {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.workflow-step-editor {
  margin-top: -28px;
}
.workflow-flowchart{
  position: relative;
  overflow: scroll;
  min-height: 500px;
  .jsplumb-box {
    position: absolute;
    border: 1px solid #0066B3;
    border-radius: 5px;
    min-width: 100px;
    min-height: 50px;
    cursor: move;
    background: #ADC5E7;
    .dropdown-toggle {
      cursor: pointer;
      font-size: 14px;
    }
    &._jsPlumb_source_hover {
      background: #E0EFD4;
    }
    &._jsPlumb_target_hover {
      background: #ADD58A;
    }
    &:hover {
      background: #7DA7D8;
    }
    .jsplumb-source {
      background: #FFF9AE;
      width: 30px;
      height: 30px;
      &:hover {
        background: #FFF685;
        cursor: pointer;
      }
    }
  }
  [data-role=transition-overlay] {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    &._jsPlumb_hover {
      z-index: 1;
      .dropdown-menu{
        z-index: 2;
      }
    }
  }
}
