@import "oroui/css/less/mixins";
@import "./jsplumb";

.workflow-definition-buttons {
  margin-top: -13px;
  margin-bottom: 8px;
  button {
    margin-bottom: 7px;
  }
}
.workflow-steps-placeholder {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.workflow-step-name {
    font-size: 17px;
}
.workflow-step-list {
  list-style: none outside none;
  margin: 0;
  line-height: 0;
  display: inline-block;
  li:before {
    background: url("../../images/workflow-sprite.png") no-repeat 50% -8px;
    width:100%;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  li {
    display: inline-block;
    color: #a2a2a2;
    padding: 6px 14px 5px;
    margin: 0 -4px 0 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 11px;
    line-height: 21px;
  }
  .step-name {
    a.edit-step {
      display: inline-block;
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .transitions-list-short {
    a.edit-transition {
      display: inline-block;
      white-space: nowrap;
      max-width: 128px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.workflow-step-list.more-than-one-step {
  li:first-child:before {
    background-position: 50% 0;
  }
  li:last-child:before {
    background-position: 50% -4px;
  }
  li.current:last-child:before {
    background-position: 50% -28px;
  }
  li.current:first-child:before {
    background-position: 50% -32px;
  }
}
li.processed {
  color: #62626f;
}
.more-than-one-step {
  li.processed:before {
    background-position: 50% -20px;
  }
  li.processed:first-child:before {
    background-position: 50% -12px;
  }
  li.processed:last-child:before {
    background-position: 50% -16px;
  }
}
li.current {
  color: #68b93c;
}
li.current:before {
  background-position: 50% -24px;
}
.workflow-steps-container {
  text-align: center;
  width: 50%;
  margin: -25px auto 0;
  .box-type1 {
    background: transparent;
  }
  .widget-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}
.workflow-history-container {
  margin-right: 10px;
  .btn {
    padding-left: 6px;
  }
}

/* mobile version */
@import "mobile/workflow";
