/* @theme: admin.oro; */

$dam-offset-global: $content-padding-small * .5 !default;
$dam-section-width: 250px !default;

$dam-file-offset-top: $dam-offset-global !default;

$dam-item-fa-right: $content-padding-small !default;

$dam-thumbnail-width: 82px !default;
$dam-thumbnail-height: 82px !default;
