.main-menu {
  & > li.dropdown.active:hover > a{
    color: #fff;
    &:hover{
      color: #444;
    }
  }
  & > li.dropdown.active {
    & > a{
      #gradient > .vertical(@baseGradientColorStart ,darken(@baseGradientColorStart,5%));
      border-color: #2a5ab1;
    }
    &:hover > a{
      border-color: transparent !important;
      background-color: #fff !important;
      color: #444 !important;
      #gradient > .vertical(#ffffff ,#ffffff);
    }
  }
}
