/** Demo Theme */
@baseGradientColorStart:          #4580ea;
@baseGradientColorEnd:            #3167c9;
@baseGradientColorBorder:         darken(@baseGradientColorEnd, 20%);
@logoBackgroundColor:             darken(@baseGradientColorEnd, 15%);
@titleBackgroundStart:            #4580ea;
@titleBackgroundEnd:              #3167c9;
@headerIconButtonColorStart:      #578df0;
@headerIconButtonColorEnd:        #578df0;
@linkColor:                       #005db4;

@headerIconButtonColorStart:      #5c93f2;
@headerIconButtonColorEnd:        #4c7ac9;
@headerIconButtonTextColor:       #eee;
@headerTextColor:                 #ebeef4;
