/* @theme: admin.oro; */

.entity-fallback-container {
    div.selector {
        width: auto !important;

        span {
            width: auto !important;
            padding-right: 30px;
        }
    }

    .use-fallback-checkbox {
        margin-top: -2px;
    }

    .fallback-item-use-fallback {
        padding: 0 6px;
    }
}
