/* @theme: admin.oro; */

.nav-tabs-content {
    background-color: #f8f8f8;
    padding: 4px 15px 0;
    margin-bottom: 8px;
}

.nav-tabs-content > li {
    line-height: 16px;
    height: 22px;
    margin-right: -3px;
}

.nav-tabs-content > li > a {
    background: none;
    border-right: 1px solid #e4e4e4;
    padding: 1px 10px 0;
    color: #666;
}

.nav-tabs-content > li:last-child > a {
    border-right: 0;
}

.nav-tabs-content > li.active:focus > a:hover,
.nav-tabs-content > li.active:focus > a:focus,
.nav-tabs-content > li.active:hover > a:focus,
.nav-tabs-content > li.active:hover > a,
.nav-tabs-content > li:hover > a,
.nav-tabs-content > li.active > a:focus,
.nav-tabs-content > li.active > a:hover,
.nav-tabs-content > li.active > a {
    background-color: #fff;
    border: solid #ddd;
    border-width: 1px 1px 0;
    padding-bottom: 1px;
    color: $body-color;
    font-weight: bold;
}

.nav-tabs-content > li:hover > a {
    font-weight: normal;
}

.nav-tabs-content > li:hover > a:focus,
.nav-tabs-content > li > a:focus {
    font-weight: normal;
    background: none;
    border: 0;
    border-right: 1px solid #e4e4e4;
}
