/* @theme: admin.oro; */

.tab-collection {
    li {
        > a {
            position: relative;

            &:after {
                position: absolute;
                #{$end}: 10px;

                visibility: hidden;

                content: '*';
            }
        }

        &.changed {
            > a:after {
                visibility: visible;
            }
        }
    }
}
