/* @theme: admin.oro; */

.tab-collection {
    li:not(.dropdown) {
        > a {
            position: relative;

            &::after {
                position: absolute;
                right: 10px;

                visibility: hidden;

                content: '*';
            }
        }

        &.changed {
            > a::after {
                visibility: visible;
            }
        }
    }
}
