/* @theme: admin.oro; */

.tab-container {
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus {
        background: #efefef;
    }

    .nav > li > a:focus {
        background: #efefef;
    }
}

.tab-content {
    clear: both;

    > .tab-pane {
        padding: 0;
    }
}

.tab-content-small {
    table.table:last-child {
        margin: 0;
    }

    .table td {
        padding: 5px 20px;
    }

    table.table thead th:last-child,
    table.table thead th:first-child,
    table.table thead th {
        padding: 3px 20px;
        text-transform: uppercase;
        font: bold 11px/12px $font-family-sans-serif;
        border: solid #dfdfdf;
        border-width: 1px 0;
    }
}
