<div class="share-info">
    <div class="share-info-image">
        {% if value.avatar is defined and value.avatar %}
            <img src="{{ value.avatar }}" />
        {% elseif value.image %}
            <img src="{{ asset('bundles/oroui/img/' ~ value.image) }}" />
        {% endif %}
    </div>
    <div class="share-info-text">
        <div>
            {{ value.label }}
        </div>
        <div class="share-info-details">
            {{ value.details }}
        </div>
    </div>
</div>
