/* @theme: admin.oro; */

.entity-pagination {
    display: flex;
    height: $entity-pagination-height;

    .pagination .page-link {
        padding: $entity-pagination-page-link-padding;
        line-height: 1;

        [class*="fa-"]{
            padding: $entity-pagination-arrow-icon-padding;

            &:before {
                font-size: $entity-pagination-arrow-icon-font-size;
            }
        }
    }

    .page-current {
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1;
        width: $entity-pagination-page-current-width;
        color: $entity-pagination-page-current-color;
    }

    &_total {
        margin-#{$start}: $entity-pagination-total-margin-start;
        color: $entity-pagination-total-color;
        font-size: $entity-pagination-total-font-size;
        line-height: $entity-pagination-total-line-height;
    }
}

.mobile-version {
    .page-current {
        width: $mobile-entity-pagination-page-current-width;
    }

    .entity-pagination {
        &_total {
            line-height: $mobile-entity-pagination-total-line-height;
        }
    }
}
