/* @theme: admin.oro; */

@import "oroui/css/scss/colors";

$entity-pagination-line-height: 29px !default;
$entity-pagination-page-link-padding: 2px 3px !default;
$entity-pagination-arrow-icon-padding: 0 4px !default;
$entity-pagination-arrow-icon-font-size: 14px !default;
$entity-pagination-page-current-width: 18px !default;
$entity-pagination-page-current-color: $primary-200 !default;
$entity-pagination-total-color: $primary-550 !default;
$entity-pagination-total-font-size: 12px !default;
$entity-pagination-total-margin-start: 6px !default;
