<div data-id="<%- id %>" class="attachment-item-row">
    <div class="attachment-item">
        <span class="attachment-item__icon fa <%- icon %>" aria-hidden="true"></span>
        <span class="attachment-item__filename <% if (errors.length) { %>attachment-item__not-valid<% } %>" title="<%- fileName %>"><%- fileName %></span>
        <button class="attachment-item__remove btn btn-icon btn-square-lighter" type="button" data-role="remove">
            <span class="fa-close" aria-hidden="true"></span>
        </button>
    </div>
    <% if (errors.length) { %>
        <% for (var i = 0; i < errors.length; i++) { %>
            <ul class="attachment-item__errors">
                <li><span><%- errors[i] %></span></li>
            </ul>
        <% } %>
    <% } %>
    <div class="attachment-item__form-rest">
        <input name="<%- inputName %>[<%- cid %>][id]" type="text" value="<%- id %>"/>
        <input name="<%- inputName %>[<%- cid %>][type]" type="text" value="<%- type %>" class="attachment-type"/>
        <input name="<%- inputName %>[<%- cid %>][file]" class="no-uniform" type="file"/>
    </div>
</div>
