<div class="attachment-items">
    <div data-id="<%- id %>" class="attachment-item">
        <i class="fa <%- icon %>"></i>
        <span class="attachment-item__filename" title="<%- fileName %>"><%- fileName %></span>
        <i class="fa-close btn btn-square-lighter remove-attachment"></i>
    </div>
    <input name="<%- inputName %>[<%- cid %>][id]" type="text" value="<%- id %>"/>
    <input name="<%- inputName %>[<%- cid %>][type]" type="text" value="<%- type %>" class="attachment-type"/>
    <input name="<%- inputName %>[<%- cid %>][file]" class="no-uniform" type="file"/>
</div>
