<div class="attachment-list-row <% if (!visible) { %>hide<% } %>">
    <input type="checkbox" class="checkbox"<% if (checked) { %> checked<% } %>>
    <a href="#"
        <% if (preview) { %>
            data-toggle="popover"
            data-content="<img src='<%- preview %>' width='110' class='img-rounded' alt='' >"
            data-placement="bottom"
            data-class="attachment-preview-popover"
            data-trigger="hover"
            data-noscroll="1"
        <% } %>
    >
        <%- fileName %>
    </a>
    <span>(<%- fileSize %>, <%- modified %>)</span>
</div>
