/* @theme: admin.oro; */

.section-content {
    margin-top: $section-content-mobile-offset-top;
    padding: $section-content-mobile-inner-offset;

    .row-fluid {
        margin: $row-fluid-mobile-inner-offset;
    }
}

fieldset .span6 {
    margin-left: 0;
    margin-right: 10px;
}

.mce-tinymce.mce-fullscreen {
    z-index: 10000;
    border-radius: 0;

    .mce-toolbar-grp {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.responsive-form-inner {
    .input-append {
        display: flex;
        flex-grow: 1;
    }

    .float-holder {
        width: calc(100% - 44px);
        margin-#{$end}: $content-padding-small;
    }

    .select2-container {
        width: 100% !important; //override js width setting
    }

    input[type="text"]:not(.precision, .conversionRate),
    input[type="email"],
    input[type="password"] {
        width: 100%;
    }

    .control-group-checkbox {
        .control-label {
            margin-left: 26px;
        }

        .controls {
            right: auto;
            left: 0;
        }
    }

    .control-label.wrap {
        + .controls {
            > .input-widget-select,
            > .input-widget-select span {
                width: 100% !important //Override js width setting
            }
        }
    }
}
