.grid-views {
    margin: 0 0 0 15px;
    .inner-grid & {
        margin-left: 20px;
    }
    .page-title & {
        float: left;
        margin-left: 0;
    }

    .btn,
    .btn-group.open .btn.dropdown-toggle {
        background: none;
        background-color: inherit;
        box-shadow: none;
        text-decoration: none;

        &:focus {
            font-weight: normal;
        }

        .caret {
            margin: 0 0 0 5px;
            vertical-align: middle;
        }
    }

    .actions-group {
        .btn,
        .btn-group.open .btn.dropdown-toggle {
            color: #006acc;
        }
    }

    .btn-link {
        line-height: 32px;
    }

    .edited-label {
        font-size: 13px;
        color: #777;
        vertical-align: bottom;
        display: inline-block;
        line-height: 24px;
    }

    .btn-toolbar {
        margin: 0;
        display: inline-block;
    }
}
