pre.sql-source-code{
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    word-break: normal;
    display: block;
}
div.sql-source-container {
    padding: 0 20px 20px 20px;
}

