{% block oro_scope_widget %}
    <table class="table-condensed">
        <tr>
            {% for child in form.children %}
                <td>
                    {% if child.vars.label is not empty %}
                        {{ form_label(child) }}
                    {% endif %}
                    {{ form_widget(child) }}
                </td>
            {% endfor %}
        </tr>
    </table>
    <div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block oro_scope_collection_widget %}
    <div class="scope-collection">
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-options-collection' }) %}
        {{ block('oro_collection_widget') }}
    </div>
{% endblock %}
