{% extends "OroUIBundle:actions:view.html.twig" %}

{% oro_title_set({params : {"%subject%": entity.subject} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_email_user_emails'),
        'indexLabel':  'oro.email.entity_plural_label'|trans,
        'entityTitle': entity.subject,
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        {'label': "Thread view"|trans },
        {'label': entity.subject }
    ] %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block stats %}

    <script type="text/template" id="email-context-list">
        <div class="attachment-item" style="border: none" data-cid="<%= entity.cid %>">
            <span data-id="<%= entity.get('id') %>" class="filename">
                <span class="filename-label"><%= entity.get('title') %></span>
                <i class="icon-remove"></i>
            </span>
        </div>
    </script>

    {% set itemsArray = [] %}



    {% for item in entity.getActivityTargetEntities() %}
        {% set itemArray = {
            'entityId': entity.id,
            'id': item.id,
            "className": oro_class_name(item),
            'title': item.getFirstName()
        } %}
        {% set itemsArray = itemsArray|merge([itemArray]) %}
    {% endfor %}

    {% set options = {
        items: itemsArray
    } %}

    <div id="test" data-page-component-module="oroemail/js/app/components/email-context-component"
         data-page-component-options="{{ options|json_encode }}">
    </div>

{% endblock stats %}

{% block content_data %}
    <div class="container-fluid">
        {{ oro_widget_render({
            'widgetType': 'block',
            'wid': 'thread-view',
            'url': path('oro_email_thread_widget', {'id': entity.id}),
            'alias': 'thread-view'
        }) }}
    </div>
{% endblock content_data %}
