/* @theme: admin.oro; */

.oro_attachment_file {
    border: none;
    padding: 5px 5px 0 5px;
    width: 295px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 0;

    .removeFile {
        margin: 0;
    }

    .filename {
        display: inline-block;
        @include text-line-truncate(260px);
    }

    .delete {
        float: right;
        line-height: 20px;
        margin-top: -4px;

        @include fa-icon($fa-var-trash-o);

        &:hover:after {
            color: #888;
        }
    }
}

.attachment-file {
    max-width: 100%;

    .uploader {
        display: flex;
        align-items: center;
        max-width: 516px;
        float: none;

        border: none;

        input {
            cursor: pointer;

            &:hover ~ .action {
                color: $link-color-hover;
            }
        }

        .action {
            border: none;
            background: none;
            color: $link-color;
            cursor: pointer;
        }

        .active .action {
            background: none;
        }

        .filename {
            width: auto;
            padding: 0;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .focus {
            border: none;
            box-shadow: none;
        }

        &.focus {
            border: none;
            box-shadow: none;

            .action {
                color: $link-color;
            }
        }
    }
}


.attachment-item {
    display: flex;
    align-items: center;
    max-width: 516px;
    margin: 4px 0 0 0;

    &__user {
        max-width: 294px;
    }

    &__note {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;

        .link-to-record {
            outline: 1px solid;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .filename {
                max-width: 100%;
            }
        }
    }

    .remove-attachment {
        padding: 0;
        border-width: 0;
        font-size: $base-font-size--m;
        vertical-align: text-top;
        line-height: 1;
    }

    .filename {
        max-width: calc(100% - 106px);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    [class^="fa-"],
    [class*="fa-"] {
        margin-right: 3px;
        line-height: 21px;

        &:last-child {
            margin: 0 0 0 3px;
        }
    }
}

@media only screen and (max-width: $tablet-devices-media-breakpoint) {
    .attachment-item {
        margin: 4px 0;
        width: 100%;
    }
}
