/* @theme: admin.oro; */

.oro_attachment_file {
    border: none;
    padding: $attachment-item-flex-offset $attachment-item-flex-offset 0 $attachment-item-flex-offset;
    width: $attachment-item-user-width;
    line-height: 20px;
    margin-top: $attachment-item-flex-offset;
    margin-bottom: 0;

    .removeFile {
        margin: 0;
    }

    .filename {
        display: inline-block;
        @include text-line-truncate(260px);
    }

    .delete {
        float: right;
        line-height: 20px;
        margin-top: -4px;

        @include fa-icon($fa-var-trash-o);

        &:hover {
            &:after {
                color: $primary-550;
            }
        }
    }
}

.attachment-file {
    max-width: 100%;

    .uploader {
        display: $attachment-item-flex;
        align-items: center;
        max-width: $attachment-item-width;
        float: none;

        border: none;

        input {
            cursor: pointer;

            &:hover ~ .action {
                color: $link-color-hover;
            }
        }

        .action {
            border: none;
            background: none;
            color: $link-color;
            cursor: pointer;
        }

        .active .action {
            background: none;
        }

        .filename {
            width: auto;
            padding: 0;
            flex-shrink: 1;
            overflow: $attachment-item-overflow;
            text-overflow: $attachment-item-text-overflow;
        }

        .focus {
            border: none;
            box-shadow: none;
        }

        &.focus {
            border: none;
            box-shadow: none;

            .action {
                color: $link-color;
            }
        }
    }
}

.attachment-item {
    display: $attachment-item-flex;
    align-items: center;
    max-width: $attachment-item-width;
    margin: $attachment-item-flex-offset 0 0 0;

    &__user {
        max-width: $attachment-item-user-width;
    }

    &__note {
        margin: 0;
        flex-direction: $attachment-item-flex-col;
        align-items: $attachment-item-flex-align-start;

        .link-to-record {
            max-width: 100%;
            white-space: $attachment-item-text-white-space;
            overflow: $attachment-item-overflow;
            text-overflow: $attachment-item-text-overflow;

            .filename {
                max-width: 100%;
            }
        }
    }

    .remove-attachment {
        padding: 0;
        border-width: 0;
        font-size: $base-font-size--m;
        vertical-align: text-top;
        line-height: 1;
    }

    .filename {
        max-width: calc(100% - 106px);

        white-space: $attachment-item-text-white-space;
        overflow: $attachment-item-overflow;
        text-overflow: $attachment-item-text-overflow;
    }

    [class^="fa-"],
    [class*="fa-"] {
        margin-#{$end}: 3px;
        line-height: 21px;

        &:last-child {
            margin: side-values(0 0 0 3px);
        }
    }
}
