/* @theme: admin.oro; */

$attachment-item-width: 516px !default;
$attachment-item-user-width: 295px !default;
$attachment-item-flex: flex !default;
$attachment-item-flex-col: column !default;
$attachment-item-flex-align-start: flex-start !default;
$attachment-item-flex-offset: 5px !default;
$attachment-item-text-overflow: ellipsis !default;
$attachment-item-text-white-space: nowrap !default;
$attachment-item-overflow: hidden !default;
