/* @theme: admin.oro; */
$attachment-offset-global: $content-padding-small / 2 !default;
$attachment-section-width: $field-width !default;

$attachment-file-offset-top: $attachment-offset-global !default;
$attachment-file-inner-offset: $attachment-offset-global 0 0 0 !default;
$attachment-file-uploader-width: $attachment-section-width !default;

$attachment-item-display: flex !default;
$attachment-item-max-width: $attachment-section-width !default;
$attachment-item-offset-top: $attachment-offset-global !default;

$attachment-item-note-flex-direction: column !default;
$attachment-item-note-align-items: flex-start !default;

$attachment-item-fa-right: $content-padding-small !default;

$attachment-item-dialog-max-width: 516px !default;
