{% block oro_imap_configuration_check_row %}
    {% set data = form.parent.parent.vars.value %}
    {% if data and data.username is defined %}
        {% set forEntity = 'user' %}
    {% else %}
        {% set forEntity = 'mailbox' %}
    {% endif %}
    {% set options = form.vars.options|default({})|merge({
        elementNamePrototype: full_name,
        id: form.parent.vars.value and form.parent.vars.value.id is defined ? form.parent.vars.value.id : null,
        forEntity: forEntity,
        organization: data and data.organization is defined and data.organization ? data.organization.id : null,
        parentElementSelector: 'fieldset'
    }) %}
    {% set attr = attr|merge({
        'data-role': 'check-connection-btn',
        'data-page-component-module':  'oroimap/js/app/components/check-connection-component',
        'data-page-component-options': options|json_encode|raw,
    }) %}
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form, {'attr': attr }) }}
            <div class="check-connection-messages"></div>
        </div>
    </div>
    <div class="container-config-group"
         data-page-component-module="oroimap/js/app/components/check-config-settings"
         data-page-component-options="">
    </div>
{% endblock %}
