.oro-quarter div.selector span {
    width: auto !important;
}
.oro-quarter div.selector {
    width: auto !important;
    min-width: 50px;
    float: left;
    margin-left: 3px;
}
.oro-quarter .selector select {
    width: auto !important;
    min-width: 50px;
}
