/* @theme: admin.oro; */

@import "variables/permissions-variables";
@import "variables/workflow";

$jsplumb-source-radius: 8px;

$step-label-max-width: 150px;
$transition-label-max-width: 100px;

$source-border-color: #fff;
$source-gradient-start-color: #f3cfaa;
$source-gradient-middle-color: #e8c39d;
$source-gradient-end-color: #c9a37c;

$step-border-color: #546d92;
$step-gradient-start-color: #80a8e7;
$step-gradient-end-color: #5281cc;

$start-step-border-color: #7f9a89;
$start-step-gradient-start-color: #aac2b3;
$start-step-gradient-end-color: #557160;

$final-step-border-color: $start-step-border-color;
$final-step-gradient-start-color: $start-step-gradient-start-color;
$final-step-gradient-end-color: $start-step-gradient-end-color;

$hover-border-color: #b68e65;
$hover-gradient-start-color: #f3cfaa;
$hover-gradient-middle-color: #e8c39d;
$hover-gradient-end-color: #a98056;

$transition-overlay-border-color: #ddd;
$transition-overlay-gradient-start-color: #fff;
$transition-overlay-gradient-end-color: #f1f1f1;
