<div class="jsplumb-source"></div>
<span class="step-label"><%= label %></span>
<% if (!_is_start) { %>
<span class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-sort-down"></i>
</span>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li class="first">
        <a class="workflow-step-edit" href="#edit-step"><i class="icon icon-edit" aria-hidden="true"></i><%= _.__('Edit') %></a>
    </li>
    <li>
        <a class="workflow-step-clone" href="#clone-step"><i class="icon icon-copy" aria-hidden="true"></i><%= _.__('Clone') %></a>
    </li>
    <li>
        <a class="workflow-step-delete" href="#delete-step"><i class="icon icon-trash" aria-hidden="true"></i><%= _.__('Delete') %></a>
    </li>
</ul>
<% } %>
