.toolbar-mass-actions {
  a.action.btn.dropdown-toggle {
    display: inline-block !important;
    line-height: 30px;
    margin-right: 0;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 60px;
    > .action {
      display: block;
      font-size: @baseFontSize;
      line-height: @baseLineHeight;
      font-family: @baseFontFamily;
      color: @bodyColor;
      white-space: nowrap;
      padding: 0 16px 0 8px;
    }
  }
}
