// @theme: blank;

$use-base-style-for-button: true !default;

// Default
$button-padding: 1px 10px !default;
$button-font-size: $base-ui-element-font-size !default;
$button-font-family: $base-ui-element-font-family !default;
$button-line-height: 2 !default;
$button-border: $base-ui-element-border !default;
$button-border-radius: $base-ui-element-border-radius !default;
$button-background-color: $base-ui-element-bg-color !default;
$button-color: $base-ui-element-color !default;

// Hover
$button-border-color-hover-state: get-color('additional', 'dark') !default;
$button-color-hover-state: $button-color;

// Focus
$button-border-color-focus-state: $button-border-color-hover-state !default;

// Error
$button-border-color-error-state: get-color('ui', 'error-dark') !default;
