/* @theme: blank; */

// Default
$checkbox-icon-size: 16px !default;
$checkbox-icon-border: 1px solid get-color('additional', 'dark') !default;
$checkbox-icon-bg-color: get-color('additional', 'ultra') !default;
$checkbox-icon-border-radius: null !default;

// Checked
$checkbox-icon-bg-color-focus-state: get-color('ui', 'focus') !default;
$checkbox-icon-border-focus-state: 1px solid get-color('ui', 'focus') !default;

// Indeterminate
$checkbox-icon-bg-color-indeterminate-state: get-color('ui', 'focus') !default;

// Hover
$checkbox-icon-border-hover-state: 1px solid get-color('primary', 'light') !default;
$checkbox-icon-border-focus-state: 1px solid get-color('primary', 'light') !default;
