// Default
$checkbox-icon-size: 8px !default;
$checkbox-icon-border: 1px solid get-color('additional', 'dark') !default;
$checkbox-icon-bg-color: get-color('additional', 'ultra') !default;

// Checked
$checkbox-icon-bg-color-focus-state: get-color('ui', 'focus') !default;
$checkbox-icon-border-focus-state: 1px solid get-color('ui', 'focus') !default;

// Hover
$checkbox-icon-border-hover-state: 1px solid get-color('additional', 'ultra') !default;
