$use-base-style: true !default;

// Default
$input-inner-offset: 7px 9px !default;

// Hover
$input-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus
$input-border-color-focus-state: $input-border-color-hover-state !default;

// Error
$input-border-color-error-state: get-color('ui', 'error-dark') !default;
