/* @theme: blank; */

$use-base-style-for-select: true !default;

// Default State
$select-font-size: $base-ui-element-font-size !default;
$select-font-family: $base-ui-element-font-family !default;
$select-line-height: $base-ui-element-line-height !default;

$select-padding: 8px 24px 8px 9px !default;

$select-firefox-height: ($base-ui-element-border-size  * 2) + ($select-font-size * $select-line-height) + $offset-y !default;
$select-firefox-line-height: #{$select-firefox-height} !important !default;
$select-firefox-inner-offset-top: 0 !default;
$select-firefox-inner-offset-bottom: 0 !default;

$select-border: $base-ui-element-border !default;
$select-border-radius: $base-ui-element-border-radius !default;
$select-background-color: $base-ui-element-bg-color !default;
$select-color: $base-ui-element-color !default;
$select-disable-platform-style: true !default;
$select-bg: url('#{$global-url}/oroform/blank/images/icons/arrow-down--gray.png') no-repeat right 8px center get-color('additional', 'ultra') !default;

$select-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus State
$select-border-color-focus-state: $select-border-color-hover-state !default;

// Error State
$select-border-color-error-state: get-color('ui', 'error-dark') !default;
