$use-base-style-for-select: true !default;
$use-select-appearance: true !default;

// Default
$select-padding: 7px 24px 7px 9px !default;
$select-font-size: $base-ui-element-font-size !default;
$select-font-family: $base-ui-element-font-family !default;
$select-line-height: $base-ui-element-line-height !default;
$select-border: $base-ui-element-border !default;
$select-border-radius: $base-ui-element-border-radius !default;
$select-background-color: $base-ui-element-bg-color !default;
$select-color: $base-ui-element-color !default;
$select-bg: url('#{$global-url}/oroform/blank/images/icons/arrow-down--gray.png') no-repeat right 8px center get-color('additional', 'ultra') !default;

$select-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus
$select-border-color-focus-state: $select-border-color-hover-state !default;

// Error
$select-border-color-error-state: get-color('ui', 'error-dark') !default;
