/* @theme: blank; */

$use-base-style-for-textarea: true !default;

// Default
$textarea-padding: 8px 9px !default;
$textarea-font-size: $base-ui-element-font-size !default;
$textarea-font-family: $base-ui-element-font-family !default;
$textarea-line-height: $base-ui-element-line-height !default;
$textarea-border: $base-ui-element-border !default;
$textarea-border-radius: $base-ui-element-border-radius !default;
$textarea-background-color: $base-ui-element-bg-color !default;
$textarea-color: $base-ui-element-color !default;

// Hover
$textarea-border-color-hover-state: get-color('additional', 'dark') !default;

// Focus
$textarea-border-color-focus-state: $textarea-border-color-hover-state !default;

// Error
$textarea-border-color-error-state: get-color('ui', 'error-dark') !default;
